<!-- parte superior -->
<div class="contain">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Plasticaribe SAS</span>
      <form class="d-flex">

        <!-- USUARIOS -->
        <div class="mb-2">
          <div class="usaurios">
            <div class="imagen">
              <img src="#" alt="Usuarios" title="Usuario">
              <div class="info_usua">
                <span class="nombre_usuario">Usuario</span>
                <span class="tipo_usuario">Administrador</span>
              </div>
            </div>
          </div>
        </div>

        <!--Configuracion-->
        <nav>
          <ul>
            <li class="perfil">
              <a href= "#">Perfil</a>
              <div class="dropdownContain">
                <div class="dropOut">
                  <div class="triangle"></div>
                  <ul>
                    <li>Cambiar clave</li>
                    <li>Configurar</li>
                  </ul>
                </div>
              </div>

            </li>
            <li class="salir"><a href="/inicio">Salir</a></li>
          </ul>
        </nav>

      </form>
    </div>
  </nav>
  <div class=" contenedorSecundario container-fluid">
    <div class="row justify-content-start">
      <div class="navLateral col-1">


        <!-- fin de parte superior -->

<div class="container-fluid">

  <div class="contenedor_titulo mb-3">
    <h2 class="tituloRojo">Usuarios</h2>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Crear / Editar Usuario </h4>
    </div>

    <!--Inicio formulario-->

 <!-- boton de busqueda -->
 <form>
  <h5>Buscar</h5><input type="search" placeholder="Usuario Existente">
</form>
<br>
<!-- boton de busqueda fin -->

<!--Inicio formulario-->

<div class="container">
<form [formGroup]="formularioUsuario" (ngSubmit)="validarCamposVacios()">


  <div class="row g-4">
    <div class="col-md">
      <input class="identificador" type="number" class="form-control form-control-sm" id="" aria-describedby="" placeholder="Identificador">
    </div>
    <div class="col-md">
        <input formControlName="Codigo" type="number" minlength="6" maxlength="10" class="form-control form-control-sm" id="validationDefault01"  placeholder="Código" name="Codigo" required >
    </div>
    <div class="col-md">
        <input formControlName="Nombre"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre y Apellido" name="Nombre y Apellido" required maxlength="50">
    </div>
    <div class="col-md">
      <input formControlName="Direccion"  type="text" class="form-control form-control-sm" id=""  placeholder="Direccion" name="Direccion" required maxlength="50">
  </div>
  <div class="col-md">
    <input formControlName="Telefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Numero de contacto" name="Numero de contacto" required maxlength="50">
</div>

<div class="col-md">
  <input formControlName="Telefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Numero de contacto" name="Numero de contacto" required maxlength="50">
</div>

<div class="col-md">
  <input formControlName="Email"  type="text" class="form-control form-control-sm" id=""  placeholder="Email" name="Email" required maxlength="50">
</div>
</div>

<br>
 <!--Tipo-->
 <div class="row g-4">
 <div class="col-md-3">
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Selecciona tipo</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>

<!--area-->
<div class="col-md-3">
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Selecciona área</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>

 <!--rol-->
<div class="col-md-3">
  <select id="usuRol" class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Selecciona rol</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<!-- EPS  -->

  <div class="col-md-3">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Selecciona EPS</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

<!-- Fondo Pensional  -->

<div class="col-md-3">
<select id="usuFondoP" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Selecciona Fondo Pensional</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
</select>
</div>

<br>
   <!-- Caja de compensacion  -->
  <div class="col-md-3">
    <select id="usuCajaComp" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Selecciona caja de compensación</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

  </div>
  </div>
<br>





  <div class="col-md">
    <br>
  </div>
  <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
    <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" expand="full" (click)="clear()">Limpiar campos</button>
  </div>

</form>
<!--Fin formulario-->
</div>
</div>
