<!-- parte superior -->
<div class="contain">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Plasticaribe SAS</span>
      <form class="d-flex">

        <!-- USUARIOS -->
        <div class="mb-2">
          <div class="usaurios">
            <div class="imagen">
              <img src="#" alt="Usuarios" title="Usuario">
              <div class="info_usua">
                <span class="nombre_usuario">Usuario</span>
                <span class="tipo_usuario">Administrador</span>
              </div>
            </div>
          </div>
        </div>

        <!--Configuracion-->
        <nav>
          <ul>
            <li class="perfil">
              <a href= "#">Perfil</a>
              <div class="dropdownContain">
                <div class="dropOut">
                  <div class="triangle"></div>
                  <ul>
                    <li>Cambiar clave</li>
                    <li>Configurar</li>
                  </ul>
                </div>
              </div>

            </li>
            <li class="salir"><a href="/inicio">Salir</a></li>
          </ul>
        </nav>

      </form>
    </div>
  </nav>
  <div class=" contenedorSecundario container-fluid">
    <div class="row justify-content-start">
      <div class="navLateral col-1">


        <!-- fin de parte superior -->

<div class="container-fluid">

  <div class="contenedor_titulo mb-3">
    <h2 class="tituloRojo">Usuarios</h2>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Crear/Editar Usuario </h4>
    </div>

<!--Inicio formulario-->

 <!-- boton de busqueda -->
 <form>
  <h5>Buscar</h5><input type="search" placeholder="Usuario Existente">
</form>
<br>
<!-- boton de busqueda fin -->

<!--Inicio formulario-->

<div class="container">
<form [formGroup]="formularioUsuario" (ngSubmit)="validarCamposVacios ()">

  <div class="mb-3">
    <div class="row g-3">

        <div class="col-md">
          <input formControlName="identificador" type= "number" minlength="6" maxlength="10" class="form-control form-control-sm" id="validationDefault01"  placeholder="identificador" name="identificador" required >
      </div>
        <div class="col-md">
            <input formControlName="Codigo" type="number" minlength="6" maxlength="10" class="form-control form-control-sm" id="validationDefault01"  placeholder="Código" name="Codigo" required >
        </div>
        <div class="col-md">
            <input formControlName="Nombre"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre y Apellido" name="Nombre y Apellido" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName="Direccion"  type="text" class="form-control form-control-sm" id=""  placeholder="Direccion" name="Direccion" required maxlength="50">
      </div>
      <div class="col-md">
        <input formControlName="Telefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Numero de contacto" name="Numero de contacto" required maxlength="50">
    </div>

    <div class="col-md">
      <input formControlName="Telefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Numero de contacto" name="Numero de contacto" required maxlength="50">
    </div>

    <div class="col-md">
      <input formControlName="Email"  type="text" class="form-control form-control-sm" id=""  placeholder="Email" name="Email" required maxlength="50">
        </div>
        </div>
  </div>
  
<br>
 <!--Tipo identificacion-->
 <div class="mb-3">
  <div class="row g-3">
      <div class="col-md">
        <select  formControlName="TipoIdentificacion_Id" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
          <option [ngValue]="null" disabled> Selecciona tipo identificacion </option>
          <option value="1">TI</option>
          <option value="2">CC</option>
          <option value="3">Pasaporte</option>
          <option value="3">Cédula de Extranjería</option>
        </select>
      </div>
      <!--Tipo Usuario-->

        <div class="col-md">
        <select formControlName="usuTipo" id="usuTipo" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
          <option  [ngValue]="null" disabled>Selecciona tipo de Usuario</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!--Tipo Empresa-->

        <div class="col-md">
        <select formControlName="Empresa_Id" id="Empresa_Id" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
          <option [ngValue]="null" disabled>Selecciona empresa </option>
          <option value="1">Plasticaribe S.A.S</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!--Estado-->

        <div class="col-md">
        <select formControlName="Estado_Id" id="Estado_Id"  class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
          <option  [ngValue]="null" disabled>Selecciona Estado </option>
          <option value="1">Activo</option>
          <option value="2">Inactivo</option>

        </select>
      </div>
  
      <!--area-->
      <div class="col-md">
        <select formControlName="usuArea" id="usuArea" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
          <option  [ngValue]="null" disabled>Selecciona área</option>
          <option value="1">one</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
 </div>
 </div>
      <br>
      <!--rol-->
      
      <div class="mb-3">
        <div class="row g-3">
      <div class="col-md">
        <select formControlName="usuRol" id="usuRol" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
          <option  [ngValue]="null" disabled>Selecciona rol</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- EPS  -->
        <div class="col-md">
          <select formControlName="usuEps"  id="usuEps" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
            <option  [ngValue]="null" disabled>Selecciona EPS</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

      <!-- Fondo Pensional  -->

      <div class="col-md">
      <select formControlName="usuFondoP" id="usuFondoP" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
            <option  [ngValue]="null" disabled>Selecciona Fondo Pensional</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
      </select>
      </div>

        <!-- Caja de compensacion  -->
        <div class="col-md">
          <select formControlName="usuCajaComp" id="usuCajaComp" class="form-select form-select-sm" aria-label=".form-select-sm example"  required>
            <option  [ngValue]="null" disabled>Caja de Compensaciones</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
    </div>
      </div>    
 
<br>



  <div class="col-md">
    <br>
  </div>
  <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
    <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" expand="full" (click)="clear()">Limpiar campos</button>
  </div>

</form>
<!--Fin formulario-->
</div>
</div>
