<ng-container *ngIf="!modeModal">
  <app-menuLateral></app-menuLateral>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Movimientos de Mantenimiento</h2>
    </div>
    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">

  <!-- Informacion del pedido de mantenimiento -->
  <div class="mb-4">
    <h4 class="tituloRojo"><i class="pi pi-info-circle"></i> Información del Pedido</h4>
  </div>

  <!-- Formulario del pedido de mantenimiento -->
  <form [formGroup]="FormMovimientosMantenimiento">
    <div class="mb-3">
      <div class="row g-3">
        <!-- Consecutivo del pedido -->
        <div class="form-floating col-md">
          <input formControlName="ConsecutivoMovimiento" type="number" class="form-control form-control-sm" id="floatingInput" title="Concecutivo del Pedido" min="0">
          <label for="floatingSelect">Consecutivo Mov.</label>
        </div>

        <!-- Fecha Inicial -->
        <div class="form-floating col-md">
          <input formControlName="FechaInicial" type="date" class="form-control" id="floatingInput">
          <label for="floatingInput">Fecha Inicial</label>
        </div>

        <!-- Fecha Final -->
        <div class="form-floating col-md">
          <input formControlName="FechaFinal" type="date" class="form-control" id="floatingInput">
          <label for="floatingInput">Fecha Final</label>
        </div>

        <!-- Estados -->
        <div class="form-floating col-md">
          <select formControlName="Estado" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
            <option [ngValue]="item.estado_Id" *ngFor="let item of estados; let i=index">{{item.estado_Nombre}}</option>
          </select>
          <label for="floatingSelect">Estados</label>
        </div>

        <!-- Activos -->
        <div class="form-floating col-md-3">
          <input formControlName="Activo" class="form-control" list="Activo" id="floatingInput" title="Nombre del Activo" (change)="buscarActivoSeleccionado()">
          <datalist id="Activo">
            <option value={{item.actv_Id}} *ngFor="let item of activos">{{item.actv_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Activo</label>
        </div>

        <!-- Fecha en que presentó el daño -->
        <div class="form-floating col-md">
          <input formControlName="FechaDaño" type="date" class="form-control" id="floatingInput">
          <label for="floatingInput">Fecha Daño</label>
        </div>

        <!-- Tipos de Mantenimientos -->
        <div class="form-floating col-md-2">
          <input formControlName="TipoMantenimiento" class="form-control" list="tipos" id="floatingInput" title="Nombre del Tipo de Mantenimiento" (change)="buscarTipoMantenimientoSeleccionado()">
          <datalist id="tipos">
            <option value={{item.tpMtto_Id}} *ngFor="let item of tiposMantenimiento">{{item.tpMtto_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Tipo Mantenimiento</label>
        </div>
      </div>
    </div>


    <!-- BOTONES -->
    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Consultar" icon="pi pi-search" (click)="consultar()"> </button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarTodo()"> </button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h2 class="tituloRojo"><i class="pi pi-list"></i> Listado de registros consultados</h2>
  </div>

  <div class="container-fluid font-size-14">
    <div class="mb-3" *ngIf="!cargando">
      <div class="row g-3 font-size-14" id="table">
        <p-table
            #dt
            [value]="movimientosConsultados"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="movimientosConsultados.length"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando de {first} al {last} de {totalRecords} Movimientos"
            [rowsPerPageOptions]="[10,25,50,100,movimientosConsultados.length]"
            [rowHover]="true"
            dataKey="Id">
          <ng-template pTemplate="caption">
            <div class="flex">
              <button pButton label="Limpiar Filtros" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Consecutivo
                <p-sortIcon field="Consecutivo" title="Order por Consecutivo"></p-sortIcon>
              </th>
              <th scope="col">Tipo Movimiento
                <p-sortIcon field="TipoMov" title="Order por TipoMov"></p-sortIcon>
              </th>
              <th scope="col">Fecha
                <p-sortIcon field="Fecha" title="Order por Fecha"></p-sortIcon>
              </th>
              <th scope="col">Estado
                <p-sortIcon field="Estado" title="Order por Estado"></p-sortIcon>
              </th>
              <th scope="col">Activo
                <p-sortIcon field="Activo" title="Order por Activo"></p-sortIcon>
              </th>
              <th scope="col">Fecha Daño
                <p-sortIcon field="FechaDano" title="Order por Fecha Daño"></p-sortIcon>
              </th>
              <th scope="col">Tipo Mtto
                <p-sortIcon field="TipoMtto" title="Order por Tipo Mantenimiento"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-movimientos>
            <tr>
              <td>{{movimientos.Consecutivo}}</td>
              <td>{{movimientos.TipoMov}}</td>
              <td>{{movimientos.Fecha}}</td>
              <td>{{movimientos.Estado}}</td>
              <td>{{movimientos.Activo}}</td>
              <td>{{movimientos.FechaDano}}</td>
              <td>{{movimientos.TipoMtto}}</td>
              <td style="text-align: center;">
                <button pButton type="button" style="width: 30px; height: 30px;" class="p-button-danger p-button-rounded" pTooltip="PDF" icon="pi pi-file-pdf" (click)="validarPDF(movimientos)"></button>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
