<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Entrada de BOPP / BOPA / POLIESTER</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-3">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-info-circle"></i> Opcional</h4>
  </div>

  <!--Entrada opcional-->
  <div class="mb-5" id="opcional">
    <p-accordion>
      <p-accordionTab header="Ingresar Factura de BOPP/BOPA/Poliester">
        <br>

        <form [formGroup]="FormOpcional">
          <div class="mb-3" id="formulario1">
            <div class="row g-3">

              <!-- Orden de Trabajo -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl col-xxl">
                <span class="p-input-icon-left p-float-label">
                  <i class="pi pi-search"></i>
                  <input formControlName="OrdenCompra" id="orden" type="text" pInputText (keyup.enter)="consultarOrdenCompra_Bopp()"/>
                  <label for="orden">N° OC</label>
                </span>
              </div>

              <!-- Factura -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl col-xxl">
                <span class="p-float-label">
                  <input formControlName="Factura" id="Factura" type="text" pInputText/>
                  <label for="Factura">Factura</label>
                </span>
              </div>

              <!-- Remision -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl col-xxl">
                <span class="p-float-label">
                  <input formControlName="Remision" id="Remision" type="text" pInputText/>
                  <label for="Remision">Remisión</label>
                </span>
              </div>

              <!-- Proveedor -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <span class="p-float-label">
                  <input formControlName="PrvNombre" id="Proveedor" list="proveedor" type="text" pInputText (change)="cambiarNombreProveedor()" />
                  <datalist id="proveedor">
                    <option value={{item.prov_Id}} *ngFor="let item of proveedor">{{item.prov_Nombre}}</option>
                  </datalist>
                  <label for="Proveedor">Proveedor</label>
                </span>
              </div>

              <!-- Observacion -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-4 col-xxl-4">
                <span class="p-float-label">
                  <textarea formControlName="Observacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
                  <label for="textarea">Observación</label>
                </span>
              </div>

            </div>
          </div>
        </form>
        <br>

        <div class="mb-3">
          <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de materiales asociados a la OC.</h4>
        </div>

        <!--Tabla de datos-->
        <div class="row g-3" id="tabla1">
          <div class="table-responsive">
            <p-table
            #dt
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="20"
            [rowHover]="true"
            [value]="arrayBopps"
            [scrollable]="true"
            scrollHeight="50rem">
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center" id="id" scope="col">Id</th>
                  <th style="text-align: center" id="nombre" scope="col">Nombre</th>
                  <th style="text-align: center" id="micras" scope="col">Cantidad (µm)</th>
                  <th style="text-align: center" id="und1" scope="col">Medida</th>
                  <th style="text-align: center" id="cantidad" scope="col">Cant. Pedida (Kg)</th>
                  <th style="text-align: center" id="cantidad" scope="col">Facturada</th>
                  <th style="text-align: center" id="cantidad" scope="col">Faltante</th>
                  <th style="text-align: center" id="und2" scope="col">Medida</th>
                  <th style="text-align: center" id="ancho" scope="col">Ancho</th>
                  <th style="text-align: center" id="precio" scope="col">Precio Und</th>
                  <th style="text-align: center" id="eliminar" scope="col">Confirmar</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-arrayBopps>
                <ng-container *ngIf="arrayBopps.completado && arrayBopps.cantidad == arrayBopps.cantFacturada; then completado else noCompletado"></ng-container>
                <ng-template #noCompletado>
                  <tr [ngClass]="{'row-accessories': arrayBopps.id < 10000}" > <!--[pSelectableRow]="arrayBopps"-->
                    <td style="text-align: center" id="id">{{arrayBopps.id}}</td>
                    <td id="nombre">{{arrayBopps.nombre}}</td>
                    <td style="text-align: center" id="micras">{{arrayBopps.micras | number : '1.2-2'}}</td>
                    <td style="text-align: center" id="micras">{{arrayBopps.undMicras}}</td>
                    <td style="text-align: center" id="cantidad">{{arrayBopps.cantidad | number : '1.2-2'}}</td>
                    <td style="text-align: center" id="cantidad">{{arrayBopps.cantFacturada | number : '1.2-2'}}</td>
                    <td style="text-align: center" id="cantidad">{{arrayBopps.cantFaltante | number : '1.2-2'}}</td>
                    <td style="text-align: center" id="micras">{{arrayBopps.undKilos}}</td>
                    <td style="text-align: center" id="ancho">{{arrayBopps.ancho | number : '1.2-2'}}</td>
                    <td style="text-align: center" id="precio">{{arrayBopps.precio | number : '1.2-2'}}</td>
                    <td *ngIf="arrayBopps.id > 10000" style="text-align: center" (click)="editarRolloBopp(arrayBopps)"><i class="pi pi-check botonVerde" (click)="editarRolloBopp(arrayBopps)"></i></td>
                  </tr>
                </ng-template >
                <ng-template #completado>
                  <tr>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="id">{{arrayBopps.id}}</td>
                    <td style="background-color: rgb(255, 146, 146);" id="nombre"><b>{{arrayBopps.nombre}}</b></td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="micras">{{arrayBopps.micras | number : '1.2-2'}}</td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="micras">{{arrayBopps.undMicras}}</td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="cantidad"><b>{{arrayBopps.cantidad | number : '1.2-2'}}</b></td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="cantidad"><b>{{arrayBopps.cantFacturada | number : '1.2-2'}}</b></td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="cantidad"><b>{{arrayBopps.cantFaltante | number : '1.2-2'}}</b></td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="micras">{{arrayBopps.undKilos}}</td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="ancho">{{arrayBopps.ancho | number : '1.2-2'}}</td>
                    <td style="text-align: center; background-color: rgb(255, 146, 146);" id="precio">{{arrayBopps.precio | number : '1.2-2'}}</td>
                  </tr>
                </ng-template>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <!--Titulo Entrada BOPP -->
  <div class="mb-3">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-cloud-download"></i> Entrada de Material</h4>
  </div>
  <br>

  <!-- Información general para la asignación de materia Prima Para la creación de tintas -->
  <form [formGroup]="FormEntradaBOPP">
    <!-- Fila 1 -->
    <div class="mb-4" id="formulario2">
      <div class="row g-4">

        <!-- Nombre BOPP -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <input formControlName="Nombre" id="Nombre" list="Bopp" autocomplete="off" type="text" pInputText required (change)="getNombresBOPP()"/>
            <datalist id="Bopp">
              <option value={{item}} *ngFor="let item of nombresBopp">{{item}}</option>
            </datalist>
            <label for="Nombre">Nombre Rollo</label>
          </span>
        </div>

        <!-- Serial BOPP -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-inputNumber formControlName="serial" id="Serial" list="SerialRollo" [useGrouping]="false" [required]="true" (onInput)="getSerialesBOPP()"></p-inputNumber>
            <datalist id="SerialRollo">
              <option value={{item}} *ngFor="let item of serialesBopp">{{item}}</option>
            </datalist>
            <label for="Serial">Pallet/Serial</label>
          </span>
        </div>

        <!-- Cantidad de micras -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="cantidad" id="Micras" [minFractionDigits]="2" [required]="true" (onInput)="getMicrasBOPP()"></p-inputNumber>
            <label for="Micras">Micras µm</label>
          </span>
        </div>

        <!-- Cantidad de Kilogramos -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="cantidadKG" inputId="cantidadKG" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="cantidadKG">Cantidad Kg</label>
          </span>
        </div>

        <!-- Precio unitario -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="precio" id="Precio" list="PrecioRollo" [minFractionDigits]="2" [required]="true" (onKeyDown)="getPreciosBOPP()"></p-inputNumber>
            <datalist id="PrecioRollo">
              <option value={{item}} *ngFor="let item of preciosBopp">{{item}}</option>
            </datalist>
            <label for="Precio">Precio Und</label>
          </span>
        </div>

        <!-- Ancho -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="ancho" id="Ancho" list="AnchoRollo" [minFractionDigits]="2" [required]="true" (onInput)="getAnchosBOPP()"></p-inputNumber>
            <datalist id="AnchoRollo">
              <option value={{item}} *ngFor="let item of anchosBopp">{{item}}</option>
            </datalist>
            <label for="Ancho">Ancho</label>
          </span>
        </div>

        <!-- Selección de categoria -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="Categoria" id="Categoria" optionValue="catMP_Id" [autoDisplayFirst]="false" [options]="categorias" optionLabel="catMP_Nombre"></p-dropdown>
            <label for="Categoria">Categorias</label>
          </span>
        </div>

        <!-- Campo Descripcion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-3 col-xxl-6">
          <span class="p-float-label">
            <textarea formControlName="Observacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Descripción</label>
          </span>
        </div>

         <!-- Nombre BOPP Generico -->
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="boppGenerico" id="boppGenerico" list="BoppGen" (change)="seleccionarBoppsGenericos()" autocomplete="off" type="text" pInputText pTooltip="Elige el nombre de bopp genérico por ancho y micras asociado al rollo que deseas ingresar, si no se encuentra, por favor crealo!" required/>
            <datalist id="BoppGen">
              <option value={{item.boppGen_Id}} *ngFor="let item of boppsGenericos">{{item.boppGen_Nombre}}</option>
            </datalist>
            <label for="Nombre">Bopp Genérico</label>
          </span>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4" id="botones1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Añadir Material" icon="pi pi-send" (click)="cargarBOPPTabla()"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"> </button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de material Entrante</h4>
  </div>

  <!-- Tabla de BOPP entrante -->
  <div class="row g-3" id="tabla2">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [value]="ArrayBOPP"
      [scrollable]="true"
      scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th id="idMateriaPrima" scope="col">Pallet/Serial</th>
            <th id="nombreMateriaPrima" scope="col">Nombre</th>
            <th id="cantidadMateriaPrima" scope="col">Cantidad (µm)</th>
            <th id="UnidadMedida" scope="col">Medida</th>
            <th id="cantidadMateriaPrima" scope="col">Cantidad (Kg)</th>
            <th id="UnidadMedida" scope="col">Medida</th>
            <th id="cantidadMateriaPrima" scope="col">Ancho</th>
            <th id="cantidadMateriaPrima" scope="col">Precio Und</th>
            <th id="cantidadMateriaPrima" scope="col">Subtotal</th>
            <th id="cantidadMateriaPrima" scope="col">Categoria</th>
            <th id="cantidadMateriaPrima" scope="col">Genérico</th>
            <th id="eliminar" scope="col" id="quitar-rollo">Quitar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bopp>
          <tr>
            <td id="idMateriaPrima">{{bopp.Serial}}</td>
            <td id="nombreMateriaPrima">{{bopp.Nombre}}</td>
            <td id="cantidadMateriaPrima">{{bopp.Cant | number: '1.2-2'}}</td>
            <td id="UnidadMedida">{{bopp.UndCant}}</td>
            <td id="cantidadMateriaPrima">{{bopp.CantKg | number: '1.2-2'}}</td>
            <td id="UnidadMedida">{{bopp.UndCantKg}}</td>
            <td id="cantidadMateriaPrima">{{bopp.Ancho | number: '1.2-2'}}</td>
            <td id="cantidadMateriaPrima">{{bopp.Precio | number: '1.2-2'}}</td>
            <td id="cantidadMateriaPrima">{{bopp.Subtotal | number: '1.2-2'}}</td>
            <td id="cantidadMateriaPrima">{{bopp.Cat}}</td>
            <td id="cantidadMateriaPrima">{{bopp.NombreBoppGenerico}}</td>
            <td><i class="pi pi-trash cursor" title="Quitar Rollo" (click)="mostrarEleccion(bopp)"></i></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="8" class="text-right">Totales</td>
            <td colspan="4">{{valorTotal | number: '1.2-2'}} COP</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <br>
  <div *ngIf="load">
    <div class="mb-3" id="botones2">
      <div class="row g-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" type="button" label="Crear Entrada" icon="pi pi-check" (click)="validarTipoEntradaBopp()"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodosLosCampos()"> </button>
        </div>
      </div>
    </div>
  </div>
</p-card>

<p-toast position="center" key="bopp" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-bopp>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="quitarRollo(bopp)" icon="pi pi-check" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-database" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
