

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Inventario de Bodega de Rollos</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card class="font-size-14">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <p-toolbar styleClass="mb-3 gap-3">
    <div class="row" style="width: 100%;">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end p-2">
        <button pButton pRipple label="Exportar a Excel" icon="pi pi-file-excel"class="p-button-success" id="exportar1" (click)="crearExcel(3)"></button>
      </div>
    </div>
  </p-toolbar>

  <p-tabView [scrollable]="true" id="seleccionInventarios">
    <!-- INVENTARIO TOTAL -->
    <!--<p-tabPanel
      header="Inventario Total"
      leftIcon="pi pi-th-large"
      tooltip="Información del Inventario de Todas las Bodega"
      id="tablasInventario">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dtTotal
            [value]="inventarioTotal"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <tr class="font-size-16" id="filtros">
                <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar2" (click)="crearExcel(1)"></button></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtTotal)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'BodegaActual', 'contains', dtTotal)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th pSortableColumn="BodegaActual">Bodega Actual <p-sortIcon field="BodegaActual"></p-sortIcon></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" id="cuerpo">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="negrita">{{data.Orden}}</td>
                <td>{{data.Item}}</td>
                <td class="negrita">{{data.Referencia}}</td>
                <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
                <td>{{data.Presentacion}}</td>
                <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
                <td><span class="badge" [ngClass]="{'bg-Extrusion': data.BodegaActual == 'Extrusion',
                                      'bg-ProductoIntermedio': data.BodegaActual == 'Producto Intermedio',
                                      'bg-Impresion': data.BodegaActual == 'Impresion',
                                      'bg-Rotograbado': data.BodegaActual == 'Rotograbado',
                                      'bg-Sellado': data.BodegaActual == 'Sellado',
                                      'bg-Despacho': data.BodegaActual == 'Despacho'}">{{data.BodegaActual | uppercase}}</span></td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" id="totales">
              <tr>
                <td colspan="4">Totales: </td>
                <td>{{calcularTotalKg(inventarioTotal) | number : '1.2-2'}}</td>
                <td>Kg</td>
                <td colspan="3">{{calcularTotalRollos(inventarioTotal) | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>-->

    <!-- EXTRUSIÓN -->
    <!--<p-tabPanel
      header="Extrusión"
      leftIcon="pi pi-bolt"
      tooltip="Información del Inventario de la Bodega de Extrusión">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
          #dtExtrusion
          [value]="inventarioExtrusion"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [rowHover]="true"
          dataKey="Orden"
          [scrollable]="true"
          scrollHeight="50rem">
          <ng-template pTemplate="header" >
            <tr class="font-size-16">
              <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcel(2)"></button></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtExtrusion)"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtExtrusion)"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtExtrusion)"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtExtrusion)"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtExtrusion)"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtExtrusion)"></th>
              <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
            <tr class="font-size-16">
              <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
              <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
              <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
              <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
              <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
              <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
              <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
              <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
              <td class="negrita">{{data.Orden}}</td>
              <td>{{data.Item}}</td>
              <td class="negrita">{{data.Referencia}}</td>
              <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
              <td>{{data.Presentacion}}</td>
              <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
              <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="4">Totales: </td>
              <td>{{calcularTotalKg(inventarioExtrusion) | number : '1.2-2'}}</td>
              <td>Kg</td>
              <td colspan="2">{{calcularTotalRollos(inventarioExtrusion) | number : '1.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </p-tabPanel>-->

    <!-- PRODUCTO INTERMEDIO -->
    <p-tabPanel
      header="Producto Intermedio"
      leftIcon="pi pi-th-large"
      tooltip="Información del Inventario de la Bodega de Producto Intermedio">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3" id="table">
          <p-table
            #dtProductoIntermedio
            [value]="inventarioProductoIntermedio"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr>
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtProductoIntermedio)"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtProductoIntermedio)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtProductoIntermedio)"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtProductoIntermedio)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtProductoIntermedio)"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtProductoIntermedio)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th class="text-center" pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th class="text-center" pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="Rollos">Cantidad Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th class="text-center" pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="text-center negrita">{{data.Orden}}</td>
                <td class="text-center">{{data.Item}}</td>
                <td class="negrita negrita">{{data.Referencia}}</td>
                <td class="text-center negrita textGreen">{{data.Cantidad | number : '1.2-2'}}</td>
                <td class="text-center">{{data.Presentacion}}</td>
                <td class="text-center negrita textGreen">{{data.Rollos}}</td>
                <td class="text-center" style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td class="text-right" colspan="4">Totales: </td>
                <td class="text-center textGreen">{{calcularTotalKg() | number : '1.2-2'}}</td>
                <td class="text-center">Kg</td>
                <td class="text-center textGreen">{{calcularTotalRollos()}}</td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- IMPRESIÓN -->
    <!--<p-tabPanel
      header="Impresión"
      leftIcon="pi pi-print"
      tooltip="Información del Inventario de la Bodega de Impresión">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dtImpresion
            [value]="inventarioImpresion"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcel(4)"></button></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtImpresion)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtImpresion)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtImpresion)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtImpresion)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtImpresion)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtImpresion)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="negrita">{{data.Orden}}</td>
                <td>{{data.Item}}</td>
                <td class="negrita">{{data.Referencia}}</td>
                <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
                <td>{{data.Presentacion}}</td>
                <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="4">Totales: </td>
                <td>{{calcularTotalKg(inventarioImpresion) | number : '1.2-2'}}</td>
                <td>Kg</td>
                <td colspan="2">{{calcularTotalRollos(inventarioImpresion) | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>-->

    <!-- ROTOGRABADO -->
    <!--<p-tabPanel
      header="Rotograbado"
      leftIcon="pi pi-print"
      tooltip="Información del Inventario de la Bodega de Rotograbado">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dtRotograbajo
            [value]="inventarioRotograbado"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcel(5)"></button></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtRotograbajo)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtRotograbajo)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtRotograbajo)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtRotograbajo)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtRotograbajo)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtRotograbajo)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="negrita">{{data.Orden}}</td>
                <td>{{data.Item}}</td>
                <td class="negrita">{{data.Referencia}}</td>
                <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
                <td>{{data.Presentacion}}</td>
                <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="4">Totales: </td>
                <td>{{calcularTotalKg(inventarioRotograbado) | number : '1.2-2'}}</td>
                <td>Kg</td>
                <td colspan="2">{{calcularTotalRollos(inventarioRotograbado) | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>-->

    <!-- SELLADO -->
    <!--<p-tabPanel
      header="Sellado"
      leftIcon="pi pi-tags"
      tooltip="Información del Inventario de la Bodega de Sellado">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dtSellado
            [value]="inventarioSellado"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcel(6)"></button></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtSellado)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtSellado)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtSellado)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtSellado)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtSellado)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtSellado)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="negrita">{{data.Orden}}</td>
                <td>{{data.Item}}</td>
                <td class="negrita">{{data.Referencia}}</td>
                <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
                <td>{{data.Presentacion}}</td>
                <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="4">Totales: </td>
                <td>{{calcularTotalKg(inventarioSellado) | number : '1.2-2'}}</td>
                <td>Kg</td>
                <td colspan="2">{{calcularTotalRollos(inventarioSellado) | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>-->

    <!-- DESPACHO -->
    <!--<p-tabPanel
      header="Despacho"
      leftIcon="pi pi-truck"
      tooltip="Información del Inventario de la Bodega de Despacho">
      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dtDespacho
            [value]="inventarioDespacho"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="Orden"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcel(7)"></button></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtDespacho)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtDespacho)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtDespacho)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtDespacho)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtDespacho)"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollos', 'contains', dtDespacho)"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr class="font-size-16">
                <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
                <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
                <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
                <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
                <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
                <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
                <th pSortableColumn="Rollos">Rollos <p-sortIcon field="Rollos"></p-sortIcon></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true">{{rowIndex + 1}}</td>
                <td class="negrita">{{data.Orden}}</td>
                <td>{{data.Item}}</td>
                <td class="negrita">{{data.Referencia}}</td>
                <td class="negrita">{{data.Cantidad | number : '1.2-2'}}</td>
                <td>{{data.Presentacion}}</td>
                <td class="negrita">{{data.Rollos | number : '1.2-2'}}</td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonDetalles" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesInventario(data.Orden, data.Bodega)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="4">Totales: </td>
                <td>{{calcularTotalKg(inventarioDespacho) | number : '1.2-2'}}</td>
                <td>Kg</td>
                <td colspan="2">{{calcularTotalRollos(inventarioDespacho) | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>-->
  </p-tabView>
</p-card>

<p-dialog [(visible)]="inventario" [style]="{width: '85vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="Inventario Detallado" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <p-table
      #dtDetallado
      [value]="inventarioDetallado"
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [rowHover]="true"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="50rem">
      <ng-template pTemplate="header">
        <tr class="font-size-16" id="filtros">
          <th pFrozenColumn alignFrozen="left" [frozen]="true"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="crearExcelDetallado()"></button></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rollo', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Orden', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Fecha', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Extrusion', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'ProductoIntermedio', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Impresion', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Rotograbado', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Sellado', 'contains', dtDetallado)"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Despacho', 'contains', dtDetallado)"></th>
        </tr>
        <tr>
          <th pFrozenColumn alignFrozen="left" [frozen]="true">#</th>
          <th pSortableColumn="Rollo">Rollo <p-sortIcon field="Rollo"></p-sortIcon></th>
          <th pSortableColumn="Orden">Orden Trabajo <p-sortIcon field="Orden"></p-sortIcon></th>
          <th pSortableColumn="Item">Item <p-sortIcon field="Item"></p-sortIcon></th>
          <th pSortableColumn="Referencia">Referencia <p-sortIcon field="Referencia"></p-sortIcon></th>
          <th pSortableColumn="Cantidad">Cantidad <p-sortIcon field="Cantidad"></p-sortIcon></th>
          <th pSortableColumn="Presentacion">Presentación <p-sortIcon field="Presentacion"></p-sortIcon></th>
          <th pSortableColumn="Fecha">Fecha <p-sortIcon field="Fecha"></p-sortIcon></th>
          <th pSortableColumn="Extrusion">Extrusión <p-sortIcon field="Extrusion"></p-sortIcon></th>
          <th pSortableColumn="ProductoIntermedio">Prod. Intermedio <p-sortIcon field="ProductoIntermedio"></p-sortIcon></th>
          <th pSortableColumn="Impresion">Impresión <p-sortIcon field="Impresion"></p-sortIcon></th>
          <th pSortableColumn="Rotograbado">Rotograbado <p-sortIcon field="Rotograbado"></p-sortIcon></th>
          <th pSortableColumn="Sellado">Sellado <p-sortIcon field="Sellado"></p-sortIcon></th>
          <th pSortableColumn="Despacho">Despacho <p-sortIcon field="Despacho"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td pFrozenColumn alignFrozen="left" [frozen]="true"><b>{{rowIndex + 1}}</b></td>
          <td>{{data.Rollo}}</td>
          <td>{{data.Orden}}</td>
          <td>{{data.Item}}</td>
          <td>{{data.Referencia}}</td>
          <td>{{data.Cantidad | number : '1.2-2'}}</td>
          <td>{{data.Presentacion}}</td>
          <td>{{data.Fecha}}</td>
          <td>{{data.Extrusion}}</td>
          <td>{{data.ProductoIntermedio}}</td>
          <td>{{data.Impresion}}</td>
          <td>{{data.Rotograbado}}</td>
          <td>{{data.Sellado}}</td>
          <td>{{data.Despacho}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>
