<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Reporte de Materia Prima / BOPP / Tintas</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card class="font-size-14">

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-5">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-filter"></i> Filtros de búsqueda</h2>
  </div>

  <p-toolbar>
    <div class="row g-3" style="width: 100%;">
      <div class="col-md-6 text-left">
        <span class="p-float-label" id="rango-fechas">
          <!-- Rango de Fechas -->
          <p-calendar inputId="FechaInicial" [(ngModel)]="rongoFechas" selectionMode="range" [showIcon]="true"></p-calendar>
          <label for="FechaInicial">Rango de Fechas</label>
        </span>
        <!-- Consultar Inventario -->
        <button pButton pRipple pTooltip="Consultar Inventario" label="Consultar" icon="pi pi-search" class="p-button-danger ml-2" id="consultar" (click)="consultarInventario()"></button>
      </div>

      <div class="col-md-6 text-right">
        <!-- Con existencias -->
        <button pButton pRipple pTooltip="Materias primas con existencias" label="Con Stock" icon="pi pi-eject" class="p-button-warning mr-2" id="con-existencias" (click)="existenciasMayorCero()"></button>
        <!-- Nueva materias prima -->
        <button *ngIf="ValidarRol == 1" pButton pRipple id="nuevaMp" label="Crear" id="nuevaMateriaPrima" icon="pi pi-plus" class="p-button-success mr-2" ptooltip="Crear nuevo material" (click)="LlamarModalCrearMateriaPrima()"></button>
        <!-- Exportar excel -->
        <button pButton pRipple label="Exportar" pTooltip="Exportar a excel" icon="pi pi-file-excel"class="p-button-success" id="exportar1" (click)="exportarExcel(1)"></button>
      </div>
    </div>
  </p-toolbar>

  <p-tabView [scrollable]="true" id="materias-primas" (onChange)="cargarTabs($event.index)">
    <!-- Materias Primas -->
    <p-tabPanel
      header="Materias Primas"
      leftIcon="pi pi-th-large"
      tooltip="Información del Inventario de Materias Primas"
      *ngIf="ValidarRol != 4">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt
            [value]="ArrayMateriaPrima"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="ArrayMateriaPrima.length"
            [rowsPerPageOptions]="[10,25,50,100,ArrayMateriaPrima.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16" id="filtros">
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Id', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Nombre', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Ancho', 'contains')"></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Micras', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Inicial', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Entrada', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Salida', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cant', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Diferencia', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'UndCant', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'PrecioUnd', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'SubTotal', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Categoria', 'contains')"></th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th>#</th>
                <th scope="col" pSortableColumn="Id">ID
                  <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
                  <p-sortIcon field="Nombre"></p-sortIcon>
                </th>
                <th id="Ancho" pSortableColumn="Ancho" pReorderableColumn scope="col">Ancho
                  <p-sortIcon field="Ancho"></p-sortIcon>
                </th>
                <th id="Micras" pSortableColumn="Micras" pReorderableColumn scope="col">Micras
                  <p-sortIcon field="Micras"></p-sortIcon>
                </th>
                <th id="inicial" pSortableColumn="Inicial" pReorderableColumn scope="col">Inicial
                  <p-sortIcon field="Inicial"></p-sortIcon>
                </th>
                <th id="entrada" pSortableColumn="Entrada" pReorderableColumn scope="col">Entrada
                  <p-sortIcon field="Entrada"></p-sortIcon>
                </th>
                <th id="salida" pSortableColumn="Salida" pReorderableColumn scope="col">Salida
                  <p-sortIcon field="Salida"></p-sortIcon>
                </th>
                <th id="stock" pSortableColumn="Cant" pReorderableColumn scope="col">Stock
                  <p-sortIcon field="Cant"></p-sortIcon>
                </th>
                <th id="diferencia" pSortableColumn="Diferencia" pReorderableColumn scope="col">Diferencia
                  <p-sortIcon field="Diferencia"></p-sortIcon>
                </th>
                <th scope="col">Medida
                </th>
                <th pSortableColumn="PrecioUnd" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">Precio Und
                  <p-sortIcon field="PrecioUnd"></p-sortIcon>
                </th>
                <th pSortableColumn="SubTotal" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">SubTotal
                  <p-sortIcon field="SubTotal"></p-sortIcon>
                </th>
                <th pSortableColumn="Categoria" pReorderableColumn scope="col">Categoria
                  <p-sortIcon field="Categoria"></p-sortIcon>
                </th>
                <th id="editar" *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true">Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
              <tr>
                <td><b>{{rowIndex + 1}}</b></td>
                <td>{{materiaPrima.Id}}</td>
                <td>{{materiaPrima.Nombre}}</td>
                <td>{{materiaPrima.Ancho}}</td>
                <td>{{materiaPrima.Micras | number}}</td>
                <td>{{materiaPrima.Inicial | number}}</td>
                <td>{{materiaPrima.Entrada | number}}</td>
                <td>{{materiaPrima.Salida | number}}</td>
                <th class="columnaCantidad">{{materiaPrima.Cant | number}}</th>
                <td>{{materiaPrima.Diferencia | number}}</td>
                <td>{{materiaPrima.UndCant}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td>{{materiaPrima.PrecioUnd | number}}</td>
                  <td>{{materiaPrima.SubTotal | number}}</td>
                </ng-container>
                <td>{{materiaPrima.Categoria}}</td>
                <td *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success" (click)="llamarModalEdicionMateriaPrima(materiaPrima)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr id="totales">
                <td colspan="5" class="text-right" *ngIf="ValidarRol == 1">Totales</td>
                <td *ngIf="ValidarRol == 1">{{cantInicial | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantEntrante | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantSaliente | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantExistencias | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantDiferencia | number}}</td>
                <td *ngIf="ValidarRol == 1" colspan="2" class="text-left">{{'Kg'}}</td>
                <td *ngIf="ValidarRol == 1">{{valorTotal | number}}</td>
                <td *ngIf="ValidarRol == 1">COP</td>
                <td [colSpan]="ValidarRol == 1 ? 1 : 14" class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="exportarExcel(2)"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Polietilenos -->
    <p-tabPanel
      header="Polietilenos"
      leftIcon="pi pi-box"
      tooltip="Información del Inventario de los Polietilenos"
      *ngIf="ValidarRol != 4">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt_Polientileno
            [value]="polietilenos"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="polietilenos.length"
            [rowsPerPageOptions]="[10,25,50,100,polietilenos.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <tr class="font-size-16">
                <th></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Id', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Nombre', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Inicial', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Entrada', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Salida', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Cant', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Diferencia', 'contains')"></th>
                <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'UndCant', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'PrecioUnd', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'SubTotal', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroPolietilenos($event, 'Categoria', 'contains')"></th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th>#</th>
                <th scope="col" pSortableColumn="Id">ID
                  <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
                  <p-sortIcon field="Nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="Inicial" pReorderableColumn scope="col">Inicial
                  <p-sortIcon field="Inicial"></p-sortIcon>
                </th>
                <th pSortableColumn="Entrada" pReorderableColumn scope="col">Entrada
                  <p-sortIcon field="Entrada"></p-sortIcon>
                </th>
                <th pSortableColumn="Salida" pReorderableColumn scope="col">Salida
                  <p-sortIcon field="Salida"></p-sortIcon>
                </th>
                <th pSortableColumn="Cant" pReorderableColumn scope="col">Stock
                  <p-sortIcon field="Cant"></p-sortIcon>
                </th>
                <th pSortableColumn="Diferencia" pReorderableColumn scope="col">Diferencia
                  <p-sortIcon field="Diferencia"></p-sortIcon>
                </th>
                <th scope="col">Medida
                </th>
                <th pSortableColumn="PrecioUnd" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">Precio Und
                  <p-sortIcon field="PrecioUnd"></p-sortIcon>
                </th>
                <th pSortableColumn="SubTotal" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">SubTotal
                  <p-sortIcon field="SubTotal"></p-sortIcon>
                </th>
                <th pSortableColumn="Categoria" pReorderableColumn scope="col">Categoria
                  <p-sortIcon field="Categoria"></p-sortIcon>
                </th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true">Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
              <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{materiaPrima.Id}}</td>
                <td>{{materiaPrima.Nombre}}</td>
                <td>{{materiaPrima.Inicial | number}}</td>
                <td>{{materiaPrima.Entrada | number}}</td>
                <td>{{materiaPrima.Salida | number}}</td>
                <th class="columnaCantidad">{{materiaPrima.Cant | number}}</th>
                <td>{{materiaPrima.Diferencia | number}}</td>
                <td>{{materiaPrima.UndCant}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td>{{materiaPrima.PrecioUnd | number}}</td>
                  <td>{{materiaPrima.SubTotal | number}}</td>
                </ng-container>
                <td>{{materiaPrima.Categoria}}</td>
                <td *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success" (click)="llamarModalEdicionMateriaPrima(materiaPrima)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td *ngIf="ValidarRol == 1" colspan="3" class="text-right">Totales</td>
                <td *ngIf="ValidarRol == 1">{{cantInicialPolietileno | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantEntrantePolietileno | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantSalientePolietileno | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantExistenciasPolientileno | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantDiferenciaPolietileno | number}}</td>
                <td *ngIf="ValidarRol == 1" colspan="2" class="text-left">{{'Kg'}}</td>
                <td *ngIf="ValidarRol == 1">{{valorTotalPolietileno | number}}</td>
                <td *ngIf="ValidarRol == 1">COP</td>
                <td [colSpan]="ValidarRol == 1 ? 1 : 14" class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="exportarExcel(3)"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Tintas -->
    <p-tabPanel
      header="Tintas"
      leftIcon="pi pi-palette"
      tooltip="Información del Inventario de los Polietilenos"
      *ngIf="ValidarRol != 4">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt_Tintas
            [value]="tintas"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="tintas.length"
            [rowsPerPageOptions]="[10,25,50,100,tintas.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <tr class="font-size-16">
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Id', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Nombre', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Inicial', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Entrada', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Salida', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Cant', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Diferencia', 'contains')"></th>
                <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'UndCant', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'PrecioUnd', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'SubTotal', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltroTintas($event, 'Categoria', 'contains')"></th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th>#</th>
                <th scope="col" pSortableColumn="Id">ID
                  <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
                  <p-sortIcon field="Nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="Inicial" pReorderableColumn scope="col">Inicial
                  <p-sortIcon field="Inicial"></p-sortIcon>
                </th>
                <th pSortableColumn="Entrada" pReorderableColumn scope="col">Entrada
                  <p-sortIcon field="Entrada"></p-sortIcon>
                </th>
                <th pSortableColumn="Salida" pReorderableColumn scope="col">Salida
                  <p-sortIcon field="Salida"></p-sortIcon>
                </th>
                <th pSortableColumn="Cant" pReorderableColumn scope="col">Stock
                  <p-sortIcon field="Cant"></p-sortIcon>
                </th>
                <th pSortableColumn="Diferencia" pReorderableColumn scope="col">Diferencia
                  <p-sortIcon field="Diferencia"></p-sortIcon>
                </th>
                <th scope="col">Medida
                </th>
                <th pSortableColumn="PrecioUnd" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">Precio Und
                  <p-sortIcon field="PrecioUnd"></p-sortIcon>
                </th>
                <th pSortableColumn="SubTotal" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">SubTotal
                  <p-sortIcon field="SubTotal"></p-sortIcon>
                </th>
                <th pSortableColumn="Categoria" pReorderableColumn scope="col">Categoria
                  <p-sortIcon field="Categoria"></p-sortIcon>
                </th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true">Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
              <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{materiaPrima.Id}}</td>
                <td>{{materiaPrima.Nombre}}</td>
                <td>{{materiaPrima.Inicial | number}}</td>
                <td>{{materiaPrima.Entrada | number}}</td>
                <td>{{materiaPrima.Salida | number}}</td>
                <th class="columnaCantidad">{{materiaPrima.Cant | number}}</th>
                <td>{{materiaPrima.Diferencia | number}}</td>
                <td>{{materiaPrima.UndCant}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td>{{materiaPrima.PrecioUnd | number}}</td>
                  <td>{{materiaPrima.SubTotal | number}}</td>
                </ng-container>
                <td>{{materiaPrima.Categoria}}</td>
                <td *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success" (click)="llamarModalEdicionMateriaPrima(materiaPrima)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td *ngIf="ValidarRol == 1" colspan="3" class="text-right">Totales</td>
                <td *ngIf="ValidarRol == 1">{{cantInicialTintas | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantEntranteTintas | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantSalienteTintas | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantExistenciasTintas | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantDiferenciaTintas | number}}</td>
                <td *ngIf="ValidarRol == 1" colspan="2" class="text-left">{{'Kg'}}</td>
                <td *ngIf="ValidarRol == 1">{{valorTotalTintas | number}}</td>
                <td *ngIf="ValidarRol == 1">COP</td>
                <td [colSpan]="ValidarRol == 1 ? 1 : 14" class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar3" (click)="exportarExcel(4)"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Biorientado -->
    <p-tabPanel
      header="Biorientados"
      leftIcon="pi pi-database"
      tooltip="Información del Inventario de los Polietilenos">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt_Biorientados
            [value]="biorientados"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="biorientados.length"
            [rowsPerPageOptions]="[10,25,50,100,biorientados.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <tr class="font-size-16">
                <th></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Id', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Nombre', 'contains')"></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Ancho', 'contains')"></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Micras', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Inicial', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Entrada', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Salida', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Cant', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Diferencia', 'contains')"></th>
                <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'UndCant', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'PrecioUnd', 'contains')"></th>
                <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'SubTotal', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados($event, 'Categoria', 'contains')"></th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th>#</th>
                <th scope="col" pSortableColumn="Id">ID
                  <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
                  <p-sortIcon field="Nombre"></p-sortIcon>
                </th>
                <th id="Ancho" pSortableColumn="Ancho" pReorderableColumn scope="col">Ancho
                  <p-sortIcon field="Ancho"></p-sortIcon>
                </th>
                <th id="Micras" pSortableColumn="Micras" pReorderableColumn scope="col">Micras
                  <p-sortIcon field="Micras"></p-sortIcon>
                </th>
                <th pSortableColumn="Inicial" pReorderableColumn scope="col">Inicial
                  <p-sortIcon field="Inicial"></p-sortIcon>
                </th>
                <th pSortableColumn="Entrada" pReorderableColumn scope="col">Entrada
                  <p-sortIcon field="Entrada"></p-sortIcon>
                </th>
                <th pSortableColumn="Salida" pReorderableColumn scope="col">Salida
                  <p-sortIcon field="Salida"></p-sortIcon>
                </th>
                <th pSortableColumn="Cant" pReorderableColumn scope="col">Stock
                  <p-sortIcon field="Cant"></p-sortIcon>
                </th>
                <th pSortableColumn="Diferencia" pReorderableColumn scope="col">Diferencia
                  <p-sortIcon field="Diferencia"></p-sortIcon>
                </th>
                <th scope="col">Medida
                </th>
                <th pSortableColumn="PrecioUnd" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">Precio Und
                  <p-sortIcon field="PrecioUnd"></p-sortIcon>
                </th>
                <th pSortableColumn="SubTotal" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">SubTotal
                  <p-sortIcon field="SubTotal"></p-sortIcon>
                </th>
                <th pSortableColumn="Categoria" pReorderableColumn scope="col">Categoria
                  <p-sortIcon field="Categoria"></p-sortIcon>
                </th>
                <th *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true">Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
              <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{materiaPrima.Id}}</td>
                <td>{{materiaPrima.Nombre}}</td>
                <td>{{materiaPrima.Ancho | number}}</td>
                <td>{{materiaPrima.Micras | number}}</td>
                <td>{{materiaPrima.Inicial | number}}</td>
                <td>{{materiaPrima.Entrada | number}}</td>
                <td>{{materiaPrima.Salida | number}}</td>
                <th class="columnaCantidad">{{materiaPrima.Cant | number}}</th>
                <td>{{materiaPrima.Diferencia | number}}</td>
                <td>{{materiaPrima.UndCant}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td>{{materiaPrima.PrecioUnd | number}}</td>
                  <td>{{materiaPrima.SubTotal | number}}</td>
                </ng-container>
                <td>{{materiaPrima.Categoria}}</td>
                <td *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success" (click)="llamarModalEdicionMateriaPrima(materiaPrima)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="5" class="text-right" *ngIf="ValidarRol == 1">Totales</td>
                <td *ngIf="ValidarRol == 1">{{cantInicialBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantEntranteBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantSalienteBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantExistenciasBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1">{{cantDiferenciaBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1" colspan="2" class="text-left">{{'Kg'}}</td>
                <td *ngIf="ValidarRol == 1">{{valorTotalBiorientado | number}}</td>
                <td *ngIf="ValidarRol == 1">COP</td>
                <td [colSpan]="ValidarRol == 1 ? 1 : 14" class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" (click)="exportarExcel(5)"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!--Bopp's genéricos -->
    <p-tabPanel
      header="Bopps agrupados"
      leftIcon="pi pi-table"
      tooltip="Información del Inventario de los Bopps genéricos">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt_BoppGenerico
            [value]="arrayBopps"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="arrayBopps.length"
            [rowsPerPageOptions]="[10,25,50,100,arrayBopps.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <tr class="font-size-16" id="filtros">
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Id', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Nombre', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Micras', 'contains')"></th>
                <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Ancho', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'NombreCateg', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Rollos', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Stock', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroGenerico($event, 'Medida', 'contains')"></th>
                <th></th>
              </tr>
              <tr>
                <th>#</th>
                <th scope="col" pSortableColumn="Id">Id
                  <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
                  <p-sortIcon field="Nombre"></p-sortIcon>
                </th>
                <th id="Ancho" pSortableColumn="Micras" pReorderableColumn scope="col">Micras
                  <p-sortIcon field="Micras"></p-sortIcon>
                </th>
                <th id="Micras" pSortableColumn="Ancho" pReorderableColumn scope="col">Ancho
                  <p-sortIcon field="Ancho"></p-sortIcon>
                </th>
                <th id="inicial" pSortableColumn="NombreCateg" pReorderableColumn scope="col">Categoria
                  <p-sortIcon field="NombreCateg"></p-sortIcon>
                </th>
                <th id="entrada" pSortableColumn="Rollos" pReorderableColumn scope="col">Rollos
                  <p-sortIcon field="Rollos"></p-sortIcon>
                </th>
                <th id="salida" pSortableColumn="Stock" pReorderableColumn scope="col">Stock
                  <p-sortIcon field="Stock"></p-sortIcon>
                </th>
                <th id="stock" pSortableColumn="Medida" pReorderableColumn scope="col">Medida
                  <p-sortIcon field="Medida"></p-sortIcon>
                </th>
                <th id="editar" *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
              <tr>
                <td><b>{{rowIndex + 1}}</b></td>
                <td>{{materiaPrima.Id}}</td>
                <td><b>{{materiaPrima.Nombre}}</b></td>
                <td>{{materiaPrima.Micras | number : '1.2-2'}}</td>
                <td><b>{{materiaPrima.Ancho | number : '1.2-2'}}</b></td>
                <td>{{materiaPrima.NombreCateg}}</td>
                <td>{{materiaPrima.Rollos | number}}</td>
                <td class="columnaCantidad"><b>{{materiaPrima.Stock | number : '1.2-2'}}</b></td>
                <td>{{materiaPrima.Medida}}</td>
                <td *ngIf="ValidarRol == 1" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-success" pTooltip="Ver rollos asociados" (click)="llamarModalBopp(materiaPrima)"></p-button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr id="totales">
                <td colspan="7" class="text-right" *ngIf="ValidarRol == 1">Totales</td>
                <td class="text-left">{{stockTotalBopps | number: '1.2-2'}}</td>
                <td colspan="2" class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" label="Exportar" class="p-button-success" (click)="exportarExcel2()" id="exportar4"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
</p-card>

<!-- Modal Para Crear Materias Primas -->
<p-dialog [(visible)]="modalCreacionMateriaPrima" [style]="{width: '70vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="¿Qué desea crear?" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <h5>¡Presione el botón de la materia prima que quiere crear!</h5>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button pButton pRipple class="p-button-warning" label="Polietilenos" (click)="crearPolientileno()"></button>
      <br>
      <button pButton pRipple class="p-button-danger" label="Tintas / Chips / Solventes" (click)="creartinta()"></button>
    </div>
  </ng-template>
</p-dialog>

<!-- Modal Para Crear Materias Primas -->
<p-dialog [(visible)]="ModalCrearMateriaPrima" [style]="{width: '70vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="Crear Materia Primas" [modal]="true" >
  <ng-template pTemplate="content">
    <app-crear-materiaprima></app-crear-materiaprima>
  </ng-template>
</p-dialog>

<!-- Modal Para Crear Tintas -->
<p-dialog [(visible)]="ModalCrearTintas" [style]="{width: '70vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="Crear Tintas / Solventes / Chips" [modal]="true" >
  <ng-template pTemplate="content">
    <app-crear-tintas></app-crear-tintas>
  </ng-template>
</p-dialog>

<!-- Modal Para Editar Materias Primas -->
<p-dialog [(visible)]="modalEditarMateriasPrimas" [contentStyle]="{'overflow':'visible'}" [style]="{width: '400px'}" [resizable]="true" header="Editar Materias Primas" [modal]="true">
  <ng-template pTemplate="content">
    <br>
    <form [formGroup]="FormEdicionMateriaPrima" (ngSubmit)="editarMateriaPrima()">
      <div class="mb-3">
        <div class="row g-4">

          <!-- ID -->
          <div class="col-md-12">
            <span class="p-float-label">
              <input formControlName="Id" id="Id" type="number" pInputText [readOnly]="true" required/>
              <label for="Id">ID</label>
            </span>
          </div>

          <!-- Nombre -->
          <div class="col-md-12">
            <span class="p-float-label">
              <input formControlName="Nombre" id="Nombre" type="text" pInputText required/>
              <label for="Nombre">Nombre</label>
            </span>
          </div>

          <!-- Categoria -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-dropdown formControlName="Categoria" inputId="Categoria" [options]="categorias" optionValue="catMP_Id" optionLabel="catMP_Nombre" [autoDisplayFirst]="false"></p-dropdown>
              <label for="Categoria">Categoria</label>
            </span>
          </div>

          <!-- Ancho -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-inputNumber formControlName="Ancho" inputId="Ancho" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
              <label for="Ancho">Ancho</label>
            </span>
          </div>

          <!-- Micras -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-inputNumber formControlName="Micras" inputId="Micras" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
              <label for="Micras">Micras</label>
            </span>
          </div>

          <!-- Cantidad -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-inputNumber formControlName="Stock" inputId="Stock" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
              <label for="Stock">Cantidad</label>
            </span>
          </div>

          <!-- Unidad de Medida -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-dropdown formControlName="UndMed" inputId="UndMed" [options]="undMedidas" optionValue="undMed_Id" optionLabel="undMed_Id" [autoDisplayFirst]="false"></p-dropdown>
              <label for="UndMed">Und. Medida</label>
            </span>
          </div>

          <!-- Precio -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-inputNumber formControlName="Precio" inputId="Precio" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
              <label for="Precio">Precio</label>
            </span>
          </div>

          <!-- Precio Estandar -->
          <div class="col-md-6">
            <span class="p-float-label">
              <p-inputNumber formControlName="PrecioEstandar" inputId="Precio" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
              <label for="Precio">Precio Estandar</label>
            </span>
          </div>

          <!-- Nombre BOPP Generico -->
          <div class="col-md-6" *ngIf="esBopp">
            <span class="p-float-label">
              <input formControlName="BoppGenerico" id="BoppGenerico" list="BoppGen" (change)="seleccionarBoppsGenericos()" autocomplete="off" type="text" pInputText pTooltip="Elige el nombre de bopp genérico por ancho y micras asociado al rollo que deseas editar!" [required]="esBopp"/>
              <datalist id="BoppGen">
                <option value={{item.boppGen_Id}} *ngFor="let item of boppsGenericos">{{item.boppGen_Nombre}}</option>
              </datalist>
              <label for="Nombre">Bopp Genérico</label>
            </span>
          </div>

          <!--Boton Ingresar al sistema-->
          <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-center">
            <button pButton pRipple label="Editar" [disabled]="FormEdicionMateriaPrima.invalid" type="submit" class="p-button-success"></button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>

<!--Modal para ver los bopp asociados al bopp genérico seleccionado-->
<p-dialog [(visible)]="modalVerBopps" [style]="{width: '90vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="Rollo(s) asociado(s) a {{genericoSeleccionado}}" [modal]="true" >
  <ng-template pTemplate="content">

    <div class="row g-3 font-size-14" id="table">
      <p-table
        #dt_Biorientados2
        [value]="arrayModalBopp"
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="arrayModalBopp.length"
        [rowsPerPageOptions]="[10,25,50,100,arrayModalBopp.length]"
        [rowHover]="true"
        dataKey="Id"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr class="font-size-16">
            <th></th>
            <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Id', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Nombre', 'contains')"></th>
            <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Ancho', 'contains')"></th>
            <th ><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Micras', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Inicial', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Entrada', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Salida', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Cant', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Diferencia', 'contains')"></th>
            <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'UndCant', 'contains')"></th>
            <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'PrecioUnd', 'contains')"></th>
            <th *ngIf="ValidarRol == 1"><input pInputText type="number" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'SubTotal', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltrosBiorientados2($event, 'Categoria', 'contains')"></th>
          </tr>
          <tr>
            <th>#</th>
            <th scope="col" pSortableColumn="Id">ID
              <p-sortIcon field="Id"></p-sortIcon>
            </th>
            <th pSortableColumn="Nombre" pReorderableColumn scope="col">Nombre
              <p-sortIcon field="Nombre"></p-sortIcon>
            </th>
            <th id="Ancho" pSortableColumn="Ancho" pReorderableColumn scope="col">Ancho
              <p-sortIcon field="Ancho"></p-sortIcon>
            </th>
            <th id="Micras" pSortableColumn="Micras" pReorderableColumn scope="col">Micras
              <p-sortIcon field="Micras"></p-sortIcon>
            </th>
            <th pSortableColumn="Inicial" pReorderableColumn scope="col">Inicial
              <p-sortIcon field="Inicial"></p-sortIcon>
            </th>
            <th pSortableColumn="Entrada" pReorderableColumn scope="col">Entrada
              <p-sortIcon field="Entrada"></p-sortIcon>
            </th>
            <th pSortableColumn="Salida" pReorderableColumn scope="col">Salida
              <p-sortIcon field="Salida"></p-sortIcon>
            </th>
            <th pSortableColumn="Cant" pReorderableColumn scope="col">Stock
              <p-sortIcon field="Cant"></p-sortIcon>
            </th>
            <th pSortableColumn="Diferencia" pReorderableColumn scope="col">Diferencia
              <p-sortIcon field="Diferencia"></p-sortIcon>
            </th>
            <th scope="col">Medida
            </th>
            <th pSortableColumn="PrecioUnd" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">Precio Und
              <p-sortIcon field="PrecioUnd"></p-sortIcon>
            </th>
            <th pSortableColumn="SubTotal" pReorderableColumn scope="col" *ngIf="ValidarRol == 1">SubTotal
              <p-sortIcon field="SubTotal"></p-sortIcon>
            </th>
            <th pSortableColumn="Categoria" pReorderableColumn scope="col">Categoria
              <p-sortIcon field="Categoria"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiaPrima let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex + 1}}</td>
            <td>{{materiaPrima.Id}}</td>
            <td>{{materiaPrima.Nombre}}</td>
            <td>{{materiaPrima.Ancho | number}}</td>
            <td>{{materiaPrima.Micras | number}}</td>
            <td>{{materiaPrima.Inicial | number}}</td>
            <td>{{materiaPrima.Entrada | number}}</td>
            <td>{{materiaPrima.Salida | number}}</td>
            <th class="columnaCantidad">{{materiaPrima.Cant | number}}</th>
            <td>{{materiaPrima.Diferencia | number}}</td>
            <td>{{materiaPrima.UndCant}}</td>
            <ng-container *ngIf="ValidarRol == 1">
              <td>{{materiaPrima.PrecioUnd | number}}</td>
              <td>{{materiaPrima.SubTotal | number}}</td>
            </ng-container>
            <td>{{materiaPrima.Categoria}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5" class="text-right" *ngIf="ValidarRol == 1">Totales</td>
            <td *ngIf="ValidarRol == 1">{{cantInicialBopp | number}}</td>
            <td *ngIf="ValidarRol == 1">{{cantEntranteBopp | number}}</td>
            <td *ngIf="ValidarRol == 1">{{cantSalienteBopp | number}}</td>
            <td *ngIf="ValidarRol == 1">{{cantExistenciasBopp | number}}</td>
            <td *ngIf="ValidarRol == 1">{{cantDiferenciaBopp | number}}</td>
            <td *ngIf="ValidarRol == 1" colspan="2" class="text-left">{{'Kg'}}</td>
            <td *ngIf="ValidarRol == 1">{{valorTotalBopp | number}}</td>
            <td *ngIf="ValidarRol == 1">COP</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>

</p-dialog>
