<ng-container *ngIf="!modeModal">
  <app-menuLateral></app-menuLateral>
  <br>
  <app-VistasFavoritas></app-VistasFavoritas>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="mb-4 Titulo">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="font-size-32">Reporte de Procesos OT</h2>
  </div>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="font-size-22"><i class="pi pi-search"></i> Búsqueda por filtros</h4>
  </div>

  <!-- Inicio formulario Estado OT -->
  <form [formGroup]="formularioOT">
    <div class="mb-4" id="filtrosBusqueda">
      <div class="row g-4">

        <!--OT-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="idDocumento" id="OT" type="text" pInputText/>
            <label for="OT">OT</label>
          </span>
        </div>

        <!-- Fecha Inicial -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="fecha" inputId="FechaInicial" [showIcon]="true"></p-calendar>
            <label for="FechaInicial">Fecha Inicial</label>
          </span>
        </div>

        <!-- Fecha Final -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="fechaFinal" inputId="FechaFinal" [showIcon]="true"></p-calendar>
            <label for="FechaFinal">Fecha Final</label>
          </span>
        </div>

        <!-- Vendedores -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-4 col-xxl-4">
          <span class="p-float-label">
            <input formControlName="Vendedor" id="Vendedores" list="Vendedor" (change)="buscarVendedor()" type="text" pInputText/>
            <datalist id="Vendedor">
              <option value={{item.usua_Id}} *ngFor="let item of vendedores">{{item.usua_Nombre}}</option>
            </datalist>
            <label for="Vendedores">Vendedor</label>
          </span>
        </div>

        <!-- Estados -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="estado" inputId="estado" [options]="estados" optionValue="estado_Id" optionLabel="estado_Nombre" [autoDisplayFirst]="false"></p-dropdown>
            <label for="estado">Estado OT</label>
          </span>
        </div>

        <!-- Clientes -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-4 col-xxl-4">
          <span class="p-float-label">
            <input formControlName="cliente" id="Cliente" list="clientes" type="text" pInputText (change)="selectEventCliente()"/>
            <datalist id="clientes">
              <option value={{item.cli_Id}} *ngFor="let item of clientes">{{item.cli_Nombre}}</option>
            </datalist>
            <label for="Cliente">Cliente</label>
          </span>
        </div>

        <!-- Producto -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="producto" id="Producto" type="text" pInputText/>
            <label for="Producto">Producto</label>
          </span>
        </div>

        <!-- Fallas -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2" id="fallas">
          <span class="p-float-label">
            <p-dropdown formControlName="fallasOT" inputId="Fallas" [options]="fallas" optionValue="falla_Id" optionLabel="falla_Nombre" [autoDisplayFirst]="false"></p-dropdown>
            <label for="Fallas">Fallas OT</label>
          </span>
        </div>

        <!-- Observación -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-4 col-xxl-4" id="observacion">
          <span class="p-float-label">
            <textarea formControlName="ObservacionOT" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>
      </div>
    </div>

    <!-- Botones para consultar OT -->
    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton id="consultar" class="p-button-danger" type="button" label="Consultar" icon="pi pi-search" (click)="consultarInformacionOrdenesTrabajo()"></button>
        <button pButton id="limpiarTodo" class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
        <button pButton id="agregarFalla" class="p-button-warning" type="button" label="Agregar Falla" icon="pi pi-check-circle" (click)="anadirFalla()"></button>
        <button pButton id="excel" class="p-button-success" type="button" label="Exportar a Excel" icon="pi pi-file-excel" (click)="exportToExcel()"></button>
      </div>
    </div>
  </form>
  <!--Fin Formulario -->

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <div class="row g-3">
      <div id="centrar" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="font-size-24"><i class="pi pi-file-edit font-size-24"></i> Ordenes de Trabajo</h4>
      </div>
      <div id="centrar" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" >
        <p class="text-right"><b>Haz clic sobre los botones </b> <i class="pi pi-info-circle"></i> y observa que <b>indica cada color </b> <i class="pi pi-palette"></i></p>
      </div>
    </div>
  </div>

  <!-- Tabla donde se mostrarán las OT Consultadas -->
  <div *ngIf="load" id="tableProcesos" class="font-size-14">
    <div class="mb-4 ">
      <div class="row g-3">
        <!-- Buscador de columnas -->
        <p-toolbar>
          <div id="rowToolbar" class="row g-3">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"id="columnasSeleccionables">
              <p-multiSelect
              [options]="columnas"
              [(ngModel)]="columnasSeleccionada"
              optionLabel="header"
              selectedItemsLabel="{0} columnas seleccionadas"
              placeholder="Elige las columnas que quieres ver"
              pTooltip="Elige más columnas y podrás visualizarlas al final de la tabla"
              tooltipPosition="top">
              </p-multiSelect>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center" id="cambiarEstados">
              <button pButton icon="pi pi-pencil" label="Cambiar Estado" class="p-button-success p-mr-2" [disabled]="ordenesSeleccionadas.length == 0" (click)="abrirModalCambioEstado()"></button>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-right" id="botonesColores">
              <p-button class="btnAmarillo" styleClass="p-button-rounded mr-1" label="{{cantidadOTIniciada}}" (click)="mostrarDescripcion($event, 'amarillo')" pTooltip="Iniciada(s)" tooltipPosition="left"></p-button>
              <p-button class="btnNaranja" styleClass="p-button-rounded mr-1" label="{{catidadOTAbiertas}}" (click)="mostrarDescripcion($event, 'naranja')" pTooltip="Abierta(s)" tooltipPosition="left"></p-button>
              <p-button class="btnVerde" styleClass="p-button-rounded mr-1" label="{{cantidadOTTerminada}}" (click)="mostrarDescripcion($event, 'verde')" pTooltip="Terminada(s)" tooltipPosition="left"></p-button>
              <p-button class="btnAzul" styleClass="p-button-rounded mr-1" label="{{cantidadOTAsignadas}}" (click)="mostrarDescripcion($event, 'azul')" pTooltip="Asignada(s)" tooltipPosition="left"></p-button>
              <p-button class="btnRojo" styleClass="p-button-rounded mr-1" label="{{cantidadOtAnulada}}" (click)="mostrarDescripcion($event, 'rojo')" pTooltip="Anulada(s)" tooltipPosition="left"></p-button>
              <p-button class="btnVerde2" styleClass="p-button-rounded mr-1" label="{{cantidadOTCerrada}}" (click)="mostrarDescripcion($event, 'verde2')" pTooltip="Cerrada(s)" tooltipPosition="left"></p-button>
              <p-button class="btnGris" styleClass="p-button-rounded" label="{{0}}" pTooltip="No iniciada(s)" (click)="mostrarDescripcion($event, 'gris')" tooltipPosition="left"></p-button>
            </div>
          </div>
        </p-toolbar>

        <!-- Tabla con información de la orden de trabajo -->
        <p-table
          #dt
          [columns]="columnasSeleccionada"
          [value]="ArrayDocumento"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="30"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[10,20,30,50,70,100, ArrayDocumento.length]"
          [rowHover]="true"
          dataKey="ot"
          [scrollable]="true"
          scrollHeight="50rem"
          [(selection)]="ordenesSeleccionadas">

          <!-- Titulos -->
          <ng-template pTemplate="header" let-columns>
            <tr class="font-size-16" id="filtros">
              <th pFrozenColumn></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'ot', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'cli', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'prod', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Mp', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'ext', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'imp', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'rot', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'dbl', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'lam', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'cor', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'emp', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'sel', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'wik', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'cant', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'est', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'fecha', 'contains')"></th>
              <th *ngFor="let col of columns"><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, col.field, 'contains')"></th>
              <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
            <tr class="font-size-13" id="columnas">
              <th style="width: 3rem" pFrozenColumn><p-tableHeaderCheckbox id="elegirTodo"></p-tableHeaderCheckbox></th>
              <th scope="col" pSortableColumn="ot" pResizableColumn id="ordenTrabajo">OT <p-sortIcon field="ot" title="Order por OT"></p-sortIcon></th>
              <th scope="col" pSortableColumn="cli" pResizableColumn>Cliente <p-sortIcon field="cli"></p-sortIcon></th>
              <th scope="col" pSortableColumn="prod" pResizableColumn>Producto <p-sortIcon field="prod"></p-sortIcon></th>
              <th scope="col" pSortableColumn="Mp" pResizableColumn>Materia Prima <p-sortIcon field="Mp"></p-sortIcon></th>
              <th scope="col" pSortableColumn="ext" pResizableColumn>Extrusión <p-sortIcon field="ext"></p-sortIcon></th>
              <th scope="col" pSortableColumn="imp" pResizableColumn>Impresión <p-sortIcon field="imp"></p-sortIcon></th>
              <th scope="col" pSortableColumn="rot" pResizableColumn>Rotograbado <p-sortIcon field="rot"></p-sortIcon></th>
              <th scope="col" pSortableColumn="dbl" pResizableColumn>Doblado <p-sortIcon field="dbl"></p-sortIcon></th>
              <th scope="col" pSortableColumn="lam" pResizableColumn>Laminado <p-sortIcon field="lam"></p-sortIcon></th>
              <th scope="col" pSortableColumn="cor" pResizableColumn>Corte <p-sortIcon field="cor"></p-sortIcon></th>
              <th scope="col" pSortableColumn="emp" pResizableColumn>Empaque <p-sortIcon field="emp"></p-sortIcon></th>
              <th scope="col" pSortableColumn="sel" pResizableColumn>Sellado <p-sortIcon field="sel"></p-sortIcon></th>
              <th scope="col" pSortableColumn="wik" pResizableColumn>Wiketiado <p-sortIcon field="wik"></p-sortIcon></th>
              <th scope="col" pSortableColumn="cant" pResizableColumn>Cant. Producir <p-sortIcon field="cant"></p-sortIcon></th>
              <th scope="col" pSortableColumn="est" pResizableColumn>Estados <p-sortIcon field="est"></p-sortIcon></th>
              <th scope="col" pSortableColumn="fecha" pResizableColumn>Fecha Creación <p-sortIcon field="fecha"></p-sortIcon></th>
              <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" pResizableColumn>{{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
              <th id="cambiarEstado" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
          </ng-template>
          <!-- Cuerpo -->
          <ng-template pTemplate="body" let-data let-columns="columns">
            <tr style="cursor: pointer; cursor: hand;">
              <td pFrozenColumn>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
              </td>
              <td id="ot" scope="col" (click)="reporteOT(data.ot)"><b>{{data.ot}}</b></td>
              <td id="mp" scope="col">{{data.cli}}</td>
              <td id="mp" scope="col">{{data.prod}}</td>
              <td id="mp" scope="col"><b>{{data.Mp | number : '1.2-2'}}</b></td>
              <!-- Extrusion -->
              <!-- Termianda -->
              <ng-container *ngIf="data.ext >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="ext" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.ext < data.cant && data.ext > 0">
                <td id="ext" scope="col" style="background-color: #F3FC20; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila1">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="ext" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext == 0 ? 'NO' : data.ext | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="ext" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext == 0 ? 'NO' : data.ext | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="ext" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext == 0 ? 'NO' : data.ext | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila1>
                <td *ngIf="data.est != 'Anulado' && data.ext == 0 && data.ext < data.cant" id="ext" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext == 0 ? 'NO' : data.ext | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.ext == 0 && data.ext < data.cant" id="ext" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'EXTRUSION')">{{data.ext == 0 ? 'NO' : data.ext | number}}</td>
              </ng-template>

              <!-- Impresion -->
              <!-- Termianda -->
              <ng-container *ngIf="data.imp >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="imp" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')" >{{data.imp | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.imp < data.cant && data.imp > 0">
                <td id="imp" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila2">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="imp" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp == 0 ? 'NO' : data.imp | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="imp" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp == 0 ? 'NO' : data.imp | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="imp" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp == 0 ? 'NO' : data.imp | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila2>
                <td *ngIf="data.est != 'Anulado' && data.imp == 0 && data.imp < data.cant" id="imp" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp == 0 ? 'NO' : data.imp | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.imp == 0 && data.imp < data.cant" id="imp" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.imp == 0 ? 'NO' : data.imp | number}}</td>
              </ng-template>

              <!-- Rotograbado -->
              <!-- Termianda -->
              <ng-container *ngIf="data.rot >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="rot" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'ROTOGRABADO')">{{data.rot | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.rot < data.cant && data.rot > 0">
                <td id="rot" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'ROTOGRABADO')">{{data.rot | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila3">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="rot" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.rot == 0 ? 'NO' : data.rot | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="rot" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.rot == 0 ? 'NO' : data.rot | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="rot" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'IMPRESION')">{{data.rot == 0 ? 'NO' : data.rot | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila3>
                <td *ngIf="data.est != 'Anulado' && data.rot == 0 && data.rot < data.cant" id="rot" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'ROTOGRABADO')">{{data.rot == 0 ? 'NO' : data.rot | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.rot == 0 && data.rot < data.cant" id="rot" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'ROTOGRABADO')">{{data.rot == 0 ? 'NO' : data.rot | number}}</td>
              </ng-template>

              <!-- Doblado -->
              <!-- Termianda -->
              <ng-container *ngIf="data.dbl >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="dbl" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.dbl < data.cant && data.dbl > 0">
                <td id="dbl" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulado -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila4">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="dbl" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl == 0 ? 'NO' : data.dbl | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="dbl" scope="col" style="background-color: #F6D45D; color: #495057;" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl == 0 ? 'NO' : data.dbl | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="dbl" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl == 0 ? 'NO' : data.dbl | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila4>
                <td *ngIf="data.est != 'Anulado' && data.dbl == 0 && data.dbl < data.cant" id="dbl" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl == 0 ? 'NO' : data.dbl | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.dbl == 0 && data.dbl < data.cant" id="dbl" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'DOBLADO')">{{data.dbl == 0 ? 'NO' : data.dbl | number}}</td>
              </ng-template>

              <!-- laminado -->
              <!-- Termianda -->
              <ng-container *ngIf="data.lam >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="lam" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.lam < data.cant && data.lam > 0">
                <td id="lam" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulado -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila5">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="lam" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam == 0 ? 'NO' : data.lam | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="lam" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam == 0 ? 'NO' : data.lam | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="lam" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam == 0 ? 'NO' : data.lam | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila5>
                <td *ngIf="data.est != 'Anulado' && data.lam == 0 && data.lam < data.cant" id="lam" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam == 0 ? 'NO' : data.lam | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.lam == 0 && data.lam < data.cant" id="lam" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'LAMINADO')">{{data.lam == 0 ? 'NO' : data.lam | number}}</td>
              </ng-template>

              <!-- Corte -->
              <!-- Termianda -->
              <ng-container *ngIf="data.cor >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="cor" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor | number}}</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.cor < data.cant && data.cor > 0">
                <td id="cor" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor | number}}</td>
              </ng-container>
              <!-- Abierta / Asignada / Anulado -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila6">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="cor" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor == 0 ? 'NO' : data.cor | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="cor" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor == 0 ? 'NO' : data.cor | number}}</td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="cor" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor == 0 ? 'NO' : data.cor | number}}</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila6>
                <td *ngIf="data.est != 'Anulado' && data.cor == 0 && data.cor < data.cant" id="cor" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor == 0 ? 'NO' : data.cor | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.cor == 0 && data.cor < data.cant" id="cor" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'CORTE')">{{data.cor == 0 ? 'NO' : data.cor | number}}</td>
              </ng-template>

              <!-- Empaque -->
              <!-- Termianda -->
              <ng-container *ngIf="data.emp >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="emp" scope="col" style="background-color: #8AFC9B; color: #495057 " (click)="seleccionarOTxProceso(data, 'EMPAQUE')"><b>{{data.emp | number}}</b></td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.emp < data.cant && data.emp > 0">
                <td id="emp" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')"><b>{{data.emp | number}}</b></td>
              </ng-container>
              <!-- Abierta / Asignada / Anulada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila7">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="emp" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')"><b>{{data.emp == 0 ? 'NO' : data.emp | number}}</b></td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="emp" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')"><b>{{data.emp == 0 ? 'NO' : data.emp | number}}</b></td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="emp" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')"><b>{{data.emp == 0 ? 'NO' : data.emp | number}}</b></td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila7>
                <td *ngIf="data.est != 'Anulado' && data.emp == 0 && data.emp < data.cant" id="emp" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')">{{data.emp == 0 ? 'NO' : data.emp | number}}</td>
                <td *ngIf="data.est == 'Anulado' && data.emp == 0 && data.emp < data.cant" id="emp" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'EMPAQUE')">{{data.emp == 0 ? 'NO' : data.emp | number}}</td>
              </ng-template>

              <!-- Sellado -->
              <!-- Termianda -->
              <ng-container *ngIf="data.sel >= data.cant && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="sel" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')"><b>{{data.sel | number}} Kg - {{data.selUnd | number}} Und</b></td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.sel < data.cant && data.sel > 0">
                <td id="sel" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')"><b>{{data.sel | number}} Kg - {{data.selUnd | number}} Und</b></td>
              </ng-container>
              <!-- Abierta / Asignada / Anulada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila8">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="sel" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')"><b>{{data.sel == 0 ? 'NO' : data.sel | number}} Kg - {{data.selUnd == 0 ? 'NO' : data.selUnd | number}} Und</b></td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="sel" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')"><b>{{data.sel == 0 ? 'NO' : data.sel | number}} Kg - {{data.selUnd == 0 ? 'NO' : data.selUnd | number}} Und</b></td>
                </ng-container>
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="sel" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')"><b>{{data.sel == 0 ? 'NO' : data.sel | number}} Kg - {{data.selUnd == 0 ? 'NO' : data.selUnd | number}} Und</b></td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila8>
                <td *ngIf="data.est != 'Anulado' && data.sel == 0 && data.sel < data.cant" id="sel" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')">{{data.sel == 0 ? 'NO' : data.sel | number}} Kg - {{data.selUnd == 0 ? 'NO' : data.selUnd | number}} Und</td>
                <td *ngIf="data.est == 'Anulado' && data.sel == 0 && data.sel < data.cant" id="sel" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'SELLADO')">{{data.sel == 0 ? 'NO' : data.sel | number}} Kg - {{data.selUnd == 0 ? 'NO' : data.selUnd | number}} Und</td>
              </ng-template>

              <!-- Wiketiado -->
              <!-- Termianda -->
              <ng-container *ngIf="data.wik >= (data.cant) && data.est != 'Abierta'  && data.est != 'Asignada'">
                <td id="wik" scope="col" style="background-color: #8AFC9B; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd | number}} Und</td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.wik < (data.cant) && data.wik > 0">
                <td id="wik" scope="col" style="background-color: #F9FC5B; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd | number}} Und</td>
              </ng-container>
              <!-- Asignada -->
              <ng-container *ngIf="(data.ext + data.imp + data.rot + data.dbl + data.lam + data.cor + data.emp  + data.sel + data.wik) == 0; else fila9">
                <ng-container *ngIf="data.est == 'Asignada'">
                  <td id="wik" scope="col" style="background-color: #83D3FF; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd == 0 ? 'NO' : data.wikUnd | number}} Und</td>
                </ng-container>
                <!-- Abierta -->
                <ng-container *ngIf="data.est == 'Abierta'">
                  <td id="wik" scope="col" style="background-color: #F6D45D; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd == 0 ? 'NO' : data.wikUnd | number}} Und</td>
                </ng-container>
                <!-- Anulada -->
                <ng-container *ngIf="data.est == 'Anulado'">
                  <td id="wik" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd == 0 ? 'NO' : data.wikUnd | number}} Und</td>
                </ng-container>
              </ng-container>
              <!-- No iniciado -->
              <ng-template #fila9>
                <td *ngIf="data.est != 'Anulado' && data.wik == 0 && data.wik < data.cant" id="wik" scope="col" style="background-color: #EAEAEA; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd == 0 ? 'NO' : data.wikUnd | number}} Und</td>
                <td *ngIf="data.est == 'Anulado' && data.wik == 0 && data.wik < data.cant" id="wik" scope="col" style="background-color: #FF7878; color: #495057" (click)="seleccionarOTxProceso(data, 'Wiketiado')">{{data.wikUnd == 0 ? 'NO' : data.wikUnd | number}} Und</td>
              </ng-template>

              <td id="cant" scope="col"><b>{{data.cantUnd}}</b></td>

              <!-- Terminada -->
              <ng-container *ngIf="data.est == 'Terminada'">
                <td id="est" scope="col" style="background-color: #8AFC9B; color: #495057"><b>{{data.est | uppercase}}</b></td>
              </ng-container>
              <!-- Iniciada -->
              <ng-container *ngIf="data.est == 'En proceso'">
                <td id="est" scope="col" style="background-color: #F9FC5B; color: #495057" ><b>{{data.est | uppercase}}</b></td>
              </ng-container>
              <!-- Asignada -->
              <ng-container *ngIf="data.est == 'Asignada'">
                <td id="est" scope="col" style="background-color: #83D3FF; color: #495057"><b>{{data.est | uppercase}}</b></td>
              </ng-container>
              <!-- Abierta -->
              <ng-container *ngIf="data.est == 'Abierta'">
                <td id="est" scope="col" style="background-color: #F6D45D; color: #495057"><b>{{data.est | uppercase}}</b></td>
              </ng-container>
              <!-- Finalizada -->
              <ng-container *ngIf="data.est == 'Anulado'">
                <td id="est" scope="col" style="background-color: #FF7878; color: #495057" ><b>{{data.est | uppercase}}</b></td>
              </ng-container>
              <!-- Cerradas -->
              <ng-container *ngIf="data.est == 'Cerrada'">
                <td id="est" scope="col" style="background-color: #53CC48; color: #FFF"><b>{{data.est | uppercase}}</b></td>
              </ng-container>

              <!-- Fecha Creacion OT -->
              <td id="fecha" scope="col">{{data.fecha | date : 'yyyy-MM-dd'}}</td>

              <td *ngFor="let col of columns">{{data[col.field]}}</td>

              <td *ngIf="ValidarRol == 1 && storage_Id != 101" pFrozenColumn alignFrozen="right" [frozen]="true">
                <button pButton pRipple icon="pi pi-pencil" [style]="{width: '30px', height: '30px'}" class="p-button-rounded p-button-success p-mr-2" (click)="abrirModalCambioEstado(data)"></button>
              </td>
            </tr>
          </ng-template>
          <!-- Suma total de registros -->
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              En total hay {{ArrayDocumento ? ArrayDocumento.length : 0 | number}} orden(es) de trabajo.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-card>


<!-- Modal Para cambiar el estado de la orden de trabajo -->
<p-dialog [(visible)]="modalEstadosOT" [draggable]="false" [style]="{width: '350px'}" header="Cambio de estado de OT" [modal]="true" >
  <ng-template pTemplate="content">
    <div class="p-field">
      <h6 for="name">Orden de Trabajo <b>{{otSeleccionada}}</b></h6>
    </div>

    <div class="p-field">
      <label class="p-mb-3">Estados de las ordenes de trabajo</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category1" name="category" value="15" [(ngModel)]="estadoModal"></p-radioButton>
          <label for="category1" style="padding-left: 3%;">Abierta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category2" name="category" value="3" [(ngModel)]="estadoModal"></p-radioButton>
          <label for="category1" style="padding-left: 3%;">Anulada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category3" name="category" value="14" [(ngModel)]="estadoModal"></p-radioButton>
          <label for="category2" style="padding-left: 3%;">Asignada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category5" name="category" value="16" [(ngModel)]="estadoModal"></p-radioButton>
          <label for="category3" style="padding-left: 3%;">En Proceso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category6" name="category" value="17" [(ngModel)]="estadoModal"></p-radioButton>
          <label for="category4" style="padding-left: 3%;">Terminada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="p-field-radiobutton p-col-6" style="margin-left: 30%;">
          <p-radioButton id="category4"name="category" value="18" [(ngModel)]="estadoModal"></p-radioButton>
          <label class="font-size-20" for="category2" style="padding-left: 3%; color: #FF7878;">Revisada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="cambirEstadoOT()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dialog [(visible)]="modalProcesos" [draggable]="false" [style]="{width: '70%'}" header="Rollos de la OT" [modal]="true" >
  <ng-template pTemplate="content">
    <app-DatosOT-Status></app-DatosOT-Status>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="mostrarModalCostos" [draggable]="false" [style]="{width: '70%'}" header="Reporte de costos" [modal]="true" >
  <ng-template pTemplate="content">
    <app-reporteCostosOT></app-reporteCostosOT>
  </ng-template>
</p-dialog>

<p-overlayPanel #op [style]="{background: 'rgba(4, 13, 25)', width: '350px', color : 'rgb(247, 247, 247)' }" >
  <ng-template pTemplate>
    <div [innerHTML]="infoColor"></div>
  </ng-template>
</p-overlayPanel>
