span{
  color: #d83542;
}

.id {
  border: none;
  width: 100%;
}

.amarillo {
  background-color: #F3FC20;
}

.naranja {
  background-color: #F6D45D;
}

.rojo {
  background-color: #FF7878;
}

.verde {
  background-color: #8AFC9B;
}

.azul {
  background-color: #83D3FF;
}

.gris{
  background-color: #DDDDDD;
}

.verde2 {
  background-color: #53CC48;
}

a {
  color: #000;
}

a:hover {
  color: #555;
}

#tableProcesos td{
 /* max-width: 50px; */
 font-size: 13px;
}

@media (min-width: 1370px){
  .tablaDatos{
    min-width: 1500px;
  }

  .tableColores {
    text-align: center;
    width: 1250px;
  }

  .tableColores td .collapse{
    margin-top: 1%;
    text-align: start;
    font-size: 11px;

  }
}

@media (max-width: 1369px){
  .tableColores {
    text-align: center;
  }

  .tableColores td .collapse{
    margin-top: 1%;
    font-size: 11px;
    text-align: center;
  }
}

.titulos_Paginador{
  display: flex;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
  font-size: smaller;
}
