span{
  color: #db4149;
}

.id {
  border: none;
  width: 100%;
}

.amarillo {
  background-color: #F3FC20;
  color: #495057
}

.naranja {
  background-color: #F6D45D;
  color: #495057
}

.rojo {
  background-color: #FF7878;
  color: #495057
}

.verde {
  background-color: #8AFC9B;
  color: #495057
}

.azul {
  background-color: #83D3FF;
  color: #495057
}

.gris{
  background-color: #DDDDDD;
  color: #495057
}

.verde2 {
  background-color: #53CC48;
  color: #495057
}

a {
  color: #000;
}

a:hover {
  color: #555;
}

#tableProcesos td{
  font-size: calc(var(--font-size) * 13px);
}

.titulos_Paginador{
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-input-icon-left {
  width: 100%;
}

p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-calendar ::ng-deep span button {
  background-color: var(--rojo);
  border: 0;
  transition: all 1s;
}

p-calendar ::ng-deep span .p-datepicker-trigger:hover {
  background: var(--rojoHover);
}

p-calendar ::ng-deep .p-datepicker-header button {
  background: #fff0;
}

p-calendar ::ng-deep .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar ::ng-deep span button span {
  display: block;
}

p-dropdown {
  margin: 0;
}

p-dropdown ::ng-deep div, p-dropdown ::ng-deep div ::ng-deep span {
  width: 100%;
}

p-toolbar ::ng-deep .p-toolbar, p-toolbar ::ng-deep .p-toolbar ::ng-deep .row {
  width: 100%;
}

p-multiSelect {
  margin: 0;
}

p-multiSelect ::ng-deep div {
  width: 100%;
}

p-multiselect ::ng-deep p-overlay ::ng-deep .p-overlay {
  min-width: none !important;
}

::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
  display: flex;
  width: 100%;
}

.btnAmarillo ::ng-deep .p-button, .p-button-rounded {
  background: #F3FC20;
  border-color: #b9be10;
  color: #495057;
}

.btnNaranja ::ng-deep .p-button, .p-button-rounded {
  background: #F6D45D;
  border-color: #b89a31;
  color: #495057
}

.btnRojo ::ng-deep .p-button, .p-button-rounded {
  background: #FF7878;
  border-color: #da5e5e;
  color: #FFF
}

.btnVerde ::ng-deep .p-button, .p-button-rounded {
  background: #8AFC9B;
  border-color: #5bcc6c;
  color: #495057
}

.btnAzul ::ng-deep .p-button, .p-button-rounded {
  background: #83D3FF;
  border-color: #5aadda;
  color: #495057
}

.btnGris ::ng-deep .p-button, .p-button-rounded {
  background: #DDDDDD;
  border-color: #adadad;
  color: #495057
}

.btnVerde2 ::ng-deep .p-button, .p-button-rounded {
  background: #53CC48;
  border-color: #44a33b;
  color: #FFF;
}

@media (max-width: 576px){
  .text-right {
    text-align: center !important;
  }
}

@media (max-width: 792px){
  .text-right {
    text-align: center !important;
  }
}

@media (min-width: 1370px){
  .tablaDatos{
    min-width: 1500px;
  }

  .table-responsive {
    width: 100%;
  }
}
