  <!-- Navegador parte superior -->
  <app-menuLateral></app-menuLateral>

  <div class="d-flex justify-content-center overlay" *ngIf="!load">
    <div class="spinner-border text-danger" role="status" style="margin: auto;">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div class="contain">
    <!--  fin Navegador de parte superior -->

    <div class="container-fluid">
      <div class="mb-4 Titulo">
        <h2 class="tituloRojo">Reporte de Procesos OT</h2>
      </div>
      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="container">
        <div class="mb-4">
          <h4 class="tituloRojo">Búsqueda por filtros</h4>
        </div>
        <!-- Inicio formulario Estado OT -->
        <form [formGroup]="formularioOT">
          <!-- Inicio fila 1 de campos -->
          <div class="mb-4">
            <div class="row g-3">
            <!--OT-->
              <div class="form-floating col-md">
                <input formControlName="idDocumento" type="number" class="form-control" id="floatingInput" title="N° de la Orden de Trabajo" required >
                <label for="floatingInput">OT</label>
              </div>
              <!-- Fecha inicial -->
              <div class="form-floating col-md">
                <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput" title="Fecha de creación de la Orden de trabajo" required >
                <label for="floatingInput">Fecha Inicial</label>
              </div>
              <!-- Fecha final -->
              <div class="form-floating col-md">
                <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput"required >
                <label for="floatingInput">Fecha Final</label>
              </div>

              <!-- Estados -->
              <div class="form-floating col-md">
                <select formControlName="estado" class="form-select form-select-sm" id="floatingSelect" title="Estado de la Orden de Trabajo" required>
                  <option [ngValue]="estado.estado_Id" *ngFor="let estado of estados">{{estado.estado_Nombre}}</option>
                </select>
                <label for="floatingSelect">Estado OT</label>
              </div>

              <!-- Fallas -->
              <div class="form-floating col-md">
                <select formControlName="fallasOT" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example">
                  <option [ngValue]="falla.falla_Id" *ngFor="let falla of fallas">{{falla.falla_Nombre}}</option>
                </select>
                <label for="floatingSelect">Fallas OT</label>
              </div>

              <!-- Observación -->
              <div class="form-floating col-6 col-md-12">
                <textarea formControlName="ObservacionOT"  id="floatingTextArea" type="text" class="form-control form-control-sm" maxlength="200" ></textarea>
                <label for="floatingTextArea">Observación</label>
              </div>
            </div>
          </div>
          <!-- Fin fila 1 de campos -->

          <!-- Botones para consultar OT -->
          <div class="mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="consultarOT()">Consultar</button>
              <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar campos</button>
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="anadirFalla()" title="Para agregar una falla debe seleccionar una OT.">Agregar Falla</button>
              <button class="btn btn-danger btn-danger-sm" type="button"  (click)="exportToExcel()">Exportar A Excel</button>
            </div>
          </div>
        </form>
        <!--Fin Formulario -->

        <div class="mb-4">
          <hr class="colorLinea">
        </div>

        <div class="mb-4">
          <h4 class="tituloRojo">Listado de Ordenes de Trabajo</h4>
          <h4 class="tituloRojo" *ngIf="otSeleccionada != 0">OT Seleccionada: {{otSeleccionada}}</h4>
        </div>

        <!-- Tabla donde se mostrarán las OT Consultadas -->
        <div *ngIf="load">
          <div class="mb-4">
            <div class="row g-3">
              <!--Inicio Tabla OT-->
              <div class="table-responsive">
                <table class="table table-bordered table-hover mt-2" id="table" style="font-size: 14px;">
                  <thead class="TitulosTabla">
                    <tr>
                      <th id="" scope="col">OT</th>
                      <th id="" scope="col">Extrusión</th>
                      <th id="" scope="col">Impresión</th>
                      <th id="" scope="col">Rotograbado</th>
                      <th id="" scope="col">Doblado</th>
                      <th id="" scope="col">Laminado</th>
                      <th id="" scope="col">Corte</th>
                      <th id="" scope="col">Empaque</th>
                      <th id="" scope="col">Sellado</th>
                      <th id="" scope="col">Wiketiado</th>
                      <th id="" scope="col">Cant Producir</th>
                      <th id="" scope="coll">Cant Ingresada</th>
                      <th id="" scope="coll">Cant Enviada</th>
                      <th id="" scope="col">Fallas</th>
                      <th id="" scope="col">Estados</th>
                      <th id="" scope="col">Fecha Creación</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr *ngFor="let tabla of ArrayDocumento | paginate: {itemsPerPage: 20, currentPage: page} let i=index">
                        <!-- Orden de Trabajo -->
                        <td id="ot" scope="col">{{tabla.ot}}</td>

                        <!-- Extrusion -->
                        <ng-container *ngIf="tabla.ext >= tabla.cant">
                          <td id="ext" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'EXTRUSION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.ext | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.ext < tabla.cant && tabla.ext > 0">
                          <td id="ext" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'EXTRUSION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.ext | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.ext == 0 && tabla.ext < tabla.cant">
                          <td id="ext" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarFilaTabla(tabla)" (dblclick)="seleccionarOTxStatus(tabla, 'EXTRUSION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.ext | number}}</td>
                        </ng-container>

                        <!-- Impresion -->
                        <ng-container *ngIf="tabla.imp >= tabla.cant">
                          <td id="imp" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'IMPRESION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{tabla.imp | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.imp < tabla.cant && tabla.imp > 0">
                          <td id="imp" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'IMPRESION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.imp | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.imp == 0 && tabla.imp < tabla.cant">
                          <td id="imp" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'IMPRESION')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.imp | number}}</td>
                        </ng-container>

                        <!-- Rotograbado -->
                        <ng-container *ngIf="tabla.rot >= tabla.cant">
                          <td id="rot" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'ROTOGRABADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.rot | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.rot < tabla.cant && tabla.rot > 0">
                          <td id="rot" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'ROTOGRABADO')"data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.rot | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.rot == 0 && tabla.rot < tabla.cant">
                          <td id="rot" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'ROTOGRABADO')"data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.rot | number}}</td>
                        </ng-container>

                        <!-- Doblado -->
                        <ng-container *ngIf="tabla.dbl >= tabla.cant">
                          <td id="dbl" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'DOBLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.dbl | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.dbl < tabla.cant && tabla.dbl > 0">
                          <td id="dbl" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'DOBLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.dbl | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.dbl == 0 && tabla.dbl < tabla.cant">
                          <td id="dbl" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'DOBLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.dbl | number}}</td>
                        </ng-container>

                        <!-- laminado -->
                        <ng-container *ngIf="tabla.lam >= tabla.cant">
                          <td id="lam" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'LAMINADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.lam | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.lam < tabla.cant && tabla.lam > 0">
                          <td id="lam" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'LAMINADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.lam | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.lam == 0 && tabla.lam < tabla.cant">
                          <td id="lam" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'LAMINADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.lam | number}}</td>
                        </ng-container>

                        <!-- Corte -->
                        <ng-container *ngIf="tabla.cor >= tabla.cant">
                          <td id="cor" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'CORTE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.cor | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.cor < tabla.cant && tabla.cor > 0">
                          <td id="cor" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'CORTE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.cor | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.cor == 0 && tabla.cor < tabla.cant">
                          <td id="cor" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'CORTE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.cor | number}}</td>
                        </ng-container>

                        <!-- Empaque -->
                        <ng-container *ngIf="tabla.emp >= (tabla.cant + (tabla.cant * -0.10))">
                          <td id="emp" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'EMPAQUE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.emp | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.emp < (tabla.cant + (tabla.cant * -0.10)) && tabla.emp > 0">
                          <td id="emp" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'EMPAQUE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.emp | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.emp == 0 && tabla.emp < tabla.cant">
                          <td id="emp" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'EMPAQUE')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.emp | number}}</td>
                        </ng-container>

                        <!-- Sellado -->
                        <ng-container *ngIf="tabla.sel >= (tabla.cant + (tabla.cant * -0.10))">
                          <td id="sel" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'SELLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.sel | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.sel < (tabla.cant + (tabla.cant * -0.10)) && tabla.sel > 0">
                          <td id="sel" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'SELLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.sel | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.sel == 0 && tabla.sel < tabla.cant">
                          <td id="sel" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'SELLADO')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.sel | number}}</td>
                        </ng-container>

                        <!-- Wiketiado -->
                        <ng-container *ngIf="tabla.wik >= (tabla.cant + (tabla.cant * -0.10))">
                          <td id="wik" scope="col" style="background-color: rgb(185, 255, 185);" (click)="seleccionarOTxStatus(tabla, 'Wiketiado')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.wik | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.wik < (tabla.cant + (tabla.cant * -0.10)) && tabla.wik > 0">
                          <td id="wik" scope="col" style="background-color: rgb(255, 201, 143);" (click)="seleccionarOTxStatus(tabla, 'Wiketiado')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.wik | number}}</td>
                        </ng-container>
                        <ng-container *ngIf="tabla.wik == 0 && tabla.wik < tabla.cant">
                          <td id="wik" scope="col" style="background-color: rgb(255, 146, 146);" (click)="seleccionarOTxStatus(tabla, 'Wiketiado')" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{tabla.wik | number}}</td>
                        </ng-container>

                        <!-- Cantidad Total a Producir -->
                        <td id="cant" scope="col">{{tabla.cant | number}}</td>

                        <!-- Cantidad Ingresada a Despacho -->
                        <td id="est" scope="col">{{tabla.entrada | number}}</td>

                        <!-- Cantidad Enviada -->
                        <td id="est" scope="col">{{tabla.salida | number}}</td>

                        <!-- Fallas -->
                        <td id="falla" scope="col" title="{{tabla.obs}}" (click)="seleccionarFilaTabla(tabla)">{{tabla.falla}}</td>

                        <!-- Estado OT -->
                        <td id="est" scope="col">{{tabla.est | uppercase}}</td>

                        <!-- Fecha Creacion OT -->
                        <td id="fecha" scope="col">{{tabla.fecha | date : 'yyyy-MM-dd'}}</td>
                      </tr>
                    </tbody>
                </table>
                <div class="mb-2">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
                <!--Fin Tabla OT's-->

                <!-- Inicio Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel2">Datos OT {{otSeleccionada}}</h5>
                          <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!--Carga componente crear Proveedor-->
                        <app-DatosOT-Status></app-DatosOT-Status>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
