.contain{
  width: 100%;
}

.col-1{
width: 12%;
background-color: rgb(252, 252, 252);
padding: 1%;
}

.col-2{
width: 88%;
}

.nombreEmpresa {

  text-align: center;
}


.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
  text-decoration: none;
  color: #5D6D7E;
}

.fst-normal{
  font-size: small;
}
