.contain{
  width: 100%;
}

.col-1{
width: 12%;
background-color: #F8F9F9;
padding: 1%;
}

.col-2{
width: 88%;
-webkit-box-shadow: -11px 0px 5px -10px rgba(0,0,0,0.20);
-moz-box-shadow: -11px 0px 5px -10px rgba(0,0,0,0.20);
box-shadow: -11px 0px 5px -10px rgba(0,0,0,0.20);
padding-left: 2%;
padding-top: 4%;
}

.nombreEmpresa {

  text-align: center;
}


.navbar {
  -webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.30);
  box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.30);
}

a {
  text-decoration: none;

}

a:hover {
  background-color: #EBEDEF;
  padding: 2%;
}



.fst-normal{
  font-size: small;
  color: #85929E;
}

.fw-normal {
  font-weight: 900;
  font-size: small;
  color: #5D6D7E
}

.textoBarraNav{
  font-size: small;
}


.fs-3{
  color: #34495E
}

.fs-6{
  color: #34495E
}

.negritaEnRojo{
  color: rgb(179, 0, 0);
}

.colorFondo {
  background-color: #EBEDEF;
}

.textoPequeno {
  color: #34495E;
  font-size: small;
}

.col-5{
  background-color: #5D6D7E;
}
