<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Reporte de Desperdicios</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">

  <div class="mb-4">
    <h4 class="tituloRojo">Filtros de búsqueda</h4>
  </div>

  <form [formGroup]="formFiltros">
    <div class="mb-3">
      <div class="row g-3">

        <!-- ID Documento -->
        <div class="form-floating col-md-2">
          <input formControlName="OT" type="number" class="form-control" id="floatingInput"  required  autocomplete="off">
          <label for="floatingInput">OT</label>
        </div>
        <!-- Fecha inicial -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaInicio" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Inicial</label>
        </div>

        <!-- Fecha final -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaFinal" type="date" min="0"  class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Final</label>
         </div>

         <!--Item-->
        <div class="form-floating col-md-4">
          <input formControlName="Producto" class="form-control form-control-sm" list="productos" id="floatingInput" required (keyup)="likeCargarProductos()" (change)="seleccionarProducto()">
          <datalist id="productos">
            <option value={{item.prod_Id}} *ngFor="let item of arrayProductos">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Item</label>
        </div>

        <!-- Material -->
        <div class="form-floating col-md-2">
          <select formControlName="Material" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option [ngValue]="item.material_Id" *ngFor="let item of arrayMateriales">{{item.material_Nombre}}</option>
          </select>
          <label for="floatingSelect">Material</label>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-0">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="Consultar()"><i class="pi pi-search"></i> Consultar</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()"><i class="pi pi-eraser"></i> Limpiar Campos</button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <h4 class="tituloRojo">Resultados de búsqueda</h4>
  </div>

  <!-- TABLA DE RETIRO -->
  <div class="mb-3" *ngIf="load">
    <p-table
      #dt
      [value]="arrayConsulta"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 15, 20]"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
      <ng-template pTemplate="header">
        <tr title="Filtros para realizar busquedas de cada campo">
          <th style="width: 10%;">
            <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'OT', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;">
            <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Item', 'contains')" class="w-full">
          </th>
          <th style="width: 30%;">
            <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'NombreItem', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;">
            <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'NombreMaterial', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;">
            <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Impreso', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;">
            <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'PesoTotal', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;">
            <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains')" class="w-full">
          </th>
          <th style="width: 10%;"></th>
        </tr>
        <tr>
          <th scope="col">OT</th>
          <th scope="col">Item</th>
          <th scope="col">Nombre Item</th>
          <th scope="col">Material</th>
          <th scope="col">Impreso</th>
          <th scope="col">Peso Consulta</th>
          <th scope="col">Presentación</th>
          <th scope="col" title="Ver detalle de Desperdicio">Ver Detalle</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-arrayConsulta>
        <tr>
          <td>{{arrayConsulta.OT}}</td>
          <td>{{arrayConsulta.Item}}</td>
          <td>{{arrayConsulta.NombreItem}}</td>
          <td>{{arrayConsulta.NombreMaterial}}</td>
          <td>{{arrayConsulta.Impreso}}</td>
          <td>{{arrayConsulta.PesoTotal | number}}</td>
          <td>{{arrayConsulta.Presentacion}}</td>
          <td style="text-align: center;"><button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" (click)="consultarOTenTabla(arrayConsulta)" style="width: 30px; height: 30px;"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog *ngIf="load" header="OT Nro. {{otSeleccionada}}" [(visible)]="dialog" [style]="{width: '85%'}" [modal]="true" styleClass="p-fluid">
    <p-toast position="center"></p-toast>
      <div class="table-responsive" *ngIf="load">
        <p-table
          #dt2
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [rowHover]="true"
          [value]="arrayModal"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 15, 20]"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
          <ng-template pTemplate="header">
            <tr title="Filtros para realizar busquedas de cada campo">
              <th>
                <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro2($event, 'OT', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Item', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'NombreItem', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'NombreMaterial', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Impreso', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro2($event, 'Peso', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Und', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'No_Conformidad', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Fecha', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Operario', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Proceso', 'contains')" class="w-full">
              </th>
              <th>
                <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Maquina', 'contains')" class="w-full">
              </th>
            </tr>
            <tr>
              <th scope="col">OT</th>
              <th scope="col">Item</th>
              <th scope="col">Nombre Item</th>
              <th scope="col">Material</th>
              <th scope="col">Impreso</th>
              <th scope="col">Peso</th>
              <th scope="col">Und</th>
              <th scope="col">No Conformidad</th>
              <th scope="col">Fecha</th>
              <th scope="col">Operario</th>
              <th scope="col">Proceso</th>
              <th scope="col">Maquina</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arrayModal>
            <tr class="font-size-14 centrarTh">
              <td>{{arrayModal.OT}}</td>
              <td>{{arrayModal.Item}}</td>
              <td>{{arrayModal.NombreItem}}</td>
              <td>{{arrayModal.Material}}</td>
              <td>{{arrayModal.Impreso}}</td>
              <td>{{arrayModal.Peso | number}}</td>
              <td>{{arrayModal.Und}}</td>
              <td>{{arrayModal.No_Conformidad}}</td>
              <td>{{arrayModal.Fecha}}</td>
              <td>{{arrayModal.Operario}}</td>
              <td>{{arrayModal.Proceso}}</td>
              <td>{{arrayModal.Maquina}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="5" style="text-align: end">Cantidad total desperdicio</td>
              <td>{{totalDesperdicio | number}} </td>
              <td>{{"Kg"}}</td>
              <td colspan="5"></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <br>
      <div class="d-grid gap-2 justify-content-md-center">
        <button pButton pRipple label="Exportar PDF" (click)="exportarPDF()" icon="pi pi-upload" class="p-button-success"></button>
      </div>
  </p-dialog>
</div>
