span{
    color: #db4149;
  }
  
  .columnaCantidad {
    background-color: #75baff;
  }
  
  #table th{
    font-size: calc(var(--font-size) * 14px);
  }

  #table td{
    font-size: calc(var(--font-size) * 13px);
  }
  
  p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input {
    display: flex;
    width: 100%;
  }
  
  p-calendar ::ng-deep span button {
    background-color: var(--rojo);
    border: 0;
    transition: all 1s;
  }
  
  p-calendar ::ng-deep span .p-datepicker-trigger:hover {
    background: var(--rojoHover);
  }
  
  p-calendar ::ng-deep .p-datepicker-header button {
    background: #fff0;
  }
  
  p-calendar ::ng-deep .p-datepicker-header button:hover {
    background: #fff0;
  }
  
  p-calendar ::ng-deep span button span {
    display: block;
  }
  
  p-dialog ::ng-deep .p-dialog-header span {
    color: var(--rojo);
    align-items: center;
  }
  
  .botonesOpciones {
    margin-left: 10px;
  }
  
  ::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
    display: flex;
    width: 100%;
  }
  
  ::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
  }
  