<!-- Icono de cargando -->
<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!-- Navbar parte superior -->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }">Movimientos PreIngreso Producción</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="my-4">
    <h4 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }"><i class="pi pi-filter"></i> Filtros de búsqueda</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="searchMovements()">
    <div class="row g-3 my-4">

      <!--Proceso-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" >
        <span class="p-float-label">
            <p-dropdown formControlName="process" inputId="process" [options]="process" optionValue="proceso_Id" optionLabel="proceso_Nombre" [autoDisplayFirst]="false"></p-dropdown>
            <label for="process">Proceso</label>
        </span>
      </div>

      <!--OT-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-1">
        <span class="p-float-label">
          <p-inputNumber formControlName="ot" id="ot" [useGrouping]="false" />
          <label for="ot">OT</label>
        </span>
      </div>

      <!--Item-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-1">
        <span class="p-float-label">
          <p-inputNumber formControlName="item" id="item" [useGrouping]="false" />
          <label for="item">Item</label>
        </span>
      </div>

      <!--Referencia-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-4">
        <span class="p-float-label">
          <input formControlName="reference" id="ref" list="references" type="text" pInputText (change)="selectedItem()" (keydown)="getItems()"/>
          <datalist id="references">
            <option value={{item.prod_Id}} *ngFor="let item of products">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="ref">Referencia</label>
        </span>
      </div>

      <!--Fecha 1-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-calendar formControlName="startDate" inputId="startDate" [showIcon]="true"></p-calendar>
          <label for="startDate">Fecha Inicial</label>
        </span>
      </div>

      <!--Fecha 2-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-calendar formControlName="endDate" inputId="endDate" [showIcon]="true"></p-calendar>
          <label for="endDate">Fecha Final</label>
        </span>
      </div>

    </div>

    <!--Botones-->
    <div class="mb-3" *ngIf="!load">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones1">
        <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearLabels()"></button>
        <button pButton class="p-button-danger p-button-outlined" (click)="newPdf()" type="button" [disabled]="movements.length == 0" label="Exportar PDF" icon="pi pi-file-pdf"></button>
      </div>
    </div>
  </form>

  <!--Linea-->
  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!--Subtitulo Tabla-->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }"><i class="pi pi-list"></i> Registros consultados</h4>
  </div>

  <!--Tabla-->
  <p-table
    #dt
    *ngIf="!load"
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [rowHover]="true"
    [value]="movements"
    dataKey="orden"
    [scrollable]="true"
    scrollHeight="50rem">
    <ng-template pTemplate="header">
      <tr class="font-size-16">
        <th></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'orden', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'rollo', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'id_Producto', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'producto', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'fecha_Ingreso', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'cantidad', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'presentacion', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'proceso', 'contains')"></th>
      </tr>
      <tr>
        <th class="text-center font-size-16">#</th>
        <th class="text-center font-size-16">OT</th>
        <th class="text-center font-size-16">Id Producto</th>
        <th class="text-center font-size-16">Producto</th>
        <th class="text-center font-size-16">Rollo</th>
        <th class="text-center font-size-16">Cantidad</th>
        <th class="text-center font-size-16">Presentación</th>
        <th class="text-center font-size-16">Proceso</th>
        <th class="text-center font-size-16">Fecha PreIngreso</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{rowIndex + 1}}</td>
        <td class="text-center">{{data.OT}}</td>
        <td class="text-center">{{data.Item}}</td>
        <td class="text-center">{{data.Referencia}}</td>
        <td class="text-center">{{data.Rollo_Bagpro}}</td>
        <td class="text-center">{{data.Cantidad | number : '1.2-2' }}</td>
        <td class="text-center">{{data.Und}}</td>
        <td class="text-center">{{data.Proceso}}</td>
        <td class="text-center">{{data.Fecha_Ingreso}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9"><h6 class="bold">No hay registros consultados.</h6></td>
      </tr>
    </ng-template>  
    <ng-template pTemplate="footer" >
      <tr id="totales">
        <td colspan="5" class="text-right">Totales</td>
        <td class="text-center">{{calculateTotal() | number}}</td>
        <td colspan="3" class="text-center"></td>
      </tr>
    </ng-template>
  </p-table>

</p-card>

