<!-- Icono de cargando -->
<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!-- Navbar parte superior -->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }">Movimientos PreIngreso Producción</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="my-4">
    <h4 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }"><i class="pi pi-filter"></i> Filtros de búsqueda</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="searchMovements()">
    <div class="row g-3 my-4">

      <!--Proceso-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" >
        <span class="p-float-label">
            <p-dropdown formControlName="process" inputId="process" [options]="process" [readonly]="rol != 1" optionValue="proceso_Id" optionLabel="proceso_Nombre" [autoDisplayFirst]="false"></p-dropdown>
            <label for="process">Proceso</label>
        </span>
      </div>

      <!--Fecha 1-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-calendar formControlName="rank" inputId="fecha" [(ngModel)]="date" selectionMode="range" [showIcon]="true" [required]="true" pTooltip="Si no diligencias el rango de fechas todas las consultas que realices estarán basadas en el día de hoy."></p-calendar>
          <label for="fecha">Rango de Fechas</label>
        </span>
      </div>

      <!--OT-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-inputNumber formControlName="ot" id="ot" [useGrouping]="false" />
          <label for="ot">OT</label>
        </span>
      </div>

      <!--Item-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-inputNumber formControlName="item" id="item" [useGrouping]="false" />
          <label for="item">Item</label>
        </span>
      </div>

      <!--Referencia-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-4">
        <span class="p-float-label">
          <input formControlName="reference" id="ref" list="references" type="text" pInputText (change)="selectedItem()" (keydown)="getItems()"/>
          <datalist id="references">
            <option value={{item.prod_Id}} *ngFor="let item of products">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="ref">Referencia</label>
        </span>
      </div>

    </div>

    <!--Botones-->
    <div class="mb-3" *ngIf="!load">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones1">
        <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearLabels()"></button>
      </div>
    </div>
  </form>

  <!--Linea-->
  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!--Subtitulo Tabla-->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modeSelected, 'tituloClaro': modeSelected }"><i class="pi pi-list"></i> Registros consultados</h4>
  </div>

  <!--Tabla-->
  <p-table
    #dt
    *ngIf="!load"
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [rowHover]="true"
    [value]="movements"
    [scrollable]="true"
    scrollHeight="50rem">
    <ng-template pTemplate="header">
      <tr class="font-size-16">
        <th></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'id_PreIngreso', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'usuario', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'fecha_Ingreso', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'hora_Ingreso', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'cantidad', 'contains')"></th>
        <th></th>
      </tr>
      <tr>
        <th class="text-center font-size-16">#</th>
        <th class="text-center font-size-16">Id Pre-Ingreso</th>
        <th class="text-center font-size-16">Usuario</th>
        <th class="text-center font-size-16">Fecha</th>
        <th class="text-center font-size-16">Hora</th>
        <th class="text-center font-size-16" pTooltip="Cantidad de rollos Preingresados" pTooltipPosition="top">Cant. Rollos</th>
        <th class="text-center font-size-16">Ver PDF</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{rowIndex + 1}}</td>
        <td class="text-center"><b>{{data.id_PreIngreso}}</b></td>
        <td class="text-center">{{data.usuario}}</td>
        <td class="text-center"><b>{{data.fecha_Ingreso | date : 'dd/MM/yyyy'}}</b></td>
        <td class="text-center">{{data.hora_Ingreso}}</td>
        <td class="text-center textBlue"><b>{{ data.cantidad | number }}</b></td>
        <td class="text-center"><p-button icon="pi pi-file-pdf" [rounded]="true" severity="danger" (onClick)="viewPDF(data.id_PreIngreso)"></p-button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9"><h6 class="bold">No hay registros consultados.</h6></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" >
      <tr id="totales">
        <td colspan="5" class="text-right">Total Rollos Preingresados</td>
        <td class="text-center textBlue">{{calculateTotal() | number}}</td>
        <td colspan="1" class="text-center"></td>
      </tr>
    </ng-template>
  </p-table>

</p-card>

