

<div class="container-fluid">

  <div class="contenedor_titulo mb-3">
    <h2 class="tituloRojo">Eps</h2>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Registrar/Consultar Eps </h4>
    </div>

    <!--Inicio formulario-->
    <form [formGroup]="formularioEps" (ngSubmit)="validarCamposVacios()">
      <div class="row g-4">
        <div class="col-md">
          <input class="identificador" type="number" class="form-control form-control-sm" id="" aria-describedby="" placeholder="Identificador">
        </div>
        <div class="col-md">
            <input formControlName="areaCodigo" type="number" minlength="6" maxlength="10" class="form-control form-control-sm" id="validationDefault01"  placeholder="Código" name="Codigo" required >
        </div>
        <div class="col-md">
            <input formControlName="areaNombre"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre" name="Nombre" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName="areaDireccion"  type="text" class="form-control form-control-sm" id=""  placeholder="Direccion" name="Direccion" required maxlength="50">
      </div>
      <div class="col-md">
        <input formControlName="areaTelefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Telefono" name="Telefono" required maxlength="50">
    </div>

    <div class="col-md">
      <input formControlName="areaEmail"  type="text" class="form-control form-control-sm" id=""  placeholder="Email" name="Email" required maxlength="50">
  </div>
  <div class="mb-3">
    <select id="empresa" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
      <option value="" disabled selected>Cuidad</option>
      <option value="1">Barranquilla</option>
      <option value="2">Medellin</option>
      <option value="3">Bogota</option>
    </select>
  </div>

      </div>
      <div class="mb-3">
        <br>
      </div>
      <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
        <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" expand="full" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  <!--Fin formulario-->
  </div>
</div>

