.B0031 {
    width: auto;
    min-width: 1000px;
    max-width: 1300px;
    height: auto;
    min-height: 800px;
    max-height: 900px;
    border: solid 1px #000;
    border-radius: 20px;
    margin: auto;
}

.stands {
    border: solid 1px #000;
    margin: 0 1%;
    padding: 1%;
}

.cube {
    background-color: #5b9bd5;
    width: 100%;
    height: 20px;
    text-align: start;
    justify-content: center;
}

.textCube {
    display: block;
    width: max-content;
    height: 100%;
    background-color: #ff9933;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.B0031_PSJ5,
.B0031_PS6,
.B0031_PS7 {
    border: solid 1px #000;
    padding: 1%;
    margin: 0 1%;
}

.pallets {
    background-color: #bdd7ee;
    height: 100px;
    text-align: end;
    justify-content: center;
    border: solid .5px #000;
}

.textPallets {
    display: block;
    height: max-content;
    background-color: #70ad47;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.B0031_PSJ5_ESTB1,
.B0031_PSJ5_ESTB2,
.B0031_PS7_ESTB1 {
    height: 100px;
}

.B0031_PSJ5_ESTB3 {
    height: 60px;
}

.B0031_PS7_ESTB1,
.B0031_PS7_ESTB2,
.B0031_PS7_ESTB3,
.B0031_PS7_ESTB4 {
    height: 50px;
}

.B0031_PS6_ESTB1 {
    height: 120px;
}

.B0031_PS6_ESTB2,
.B0031_PS6_ESTB3 {
    height: 210px;
}

.B0031_PSJ5 .B0031_PSJ5_UNKNOWN {
    height: 80px;
    margin: auto;
    background: #cce6f1;
    border-radius: 0px 0px 0px 50px;
    border: solid 0.3px #000;
}

.B0031_PS7_ESTB1,
.B0031_PS7_ESTB2 {
    height: 145px;
}

.hall {
    width: 100%;
    height: 5px;
    background-color: #c00000;
    margin: 0 2px;
}

.whiteSpace {
    background-color: #0000;
    height: 95px;
}

.unknownSpace {
    background: linear-gradient(180deg, #fff 2%, #4377a8 100%);
    height: 70px;
    width: 80%;
}

.bottom {
    height: 100px;
    border: solid 1px #000;
    margin: 1%;
}

/* BODEGA 0032 */
.B0032 {
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(16, 75px);
    grid-template-rows: repeat(11, auto);
    grid-auto-rows: minmax(60px, 90px);
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
}

.B0032 .stairs {
    grid-column: 6 / 11;
    grid-row: 11;
    background-color: #bdd7ee;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1;
}

.CA,
.CB,
.CC,
.CD {
    background-color: #5b9bd5;
    border: solid .5px #000;
    margin: 2px 0;
}

.CA:hover,
.CB:hover,
.CC:hover,
.CD:hover {
    background-color: #4879a7;
    border: solid 1.5px #000;
}

.B0032 span {
    background-color: #ff9933;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    width: max-content;
    margin: auto;
}

.PS17_1,
.PS17_2,
.PS17_3,
.PS18_1,
.PS18_2,
.PS18_3,
.PS18_4,
.PS19_1,
.PS19_2,
.PS19_3,
.PS19_4,
.PS19__2 {
    border: solid 1px #000;
    background-color: #bdd7ee;
}

.PS17_1:hover,
.PS17_2:hover,
.PS17_3:hover,
.PS18_1:hover,
.PS18_2:hover,
.PS18_3:hover,
.PS18_4:hover,
.PS19_1:hover,
.PS19_2:hover,
.PS19_3:hover,
.PS19_4:hover,
.PS19__2:hover {
    background-color: #9bb4ca;
}

.PS17_1 span,
.PS17_2 span,
.PS17_3 span,
.PS18 span,
.PS18__2 span,
.PS19 span,
.PS19__2 span {
    background-color: #70ad47;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

/* ESTANTE 8 */
.B0032 .EST8 {
    grid-column: 1 / 3;
    grid-row: 5 / 9;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2);
    gap: 5px;
    padding: 5px;
}

.B0032 .EST8 .CA {
    grid-column: 1;
}

.B0032 .EST8 .CB {
    grid-column: 2;
}

.B0032 .EST8 .CA,
.B0032 .EST8 .CB {
    grid-row: 2 / 5;
}

.B0032 .EST8 .CC {
    grid-row: 1;
    grid-column: 1 / 3;
}

/* ESTANTE 9 */
.B0032 .EST9 {
    grid-column: 3 / 15;
    grid-row: 1;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(13, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST9 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST9 .PL1 .CA {
    grid-row: 1;
    grid-column: 1 / 3;
    padding: 2px;
}

.B0032 .EST9 .PL1 .CB {
    grid-row: 2;
    grid-column: 1 / 3;
    padding: 2px
}

.B0032 .EST9 .PL2 {
    grid-column: 4 / 7;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST9 .PL3 {
    grid-column: 7 / 10;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST9 .PL4 {
    grid-column: 10 / 14;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

/* ESTATE 10 */
.B0032 .EST10 {
    grid-column: 4 / 14;
    grid-row: 3;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST10 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST10 .PL2 {
    grid-column: 4 / 8;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST10 .PL3 {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST10_PL4 {
    grid-column: 14;
    grid-row: 3 / 5;
    border: solid 1px #000;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
}

.B0032 .EST10_PL4 .PL4 {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2px;
}

.B0032 .EST10_PL4 .PL4 .CA {
    grid-column: 1;
}

.B0032 .EST10_PL4 .PL4 .CB {
    grid-column: 2;
}

.B0032 .EST10_PL4 .PL4 .CC {
    grid-column: 3;
}

.B0032 .EST10_PL4 .PL4 .CA,
.B0032 .EST10_PL4 .PL4 .CB,
.B0032 .EST10_PL4 .PL4 .CC {
    grid-row: 1 / 3;
}

.B0032 .greyCube {
    grid-column: 4;
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .greyCube .greyCube2 {
    background-color: #aaa;
    border: solid 0.5px #000;
    grid-column: 1;
    grid-row: 2;
}

/* ESTANTE 11 */
.B0032 .EST11 {
    grid-column: 4 / 14;
    grid-row: 4;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST11 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST11 .PL2 {
    grid-column: 4 / 8;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST11 .PL3 {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

/* ESTANTE 12 */
.B0032 .EST12 {
    grid-column: 4 / 14;
    grid-row: 6;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST12 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST12 .PL2 {
    grid-column: 4 / 8;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST12 .PL3 {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST12_PL4 {
    grid-column: 14;
    grid-row: 6 / 8;
    border: solid 1px #000;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
}

.B0032 .EST12_PL4 .PL4 {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2px;
}

.B0032 .EST12_PL4 .PL4 .CA {
    grid-column: 1;
}

.B0032 .EST12_PL4 .PL4 .CB {
    grid-column: 2;
}

.B0032 .EST12_PL4 .PL4 .CC {
    grid-column: 3;
}

.B0032 .EST12_PL4 .PL4 .CA,
.B0032 .EST12_PL4 .PL4 .CB,
.B0032 .EST12_PL4 .PL4 .CC {
    grid-row: 1 / 3;
}

/* ESTANTE 13 */
.B0032 .EST13 {
    grid-column: 4 / 14;
    grid-row: 7;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST13 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST13 .PL2 {
    grid-column: 4 / 8;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST13 .PL3 {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

/* ESTANTE 14 */
.B0032 .EST14 {
    grid-column: 16;
    grid-row: 1 / 11;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: 4 auto;
    padding: 5px;
}

.B0032 .EST14 .PL1 {
    grid-row: 1;
}

.B0032 .EST14 .PL2 {
    grid-row: 2;
}

.B0032 .EST14 .PL3 {
    grid-row: 3;
}

.B0032 .EST14 .PL4 {
    grid-row: 4;
}

.B0032 .EST14 .PL1,
.B0032 .EST14 .PL2,
.B0032 .EST14 .PL3,
.B0032 .EST14 .PL4 {
    grid-column: 1;
    display: grid;
    grid-template-columns: 3 auto;
    grid-template-rows: 1 auto;
    gap: 5px;
}

.B0032 .EST14 .PL1 .CA,
.B0032 .EST14 .PL2 .CA,
.B0032 .EST14 .PL3 .CA,
.B0032 .EST14 .PL4 .CA {
    grid-column: 3;
    grid-row: 1;
}

.B0032 .EST14 .PL1 .CB,
.B0032 .EST14 .PL2 .CB,
.B0032 .EST14 .PL3 .CB,
.B0032 .EST14 .PL4 .CB {
    grid-column: 2;
    grid-row: 1;
}

.B0032 .EST14 .PL1 .CC,
.B0032 .EST14 .PL2 .CC,
.B0032 .EST14 .PL3 .CC,
.B0032 .EST14 .PL4 .CC {
    grid-column: 1;
    grid-row: 1;
}

/* ESTANTE 15 */
.B0032 .EST15 {
    grid-column: 10 / 17;
    grid-row: 11;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST15 .PL1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST15 .PL2 {
    grid-column: 4 / 8;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.B0032 .EST15 .PL3 {
    grid-column: 8 / 12;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

/* ESTANTE 16 */
.B0032 .EST16 {
    grid-column: 1 / 5;
    grid-row: 11;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .EST16 .PL1 {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
}

/* PASILLO 17 */
.B0032 .PS17_1 {
    grid-column: 1 / 3;
    grid-row: 4;
}

.B0032 .PS17_2 {
    grid-column: 1;
    grid-row: 1 / 4;
}

.B0032 .PS17_3 {
    grid-column: 2;
    grid-row: 3;
}

/* PASILLO 18 */
.B0032 .PS18 {
    grid-column: 3;
    grid-row: 3 / 8;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 195px 50px 195px;
}

.B0032 .PS18 .PS18_1,
.B0032 .PS18 .PS18_2 {
    grid-column: 2;
}

.B0032 .PS18 .PS18_1 {
    grid-row: 1;
}

.B0032 .PS18 .PS18_2 {
    grid-row: 3;

}

.B0032 .PS18__2 {
    grid-column: 6 / 12;
    grid-row: 5;
    display: grid;
    gap: 10px;
    grid-template-columns: 130px 190px 130px;
    grid-template-rows: repeat(2, auto);
}

.B0032 .PS18__2 .PS18_3,
.B0032 .PS18__2 .PS18_4 {
    grid-row: 2;
}

.B0032 .PS18__2 .PS18_3 {
    grid-column: 1;
}

.B0032 .PS18__2 .PS18_4 {
    grid-column: 3;
}

/* PASILLO 19 */
.B0032 .PS19 {
    grid-column: 6 / 16;
    grid-row: 10 / 11;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    padding: 5px;
}

.B0032 .PS19 .PS19_1 {
    grid-column: 1;
    grid-row: 1;
}

.B0032 .PS19 .PS19_2 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.B0032 .PS19 .PS19_3 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.B0032 .PS19 .PS19_4 {
    grid-column: 4;
    grid-row: 2;
}

.B0032 .PS19__2 {
    grid-column: 15;
    grid-row: 1;
}