.badge {
  color: #000;
  font-size: calc(var(--font-size) * 15px);
}

.colorBadgeWorker {
  color: #000;
  background-color: rgb(242, 222, 107);
}

.colorBadgeAccrued {
  color: white;
  background-color: Tomato;
}

.colorBadgeDeductions {
  color: white;
  background-color: palevioletred;
}

.colorBadgeTotalPay {
  background-color: SpringGreen;
}

.colorTotalLoan {
  color: white;
  background-color: #F44336;
}

.colorTotalPayedLoan {
  background-color: #FFB74D;
}

.colorTotalPayLoan {
  background-color: #66BB6A;
}

.colorTotalQuotaLoan {
  color: white;
  background-color: #1976D2;
}

.no-selected {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-divider ::ng-deep span {
  color: white !important;
  background-color: var(--rojo);
}

::ng-deep .p-inputtextarea span {
  display: flex;
  width: 100%;
}
