<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}" id="nomina"> Ingreso de Nómina</h2>
    </div>
    <p-divider></p-divider>
  </div>
</div>

<p-card>
  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-users"></i> Seleccionar Trabajadores</h2>
  </div>

  <div class="row g-4 my-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <span class="p-float-label" id="rango-fechas">
        <p-calendar id="rango" inputId="FechaInicial" [(ngModel)]="rangeDates" selectionMode="range" [selectOtherMonths]="true" [showButtonBar]="true" [disabledDates]="disabledDates" [maxDate]="today" [showIcon]="true" pTooltip="Selecciona el rango de fechas y presiona el botón consultar"></p-calendar>
        <label for="FechaInicial">Rango de Fechas</label>
      </span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <span class="p-float-label">
        <p-multiSelect [(ngModel)]="selectedAreas" inputId="areas" [options]="areas" optionLabel="area_Nombre" optionValue="area_Id"></p-multiSelect>
        <label for="areas">Áreas</label>
      </span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <button pButton class="p-button-danger mx-2" type="button" label="Consultar" icon="pi pi-search" (click)="getWorkers()"></button>
      <button pButton class="p-button-secondary mx-2" type="button" label="Limpiar Campos" icon="pi pi-eraser"></button>
    </div>

  </div>

  <p-divider></p-divider>

  <div class="my-4">
    <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-users"></i> Nomina Trabajadores</h2>
  </div>

  <p-divider></p-divider>

  <p-table
  #tableWorkers
  [value]="payroll"
  styleClass="p-datatable-gridlines p-datatable-sm"
  responsiveLayout="scroll"
  [scrollable]="true"
  [rowHover]="true"
  scrollHeight="50rem"
  dataKey="Cedula"
  [(selection)]="payrollForAdvance"
  class="no-selected"
  *ngIf="!load">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" alignFrozen="left">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span class="mx-4">#</span>
        </th>
        <th pFrozenColumn colspan="2" class="text-center"><span class="badge colorBadgeWorker">Trabajador</span></th>
        <th colspan="5" class="text-center"><span class="badge colorBadgeAccrued">Devengos</span></th>
        <th colspan="5" class="text-center"><span class="badge colorBadgeDeductions">Deducciones</span></th>
        <th alignFrozen="right" pFrozenColumn rowspan="2" class="text-center"><span class="badge colorBadgeTotalPay">Total a Pagar</span></th>
      </tr>
      <tr>
        <th pFrozenColumn class="text-center">Cédula</th>
        <th class="text-center">Nombre Trabajador</th>
        <th class="text-center">Hora Ordinaria</th>
        <th class="text-center">Incapacidad</th>
        <th class="text-center">Horas Extra</th>
        <th class="text-center">Transporte</th>
        <th class="text-center">Devengos</th>
        <th class="text-center">EPS</th>
        <th class="text-center">Pensión</th>
        <th class="text-center">Ahorro</th>
        <th class="text-center">Prestamo/Anticipo</th>
        <th class="text-center">Deducciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr (dblclick)="editPayrollByWorker(data)">
        <td pFrozenColumn [frozen]="true" alignFrozen="left" class="text-center">
          <p-tableCheckbox [value]="data"></p-tableCheckbox>
          <span class="mx-4">{{rowIndex + 1}}</span>
        </td>
        <td pFrozenColumn>{{data.idWorker}}</td>
        <td>{{data.worker}}</td>
        <td class="text-right">{{data.valueDaysToPay | currency: 'USD'}}</td>
        <td class="text-right">{{totalDisabilityByWorker(data) | currency: 'USD'}}</td>
        <td class="text-right">{{data.totalValueAdictionalFee | currency: 'USD'}}</td>
        <td class="text-right">{{((data.transpotationAssitance / 30) * data.daysToPay) | currency: 'USD'}}</td>
        <td class="text-right">{{data.accrued | currency: 'USD'}}</td>
        <td class="text-right">{{data.eps | currency: 'USD'}}</td>
        <td class="text-right">{{data.afp | currency: 'USD'}}</td>
        <td class="text-right">{{data.saving | currency: 'USD'}}</td>
        <td class="text-right">{{totalLoanAdvance(data) | currency: 'USD'}}</td>
        <td class="text-right">{{data.deductions | currency: 'USD'}}</td>
        <td alignFrozen="right" pFrozenColumn class="text-right fw-bold">{{data.subTotalToPay | currency: 'USD'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td pFrozenColumn colspan="3" class="text-right fw-bold">Totales</td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold" alignFrozen="right" pFrozenColumn></td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    [value]="payroll"
    *ngIf="load">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2">#</th>
        <th pFrozenColumn colspan="2" class="text-center"><span class="badge colorBadgeWorker">Trabajador</span></th>
        <th colspan="4" class="text-center"><span class="badge colorBadgeAccrued">Devengos</span></th>
        <th colspan="5" class="text-center"><span class="badge colorBadgeDeductions">Deducciones</span></th>
        <th alignFrozen="right" pFrozenColumn rowspan="2" class="text-center"><span class="badge colorBadgeTotalPay">Total a Pagar</span></th>
      </tr>
      <tr>
        <th pFrozenColumn class="text-center">Cédula</th>
        <th class="text-center">Nombre Trabajador</th>
        <th class="text-center">Hora Ordinaria</th>
        <th class="text-center">Horas Extra</th>
        <th class="text-center">Transporte</th>
        <th class="text-center">Devengos</th>
        <th class="text-center">Incapacidad</th>
        <th class="text-center">EPS</th>
        <th class="text-center">Pensión</th>
        <th class="text-center">Ahorro</th>
        <th class="text-center">Prestamo/Anticipo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td pFrozenColumn colspan="3" class="text-rigth">Totales</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td alignFrozen="right" pFrozenColumn></td>
      </tr>
    </ng-template>
  </p-table>

  <!-- BOTONES -->
  <div class="my-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="button" label="Guardar Nomina" icon="pi pi-check" [disabled]="load || this.payroll.length <= 0" (click)="validatePayroll()"></button>
      <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" icon="pi pi-eraser" [disabled]="load" (click)="clearAll()"></button>
    </div>
  </div>
</p-card>

<p-dialog [(visible)]="modalPayroll" [style]="{width: '90%', height: '80%'}" header="Editar Devengos y Deducciones" [modal]="true">
  <form [formGroup]="formPayrollWorker">
    <p-accordion [multiple]="true" [activeIndex]="[0,1,2,3]">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-id-card mr-2"></i>
            <span class="vertical-align-middle">Datos Usuario</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input formControlName="idWorker" type="text" id="idWorker" pInputText [required]="true" [readonly]="true"/>
                <label for="idWorker">Id Trabajador</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-4">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input formControlName="worker" type="text" id="worker" pInputText [required]="true" [readonly]="true"/>
                <label for="worker">Nombre Trabajador</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="baseSalary" inputId="baseSalary" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="baseSalary">Salario Base</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="absentDays" inputId="absentDays" mode="decimal" [maxFractionDigits]="2" [required]="true" (onKeyDown)="calculateValueToPayWithAbsentDays()"></p-inputNumber>
                <label for="absentDays">Días Ausente</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysToPay" inputId="daysToPay" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysToPay">Días a Pagar</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="hoursToPay" inputId="hoursToPay" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="hoursToPay">Horas a Pagar</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysToPay" inputId="valueDaysToPay" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysToPay">Valor Días</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-dollar mr-2"></i>
            <span class="vertical-align-middle">Devengos</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <!-- DISABILITIES -->
            <div class="container-fluid">
              <p-divider align="left">
                <span class="p-tag cursor"><i class="pi pi-heart-fill"> </i> Incapacidades</span>
              </p-divider>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-inputgroup">
                <span class="p-float-label">
                  <p-inputNumber formControlName="daysDisabilityGeneralIllines" inputId="daysDisabilityGeneralIllines" [required]="true" [readonly]="true"></p-inputNumber>
                  <label for="daysDisabilityGeneralIllines">Días Incap EG</label>
                </span>
                <button pButton class="p-button-help" id="pdf" type="button" icon="pi pi-eye" [disabled]="[0, '', null, undefined].includes(formPayrollWorker.value.daysDisabilityGeneralIllines)" (click)="showDetailsDisabilities()"></button>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityGeneralIllines" inputId="valueDaysDisabilityGeneralIllines" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityGeneralIllines">Valor Incap EG</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysDisabilityWorkAccident" inputId="daysDisabilityWorkAccident" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysDisabilityWorkAccident">Días Incap AT</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityWorkAccident" inputId="valueDaysDisabilityWorkAccident" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityWorkAccident">Valor Incap AT</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysDisabilityParents" inputId="daysDisabilityParents" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysDisabilityParents">Días Incap PAT/MAP</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityParents" inputId="valueDaysDisabilityParents" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityParents">Valor Incap PAT/MAP</label>
              </span>
            </div>

            <!-- EXTRA HOURS -->
            <div class="container-fluid">
              <p-divider align="left">
                <span class="p-tag cursor"><i class="pi pi-plus-circle"> </i> Horas Extra</span>
              </p-divider>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalDaytimeHours" inputId="adictionalDaytimeHours" [required]="true" (onKeyDown)="calculateValueAdictionalDaytimeHours()"></p-inputNumber>
                <label for="adictionalDaytimeHours">Horas ADC Diurnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueAdictionalDaytimeHours" inputId="valueAdictionalDaytimeHours" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueAdictionalDaytimeHours">Valor Horas ADC Diurnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalNightHours" inputId="adictionalNightHours" [required]="true" (onKeyDown)="calculateValueAdictionalNightHours()"></p-inputNumber>
                <label for="adictionalNightHours">Horas ADC Nocturnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueAdictionalNightHours" inputId="valueAdictionalNightHours" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueAdictionalNightHours">Valor Horas ADC Nocturnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="extraHoursDaytimeSunday" inputId="extraHoursDaytimeSunday" [required]="true" (onKeyDown)="calculateValueExtraHoursDaytimeSunday()"></p-inputNumber>
                <label for="extraHoursDaytimeSunday">Horas Ext Diurnas Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueExtraHoursDaytimeSunday" inputId="valueExtraHoursDaytimeSunday" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueExtraHoursDaytimeSunday">Valor Horas Ext Diurnas Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours035" inputId="surchagedHours035" [required]="true" (onKeyDown)="calculateValueSurchagedHours035()"></p-inputNumber>
                <label for="surchagedHours035">Horas Recargo 35%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours035" inputId="valueSurchagedHours035" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours035">Valor Horas Recargo 35%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="extraHoursNightSunday" inputId="extraHoursNightSunday" [required]="true" (onKeyDown)="calculateValueExtraHoursNightSunday()"></p-inputNumber>
                <label for="extraHoursNightSunday">Horas Ext Noct Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueExtraHoursNightSunday" inputId="valueExtraHoursNightSunday" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueExtraHoursNightSunday">Valor Horas Ext Noct Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours075" inputId="surchagedHours075" [required]="true" (onKeyDown)="calculateValueSurchagedHours075()"></p-inputNumber>
                <label for="surchagedHours075">Horas ADC 75%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours075" inputId="valueSurchagedHours075" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours075">Valor Horas ADC 75%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours100" inputId="surchagedHours100" [required]="true" (onKeyDown)="calculateValueSurchagedHours100()"></p-inputNumber>
                <label for="surchagedHours100">Horas ADC 100%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours100" inputId="valueSurchagedHours100" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours100">Valor Horas ADC 100%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalFee" inputId="adictionalFee" [required]="true" (onKeyDown)="calculateAdictionalFee()"></p-inputNumber>
                <label for="adictionalFee">Tarifa ADC</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="totalValueAdictionalFee" inputId="totalValueAdictionalFee" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="totalValueAdictionalFee">Total Valor ADC COMP</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="transpotationAssitance" inputId="transpotationAssitance" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="transpotationAssitance">Aux Transporte</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="accrued" inputId="accrued" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="accrued">Devengado</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-money-bill mr-2"></i>
            <span class="vertical-align-middle">Deducciones</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="eps" inputId="eps" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="eps">EPS</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="afp" inputId="afp" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="afp">AFP</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-inputgroup">
                <span class="p-float-label">
                  <p-inputNumber formControlName="saving" inputId="saving" [required]="true" [readonly]="true"></p-inputNumber>
                  <label for="saving">Ahorro</label>
                </span>
                <button pButton class="p-button-warning" id="pdf" type="button" icon="pi pi-eye" [disabled]="[0, '', null, undefined].includes(formPayrollWorker.value.saving)" (click)="showDetailsMoneySave()"></button>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-inputgroup">
                <span class="p-float-label">
                  <p-inputNumber formControlName="loan" inputId="loan" [required]="true" [readonly]="true"></p-inputNumber>
                  <label for="loan">Prestamo</label>
                </span>
                <button pButton class="p-button-success" id="pdf" type="button" icon="pi pi-eye" [disabled]="[0, '', null, undefined].includes(formPayrollWorker.value.loan)" (click)="showDetailsLoan()"></button>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-inputgroup">
                <span class="p-float-label">
                  <p-inputNumber formControlName="advance" inputId="advance" [required]="true" [readonly]="true"></p-inputNumber>
                  <label for="advance">Anticipo</label>
                </span>
                <button pButton class="p-button-info" id="pdf" type="button" icon="pi pi-eye" [disabled]="[0, '', null, undefined].includes(formPayrollWorker.value.advance)" (click)="showDetailsAdvance()"></button>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="totalDiscounts" inputId="totalDiscounts" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="totalDiscounts">Total Dcto</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="PagoPTESemanaAnt" inputId="PagoPTESemanaAnt" [required]="true" (onKeyDown)="calculatePagoPTESemanaAnt()"></p-inputNumber>
                <label for="PagoPTESemanaAnt">Pago PTE Semana Ant</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="discounts" inputId="discounts" [required]="true" (onKeyDown)="calculatediscounts()"></p-inputNumber>
                <label for="discounts">Descuentos</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="deductions" inputId="deductions" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="deductions">Deducciones</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-wallet mr-2"></i>
            <span class="vertical-align-middle">Total</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="subTotalToPay" inputId="subTotalToPay" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="subTotalToPay">Total a Pagar</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10">
              <span class="p-float-label">
                <textarea formControlName="news" [rows]="1" maxlength="500" pInputTextarea (keydown)="fillObservationPayrollByWorker()"></textarea>
                <label for="news">Observación</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </form>
</p-dialog>

<p-dialog [(visible)]="modalDataDisability" [style]="{width: '70%', height: 'auto'}" header="Incapacidades" [modal]="true">
  <div class="m-5 my-3">
    <div class="mb-4">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-heart-fill"></i> Detalles de las incapacidades en la nomina del trabajador.</h2>
    </div>

    <p-table
    #tableDisabilities
    [value]="detailsDisabilities"
    styleClass="p-datatable-gridlines p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Trabajador</th>
          <th class="text-center">Tipo Incapacidad</th>
          <th class="text-center">Inicio</th>
          <th class="text-center">Fin</th>
          <th class="text-center">Días Totales</th>
          <th class="text-center">Pago Nomina Actual</th>
          <th class="text-center">Pago Nominas Anteriores</th>
          <th class="text-center">Pago Restante</th>
          <th class="text-center">Pago Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td class="text-center">{{data.worker}}</td>
          <td class="text-center">{{data.typeDisability}}</td>
          <td class="text-center">{{data.startDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-center">{{data.endDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-right">{{data.totalDays | number}}</td>
          <td class="text-right">{{data.totalToPayThisPayroll | currency: 'USD'}}</td>
          <td class="text-right">{{data.totalToPayPreviusPayrolls | currency: 'USD'}}</td>
          <td class="text-right">{{data.totalToPayNextPayroll | currency: 'USD'}}</td>
          <td class="text-right">{{data.totalToPay | currency: 'USD'}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="5" class="text-right">Totales</td>
          <td class="text-right">{{totalDaysDisability() | number}}</td>
          <td class="text-right">{{totalPayDisabilitiInPayroll() | currency: 'USD'}}</td>
          <td class="text-right">{{totalPayDisabilitiesInPreviusPayrolls() | currency: 'USD'}}</td>
          <td class="text-right">{{totalPayDisabilitisInNextPayrolls() | currency: 'USD'}}</td>
          <td class="text-right">{{totalPayDisabilities() | currency: 'USD'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog [(visible)]="modalDataLoan" [style]="{width: '70%', height: 'auto'}" header="Prestamos" [modal]="true">
  <div class="m-5 my-3">
    <div class="mb-4">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-credit-card"></i> Detalles de los prestamos realizados por el trabajador.</h2>
    </div>

    <p-table
    #tableDisabilities
    [value]="detailsLoan"
    styleClass="p-datatable-gridlines p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Trabajador</th>
          <th class="text-center">Código Prestamo</th>
          <th class="text-center">Fecha Prestamo</th>
          <th class="text-center">Valor Prestamo</th>
          <th class="text-center">Valor Deuda</th>
          <th class="text-center">Total Pagado</th>
          <th class="text-center">Valor Cuota</th>
          <th class="text-center">Fecha Limite</th>
          <th class="text-center">Fecha Ult. Pago</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td class="text-center">{{data.worker}}</td>
          <td class="text-center">{{data.idLoan}}</td>
          <td class="text-center">{{data.date}}</td>
          <td class="text-right">{{data.totalLoan | currency: 'USD'}}</td>
          <td class="text-right">{{data.debtValue | currency: 'USD'}}</td>
          <td class="text-right">{{data.totalPay | currency: 'USD'}}</td>
          <td class="text-right">{{data.valueQuota | currency: 'USD'}}</td>
          <td class="text-center">{{data.finalDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-center">{{data.lastPay | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="4"></td>
          <td class="text-right"><span class="badge colorTotalLoan">{{subTotalLoan() | currency: 'USD'}}</span></td>
          <td class="text-right"><span class="badge colorTotalPayedLoan">{{subTotalDebtValue() | currency: 'USD'}}</span></td>
          <td class="text-right"><span class="badge colorTotalPayLoan">{{subTotalTotalPay() | currency: 'USD'}}</span></td>
          <td class="text-right"><span class="badge colorTotalQuotaLoan">{{subTotalValueQuota() | currency: 'USD'}}</span></td>
          <td colspan="2"></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog [(visible)]="modalDataAdvance" [style]="{width: '70%', height: 'auto'}" header="Detalles de Anticipos" [modal]="true">
  <div class="m-5 my-3">
    <div class="mb-4">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-dollar"></i> Detalles de los anticipos pendientes del trabajador.</h2>
    </div>

    <p-table
    #tableDisabilities
    [value]="detailsAdvances"
    styleClass="p-datatable-gridlines p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Trabajador</th>
          <th class="text-center">Inicio Nomina</th>
          <th class="text-center">Fin Nomina</th>
          <th class="text-center">Total Anticipo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td class="text-center">{{data.worker}}</td>
          <td class="text-center">{{data.startDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-center">{{data.endDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-right">{{data.valueAdvance | currency: 'USD'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog [(visible)]="modalDataSaving" [style]="{width: '70%', height: 'auto'}" header="Detalles del Plan de Ahorro" [modal]="true">
  <div class="m-5 my-3">
    <div class="mb-4">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-money-bill"></i> Detalles del ahorro del trabajador.</h2>
    </div>

    <p-table
    #tableDisabilities
    [value]="detailsSaving"
    styleClass="p-datatable-gridlines p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Trabajador</th>
          <th class="text-center">Inicio Nomina</th>
          <th class="text-center">Fin Nomina</th>
          <th class="text-center">Total Ahorrado en Nomina</th>
          <th class="text-center">Total Ahorrado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td class="text-center">{{data.worker}}</td>
          <td class="text-center">{{data.startPayroll | date: 'yyyy-MM-dd'}}</td>
          <td class="text-center">{{data.endPayroll | date: 'yyyy-MM-dd'}}</td>
          <td class="text-right">{{data.totalSaveInPayroll | currency: 'USD'}}</td>
          <td class="text-right">{{data.subTotalSaveMoney | currency: 'USD'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
