<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}" id="nomina"> Ingreso de Nómina</h2>
    </div>
    <p-divider></p-divider>
  </div>
</div>

<p-card>
  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-users"></i> Seleccionar Trabajadores</h2>
  </div>

  <div class="row g-4 my-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <span class="p-float-label" id="rango-fechas">
        <p-calendar id="rango" inputId="FechaInicial" [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" pTooltip="Selecciona el rango de fechas y presiona el botón consultar"></p-calendar>
        <label for="FechaInicial">Rango de Fechas</label>
      </span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <span class="p-float-label">
        <p-multiSelect [(ngModel)]="selectedAreas" inputId="areas" [options]="areas" optionLabel="area_Nombre" optionValue="area_Id"></p-multiSelect>
        <label for="areas">Áreas</label>
      </span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <button pButton class="p-button-danger mx-2" type="button" label="Consultar" icon="pi pi-search" (click)="getWorkers()"></button>
      <button pButton class="p-button-secondary mx-2" type="button" label="Limpiar Campos" icon="pi pi-eraser"></button>
    </div>

  </div>

  <p-divider></p-divider>

  <div class="my-4">
    <h2 [ngClass]="{'tituloRojo': !selectedMode, 'tituloClaro': selectedMode}"><i class="pi pi-users"></i> Nomina Trabajadores</h2>
  </div>

  <p-divider></p-divider>

  <p-table
  #tableWorkers
  [value]="payroll"
  [resizableColumns]="true"
  columnResizeMode="expand"
  styleClass="p-datatable-gridlines p-datatable-sm"
  class="no-selected"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="payroll.length"
  [rowsPerPageOptions]="[10,25,50,100,payroll.length]"
  [rowHover]="true"
  dataKey="Cedula"
  [scrollable]="true"
  scrollHeight="50rem"
  *ngIf="!load">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2">#</th>
        <th pFrozenColumn colspan="2" class="text-center"><span class="badge colorBadgeWorker">Trabajador</span></th>
        <th colspan="5" class="text-center"><span class="badge colorBadgeAccrued">Devengos</span></th>
        <th colspan="4" class="text-center"><span class="badge colorBadgeDeductions">Deducciones</span></th>
        <th alignFrozen="right" pFrozenColumn rowspan="2" class="text-center"><span class="badge colorBadgeTotalPay">Total a Pagar</span></th>
      </tr>
      <tr>
        <th pFrozenColumn class="text-center">Cédula</th>
        <th class="text-center">Nombre Trabajador</th>
        <th class="text-center">Hora Ordinaria</th>
        <th class="text-center">Incapacidad</th>
        <th class="text-center">Horas Extra</th>
        <th class="text-center">Transporte</th>
        <th class="text-center">Devengos</th>
        <th class="text-center">EPS</th>
        <th class="text-center">Pensión</th>
        <th class="text-center">Ahorro</th>
        <th class="text-center">Prestamo/Anticipo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr (dblclick)="editPayrollByWorker(data)">
        <td class="text-center">{{rowIndex + 1}}</td>
        <td pFrozenColumn>{{data.idWorker}}</td>
        <td>{{data.worker}}</td>
        <td class="text-right">{{data.valueDaysToPay | number : '1.2-2'}}</td>
        <td class="text-right">{{totalDisabilityByWorker(data) | number : '1.2-2'}}</td>
        <td class="text-right">{{data.totalValueAdictionalFee | number : '1.2-2'}}</td>
        <td class="text-right">{{data.transpotationAssitance | number : '1.2-2'}}</td>
        <td class="text-right">{{data.accrued | number: '1.2-2'}}</td>
        <td class="text-right">{{data.eps | number: '1.2-2'}}</td>
        <td class="text-right">{{data.afp | number: '1.2-2'}}</td>
        <td class="text-right">{{data.saving | number: '1.2-2'}}</td>
        <td class="text-right">{{totalLoanAdvance(data) | number: '1.2-2'}}</td>
        <td alignFrozen="right" pFrozenColumn class="text-right fw-bold">{{data.subTotalToPay | number: '1.2-2'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td pFrozenColumn colspan="3" class="text-right fw-bold">Totales</td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold"></td>
        <td class="text-right fw-bold" alignFrozen="right" pFrozenColumn></td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    [value]="payroll"
    *ngIf="load">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2">#</th>
        <th pFrozenColumn colspan="2" class="text-center"><span class="badge colorBadgeWorker">Trabajador</span></th>
        <th colspan="4" class="text-center"><span class="badge colorBadgeAccrued">Devengos</span></th>
        <th colspan="5" class="text-center"><span class="badge colorBadgeDeductions">Deducciones</span></th>
        <th alignFrozen="right" pFrozenColumn rowspan="2" class="text-center"><span class="badge colorBadgeTotalPay">Total a Pagar</span></th>
      </tr>
      <tr>
        <th pFrozenColumn class="text-center">Cédula</th>
        <th class="text-center">Nombre Trabajador</th>
        <th class="text-center">Hora Ordinaria</th>
        <th class="text-center">Horas Extra</th>
        <th class="text-center">Transporte</th>
        <th class="text-center">Devengos</th>
        <th class="text-center">Incapacidad</th>
        <th class="text-center">EPS</th>
        <th class="text-center">Pensión</th>
        <th class="text-center">Ahorro</th>
        <th class="text-center">Prestamo/Anticipo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td pFrozenColumn colspan="3" class="text-rigth">Totales</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td alignFrozen="right" pFrozenColumn></td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog [(visible)]="modalPayroll" [style]="{width: '90%', height: '80%'}" header="Editar Devengos y Deducciones" [modal]="true">
  <form [formGroup]="formPayrollWorker">
    <p-accordion [multiple]="true" [activeIndex]="[0,1,2,3]">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-id-card mr-2"></i>
            <span class="vertical-align-middle">Datos Usuario</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input formControlName="idWorker" type="text" id="idWorker" pInputText [required]="true" [readonly]="true"/>
                <label for="idWorker">Id Trabajador</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 col-xxl-4">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input formControlName="worker" type="text" id="worker" pInputText [required]="true" [readonly]="true"/>
                <label for="worker">Nombre Trabajador</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="baseSalary" inputId="baseSalary" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="baseSalary">Salario Base</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="absentDays" inputId="absentDays" [required]="true"></p-inputNumber>
                <label for="absentDays">Días Ausente</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysToPay" inputId="daysToPay" [required]="true"></p-inputNumber>
                <label for="daysToPay">Días a Pagar</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="hoursToPay" inputId="hoursToPay" [required]="true"></p-inputNumber>
                <label for="hoursToPay">Horas a Pagar</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysToPay" inputId="valueDaysToPay" [required]="true"></p-inputNumber>
                <label for="valueDaysToPay">Valor Días</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-dollar mr-2"></i>
            <span class="vertical-align-middle">Devengos</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row g-4 my-2">
            <!-- DISABILITIES -->
            <div class="container-fluid my-1">
              <p-divider align="left">
                <span class="p-tag cursor"><i class="pi pi-heart-fill"> </i> Incapacidades</span>
              </p-divider>
              <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysDisabilityGeneralIllines" inputId="daysDisabilityGeneralIllines" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysDisabilityGeneralIllines">Días Incap EG</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityGeneralIllines" inputId="valueDaysDisabilityGeneralIllines" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityGeneralIllines">Valor Incap EG</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysDisabilityWorkAccident" inputId="daysDisabilityWorkAccident" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysDisabilityWorkAccident">Días Incap AT</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityWorkAccident" inputId="valueDaysDisabilityWorkAccident" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityWorkAccident">Valor Incap AT</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="daysDisabilityParents" inputId="daysDisabilityParents" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="daysDisabilityParents">Días Incap PAT/MAP</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueDaysDisabilityParents" inputId="valueDaysDisabilityParents" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueDaysDisabilityParents">Valor Incap PAT/MAP</label>
              </span>
            </div>

            <!-- EXTRA HOURS -->
            <div class="container-fluid my-1">
              <p-divider align="left">
                <span class="p-tag cursor"><i class="pi pi-plus-circle"> </i> Horas Extra</span>
              </p-divider>
              <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalDaytimeHours" inputId="adictionalDaytimeHours" [required]="true" (onKeyDown)="calculateValueAdictionalDaytimeHours()"></p-inputNumber>
                <label for="adictionalDaytimeHours">Horas ADC Diurnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueAdictionalDaytimeHours" inputId="valueAdictionalDaytimeHours" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueAdictionalDaytimeHours">Valor Horas ADC Diurnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalNightHours" inputId="adictionalNightHours" [required]="true"></p-inputNumber>
                <label for="adictionalNightHours">Horas ADC Nocturnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueAdictionalNightHours" inputId="valueAdictionalNightHours" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueAdictionalNightHours">Valor Horas ADC Nocturnas</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="extraHoursDaytimeSunday" inputId="extraHoursDaytimeSunday" [required]="true"></p-inputNumber>
                <label for="extraHoursDaytimeSunday">Horas Ext Diurnas Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueExtraHoursDaytimeSunday" inputId="valueExtraHoursDaytimeSunday" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueExtraHoursDaytimeSunday">Valor Horas Ext Diurnas Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours035" inputId="surchagedHours035" [required]="true"></p-inputNumber>
                <label for="surchagedHours035">Horas Recargo 35%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours035" inputId="valueSurchagedHours035" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours035">Valor Horas Recargo 35%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="extraHoursNightSunday" inputId="extraHoursNightSunday" [required]="true"></p-inputNumber>
                <label for="extraHoursNightSunday">Horas Ext Noct Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueExtraHoursNightSunday" inputId="valueExtraHoursNightSunday" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueExtraHoursNightSunday">Valor Horas Ext Noct Dom</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours075" inputId="surchagedHours075" [required]="true"></p-inputNumber>
                <label for="surchagedHours075">Horas ADC 75%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours075" inputId="valueSurchagedHours075" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours075">Valor Horas ADC 75%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="surchagedHours100" inputId="surchagedHours100" [required]="true"></p-inputNumber>
                <label for="surchagedHours100">Horas ADC 100%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="valueSurchagedHours100" inputId="valueSurchagedHours100" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="valueSurchagedHours100">Valor Horas ADC 100%</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="adictionalFee" inputId="adictionalFee" [required]="true"></p-inputNumber>
                <label for="adictionalFee">Tarifa ADC</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="totalValueAdictionalFee" inputId="totalValueAdictionalFee" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="totalValueAdictionalFee">Total Valor ADC COMP</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="transpotationAssitance" inputId="transpotationAssitance" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="transpotationAssitance">Aux Transporte</label>
              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
              <span class="p-float-label">
                <p-inputNumber formControlName="accrued" inputId="accrued" [required]="true" [readonly]="true"></p-inputNumber>
                <label for="accrued">Devengado</label>
              </span>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-money-bill mr-2"></i>
            <span class="vertical-align-middle">Deducciones</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-wallet mr-2"></i>
            <span class="vertical-align-middle">Total</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </form>
</p-dialog>
