<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }">Movimientos Bodega de Rollos {{currentStore}}</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <!--*Titulo formulario-->
  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }"><i class="pi pi-filter"></i> Filtros de Búsqueda</h2>
  </div>

  <!--*Formulario de busqueda-->
  <form [formGroup]="form" (ngSubmit)="getMovements()">
    <div class="row g-4 my-4">

      <!--*RANGO DE FECHAS-->
      <div class="col-sm-12 col-md-6 col-xl-2">
          <span class="p-float-label">
            <p-calendar formControlName="rankDates" inputId="fecha" selectionMode="range" [showIcon]="true"></p-calendar>
            <label for="fecha">Rango de Fechas</label>
          </span>
      </div>  
  
      <!--* OT -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl">
          <span class="p-float-label">
          <p-inputNumber formControlName="orderProduction" [useGrouping]="false" inputId="orderProduction" [required]="true"></p-inputNumber>
          <label for="orderProduction">OT</label>
          </span>
      </div>
  
      <!--* ITEM -->
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="reference" id="prod" list="producto" type="text" pInputText (change)="selectedProduct()" (keydown)="searchProduct()"/>
          <datalist id="producto">
            <option value={{item.prod_Id}} *ngFor="let item of products">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="prod">Producto</label>
        </span>
      </div>
  
      <!--* PRODUCTION -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl">
          <span class="p-float-label">
          <p-inputNumber formControlName="production" [useGrouping]="false" inputId="production" [required]="true"></p-inputNumber>
          <label for="production">Rollo/Bulto</label>
          </span>
      </div>

      <!--* TYPE MOV. -->
      <div class="col-sm-12 col-md-6 col-xl-2">
         <span class="p-float-label">
           <p-dropdown formControlName="typeMov" inputId="typeMov" [autoDisplayFirst]="false" [options]="typesMovements"></p-dropdown>
           <label for="typeMov">Tipo Movimiento</label>
         </span>
      </div>

      <!--* PROCESS-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="process" id="process" [readonly]="![95,1].includes(ValidarRol)" [options]="process" optionLabel="proceso_Nombre" optionValue="proceso_Id" [autoDisplayFirst]="true"></p-dropdown>
          <label for="process">Proceso</label>
        </span>
      </div>

      <!--* BUTTONS-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearFields()"></button>
      </div>
    </div>
  </form>

  <p-divider></p-divider>

  <!--* Titulo tabla-->
  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }"><i class="pi pi-table"></i> Tabla de registros consultados</h2>
  </div>

  <!--* Tablas-->
  <div class="row g-4">

    <div class="col-sm-12 col-md-6 col-xxl-6">

      <!--* Titulo ENTRADA -->
      <p-toolbar styleClass="mb-2">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="center">
          <h2><b class="mr-2" [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }"><i class="pi pi-cloud-download"></i> Entradas a bodega</b></h2>
        </ng-template>
        <ng-template pTemplate="right">
        </ng-template>
      </p-toolbar>

      <!--* ENTRADAS -->
      <p-table 
        #tableMovIn
        [value]="dataFoundIn"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="50rem"
        *ngIf="!load"
        [paginator]="true"
        [rows]="50"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100, 200]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
          <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'roll', tableMovIn)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'ot', tableMovIn)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'item', tableMovIn)"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'reference', tableMovIn)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'quantity', tableMovIn)"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'date', tableMovIn)"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'status', tableMovIn)"></th>
            <th></th>
          </tr>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Rollo</th>
            <th class="text-center">OT</th>
            <th class="text-center">Item</th> 
            <th class="text-center">Referencia</th> 
            <th class="text-center">Peso (Kg)</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Ver</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr class="cursor">
            <td class="text-center">{{rowIndex + 1}}</td>
            <td class="text-center"><b>{{ data.roll }}</b></td>
            <td class="text-center">{{ data.ot }}</td>
            <td class="text-center"><b>{{ data.item }}</b></td>
            <td>{{ data.reference }}</td>
            <td class="text-center" [ngClass]="{'textGreen': ['DISPONIBLE'].includes(data.status), 'textRed': ['NO DISPONIBLE'].includes(data.status), 'textYellow': ['DEVUELTO'].includes(data.status) }"><b>{{ data.quantity | number : '1.2-2' }}</b></td>
            <td class="text-center">{{ data.date | date : 'dd/MM/yyyy' }}</td>
            <td class="text-center"><span class="badge" [ngClass]="{'bg-success1': ['DISPONIBLE'].includes(data.status), 'bg-danger1': ['NO DISPONIBLE'].includes(data.status), 'bg-warning3': ['DEVUELTO'].includes(data.status) }">{{ data.status }}</span> </td>
            <td class="text-center"><p-button icon="pi pi-file-pdf" [rounded]="true" severity="danger" (onClick)="viewEntryPDF(data)"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5" class="text-right">Cantidad Total</td>
            <td class="text-center">{{totalQty(dataFoundIn) | number : '1.2-2'}}</td>
            <td colspan="3"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    
    <div class="col-sm-12 col-md-6 col-xxl-6">
      
       <!--* Titulo SALIDAS -->
       <p-toolbar styleClass="mb-2">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="center">
          <h2><b class="mr-2" [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }"><i class="pi pi-cloud-download"></i> Salidas de bodega</b></h2>
        </ng-template>
        <ng-template pTemplate="right">
        </ng-template>
      </p-toolbar>

      <!--* SALIDAS-->
      <p-table 
        #tableMovOut
        [value]="dataFoundOut"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="50rem"
        *ngIf="!load"
        [paginator]="true"
        [rows]="50"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100, 200]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
          <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'roll', tableMovOut)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'ot', tableMovOut)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'item', tableMovOut)"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'reference', tableMovOut)"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="applyFilter($event, 'quantity', tableMovOut)"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'date', tableMovOut)"></th>
            <th></th>
          </tr>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Rollo</th>
            <th class="text-center">OT</th>
            <th class="text-center">Item</th> 
            <th class="text-center">Referencia</th> 
            <th class="text-center">Peso (Kg)</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Ver</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr class="cursor">
            <td class="text-center">{{rowIndex + 1}}</td>
            <td class="text-center"><b>{{ data.roll }}</b></td>
            <td class="text-center">{{ data.ot }}</td>
            <td class="text-center"><b>{{ data.item }}</b></td>
            <td>{{ data.reference }}</td>
            <td class="text-center textRed"><b>{{ data.quantity | number : '1.2-2' }}</b></td>
            <td class="text-center">{{ data.date | date : 'dd/MM/yyyy' }}</td>
            <td class="text-center"><p-button icon="pi pi-file-pdf" [rounded]="true" severity="danger" (onClick)="viewEntryPDF(data)"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5" class="text-right">Cantidad Total</td>
            <td class="text-center textRed">{{totalQty(dataFoundOut) | number : '1.2-2'}}</td>
            <td colspan="2"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
</p-card>  
