<form [formGroup]="form">
  <div class="mb-3">
    <div class="row g-4">
      <!--Cedula-->
      <div class="col-md-12">
        <span class="p-float-label">
          <p-inputNumber formControlName="id" id="id" [readonly]="true" [useGrouping]="false"></p-inputNumber>
          <label for="id">Cedula</label>
        </span>
      </div>

      <!--Nombre-->
      <div class="col-md-12">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="name" [readonly]="true" id="name"/>
          <label for="name">Empleado</label>
        </span>
      </div>

      <!--Prestamo-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="valueLoan" id="valueLoan" [useGrouping]="true" [minFractionDigits]="2"></p-inputNumber>
          <label for="valueLoan">Valor prestamo</label>
        </span>
      </div>

      <!--Cancelado-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="valueCancel" id="valueLoan" [useGrouping]="true" [minFractionDigits]="2"></p-inputNumber>
          <label for="valueLoan">Valor Cancelado</label>
        </span>
      </div>

      <!--Deuda-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="valueDebt" id="valueLoan" [useGrouping]="true" [minFractionDigits]="2"></p-inputNumber>
          <label for="valueLoan">Valor Deuda</label>
        </span>
      </div>

      <!--Nro cuotas-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="qtyFees" id="qtyFees" [useGrouping]="false"></p-inputNumber>
          <label for="qtyFees">N° cuotas</label>
        </span>
      </div>

      <!--Cuota-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="valueFee" id="valueFee" [useGrouping]="true" [minFractionDigits]="2"></p-inputNumber>
          <label for="valueFee">Valor cuota</label>
        </span>
      </div>

      <!-- Fecha Inicio Prestamo -->
      <div class="col-md-6">
        <span class="p-float-label" id="rank-dates1">
          <p-calendar id="initialDate" inputId="initialDate" readonly="true" formControlName="initialDate" [showIcon]="true"></p-calendar>
          <label for="initialDate">Fecha Inicio</label>
        </span>
      </div>

      <!--Lapso de cuota-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-dropdown formControlName="lapseFees" inputId="lapseFees" [autoDisplayFirst]="false" [options]="moments"></p-dropdown>
          <label for="lapseFees">Lapso cuotas</label>
        </span>
      </div>

       <!-- Fecha plazo -->
       <div class="col-md-6">
        <span class="p-float-label" id="rank-dates2">
          <p-calendar id="dateTerm" inputId="dateTerm" formControlName="dateTerm" [showIcon]="true"></p-calendar>
          <label for="dateTerm">Fecha Plazo</label>
        </span>
      </div>

      <!--Dias faltantes-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-inputNumber formControlName="qtyDays" id="qtyDays" [useGrouping]="false"></p-inputNumber>
          <label for="qtyDays">Dias faltantes</label>
        </span>
      </div>

      <!--Estado-->
      <div class="col-md-6">
        <span class="p-float-label">
          <p-dropdown formControlName="status" inputId="status" [autoDisplayFirst]="false" [options]="statusLoan" optionValue="estado_Id" optionLabel="estado_Nombre" ></p-dropdown>
          <label for="status">Estado</label>
        </span>
      </div>

      <!--Observación-->
      <div class="col-md-12">
        <span class="p-float-label">
          <textarea formControlName="observation" [rows]="1" pInputTextarea></textarea>
          <label for="textarea">Observación</label>
        </span>
      </div>

      <!--Boton actualizar -->
      <div class="col-md-12 mb-3">
        <p-button icon="pi pi-sync" pRipple severity="danger" label="Actualizar Prestamo" (onClick)="updateLoan()"></p-button>
      </div>
    </div>
  </div>
</form>
