<!--Navegador parte superior -->
<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Desperdicio</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">
  <div class="mb-4">
    <h4 class="tituloRojo">Registro de Desperdicio</h4>
  </div>

  <!-- Formulario del pedido de mantenimiento -->
  <form [formGroup]="FormDesperdicio">
    <div class="mb-3">
      <div class="row g-3">
        <!-- OT -->
        <div class="form-floating col-md-2">
          <input formControlName="OTDesperdicio" class="form-control form-control-sm" id="floatingInput" type="number" min="100000" (keyup.enter)="consultarOrdenTrabajo()">
          <label for="floatingInput">OT</label>
        </div>

        <!-- ID PRODUCTO -->
        <div class="form-floating col-md-2">
          <input formControlName="IdProducto" class="form-control form-control-sm" id="floatingInput" type="number" readonly onmousedown="return false;">
          <label for="floatingInput">Id Producto</label>
        </div>

        <!-- NOMBRE PRODUCTO -->
        <div class="form-floating col-md-4">
          <input formControlName="Producto" class="form-control form-control-sm" id="floatingInput" type="text" readonly onmousedown="return false;">
          <label for="floatingInput">Nombre Producto</label>
        </div>

        <!-- TIPO DE MATERIAL -->
        <div class="form-floating col-md-4">
          <input formControlName="TipoMaterial" class="form-control form-control-sm" list="material" id="floatingInput" type="text" (change)="buscarMaterial()" required>
          <datalist id="material">
            <option value={{item.material_Id}} *ngFor="let item of materiales">{{item.material_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Tipo de Material</label>
        </div>

        <!-- IMPRESO -->
        <div class="form-floating col-md-2">
          <div class="field-radiobutton">
            <p-radioButton formControlName="Impreso" name="Impreso" value="SI" inputId="city1"></p-radioButton>
            <label for="city1">Impreso</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton formControlName="Impreso" name="Impreso" value="NO" inputId="city2"></p-radioButton>
            <label for="city2">No Impreso</label>
          </div>
        </div>

        <!-- MAQUINA -->
        <div class="form-floating col-md-2">
          <input formControlName="Maquina" class="form-control form-control-sm" list="Maquinas" id="floatingInput" (change)="buscarMaquina()" required>
          <datalist id="Maquinas">
            <option value={{item.actv_Id}} *ngFor="let item of maquinas">{{item.actv_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Maquina</label>
        </div>

        <!-- OPERARIO -->
        <div class="form-floating col-md-3">
          <input formControlName="Operario" class="form-control form-control-sm" list="Operario" id="floatingInput" (change)="buscarOperario()" required>
          <datalist id="Operario">
            <option value={{item.usua_Id}} *ngFor="let item of operarios">{{item.usua_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Operarios</label>
        </div>

        <!-- NO CONFORMIDAD -->
        <div class="form-floating col-md-3">
          <input formControlName="TipoNoConformidad" class="form-control form-control-sm" list="TipoNoConformidad" id="floatingInput" (change)="buscarFalla()" required>
          <datalist id="TipoNoConformidad">
            <option value={{item.falla_Id}} *ngFor="let item of fallas">{{item.falla_Nombre}}</option>
          </datalist>
          <label for="floatingInput">No Conformidad</label>
        </div>

        <!-- CANTIDAD DE DESPERDICIO -->
        <div class="form-floating col-md-2">
          <input formControlName="CantidadKg" type="number" id="floatingSelect" class="form-control form-control-sm" min="1" required>
          <label for="floatingInput">Cantidad</label>
        </div>

        <!-- AREA -->
        <div class="form-floating col-md-2">
          <input formControlName="Area" class="form-control form-control-sm" list="Area" id="floatingInput" (change)="buscarProceso()" required>
          <datalist id="Area">
            <option value={{item.proceso_Id}} *ngFor="let item of procesos">{{item.proceso_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Procesos</label>
        </div>

        <!-- FECHA ENTREGA -->
        <div class="form-floating col-md-2">
          <input formControlName="Fecha" type="date" class="form-control form-control-sm" id="floatingInput">
          <label for="floatingInput">Fecha Entrega</label>
        </div>

        <!-- OBSERVACION -->
        <div class="form-floating col-6 col-md">
          <textarea formControlName="Observacion" id="floatingTextArea" type="text" class="form-control form-control-sm"></textarea>
          <label for="floatingTextArea">Observación</label>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="llenarTabla()">Añadir Desperdicio</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
      </div>
    </div>
  </form>

  <!-- TABLA DE RETIRO -->
  <div class="row g-3">
    <div class="table-responsive">
      <p-table
        #dt
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="20"
        [rowHover]="true"
        [value]="grupoDespercios">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">OT</th>
            <th scope="col">Item</th>
            <th scope="col">Maquina</th>
            <th scope="col">Material</th>
            <th scope="col">Operario</th>
            <th scope="col">Area</th>
            <th scope="col">No Conformidad</th>
            <th scope="col">Cantidad Kg</th>
            <th scope="col">Impreso</th>
            <th scope="col">Observacion</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-desperdicio>
          <tr>
            <td>{{desperdicio.Ot}}</td>
            <td>{{desperdicio.Item}}</td>
            <td>{{desperdicio.Maquina}}</td>
            <td>{{desperdicio.Material}}</td>
            <td>{{desperdicio.Operario}}</td>
            <td>{{desperdicio.Area}}</td>
            <td>{{desperdicio.NoConformidad}}</td>
            <td>{{desperdicio.Cantidad}}</td>
            <td>{{desperdicio.Impreso}}</td>
            <td>{{desperdicio.Observacion}}</td>
            <td><i class="pi pi-trash cursor" title="Quitar Desperdicio" (click)="quitarDesperdicio(desperdicio)"></i></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-danger btn-danger-sm" type="button" (click)="crearDesperdicio()">Crear Desperdicio</button>
    <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodo()">Limpiar Todo</button>
  </div>

</div>
