.bg-danger1 {
  color: rgb(255, 255, 255);
  background-color: palevioletred;
  font-size: calc(var(--font-size) * 14px);
}

.bg-secondary1 {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
  font-size: calc(var(--font-size) * 14px);
}

.bg-warning1 {
  color: rgb(129, 116, 0);
  background-color: palegoldenrod;
  font-size: calc(var(--font-size) * 14px);
}

.bg-success1 {
  color: rgb(6, 100, 3);
  background-color: palegreen;
  font-size: calc(var(--font-size) * 14px);
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
  margin : 0;
}

.advertencia {
  text-align: center;
  color: darkgray;
  padding: inherit;
}

p-knob ::ng-deep .p-knob-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.container-fluid {
  padding-bottom: 2%;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.boldAmarillo {
  color: palegoldenrod;
}


