.bg-danger1 {
  color: rgb(255, 255, 255);
  background-color: palevioletred;
  font-size: calc(var(--font-size) * 14px);
}

.bg-secondary1 {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
  font-size: calc(var(--font-size) * 14px);
}

.bg-warning1 {
  color: rgb(129, 116, 0);
  background-color: palegoldenrod;
  font-size: calc(var(--font-size) * 14px);
}

.bg-success1 {
  color: rgb(6, 100, 3);
  background-color: palegreen;
  font-size: calc(var(--font-size) * 14px);
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
  width: 100%;
  margin : 0;
}

.advertencia {
  text-align: center;
  color: darkgray;
  padding: inherit;
}

p-knob ::ng-deep .p-knob-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.container-fluid {
  padding-bottom: 2%;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.fondo {
  background-color: #a5d2ff;
  background-image: linear-gradient(62deg, #a5d2ff 0%, #c7f7ff 100%);
  border-radius: 20px;
}

p-card ::ng-deep [class = "p-card p-component"] {
  border: 3px solid #fefefe00;
  border-radius: 20px;
  transition: all 500ms;
}

p-card ::ng-deep [class = "p-card p-component"]:hover {
  border: 3px solid #00000008;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.2);
  width: calc(100% + 0.1%);
  height: calc(100% + 1%);
}

.slide-in-blurred-top {
	animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-bottom {
	animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.fondo, .fondo2 {
  --s: 105px; /* control the size */
  --c1: #7c88b7;
  --c2: #9ab6cd;
  --c3: #6c7691;

  background:
    conic-gradient(from 75deg,var(--c1)   15deg ,var(--c2) 0 30deg ,#0000 0 180deg,
                              var(--c2) 0 195deg,var(--c1) 0 210deg,#0000 0) 
       calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
    conic-gradient(var(--c1)   30deg ,var(--c3) 0 75deg ,var(--c1) 0 90deg, var(--c2) 0 105deg,
                   var(--c3) 0 150deg,var(--c2) 0 180deg,var(--c3) 0 210deg,var(--c1) 0 256deg,
                   var(--c2) 0 270deg,var(--c1) 0 286deg,var(--c2) 0 331deg,var(--c3) 0);
  background-size: var(--s) calc(var(--s)/0.577);
}