.espacioLinea {
  margin-bottom: 1%;
}

.tituloRojo{
  color: rgb(158, 1, 1);;
}

.colorLinea{
  color: #b6bac2;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.autocomplete {
  width: auto;
}
