<p>areas-component works!</p>

<div class="container-fluid">

  <div class="mb-3">
    <h4 class="tituloRojo">Áreas</h4>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Registrar/Consultar áreas</h4>
    </div>

  <!--Inicio formulario con property binding y ng submit con metodo en el areasComponent.ts-->
  <!--
  Bindear inputs con propiedades del formulario en el constructor de areasComponent.
  Ej: dar el mismo valor en el formControlName = "areaCodigo" y en el formularioAreas
  en areasComponent.ts areaCodigo : ...
  -->
  <form [formGroup]="formularioAreas" (ngSubmit)="agregarAreas2()">
  <div class="row g-3">

    <!--[(ngModel)]="areaCodigo" codigo utilizado en otro metodo, no borrar-->
    <div class="col-md">
        <input formControlName="areaCodigo"  id=""  class="form-control form-control-sm" placeholder="Código" minlength="6" maxlength="10" name="Codigo" required>
    </div>
    <!--[(ngModel)]="areaNombre" codigo utilizado en otro metodo, no borrar-->
    <div class="col-md">

        <input formControlName="areaNombre" id="" type="text" class="form-control form-control-sm" minlength="3" maxlength="50"   placeholder="Nombre" name="Nombre" required>
    </div>
    <!--[(ngModel)]="areaDescripcion" codigo utilizado en otro metodo, no borrar-->
    <div class="col-md">

        <textarea formControlName="areaDescripcion" id="" type="text" class="form-control form-control-sm"  maxlength="200" placeholder="Descripción" name="Descripcion" ></textarea>
    </div>
  </div>

  <div class="mb-3">
    <br>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-danger btn-danger-sm" type="submit" >Agregar área</button>
    <button class="btn btn-secondary btn-secondary-sm" type="button" >Limpiar campos</button>
  </div>
</form>

  <!--Fin formulario-->
</div>
</div>
