<!--Navegador parte superior -->
<app-menuLateral></app-menuLateral>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Materias Primas (Recuperado)</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
<!-- Navegador fin de parte superior -->
<div class="container-fluid">
  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Consultar Movimientos</h4>
    </div>
    <!-- FORMULARIO DE MATERIAS PRIMAS -->
    <form [formGroup]="formReporteRMP">
      <div class="mb-3">
        <div class="row g-3">
          <!-- Fecha Inicial -->
          <div class="form-floating col-md-2">
            <input formControlName="FechaInicial" type="date" class="form-control form-control-sm" id="floatingInput">
            <label for="floatingInput">Fecha Inicial</label>
          </div>
          <!-- Fecha Final -->
          <div class="form-floating col-md-2">
            <input formControlName="FechaFinal" type="date" class="form-control form-control-sm" id="floatingInput">
            <label for="floatingInput">Fecha Final</label>
          </div>
          <!-- Materia Prima -->
          <div class="form-floating col-md">
            <input formControlName="MateriaPrima" class="form-control" list="materiasPrimas" id="floatingInput" (change)='buscarMateriaPrima()'>
            <datalist id="materiasPrimas">
              <option value={{item.matPri_Id}} *ngFor="let item of materiasPrimas">{{item.matPri_Nombre}}</option>
            </datalist>
            <label for="floatingInput">Materia Prima</label>
          </div>
          <!-- Turnos -->
          <div class="form-floating col-md-1">
            <input formControlName="Turno" class="form-control" list="turnos" id="floatingInput" (change)='buscarMateriaPrima()'>
            <datalist id="turnos">
              <option value={{item.turno_Id}} *ngFor="let item of turnos">{{item.turno_Nombre}}</option>
            </datalist>
            <label for="floatingInput">Turno</label>
          </div>
          <!-- Operarios -->
          <div class="form-floating col-md">
            <input formControlName="Operario" class="form-control" list="operarios" id="floatingInput" (change)='buscarOperarios()'>
            <datalist id="operarios">
              <option value={{item.usua_Id}} *ngFor="let item of operarios">{{item.usua_Nombre}}</option>
            </datalist>
            <label for="floatingInput">Operario</label>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="mb-1">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-danger btn-danger-sm" type="button" (click)="consultar()">Consultar</button>
          <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
        </div>
      </div>
    </form>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>

    <div class="mb-4">
      <h4 class="tituloRojo">Listado de Materias Primas</h4>
    </div>

    <div class="mb-2">
      <div class="row g-1">
        <p-table
          [columns]="columnas"
          [value]="registros"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          [(first)]="first"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[20,30,50,70,100]"
          [rowHover]="true"
          dataKey="id"
          responsiveLayout="scroll">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">{{col.header}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{rowData[col.field]}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="modal fade" id="staticBackdrop2" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Datos Peletizado</h5>
            <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-Modal_RptRecuperadoMP></app-Modal_RptRecuperadoMP>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
