.contain{
  width: 100%;
}

.col-1{
width: 12%;
background-color: rgb(252, 252, 252);
padding: 1%;
}

.col-2{
width: 88%;
}

.nombreEmpresa {

  text-align: center;
}

.tituloRojo{
  color: rgb(158, 1, 1);;
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
  text-decoration: none;
  color: #5D6D7E;
}

.fst-normal{
  font-size: small;
}

.reportes {
  position: relative;
  width: 90%;
  margin: 2em auto;

}
.reportes #search {
    width: 40%;
    display: block;
}

.col-xs-3{

  width: 20%;


}

.form {
  width: 450px;
}

.mb-3{
  width: 100%;
	height: 50px;

}


/* search input */
input {
	outline: none;
}
input[type=search] {

	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}

input[type=search]:focus {
	width: 180px;
	background-color: #fff;
	border-color: rgb(158, 1, 1);

}


/* fin de funcion buscar */



.espacioLinea {
  margin-bottom: 1%;
}

.contenedor_titulo{
  margin: 30px 0 2% 10px;
  text-align: center;
}

.tituloRojo{
  color: rgb(158, 1, 1);;
}

.colorLinea{
  color: #b6bac2;
  height: 3px;
}
.identificador{
  width: 150px;
}

textarea{
  height: 80px;
  width: 800px;

}

.row{
  width: 100%;
}


