    
           <!--Navegador parte superior -->
           <div class="contain">

            <nav class="navbar navbar-expand-lg ">
             <div class="container-fluid">
             <p>Plasti<span>caribe S.A.S</span> </p>
             </div>
                 <div> 
                  <ul class="btn-group open">
                    <li class="fa fa-user fa-fw"></li><p>{{storage_Nombre}} {{storage_Rol}} </p>  | <span> <li class="fa fa-sign-out " aria-hidden="true" (click)="confimacionSalida()">Cerrar Seccion</li> </span>
                   
                  </ul>
               
                </div>
                 </nav>
                 <!-- Navegador fin de parte superior -->
                 
                 <br>
                 <div class="container-fluid">
                   <div class="container">
                     <div class="mb-4">
                       <h4 class="tituloRojo">Reportes</h4>
                     </div>
                 
      
      
  
      
     
    
      
      
      <!-- centro de la pagina-->
      <!-- <div class="row g-3">
      <div class="col-md">
       <select formControlName="Areas" id="Areas" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
         <option disabled>Areas</option>
         <option value="1">Lamiando</option>
         <option value="2">Estrucion</option>
         <option value="3">Diseño</option>
         <option value="4">Corte</option>
         <option value="5">Almacen</option>
       </select>
      </div> -->
      
      
          <!-- < !-- Inicio formulario --> 
           <form [formGroup]="FormConsultaReportes" (ngSubmit)="validarCamposVacios()">
               <div class="row g-3">
      
                  <!-- TIPO DE REPORTES -->
                 <div class="col-md-2">
                   <select formControlName="ReportesConsulta" id="ReportesId" type="text" name="TipoReportes" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                     <option [ngValue]="null" disabled selected>Seleccione Tipo Reporte</option>
                     <option [ngValue]="tipoReportes" *ngFor="let TipoReportes of tipoReportes">{{tipoReportes}}</option>
                   </select>
                 </div>

                  <!-- ESTADOS -->
                  <div class="col-md-2">
                    <select formControlName="ReportesEstadoConsulta" id="ReportesEstadoId" type="text" name="ReportesEstadoId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                      <option [ngValue]="null" disabled selected>Seleccione Estado</option>
                      <option [ngValue]="estados" *ngFor="let estados of estado">{{estados}}</option>
                    </select>
                  </div>

                  <!-- AREAS -->
                  <div class="col-md-2">
                    <select formControlName="ReportesAreaConsulta" id="ReportesAreaId" type="text" name="ReportesAreaId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                      <option [ngValue]="null" disabled selected>Seleccione Areas </option>
                      <option [ngValue]="Areas" *ngFor="let Areas of Areas">{{Areas}}</option>
                    </select>
                  </div>
                
                 <!-- NUMERO DE IDENTIFICACION DEL PEDIDO DE PRODUCTOS -->
                 <div class="col-md-2">
                   <input formControlName="ReporteIdConsulta"  type="number" class="form-control form-control-sm" id="ReportesId" placeholder="N° del Pedido" name="ReportesId" title="Consecutivo identificador del Pedido">
                 </div>

                 <!-- FECHA EN QUE SE HIZO EL PEDIDO -->

                 <!-- <div _ngcontent-irk-c59="" class="form-floating col-md-2">
                  <input _ngcontent-irk-c59="" formcontrolname="PedExtFechaEntregaConsulta" type="date" id="floatingInput" placeholder="Fecha entrega" name="PextFechaEntrega" title="Fecha Entrega" class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" ng-reflect-name="PedExtFechaEntregaConsulta">
                  <label _ngcontent-irk-c59="" for="floatingInput">Fecha de Entrega</label>
                </div> -->

                   
                 <!-- FECHA EN QUE SE TIENE QUE ENTREGAR EL PEDIDO -->

                 <div _ngcontent-irk-c59="" class="form-floating col-md-2">
                  <input _ngcontent-irk-c59="" formcontrolname="FechaPedidoConsulta" type="date" id="floatingInput" placeholder="Fecha Pedido" name="FechaPedido" title="Fecha Pedido" class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" ng-reflect-name="FechaPedidoConsulta">
                  <label _ngcontent-irk-c59="" for="floatingInput">Fecha Pedido</label>
                </div>

                
               
             </div>
      
           <!--Botones-->
           <div class="mb-3">
             <br>
           </div>
      
           <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
             <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Consultar</button>
             <button class="boton_limpiar btn btn-secondary btn-secondary-sm" expand="full" (click)="clear()" type="button">Limpiar Campos</button>
           </div>
      
      
           <div class="mb-5">
           <hr class="colorLinea">
         </div>
      
           <br>
           <h4 class="tituloRojo">Datos Del Reporte</h4>
           <br>
      
      
      
      <!--Formulario -->
      
      
                 <div class="mb-2">
                 <div class="row g-1">
                 <div class="table-responsive">
                 <!-- <div id="html2Pdf"> --> 
                   <table class="table table-bordered"  id="season-tble"  >
                   <thead class="TitulosTabla">
                       <tr>
                       <th  id="Items" scope="col">Items </th>
                       <th  id="Referencias" scope="col">Referencias</th>
                       <th  id="Clientes" scope="col">Clientes</th>
                       <th  id="Precio" scope="col">Precios </th>
                       <th  id="Existencias" scope="col">Existencias</th>
                       <th  id="Fecha"  scope="col">Fecha</th>
      
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let season of Seasons">
                        <td>{{ season.Items }}</td>
                        <td>{{ season.Referencia }}</td>
                        <td>{{ season.Clientes }}</td>
                        <td>{{ season.Precio}}</td>
                        <td>{{ season.Existencias }}</td>
                        <td>{{ season.Fecha }}</td>
                      </tr>
                      
                     </tbody>
                   </table>
                   <!-- paginacion -->
      
                       <!-- <div class="mb-2">
                             <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                               <pagination-controls (pageChange)="page = $event"></pagination-controls>
                           </div>  -->
                             <br>
                             <br>
                   <button class="btn btn-danger btn-danger-sm "  type="submit" (click)="exportToExcel()" >Descargar</button>
                 </div>
                 </div>
      
                 
                 <!-- <div>
                  <button (click)="exportToExcel()">Export to Excel</button>
                  <table id="season-tble">
                    <tr>
                      <th>Id</th>
                      <th>name</th>
                      <th>Fruit</th>
                    </tr>
                    <tr *ngFor="let season of Seasons">
                      <td>{{ season.id }}</td>
                      <td>{{ season.name }}</td>
                      <td>{{ season.fruit }}</td>
                    </tr>
                  </table>
                </div>
                <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Descargar</button>-->
      
      
      