.reportes {
  position: relative;
  width: 90%;
  margin: 2em auto;

}
.reportes #search {
    width: 40%;
    display: block;
}
.reportes .dateField {
  width: 45%;
  display: inline-block;
}
.reportes .dateField label {
    display: block;
  margin: 1em 1em 1em 0;
}
.reportes input {
  width: 60%;
  display: inline-block;
  padding: 0.5em;
  border-radius: 5px;
}
.reportes #dropModules {
    padding: .5em;
    width: 40%;
    border-radius: 5px;
    margin: 2em 0;
    display: block;
}
.reportes .button {
  cursor: pointer;
  width: 150px;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin: 1em auto 0 auto;
}
.reportes #excel {
  background: #262974;
}
.reportes #excel:hover, .reportes #report:hover {
  background: #6d6e72;
}
.reportes #report {
  background: #a42c16;
  left: 0;
}
.reportes h3 {
    margin: 3em 0 0 0;
}

.reportes table {
    border-collapse: collapse;
    margin: 1em 0 3em 0;
    width: 100%;
}
.reportes table, .reportes th, .reportes tr, .reportes td {
    border:1px solid;
}
.reportes table td, .reportes table th {
    padding: 1em;
}

.reportes table td {
    text-align:center;
}


@media screen and (max-width: 480px) {
    .reportes #dropModules, .reportes .dateField {
        width: 100%;
    }
    .reportes .dateField input {
        width: 95%;
    }
    .reportes .button {
        display: block;
        width: 80%;
        margin: 1em auto;
    }
    .reportes #search {

        width: 100%;
    }
    .reportes .tabla {
        overflow-x: auto;
        font-size: 14px;
    }

}
