
<a href="http://localhost:4200/principal/reportes" ></a>
<div class="reportes">
  <h1>Reportes</h1>
  <div class="dateField">
      <label>From</label>
      <input type="date" />
  </div>
  <div class="dateField">
      <label>To</label>
      <input type="date" />
  </div>

  <select name="modulos" id="dropModules">
      <option value="" disabled selected>Selecciona una opción</option>
      <option value="">Recibo de Material</option>
      <option value="">Incoming</option>
      <option value="">Embarque</option>
      <option value="">Almacén</option>
  </select>

  <input type="search" id="search" placeholder="Search" />

  <h3>Reporte de Recibo de Material</h3>

  <div class="tabla">
      <table>
    <thead>
      <tr>
        <th class="modelo">Modelo</th>
        <th class="fecha">Fecha</th>
        <th class="responsable">Responsable</th>
        <th class="proveedor">Proveedor/PO</th>
      </tr>
    </thead>
      </table>
  </div>

  <section id="btn-section">
      <div class="button" id="excel" title="Descargar XLS">Descargar XLS</div>
      <div class="button" id="report" title="Generar PDF">Generar PDF</div>
  </section>
</div>
