span{
  color: #db4149;
}



.btn-consultar, .btn-limpiarForm {
  padding-top: 1%;
}

@media (max-width: 991px) {
  .btn-consultar, .btn-limpiarForm {
    width: 100%;
    align-items: center;
  }

  .btn{
    width: 100%;
  }
}

.tabla1{
  display: flex;
}
