<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ingresar Rollos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid bajarPagina">
    <div class="formulario">
      <div class="mb-4">
        <h4 class="tituloRojo">Consultar OT</h4>
      </div>
      <!-- Formulario para consultar una orden de trabajo -->
      <form [formGroup]="FormConsultarRollos">
        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- OT -->
            <div class="form-floating col-md-2">
              <input formControlName="OT_Id" type="number" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Nro. OT</label>
            </div>

            <!-- Id Rolo -->
            <div class="form-floating col-md">
              <input formControlName="IdRollo" type="number" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">N° Rollo</label>
            </div>

             <!-- Fecha -->
             <div class="form-floating col-md-2">
              <input formControlName="fechaDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha inicial</label>
            </div>

            <!-- Fecha -->
            <div class="form-floating col-md-2">
              <input formControlName="fechaFinalDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha Final</label>
            </div>

            <!-- Tipo de Proceso -->
            <div class="form-floating col-md">
              <select formControlName="Proceso" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
                <option value="1">Empaque</option>
                <option value="2">Extrusión</option>
                <option value="3">Sellado</option>
              </select>
              <label for="floatingSelect">Proceso</label>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button pButton class="p-button-danger" type="button" label="Consultar Rollos" icon="pi pi-search" (click)="consultarOTbagPro()"></button>
              <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarForm()"></button>
            </div>
          </div>
        </div>
      </form>

      <div class="mb-4">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4 tabla1">
        <h4 class="tituloRojo" style="width: 58%;">Tabla de Rollos</h4>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 5%;">
          <div class="form-floating col-md">
            <input type="number" class="form-control form-control-sm" id="floatingInput"[(ngModel)]="rollosIngresados" readonly>
            <label for="floatingInput">Rollos ingresados</label>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 5%;">
          <div class="form-floating col-md">
            <input type="number" class="form-control form-control-sm" id="floatingInput"[(ngModel)]="rollosSinIngresar" readonly>
            <label for="floatingInput">Rollos No ingresados</label>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="form-floating col-md">
            <input type="number" class="form-control form-control-sm" id="floatingInput"[(ngModel)]="cantPage">
            <label for="floatingInput">N° Filas</label>
          </div>
        </div>
      </div>

      <!--Inicio tabla Rollos creados en OT -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">OT</th>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Fecha Ingreso</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentacion</th>
                  <th scope="col">Proceso</th>

                  <ng-container *ngIf="cantidadOT == 1">
                    <th scope="col"><input class="form-check-input cursor" style="margin-left: 40%;" type="checkbox" (change)="selccionarTodo()"></th>
                  </ng-container>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollos | paginate: {itemsPerPage: cantPage, currentPage: page} let i=index">
                  <ng-container *ngIf="item.exits; then thenTemplate; else elseTemplate"></ng-container>

                  <ng-template #thenTemplate>
                    <th style="background-color: rgb(255, 146, 146);">{{item.Ot}}</th>
                    <th style="background-color: rgb(255, 146, 146);">{{item.Id}}</th>
                    <td style="background-color: rgb(255, 146, 146);">{{item.IdProducto}}</td>
                    <td style="background-color: rgb(255, 146, 146);">{{item.Producto}}</td>
                    <td style="background-color: rgb(255, 146, 146);">{{item.Fecha}}</td>
                    <td style="background-color: rgb(255, 146, 146);">{{item.Cantidad | number}}</td>
                    <td style="background-color: rgb(255, 146, 146);">{{item.Presentacion}}</td>
                    <td style="background-color: rgb(255, 146, 146);">{{item.Estatus}}</td>
                    <!-- <td><input class="form-check-input" style="margin-left: 40%; cursor: pointer;" type="checkbox" (change)="cargarProducto(item)"></td> -->
                  </ng-template>

                  <ng-template #elseTemplate>
                    <th>{{item.Ot}}</th>
                    <th>{{item.Id}}</th>
                    <td>{{item.IdProducto}}</td>
                    <td>{{item.Producto}}</td>
                    <td>{{item.Fecha}}</td>
                    <td>{{item.Cantidad | number}}</td>
                    <td>{{item.Presentacion}}</td>
                    <td>{{item.Estatus}}</td>
                    <td><input class="form-check-input cursor" style="margin-left: 40%;" type="checkbox" (change)="cargarProducto(item)"></td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <div class="mb-2">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Tabla de Rollos por Ingresar</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentación</th>

                  <ng-container>
                    <th scope="col"><a><i class="fa fa-trash cursor" aria-hidden="true" title="Quitar Rollo de la tabla" (click)="quitarTodo()"></i></a></th>
                  </ng-container>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollosInsertar; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Presentacion}}</td>
                  <td><a><i class="fa fa-trash cursor" aria-hidden="true" title="Quitar Rollo de la tabla" (click)="quitarRollo(item)"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Consolidado Productos</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">N° Rollos</th>
                  <th scope="col">Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of grupoProductos; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Cantidad}}</td>
                  <td>{{item.Rollos}}</td>
                  <td>{{item.Presentacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="bajarPagina" *ngIf="cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="IngresarInfoRollos()">Ingresar Rollos</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
        </div>
      </div>
    </div>
  </div>
</div>
