<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"> Movimientos de Despacho</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-filter"></i> Filtros de búsqueda</h4>
  </div>

  <form [formGroup]="formSearchDespacho" (ngSubmit)="searchMovements()">
    <div class="row g-4 my-3">
      <!-- DATE START -->
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-calendar formControlName="dateStart" inputId="FechaInicial" [showIcon]="true"></p-calendar>
          <label for="FechaInicial">Fecha Inicial</label>
        </span>
      </div>

      <!-- DATE END -->
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-calendar formControlName="dateEnd" inputId="FechaInicial" [showIcon]="true"></p-calendar>
          <label for="FechaInicial">Fecha Fin</label>
        </span>
      </div>

      <!-- DOCUMENT -->
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <span class="p-input-icon-left p-float-label">
          <i class="pi pi-search"></i>
          <input formControlName="document" id="document" type="text" pInputText/>
          <label for="document">Cod. Documento</label>
        </span>
      </div>

      <!-- DRIVER -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <span class="p-float-label">
          <p-dropdown formControlName="driver" inputId="production" [autoDisplayFirst]="false" [options]="drivers" optionLabel="nombre" optionValue="id" [required]="true" [filter]="true" filterBy="nombre"></p-dropdown>
          <label for="operario">Conductores</label>
        </span>
      </div>

      <!-- ID CAR -->
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <span class="p-input-icon-left p-float-label">
          <i class="pi pi-search"></i>
          <input formControlName="car" id="document" type="text" pInputText/>
          <label for="document">Placa Camión</label>
        </span>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" id="consultar" type="submit" label="Consultar" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" id="limpiar" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearFields()"> </button>
      </div>
    </div>
  </form>

  <p-divider></p-divider>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Registros consultados</h4>
  </div>

  <p-table #dt 
  [value]="dataDespacho" 
  dataKey="id_Conductor" 
  [tableStyle]="{ 'min-width': '60rem' }"
  [resizableColumns]="true"
  responsiveLayout="scroll"
  [rowHover]="true"
  [scrollable]="true"
  scrollHeight="50rem">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'id_Conductor', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'conductor', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'placa', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'total', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'contado', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'fecha', 'contains')"></th>
        <th><input pInputText type="text" style="width: 100%;" (input)="applyFilter($event, 'planilla', 'contains')"></th>
        <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
      </tr>
      <tr>
        <th style="width: 5rem"></th>
        <th scope="col" pSortableColumn="id_Conductor">Id Conductor <p-sortIcon field="id_Conductor"></p-sortIcon></th>
        <th scope="col" pSortableColumn="conductor">Conductor <p-sortIcon field="conductor"></p-sortIcon></th>
        <th scope="col" pSortableColumn="placa">Placa Camión <p-sortIcon field="placa"></p-sortIcon></th>
        <th scope="col" pSortableColumn="">Valor Total <p-sortIcon field=""></p-sortIcon></th>
        <th scope="col" pSortableColumn="">Valor Contado <p-sortIcon field=""></p-sortIcon></th>
        <th scope="col" pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
        <th scope="col" pSortableColumn="planilla">N° Planilla <p-sortIcon field="planilla"></p-sortIcon></th>
        <th scope="col" pSortableColumn="" pFrozenColumn alignFrozen="right" [frozen]="true">Crear/Ver Planilla</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-expanded="expanded" let-rowIndex="rowIndex">
      <tr [ngClass]="{'cursor' : data.planilla != null }" (dblclick)="editSpreadSheet(data)" pTooltip="{{msgRowSpreadSheets(data)}}" tooltipPosition="top">
        <td>
          <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{data.id_Conductor}}</td>
        <td><b>{{data.conductor}}</b></td>
        <td>{{data.placa}}</td>
        <td><b>${{totalDispatch(data, rowIndex) | number : '1.2-2'}}</b></td>
        <td>${{totalCounting(data, rowIndex) | number : '1.2-2'}}</td>
        <td>{{data.fecha | date : 'yyyy-MM-dd'}}</td>
        <td>{{data.planilla}}</td>
        <td class="text-center" pFrozenColumn alignFrozen="right" [frozen]="true">
          <button *ngIf="data.planilla == null" pButton type="button" id="planilla" style="width: 30px; height: 30px;" class="p-button-success p-button-rounded" pTooltip="Generar Planilla" icon="pi pi-plus" (click)="createSpreadSheet(data, rowIndex)"></button>
          <button *ngIf="data.planilla != null" pButton type="button" id="pdf" style="width: 30px; height: 30px;" class="p-button-danger p-button-rounded" pTooltip="Ver Planilla" icon="pi pi-file-pdf" (click)="createPDF(data.planilla)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr>
        <td colspan="9">
          <div class="p-3">
            <p-table [value]="data.details" dataKey="id_Conductor" >
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Factura<p-sortIcon field="factura"></p-sortIcon></th>
                  <th scope="col">Nit/CC <p-sortIcon field="idCliente"></p-sortIcon></th>
                  <th scope="col">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
                  <th scope="col">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                  <th scope="col">Forma Pago<p-sortIcon field="forma_Pago"></p-sortIcon></th>
                  <th scope="col">Peso Bruto <p-sortIcon field="peso_Bruto"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                <tr>
                  <td>{{rowIndex + 1}}</td>
                  <td><b>{{product.factura}}</b></td>
                  <td>{{product.idCliente}}</td>
                  <td><b>{{product.cliente}}</b></td>
                  <td>${{product.valor | number : '1.2-2'}}</td>
                  <td><b>{{product.forma_Pago }}</b></td>
                  <td>{{product.peso_Bruto | number : '1.2-2'}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">No hay facturas asoaciadas a este movimiento.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="4" class="text-right">Totales</td>
        <td class="textBlue">${{ totalValueDispatch() | number : '1.2-2' }}</td>
        <td class="textBlue">${{ totalValueCounting() | number : '1.2-2'}}</td>
        <td colspan="3"></td>
      </tr>
    </ng-template>
  </p-table>

</p-card>

<!--Modal para editar las planillas -->
<p-dialog [(visible)]="modal" [contentStyle]="{'overflow':'visible'}" [style]="{width: '80vw'}" [resizable]="true" header="Edición de Planilla N° {{codePlanilla}}" [modal]="true" >
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="row g-4 my-3">

        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="date" inputId="date" [showIcon]="true"></p-calendar>
            <label for="date">Fecha de recepción</label>
          </span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="counting" id="counting" [minFractionDigits]="2" [readonly]=""></p-inputNumber>
            <label for="counting">Valor recepcionado</label>
          </span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="status" inputId="status" optionValue="estado_Id" optionLabel="estado_Nombre" [autoDisplayFirst]="true" [options]="statuses"></p-dropdown>
            <label for="status">Estado</label>
          </span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-6 col-xxl-6">
          <span class="p-float-label">
            <textarea formControlName="observation" [rows]="1" inputId="observation" pInputTextarea></textarea>
            <label for="observation">Observación</label>
          </span>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-success" id="consultar" type="submit" label="Actualizar Planilla" (click)="viewMsjUpdateSpreadSheet()" icon="pi pi-refresh"></button>
          <button pButton class="p-button-secondary" id="limpiar" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearFieldsModal()"> </button>
        </div>

      </div>
    </form>    
  </ng-template>
</p-dialog>

<p-toast position="center" key="update" (onClose)="onReject('update')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton icon="pi pi-check" label="Sí" class="p-button-success" (click)="updateSpreadSheetReceived()"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton icon="pi pi-times" label="No" (click)="onReject('update')" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>