<app-menuLateral></app-menuLateral>

<div class="overlay" *ngIf="!cargando">
  <div class="spinner ">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Revisar Factura</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid bajarPagina">
    <div class="container">
      <div class="mb-4">
        <h4 class="tituloRojo">Consultar Factura</h4>
      </div>
      <!-- Formulario para consultar Factura -->
      <form [formGroup]="FormConsultarFactura">
        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- OT -->
            <div class="form-floating col-md-2">
              <input formControlName="Fact_Id" type="text" class="form-control form-control-sm" id="floatingInput" (keyup.Enter)="consultarFactura()">
              <label for="floatingInput">Cod. Factura</label>
            </div>

            <!-- Cliente -->
            <div class="form-floating col-md-5">
              <input formControlName="Cliente" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Cliente</label>
            </div>

           <!-- Conductor -->
            <div class="form-floating col-md-3">
              <select formControlName="Conductor" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="MapUnidadMedida" placeholder="Und. Medida" required>
                <option [ngValue]="conductor.usua_Id" *ngFor="let conductor of arrayConductor">{{conductor.usua_Nombre}}</option>
              </select>
              <label for="floatingSelect">Conductor</label>
            </div>

            <!--Placa camión-->
            <div class="form-floating col-md-2">
              <input formControlName="PlacaCamion" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Placa Camión</label>
            </div>
          </div>
        </div>
      </form>

      <div class="mb-4">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de Rollos</h4>
      </div>

      <!--Inicio tabla Rollos creados en OT -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentacion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollos; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.Producto}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Presentacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="bajarPagina" *ngIf="cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="actualizarFactura()">Confirmar Rollos</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
        </div>
      </div>
    </div>
  </div>
</div>
