span{
  color: #db4149;
}

.d-grid {
  padding-bottom: 2%;
}

.columnaCantidad {
  background-color: #90c0f1;
}

#table td, th{
  font-size: calc(var(--font-size) * 13px);
}

p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-calendar ::ng-deep span button {
  background-color: var(--rojo);
  border: 0;
  transition: all 1s;
}

p-calendar ::ng-deep span .p-datepicker-trigger:hover {
  background: var(--rojoHover);
}

p-calendar ::ng-deep .p-datepicker-header button {
  background: #fff0;
}

p-calendar ::ng-deep .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar ::ng-deep span button span {
  display: block;
}
