<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Rollos eliminados</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container">

  <div class="mb-4">
    <h4 class="tituloRojo">Filtros de búsqueda</h4>
  </div>

  <form [formGroup]="formConsultaRollos">
    <div class="mb-3">
      <div class="row g-3">

        <!-- ID Documento -->
        <div class="form-floating col-md">
          <input formControlName="OT" type="number" class="form-control" id="floatingInput"  required >
          <label for="floatingInput">OT</label>
        </div>

        <!-- Rollo -->
        <div class="form-floating col-md">
          <input formControlName="rollo" type="number" class="form-control" id="floatingInput" required >
          <label for="floatingInput">Rollo</label>
        </div>

        <!-- Fecha inicial -->
        <div class="form-floating col-md">
          <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Inicial</label>
        </div>

        <!-- Fecha final -->
        <div class="form-floating col-md">
          <input formControlName="fechaFinal" type="date" min="0"  class="form-control" id="floatingInput"required > <!--(change)="buscarBOPPSegunFecha()"-->
          <label for="floatingInput">Fecha Final</label>
        </div>

        <!-- Procesos -->
        <div class="form-floating col-md">
          <select formControlName="Proceso" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option [ngValue]="proceso.proceso_Id" *ngFor="let proceso of arrayProcesos">{{proceso.proceso_Nombre}}</option>
          </select>
          <label for="floatingSelect">Proceso</label>
        </div>

        <div class="form-floating col-md-4">
          <input formControlName="producto" class="form-control" list="items" id="floatingInput" (change)='selectEventProducto()' [(ngModel)]="Item" (keyup)="obtenerProductos()" autocomplete="off">
          <datalist id="items">
            <option value={{item.prod_Id}} *ngFor="let item of arrayProductos">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Item</label>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarConsulta()">Consultar Documento</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos</button>
        <button class="btn btn-danger btn-danger-sm" type="button" title="Generar archivo Excel/PDF" (click)="elegirFormatoExportacion()">Exportar</button>
      </div>
    </div>
  </form>

  <div id="tableProcesos" *ngIf="load">
    <div class="mb-4">
      <div class="row g-3">
        <!--Botones superiores de Paginado-->
        <div class="mb-3">
          <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
          <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
          <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
        </div>

        <!-- Tabla con información de la orden de trabajo -->
        <p-table
          #dt
          [columns]="columnasSeleccionada"
          [value]="ArrayDocumento"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          [(first)]="first"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          dataKey="id">
          <!-- Buscador de columnas -->
          <ng-template pTemplate="caption">
            <p-multiSelect
              [options]="columnas"
              [(ngModel)]="columnasSeleccionada"
              optionLabel="header"
              selectedItemsLabel="{0} columnas seleccionadas"
              [style]="{minWidth: '330px'}"
              placeholder="Elige las columnas que quieres ver"></p-multiSelect>
          </ng-template>
          <!-- Titulos -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th id="" scope="col" pSortableColumn="ot" style="font-size: 12px;">OT
                <p-columnFilter type="text" field="ot" display="menu"></p-columnFilter></th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Rollo</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Cliente</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Item</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Nombre Item</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Ancho</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Largo</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Fuelle</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Medida</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Peso</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Und.</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Fecha</th>
              <th id="" scope="col" pResizableColumn style="font-size: 13px;">Proceso</th>
              <th *ngFor="let col of columns" pResizableColumn style="font-size: 13px;">
                {{col.header}}
              </th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-ArrayDocumento let-columns="columns">
            <tr style="font-size: 13px;">
              <td id="OT" scope="col">{{ArrayDocumento.Orden}}</td>
              <td id="Rollo" scope="col">{{ArrayDocumento.Rollo}}</td>
              <td id="Cliente" scope="col">{{ArrayDocumento.Cliente}}</td>
              <td id="ItemId" scope="col">{{ArrayDocumento.ItemId}}</td>
              <td id="Item" scope="col">{{ArrayDocumento.Item}}</td>
              <td id="Ancho" scope="col">{{ArrayDocumento.Ancho}}</td>
              <td id="Largo" scope="col">{{ArrayDocumento.Largo}}</td>
              <td id="Fuelle" scope="col">{{ArrayDocumento.Fuelle}}</td>
              <td id="Medida" scope="col">{{ArrayDocumento.Medida}}</td>
              <td id="Neto" scope="col">{{ArrayDocumento.Peso}}</td>
              <td id="Und" scope="col">{{ArrayDocumento.Kg}}</td>
              <td id="Fecha" scope="col">{{ArrayDocumento.Fecha}}</td>
              <td id="Fecha" scope="col">{{ArrayDocumento.Proceso}}</td>
              <td *ngFor="let col of columns">{{ArrayDocumento[col.field]}}</td>
            </tr>
          </ng-template>
        </p-table>
    </div>
    </div>
  </div>
</div>
