

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-32">Rollos eliminados</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-filter"></i> Filtros de búsqueda</h4>
  </div>
  <br>

  <form [formGroup]="formConsultaRollos">
    <div class="mb-3" id="filtros">
      <div class="row g-3">

         <!--Rango fechas-->  
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="fechas" inputId="fecha" selectionMode="range" [showIcon]="true"></p-calendar>
            <label for="fecha">Rango de Fechas</label>
          </span>
        </div> 

        <!-- OT -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="OT" id="ordenTrabajo"  type="text" pInputText required/>
            <label for="ordenTrabajo">OT</label>
          </span>
        </div>

        <!-- Rollo -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="rollo" id="Rollo"  type="text" pInputText required/>
            <label for="Rollo">Rollo</label>
          </span>
        </div>

        <!-- Procesos -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="Proceso" inputId="Proceso" [autoDisplayFirst]="false" [options]="arrayProcesos" optionValue="proceso_Id" optionLabel="proceso_Nombre"></p-dropdown>
            <label for="Proceso">Proceso</label>
          </span>
        </div>

        <!-- Item -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-4">
          <span class="p-float-label">
            <input formControlName="producto" id="Item"  list="items" type="text" pInputText (change)='selectEventProducto()' [(ngModel)]="Item" (keyup)="obtenerProductos()"/>
            <datalist id="items">
              <option value={{item.prod_Id}} *ngFor="let item of arrayProductos">{{item.prod_Nombre}}</option>
            </datalist>
            <label for="Item">Item</label>
          </span>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1" id="botones">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Consultar" icon="pi pi-search" (click)="validateSearch()"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
        <button pButton class="p-button-success" type="button" label="Exportar excel" [disabled]="ArrayDocumento.length == 0" icon="pi pi-file-export" (click)="exportarExcel()"></button>
      </div>
    </div>
  </form>

  <div id="tableProcesos" *ngIf="load">
    <div class="mb-4">
      <div class="row g-3">

        <p-table
          #dt
          [columns]="columnasSeleccionada"
          [value]="ArrayDocumento"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [rowHover]="true"
          dataKey="id"
          [scrollable]="true"
          scrollHeight="50rem">
          <!-- Buscador de columnas -->
          <ng-template pTemplate="caption">
            <p-multiSelect
              [options]="columnas"
              id="columnasAdicionales"
              [(ngModel)]="columnasSeleccionada"
              optionLabel="header"
              selectedItemsLabel="{0} columnas seleccionadas"
              [style]="{minWidth: '330px'}"
              class="font-size-16"
              placeholder="Elige las columnas que quieres ver"></p-multiSelect>
          </ng-template>
          <!-- Titulos -->
          <ng-template pTemplate="header" let-columns>
            <tr class="font-size-13">
              <th class="text-center" scope="col" >N° <p-columnFilter type="text" field="type" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pSortableColumn="ot">OT <p-columnFilter type="text" field="Orden" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Rollo <p-columnFilter type="text" field="Rollo" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Cliente <p-columnFilter type="text" field="Cliente" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Item <p-columnFilter type="text" field="Item_Id" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Nombre Item <p-columnFilter type="text" field="Item" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Peso <p-columnFilter type="text" field="Peso" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Und. <p-columnFilter type="text" field="Unidad" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Falla <p-columnFilter type="text" field="Falla" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Proceso <p-columnFilter type="text" field="Proceso" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Observación <p-columnFilter type="text" field="Observacion" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Fecha Peso <p-columnFilter type="text" field="Fecha" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Fecha Eliminación <p-columnFilter type="text" field="Fecha_Eliminacion" display="menu"></p-columnFilter></th>
              <th class="text-center" scope="col"  pResizableColumn >Hora Eliminación <p-columnFilter type="text" field="Hora_Eliminacion" display="menu"></p-columnFilter></th>
              <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
              </th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-ArrayDocumento let-columns="columns">
            <tr class="font-size-13">
              <td class="text-center" scope="col"><b>{{rowIndex + 1}}</b></td>
              <td class="text-center" scope="col"><b>{{ArrayDocumento.Orden}}</b></td>
              <td class="text-center" scope="col">{{ArrayDocumento.Rollo}}</td>
              <td scope="col"><b>{{ArrayDocumento.Cliente}}</b></td>
              <td class="text-center" scope="col">{{ArrayDocumento.Item_Id}}</td>
              <td scope="col"><b>{{ArrayDocumento.Item}}</b></td>
              <td class="text-center" scope="col"><b>{{ArrayDocumento.Peso}}</b></td>
              <td class="text-center" scope="col">{{ArrayDocumento.Unidad }}</td>
              <td class="text-center" scope="col"><b>{{ArrayDocumento.Falla }}</b></td>
              <td class="text-center" scope="col"><b>{{ArrayDocumento.Proceso}}</b></td>
              <td class="text-center" scope="col">{{ArrayDocumento.Observacion}}</td>
              <td class="text-center" scope="col">{{ArrayDocumento.Fecha}}</td>
              <td class="text-center" scope="col">{{ArrayDocumento.Fecha_Eliminacion}}</td>
              <td class="text-center" scope="col">{{ArrayDocumento.Hora_Eliminacion}}</td>
              <td *ngFor="let col of columns">{{ArrayDocumento[col.field]}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-card>
