<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<form [formGroup]="formCrearCategorias" (ngSubmit)="crearCategoriaArchivos()">

  <div class="mb-3">
    <div class="row g-3">

      <!-- Nombre -->
      <div class="col-md-6">
        <span class="p-float-label">
          <input formControlName="catNombre" type="text" id="nombre" pInputText required>
          <label for="nombre">Nombre</label>
        </span>
      </div>

      <!-- Descripción -->
      <div class="col-md-6">
        <span class="p-float-label">
          <input formControlName="catDescripcion" id="descripcion" pInputText required>
          <label for="descripcion">Descripción</label>
        </span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="submit" label="Crear Categoria" icon="pi pi-check"> </button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
    </div>
  </div>
</form>

