
<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
      <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="m-4">
  <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-cloud-download"></i> Salidas Realizadas</h4>
</div>

<!--Linea-->
<div class="mb-4">
  <hr class="colorLinea">
</div>

<!--Tabla-->
<div class="mb-3" *ngIf="!load">
  <div class="row g-3 font-size-14">
    <p-table
      *ngIf="!load"
      #dt
      [value]="salidas"
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-sm p-datatable-gridlines"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="salidas.length"
      [rowsPerPageOptions]="[10,25,50,100]"
      [rowHover]="true"
      dataKey="OT"
      [scrollable]="true"
      scrollHeight="50rem">
      <ng-template pTemplate="header">
        <!--Filtros tabla 1-->
        <tr class="font-size-16" id="filtros">
          <th colspan="2"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Fecha', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'OT', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Referencia', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'CantPedidaOT', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'UndMedida', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'CantRequerida', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'CantEstandar', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'DifCantidad', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'PrecioPP', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'ValoracionCantidad', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'CostoReal', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'CostoEstandar', 'contains')"></th>
        </tr>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th colspan="4" class="text-center"><b>Información de la Orden de Trabajo </b> </th>
          <th colspan="7" class="text-center"><b>Información de Consumo de Material</b></th>
        </tr>
        <!--Encabezado tabla 1-->
        <tr>
          <th></th>
          <th>#</th>
          <th pSortableColumn="Fecha"><p-sortIcon field="Fecha"></p-sortIcon> Fecha</th>
          <th pSortableColumn="OT"><p-sortIcon field="OT"></p-sortIcon> OT</th>
          <th pSortableColumn="Referencia"><p-sortIcon field="Referencia"></p-sortIcon> Referencia</th>
          <th pSortableColumn="CantPedidaOT"><p-sortIcon field="CantPedidaOT"></p-sortIcon> Cant. Pedida</th>
          <th pSortableColumn="UndMedida"><p-sortIcon field="UndMedida"></p-sortIcon> Medida</th>
          <th pSortableColumn="CantRequerida"><p-sortIcon field="CantRequerida" pTooltip="Cantidad requerida"></p-sortIcon> Cant. Requerida</th>
          <th pSortableColumn="CantEstandar"><p-sortIcon field="CantEstandar" pTooltip="Cantidad estandar"></p-sortIcon> Cant. Estandar</th>
          <th pSortableColumn="DifCantidad" pTooltip="Diferencial de cantidad"><p-sortIcon field="DifCantidad"></p-sortIcon> Dif. Cantidad</th>
          <th pSortableColumn="PrecioPP" pTooltip="Precio con/sin promedio ponderado"><p-sortIcon field="PrecioPP"></p-sortIcon> Precio PP</th>
          <th pSortableColumn="ValoracionCantidad" pTooltip="Valoración diferencial de cantidad"><p-sortIcon field="ValoracionCantidad"></p-sortIcon> Variación de Cantidad</th>
          <th pSortableColumn="CostoReal"><p-sortIcon field="CostoReal"></p-sortIcon> Costo real</th>
          <th pSortableColumn="CostoEstandar"><p-sortIcon field="CostoEstandar"></p-sortIcon> Costo estandar</th>
        </tr>
      </ng-template>
      <!--Cuerpo tabla 1-->
      <ng-template pTemplate="body" let-item let-expanded="expanded" let-rowIndex="rowIndex">
        <tr>
          <td>
            <button id="desplegar" type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" pTooltip="Haz clic para ver más detalles" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{rowIndex + 1}}</td>
          <td class="text-center"><b>{{item.Fecha}}</b></td>
          <td class="text-center">{{item.OT}}</td>
          <td>{{item.Referencia}}</td>
          <td class="text-center">{{item.CantPedidaOT | number: '1.2-2'}}</td>
          <td class="text-center">{{item.UndMedida}}</td>
          <td class="text-center">{{item.CantRequerida | number: '1.2-2'}}</td>
          <td class="text-center">{{item.CantEstandar | number: '1.2-2'}}</td>
          <td class="text-center">{{item.DifCantidad | number: '1.2-2'}}</td>
          <td class="text-center">$ {{item.PrecioPP | number: '1.2-2'}}</td>
          <td class="text-center">$ {{item.ValoracionCantidad | number: '1.2-2'}}</td>
          <td class="text-center">$ {{item.CostoReal | number: '1.2-2'}}</td>
          <td class="text-center">$ {{item.CostoEstandar | number: '1.2-2'}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="7" class="text-right">Totales</td>
          <td class="text-center">{{valorCantRequerida() | number : '1.2-2'}}</td>
          <td colspan="3"></td>
          <td class="text-center">$ {{valorValoracionCantidad() | number : '1.2-2' }}</td>
          <td class="text-center">$ {{valorCostoReal() | number : '1.2-2'}}</td>
          <td class="text-center">$ {{valorCostoEstandar() | number : '1.2-2'}}</td>
        </tr>
      </ng-template>
      <!--Tabla 2-->
      <ng-template pTemplate="rowexpansion" let-item>
        <tr>
          <td colspan="14" id="">
            <div class="p-3">
              <p-table
                #dt2
                [value]="item.Materiales"
                dataKey="consecutivo"
                styleClass="p-datatable-sm p-datatable-gridlines"
                [scrollable]="true"
                scrollHeight="30rem">
                <ng-template pTemplate="header">
                  <tr>
                    <th>#</th>
                    <th>Id Material</th>
                    <th>Nombre</th>
                    <th>Cant. entregada</th>
                    <th>Precio real</th>
                    <th>Subtotal</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mat let-rowIndex="rowIndex">
                  <tr>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{mat.Material }}</td>
                    <td>{{mat.NombreMaterial }}</td>
                    <td>{{mat.CantRequerida | number : '1.2-2'}}</td>
                    <td>$ {{mat.PrecioPP | number }}</td>
                    <td>$ {{mat.CostoReal | number : '1.2-2'}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8">No se encontraron registros</td>
                  </tr>
                </ng-template>
              </p-table>
              <br>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>