span{
    color: #db4149;
  }
  p-calendar ::ng-deep span button {
    background-color: var(--rojo);
    border: 0;
    transition: all 1s;
  }
  
  p-calendar ::ng-deep span .p-datepicker-trigger:hover {
    background: var(--rojoHover);
  }
  
  p-calendar ::ng-deep .p-datepicker-header button {
    background: #fff0;
  }
  
  p-calendar ::ng-deep .p-datepicker-header button:hover {
    background: #fff0;
  }


 ::ng-deep .p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(.p-datatable-tfoot) .p-datatable-tbody > tr:last-child > td {
    border-width: 1px;
 }


::ng-deep .p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(.p-datatable-tfoot) .p-datatable-tbody > tr:last-child > td:last-child {
  border-width: 0 1px 1px 1px;
}