<!--Navegador parte superior -->
<app-menuLateral></app-menuLateral>

<div class="contain">
  <!--fin Navegador parte superior -->
  <div class="container-fluid">
    <!-- Debajo del Navegador -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ordenes de Pedidos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  <!-- Fin Debajo del Navegador -->
    <div class="container">
      <!-- Inicio Botones que llama el modal de crear Cliente y producto-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
        (click)= "LlamarModalCrearCliente()" title="Si no encuentras el cliente consultado, ¡Crealo aquí!">
          Crear clientes
        </button>


        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="LlamarModalCrearProducto()" title="Si no encuentras el producto solicitado, ¡Crealo aquí!">
          Crear productos
        </button>
      </div>
      <!-- Fin Botones que llama el modal de crear cliente y producto-->

      <div class="overlay" *ngIf="!load">
        <div class="spinner ">
          <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
        </div>
      </div>

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Crear Pedido N° {{contadorPedidosExternos}}</h4>
      </div>
      <!-- Fin titulo -->
      <!--Inicio Crear Pedidos-->
      <form [formGroup]="FormPedidoExternoClientes">
        <!-- Inicio fila 1 de campos -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- Cliente -->
            <ng-container>
              <div class="ng-autocomplete form-floating col-md-3 form-control form-control-sm autoCompleteCLientes">
                <ng-autocomplete
                  class=""
                  [data]="cliente"
                  (selected)='ciudadClienteComboBox($event)'
                  (selected)='productoCliente()'
                  (inputChanged)='onChangeSearchNombreCliente($event)'
                  (inputFocused)='onFocusedNombreCliente($event)'
                  [searchKeyword]="keywordClientes"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="PedClienteNombre">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.cli_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputClientes">Cliente</label>
              </div>
            </ng-container>

            <!-- Ciudad -->
            <div class="form-floating col-md-2">
              <select formControlName="ciudad_sede" type="text" id="floatingSelect" name="ciudad_sede"class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="ciudades" *ngFor="let ciudades of ciudad">{{ciudades}}</option>
              </select>
              <label for="floatingSelect">Ciudad(es)</label>
            </div>

            <!-- Sede Cliente -->
            <div class="form-floating col-md-2">
              <select formControlName="PedSedeCli_Id" type="text" id="floatingSelect" name="PSedeCli_Id" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="sedesclientes" *ngFor="let sedesclientes of sedeCliente">{{sedesclientes}}</option>
              </select>
              <label for="floatingSelect">Dirección Sede</label>
            </div>

            <!-- Usuario -->
            <div class="form-floating col-md">
              <select formControlName="PedUsuarioNombre" type="text" id="floatingSelect" name="PextUsuarioId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="vendedor" *ngFor="let vendedor of usuarioVende">{{vendedor}}</option>
              </select>
              <label for="floatingSelect">Vendedor</label>
            </div>
          </div>
        </div>
        <!-- Fin fila 1 de campos -->
        <!-- Inicio Observacion -->
        <div class="mb-5">
          <div class="row g-3">
            <!-- Fecha pedido -->
            <div class="form-floating col-md-2">
              <input formControlName="PedFecha" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha Pedido" readonly onmousedown="return false;">
              <label for="floatingInput">Fecha Pedido</label>
            </div>

            <!-- Campo Observacion -->
            <div class="form-floating col-md-6">
              <textarea formControlName="PedObservacion"  id="floatingTextarea" type="text" class="form-control form-control-sm" maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
              <label for="floatingTextarea">Observación</label>
            </div>

            <div class="form-floating col-md">
              <input formControlName="PedIva" type="number" (change)="ivaDescuento()" class="form-control form-control-sm" id="floatingInput" required title="Fecha Pedido">
              <label for="floatingInput">(%) Iva</label>
            </div>

            <!-- Campo Observacion -->
            <div class="form-floating col-md">
              <input formControlName="PedDescuento" type="number" (change)="ivaDescuento()" class="form-control form-control-sm" id="floatingInput" required title="Fecha Pedido">
              <label for="floatingInput">(%) Descuento</label>
            </div>
          </div>
        </div>
        <!-- Fin Observacion -->
        <!--Fin Crear Pedidos-->
        <!-- Linea -->
        <div class="mb-4">
          <hr class="Linea">
        </div>
        <!-- Fin Linea -->
        <!--Inicio tabla productos agregados-->
      </form>
        <!-- Inicio Titulo Agregar Productos al pedido -->
      <div class="mb-4">
        <h4 class="tituloRojo">Agregar Productos</h4>
      </div>
        <!-- Fin Titulo Agregar Productos al pedido -->

      <form [formGroup]="FormPedidoExternoProductos">
        <!-- Inicio Fila 1 Agregar producto -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- ID Producto -->
            <div class="form-floating col-md-2">
              <input formControlName="ProdId" type="search" min="0" (search)="buscarProducto()" class="form-control" id="floatingInput" name="PrdId" required >
              <label for="floatingInput">Id Producto</label>
            </div>
            <!-- ID/Nombre Producto -->
            <ng-container>
              <div class="ng-autocomplete form-floating col-md-2 form-control form-control-sm autoCompleteProductos">
                <ng-autocomplete
                  class=""
                  [data]="producto"
                  (selected)='llenadoProducto($event)'
                  (inputChanged)='onChangeSearchNombreProductos($event)'
                  (inputFocused)='onFocusedNombreProductos($event)'
                  [searchKeyword]="keywordNombresProductos"
                  [itemTemplate]="itemTemplate1"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="ProdNombre">
                </ng-autocomplete>
                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.prod_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputNombresProductos">Producto</label>
              </div>
            </ng-container>

            <ng-container *ngIf="ValidarRol == 2; else fila2">
              <!-- Cantidad Producto --> <!-- onkeypress= "return (event.charCode >= 48 && event.charCode <= 57)""-->
              <div class="form-floating col-md">
                <input formControlName="ProdCantidad" type="number" class="form-control form-control-sm" id="floatingInput" required>
                <label for="floatingSelect">Cantidad Pedida</label>
              </div>

              <!-- UM Cantidad Producto -->
              <div class="form-floating col-md">
                <select formControlName="ProdUnidadMedidaCant" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" name="PrdUnidadMedidaCant" required >
                  <option [ngValue]="null" disabled selected>Seleccione Presentación</option>
                  <option [ngValue]="presentaciones" *ngFor="let presentaciones of presentacion">{{presentaciones}}</option>
                </select>
                <label for="floatingSelect">Presentación</label>
              </div>

              <!-- Precio Producto -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdPrecioUnd" type="number" class="form-control form-control-sm" id="floatingInput" name="PrdPrecioUnd">
                <label for="floatingInput">Precio unitario</label>
              </div>
            </ng-container>
            <ng-template #fila2>
              <!-- Cantidad Producto --> <!-- onkeypress= "return (event.charCode >= 48 && event.charCode <= 57)""-->
              <div class="form-floating col-md">
                <input formControlName="ProdCantidad" type="number" class="form-control form-control-sm" id="floatingInput" required>
                <label for="floatingSelect">Cantidad Pedida</label>
              </div>

              <!-- UM Cantidad Producto -->
              <div class="form-floating col-md">
                <select formControlName="ProdUnidadMedidaCant" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" name="PrdUnidadMedidaCant" required >
                  <option [ngValue]="null" disabled selected>Seleccione Presentación</option>
                  <option [ngValue]="presentaciones" *ngFor="let presentaciones of presentacion">{{presentaciones}}</option>
                </select>
                <label for="floatingSelect">Presentación</label>
              </div>

              <!-- Precio Producto -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdPrecioUnd" type="number" class="form-control form-control-sm" id="floatingInput" name="PrdPrecioUnd">
                <label for="floatingInput">Precio unitario</label>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- Fin Fila 1 Agregar Producto -->
        <!-- Fin Fila 2 Agregar Producto -->
        <!--Fila 3 Inicio-->
         <!-- Inicio Descripción producto -->
        <div class="mb-4">
          <ng-container *ngIf="ValidarRol == 2; else fila3">
            <div class="row g-3">
              <!-- Ultima venta -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdUltFacturacion" type="number" class="form-control form-control-sm" id="floatingInput" name="ProdUltFacturacion" readonly onmousedown="return false;">
                <label for="floatingInput">Ultimo Precio Facturado</label>
              </div>

              <!-- Stock Producto -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdStock" type="number" class="form-control form-control-sm" id="floatingInput" name="PrdStock" readonly onmousedown="return false;">
                <label for="floatingSelect">En Stock</label>
              </div>
            </div>
          </ng-container>
          <ng-template #fila3>
            <div class="row g-3">
              <!-- Ultima venta -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdUltFacturacion" type="number" class="form-control form-control-sm" id="floatingInput" name="ProdUltFacturacion" readonly onmousedown="return false;">
                <label for="floatingInput">Ultimo Precio Facturado</label>
              </div>

              <!-- Stock Producto -->
              <div class="form-floating col-md-2">
                <input formControlName="ProdStock" type="number" class="form-control form-control-sm" id="floatingInput" name="PrdStock" readonly onmousedown="return false;">
                <label for="floatingSelect">En Stock</label>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- Fin Descripción producto -->
        <!--Fila 3 Fin -->
        <!-- Inicio botones -->
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposVacios()"> {{AccionBoton}} Producto </button>
              <ng-container *ngIf="ValidarRol == 1">
                <button class="btn btn-danger btn-danger-sm" type="button" (click)="actualizarProducto()">Actualizar Producto</button>
              </ng-container>
              <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposProductos()">Limpiar campos</button>
          </div>
        </div>
        <!-- Fin botones -->
        <!--Fin agregar productos -->
        <div class="mb-4">
          <hr class="Linea">
        </div>
        <!--Inicio tabla productos -->
        <!-- Inicio titulo tabla producto -->
        <div class="mb-4">
          <h4 class="tituloRojo">Tabla de Productos</h4>
        </div>
        <!-- Fin titulo producto -->
        <!-- Inicio tabla producto -->
        <div class="mb-3">
          <div class="row g-3">
            <div class="table-responsive">
              <table class="table table-bordered table-hover mt-2" >
                <thead class="TitulosTabla">
                  <tr *ngFor="let columnas of titulosTabla let i = index">
                    <th scope="col" class="idProducto">{{columnas.pID}}</th>
                    <th id="nombre" scope="col">{{columnas.pNombre}}</th>
                    <th id="cantidad" scope="col">{{columnas.pCantidad}}</th>
                    <th id="undMedidaCantidad" scope="col">{{columnas.pUndMedCant}}</th>
                    <th id="precioUnitario" scope="col">{{columnas.pPrecioU}}</th>
                    <th id="Subtotal" scope="col">{{columnas.pSubtotal}}</th>
                    <th id="acciones" scope="col"></th>
                    <th id="acciones" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let listaProductos of ArrayProducto; let j = index">
                    <th id="id" class="TextosInfoTabla">{{listaProductos.Id}}</th>
                    <td id="nombreCampo" class="TextosInfoTabla">{{listaProductos.Nombre}}</td>
                    <td id="cantidadDisponible" class="TextosInfoTabla">{{listaProductos.Cant}}</td>
                    <td id="undMedidaCantidad" class="TextosInfoTabla">{{listaProductos.UndCant}}</td>
                    <td id="precioUnitario" class="TextosInfoTabla">{{listaProductos.PrecioUnd}}</td>
                    <td id="Subtotal" class="TextosInfoTabla">{{listaProductos.SubTotal}}</td>
                    <td id="Editar" ><a><i class="fa fa-pencil" (click)="EditarProductoTabla(listaProductos)" aria-hidden="true" title="Editar Producto"></i></a></td>
                    <td id="Eliminar" ><a><i class="fa fa-trash" (click)="QuitarProductoTabla(j, listaProductos)" aria-hidden="true" title="Quitar Producto de la tabla"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin tabla producto -->
        <!--Inicio valor total-->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>Valor total</b></label>
              <label for="">${{valorTotal | number}}</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>Descuento (%)</b></label>
              <label for="">{{descuento | number}}%</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>Subtotal menos Descuento</b></label>
              <label for="">${{valorMenosDescuento | number}}</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>IVA (%)</b></label>
              <label for="">{{iva | number}}%</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>Subtotal menos Iva</b></label>
              <label for="">${{valorMenosIva | number}}</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row g-3">
              <label for=""><b>Total</b></label>
              <label for="">${{valorfinal | number}}</label>
            </div>
          </div>
        </div>
        <!--Fin valor total-->
        <!-- Inicio Botones -->
        <div class="bajarPagina">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class=" btn btn-danger btn-danger-sm" type="button" value="" (click)="confirmarPedido()">Crear Pedido</button>
              <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodosCampos()">Limpiar Todo</button>
            </div>
        </div>
      </form>
      <!-- Fin Botones -->
      <!-- Modal de crear producto -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Crear productos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear producto-->
              <app-crear-producto></app-crear-producto>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear producto -->

      <!-- Modal de crear cliente -->
      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Crear clientes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear cliente-->
              <app-crear-clientes></app-crear-clientes>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear cliente -->
    </div>
  </div>
</div>
