<ng-container *ngIf="!modalMode">
  <app-menuLateral></app-menuLateral>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <!-- <span>Cargando...</span> -->
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ordenes de Pedidos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>

    <div class="container">
      <ng-container *ngIf="ValidarRol == 1">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
          (click)= "LlamarModalCrearCliente()" title="Si no encuentras el cliente consultado, ¡Crealo aquí!">
            Crear clientes
          </button>


          <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          (click)="LlamarModalCrearProducto()" title="Si no encuentras el producto solicitado, ¡Crealo aquí!">
            Crear productos
          </button>
        </div>
      </ng-container>

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Crear Pedido</h4>
      </div>

      <!--Inicio Crear Pedidos-->
      <form [formGroup]="FormPedidoExternoClientes">
        <div class="mb-3">
          <div class="row g-3">
            <!-- Cliente -->
            <div class="form-floating col-md">
              <input formControlName="PedClienteNombre" type="search" class="form-control form-control-sm" list="cliente" id="floatingInput" title="Nombre del Cliente" (change)="clienteSeleccionado()">
              <datalist id="cliente">
                <option value={{item.cli_Nombre}} *ngFor="let item of cliente">{{item.cli_Id}}</option>
              </datalist>
              <label for="floatingInput">Cliente</label>
            </div>

            <!-- Ciudad -->
            <div class="form-floating col-md-2">
              <select formControlName="ciudad_sede" type="text" id="floatingSelect" name="ciudad_sede" (change)="llenarDireccionCliente()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="ciudades" *ngFor="let ciudades of ciudad">{{ciudades}}</option>
              </select>
              <label for="floatingSelect">Ciudad(es)</label>
            </div>

            <!-- Sede Cliente -->
            <div class="form-floating col-md-2">
              <select formControlName="PedSedeCli_Id" type="text" id="floatingSelect" name="PSedeCli_Id" (change)="verificarCartera()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="sedesclientes" *ngFor="let sedesclientes of sedeCliente">{{sedesclientes}}</option>
              </select>
              <label for="floatingSelect">Dirección Sede</label>
            </div>

            <!-- Usuario -->
            <div class="form-floating col-md">
              <select formControlName="PedUsuarioNombre" type="text" id="floatingSelect" name="PextUsuarioId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="vendedor" *ngFor="let vendedor of usuarioVende">{{vendedor}}</option>
              </select>
              <label for="floatingSelect">Vendedor</label>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="row g-3">
            <!-- Campo Observacion -->
            <div class="form-floating col-md-6">
              <textarea formControlName="PedObservacion"  id="floatingTextarea" type="text" class="form-control form-control-sm" maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
              <label for="floatingTextarea">Observación</label>
            </div>

            <!-- Campo Observacion -->
            <div class="form-floating col-md">
              <input formControlName="PedDescuento" type="number" (keyup)="ivaDescuento()" class="form-control form-control-sm" id="floatingInput" required title="Fecha Pedido">
              <label for="floatingInput">(%) Descuento</label>
            </div>

            <!-- Iva -->
            <div class="form-floating col-md">
              <div class="field-checkbox" style="padding: 10%;">
                <p-checkbox formControlName="PedIva" [(ngModel)]="checked" (click)="checkboxIva()" [binary]="true"></p-checkbox>
                <label>&nbsp;&nbsp;IVA(%)</label>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- Linea -->
      <div class="mb-4">
        <hr class="Linea">
      </div>

      <!-- Inicio Titulo Agregar Productos al pedido -->
      <div class="mb-4">
        <h4 class="tituloRojo">Agregar Productos</h4>
      </div>

      <form [formGroup]="FormPedidoExternoProductos" autocomplete="off">
        <!-- Inicio Fila 1 Agregar producto -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- ID Producto -->
            <div class="form-floating col-md">
              <input formControlName="ProdId" type="search" min="0" class="form-control" id="floatingInput" name="PrdId" (keyup)="buscarProductoId()" required>
              <label for="floatingInput">Id Producto</label>
            </div>

            <!-- ID/Nombre Producto -->
            <div class="form-floating col-md-4">
              <input formControlName="ProdNombre" type="search" (change)="buscarProducto()" class="form-control form-control-sm" list="producto" id="floatingInput" title="Nombre del Cliente">
              <datalist id="producto">
                <option value={{item.prod_Id}} *ngFor="let item of producto">{{item.prod_Nombre}}</option>
              </datalist>
              <label for="floatingInput">Producto</label>
            </div>

            <div class="form-floating col-md">
              <input formControlName="ProdCantidad" type="number" class="form-control form-control-sm" id="floatingInput" required>
              <label for="floatingSelect">Cantidad Pedida</label>
            </div>

            <!-- UM Cantidad Producto -->
            <div class="form-floating col-md">
              <select formControlName="ProdUnidadMedidaCant" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" name="PrdUnidadMedidaCant" required >
                <option [ngValue]="presentaciones" *ngFor="let presentaciones of presentacion">{{presentaciones}}</option>
              </select>
              <label for="floatingSelect">Presentación</label>
            </div>

            <!-- Precio Producto -->
            <div class="form-floating col-md">
              <input formControlName="ProdPrecioUnd" type="number" class="form-control form-control-sm" id="floatingInput" name="PrdPrecioUnd">
              <label for="floatingInput">Precio unitario</label>
            </div>

            <!-- Fecha Entrega Producto -->
            <div class="form-floating col-md">
              <input formControlName="ProdFechaEnt" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha Pedido">
              <label for="floatingInput">Fecha Entrega</label>
            </div>
          </div>
        </div>

         <!-- Inicio Descripción producto -->
        <div class="mb-4">
          <div class="row g-3">
            <!-- Ultima venta -->
            <div class="form-floating col-md-2">
              <input formControlName="ProdUltFacturacion" type="text" class="form-control form-control-sm" id="floatingInput" name="ProdUltFacturacion" readonly onmousedown="return false;">
              <label for="floatingInput">Ultimo Precio Facturado</label>
              <div>
                <label><b>Ult. Facturación: </b>{{fechaUltFacuracion}}</label>
              </div>
            </div>

            <!-- Stock Producto -->
            <div class="form-floating col-md-2">
              <input formControlName="ProdStock" type="text" class="form-control form-control-sm" id="floatingInput" name="PrdStock" readonly onmousedown="return false;">
              <label for="floatingSelect">En Stock</label>
            </div>
          </div>
        </div>
      </form>

      <!-- Inicio botones -->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposVacios()"> {{AccionBoton}} Producto </button>
          <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposProductos()">Limpiar campos</button>
        </div>
      </div>

      <div class="mb-4">
        <hr class="Linea">
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de Productos</h4>
      </div>

      <div class="mb-3" *ngIf="!cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <p-table
              #dt
              [value]="ArrayProducto"
              [resizableColumns]="true"
              columnResizeMode="expand"
              styleClass="p-datatable-gridlines p-datatable-sm"
              responsiveLayout="scroll"
              [paginator]="true"
              [rows]="20"
              [showCurrentPageReport]="true"
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
              [rowsPerPageOptions]="[10,20,30,50,70,100]"
              [rowHover]="true"
              dataKey="id">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th scope="col" class="idProducto">ID</th>
                  <th id="nombre" scope="col">Nombre</th>
                  <th id="cantidad" scope="col">Cantidad</th>
                  <th id="undMedidaCantidad" scope="col">UndMedCant</th>
                  <th id="precioUnitario" scope="col">PrecioU</th>
                  <th id="Subtotal" scope="col">Subtotal</th>
                  <th scope="col">Fecha Entrega</th>
                  <th id="acciones" scope="col"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-listaProductos let-columns="columns">
                <tr style="font-size: 13px;">
                  <td>{{listaProductos.Id}}</td>
                  <td>{{listaProductos.Nombre}}</td>
                  <td>{{listaProductos.Cant | number}}</td>
                  <td>{{listaProductos.UndCant}}</td>
                  <td>{{listaProductos.PrecioUnd | number}}</td>
                  <td>{{listaProductos.SubTotal | number}}</td>
                  <td>{{listaProductos.FechaEntrega}}</td>
                  <td *ngIf="!modalMode"><a><i class="fa fa-trash" style="cursor: pointer;" title="Quitar Producto de la tabla" (click)="QuitarProductoTabla(listaProductos)"></i></a></td>
                  <td *ngIf="modalMode"><a><i class="fa fa-trash" style="cursor: pointer;" title="Quitar Producto de la tabla" (click)="eliminarProducto(listaProductos)"></i></a></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>Valor total</b></label>
            <label for="">${{valorTotal | number}}</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>Descuento (%)</b></label>
            <label for="">{{descuento | number}}%</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>Subtotal menos Descuento</b></label>
            <label for="">${{valorMenosDescuento | number}}</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>IVA (%)</b></label>
            <label for="">{{iva | number}}%</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>Subtotal Iva</b></label>
            <label for="">${{valorMenosIva | number}}</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="row g-3">
            <label for=""><b>Total</b></label>
            <label for="">${{valorfinal | number}}</label>
          </div>
        </div>
      </div>

      <div class="bajarPagina">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" *ngIf="!modalMode && !cargando" (click)="confirmarPedido()">Crear Pedido</button>
          <button class=" btn btn-danger btn-danger-sm" type="button" *ngIf="modalMode && !cargando" (click)="confirmarPedido()">Editar Pedido</button>
          <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodosCampos()">Limpiar Todo</button>
        </div>
      </div>

      <!-- Modal de crear producto -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Crear productos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-crear-producto></app-crear-producto>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal de crear cliente -->
      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Crear clientes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-crear-clientes></app-crear-clientes>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
