<ng-container *ngIf="!modalMode">
  <app-menuLateral></app-menuLateral>
  <br>
  <app-VistasFavoritas></app-VistasFavoritas>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Ordenes de Pedidos</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <ng-container *ngIf="ValidarRol == 1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button pButton class="p-button-danger" type="button" label="Crear Clientes" icon="pi pi-check-circle" (click)="LlamarModalCrearCliente()"> </button>
      <button pButton class="p-button-danger" type="button" label="Crear productos" icon="pi pi-check-circle" (click)="LlamarModalCrearProducto()"> </button>
    </div>
  </ng-container>

  <!-- Inicio titulo -->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-plus-circle"></i> Crear Pedido</h4>
  </div>
  <br>

  <!--Inicio Crear Pedidos-->
  <form [formGroup]="FormPedidoExternoClientes" id="formulario1">
    <div class="mb-3">
      <div class="row g-4">

        <!-- Cliente -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" id="cliente">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="PedClienteNombre" id="PedClienteNombre" list="clientes" type="text" pInputText (keyup)="buscarClientes()" (change)="clienteSeleccionado()" required/>
            <datalist id="clientes">
              <option value={{item.cli_Nombre}} *ngFor="let item of cliente">{{item.cli_Id}}</option>
            </datalist>
            <label for="PedClienteNombre">Cliente</label>
          </span>
        </div>

        <!-- Ciudad -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2" id="ciudad">
          <span class="p-float-label">
            <p-dropdown formControlName="ciudad_sede" inputId="ciudad_sede" [autoDisplayFirst]="false" [options]="ciudad" optionLabel="" (onChange)="llenarDireccionCliente()" [required]="true"></p-dropdown>
            <label for="ciudad_sede">Ciudad(es)</label>
          </span>
        </div>

        <!-- Sede Cliente -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3" id="sedeCliente">
          <span class="p-float-label">
            <p-dropdown formControlName="PedSedeCli_Id" inputId="PedSedeCli_Id" [autoDisplayFirst]="false" [options]="sedeCliente" optionLabel="" (onChange)="verificarCartera()" [required]="true"></p-dropdown>
            <label for="PedSedeCli_Id">Dirección Sede</label>
          </span>
        </div>

        <!-- Usuario -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3" id="vendedor">
          <span class="p-float-label">
            <p-dropdown formControlName="PedUsuarioNombre" inputId="PedUsuarioNombre" [autoDisplayFirst]="false" [options]="usuarioVende" optionLabel="" [required]="true"></p-dropdown>
            <label for="PedUsuarioNombre">Vendedor</label>
          </span>
        </div>

        <!-- Descuento -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="descuento">
          <span class="p-float-label">
            <p-inputNumber formControlName="PedDescuento" mode="decimal" inputId="Descuento" [minFractionDigits]="2" (onBlur)="ivaDescuento()" [(ngModel)]="descuento"></p-inputNumber>
            <label for="Descuento">(%) Descuento</label>
          </span>
        </div>

        <!-- Campo Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-7 col-xxl-8" id="observacion">
          <span class="p-float-label">
            <textarea formControlName="PedObservacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>

        <!-- Iva -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2" id="iva">
          <div class="field-checkbox" style="padding: 5%;">
            <p-checkbox formControlName="PedIva" [(ngModel)]="checked" label="Iva (%)" (click)="checkboxIva()" [binary]="true"></p-checkbox>
          </div>
        </div>

      </div>
    </div>
  </form>

  <!-- Linea -->
  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!-- Inicio Titulo Agregar Productos al pedido -->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-check-square"></i> Agregar Productos</h4>
  </div>
  <br>

  <form [formGroup]="FormPedidoExternoProductos" autocomplete="off" id="formulario2">
    <div class="mb-3">
      <div class="row g-4">

        <!-- ID Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2" id="item">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="ProdId" id="ProdId" type="text" pInputText (keyup)="buscarProductoId()" required/>
            <label for="ProdId">Item</label>
          </span>
        </div>

        <!-- ID/Nombre Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" id="referencia">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="ProdNombre" id="ProdNombre" list="producto" type="text" pInputText (change)="buscarProducto()" required/>
            <datalist id="producto">
              <option value={{item.prod_Id}} *ngFor="let item of producto">{{item.prod_Nombre}}</option>
            </datalist>
            <label for="ProdNombre">Refeencia</label>
          </span>
        </div>

        <!-- Cantidad Pedida -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="cantidad">
          <span class="p-float-label">
            <p-inputNumber formControlName="ProdCantidad" mode="decimal" inputId="Cant" [minFractionDigits]="2"></p-inputNumber>
            <label for="Cant">Cant. Pedida</label>
          </span>
        </div>

        <!-- Presentacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="presentacion">
          <span class="p-float-label">
            <p-dropdown formControlName="ProdUnidadMedidaCant" inputId="Und" [autoDisplayFirst]="false" [options]="presentacion" [required]="true"></p-dropdown>
            <label for="Und">Presentación</label>
          </span>
        </div>

        <!-- Precio Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="precio">
          <span class="p-float-label">
            <p-inputNumber formControlName="ProdPrecioUnd" mode="decimal" inputId="Precio" [minFractionDigits]="2"></p-inputNumber>
            <label for="Precio">Precio Und.</label>
          </span>
        </div>

        <!-- Fecha Entrega Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="fecha">
          <span class="p-float-label">
            <p-calendar formControlName="ProdFechaEnt" inputId="FechaEntrega" [showIcon]="true"></p-calendar>
            <label for="FechaEntrega">Fecha Entrega</label>
          </span>
        </div>

        <!-- Stock Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="stock">
          <span class="p-float-label">
            <p-inputNumber formControlName="ProdStock" mode="decimal" inputId="Precio" [minFractionDigits]="2" [readonly]="true"></p-inputNumber>
            <label for="Precio">Stock</label>
          </span>
        </div>

        <!-- Ultima venta -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" id="ultPrecio">
          <span class="p-float-label">
            <p-inputNumber formControlName="ProdUltFacturacion" mode="decimal" inputId="Precio" [minFractionDigits]="2" [readonly]="true"></p-inputNumber>
            <label for="Precio">Ultimo Precio Facturado</label>
          </span>
        </div>

        <!-- Ultima fecha Facturada -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-4" id="ultFecha">
          <span class="p-float-label">
            <p-chip label="Ultima Fecha Facturada: {{fechaUltFacuracion}}" icon="pi pi-calendar"></p-chip>
          </span>
        </div>
      </div>
    </div>
  </form>

  <!-- Inicio botones -->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="agregar" type="button" label="Agregar Producto" icon="pi pi-send" (click)="validarCamposVacios()"> </button>
      <button pButton class="p-button-secondary" id="limpiar" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCamposProductos()"> </button>
    </div>
  </div>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Tabla de Productos</h4>
  </div>

  <div class="mb-5" *ngIf="!cargando" id="tabla">
    <div class="row g-3">
      <div class="table-responsive">
        <p-table
          #dt
          [value]="ArrayProducto"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="20"
          [showCurrentPageReport]="true"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          dataKey="id"
          [scrollable]="true"
          scrollHeight="50rem">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th scope="col" class="idProducto">Item</th>
              <th id="nombre" scope="col">Referencia</th>
              <th id="cantidad" scope="col">Cantidad</th>
              <th id="undMedidaCantidad" scope="col">Unidad Medida</th>
              <th id="precioUnitario" scope="col">Precio Und</th>
              <th id="Subtotal" scope="col">Subtotal</th>
              <th scope="col">Fecha Entrega</th>
              <th id="acciones" scope="col">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-listaProductos let-columns="columns">
            <tr class="font-size-14">
              <td>{{listaProductos.Id}}</td>
              <td>{{listaProductos.Nombre}}</td>
              <td>{{listaProductos.Cant | number}}</td>
              <td>{{listaProductos.UndCant}}</td>
              <td>{{listaProductos.PrecioUnd | number}}</td>
              <td>{{listaProductos.SubTotal | number}}</td>
              <td>{{listaProductos.FechaEntrega}}</td>
              <td *ngIf="!modalMode" style="text-align: center;">
                <button id="quitarEliminar" pButton class="p-button-danger p-button-rounded" type="button" style="width: 30px; height: 30px" icon="pi pi-trash" title="Quitar producto de la tabla" (click)="QuitarProductoTabla(listaProductos)"></button>
              </td>
              <td *ngIf="modalMode" style="text-align: center;">
                <button pButton class="p-button-danger p-button-rounded" type="button" style="width: 30px; height: 30px" icon="pi pi-trash" title="Quitar producto de la tabla" (click)="eliminarProducto(listaProductos)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary"></ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="mb-5" id="costosPedidos">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="Valor total" icon="pi pi-dollar"></p-chip>
          <label class="text-center" for="">${{valorTotal | number}}</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="Descuento" icon="pi pi-percentage"></p-chip>
          <label class="text-center" for="">{{descuento | number}}%</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="Subtotal menos Dcto" pTooltip="Subtotal descuento" tooltipPosition="top" icon="pi pi-wallet"></p-chip>
          <label class="text-center" for="">${{valorMenosDescuento | number}}</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="IVA" icon="pi pi-percentage"></p-chip>
          <label class="text-center" for="">{{iva | number}}%</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="Subtotal Iva" icon="pi pi-money-bill"></p-chip>
          <label class="text-center" for="">${{valorMenosIva | number}}</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-3">
          <p-chip label="Total" icon="pi pi-shopping-cart"></p-chip>
          <label class="text-center" for="">${{valorfinal | number}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button pButton class="p-button-danger" id="crearPedido" type="button" label="Crear Pedido"  *ngIf="!modalMode && !cargando" icon="pi pi-check" (click)="confirmarPedido()"> </button>
    <button pButton class="p-button-danger" id="crearPedido" type="button" label="Editar Pedido" icon="pi pi-pencil" *ngIf="modalMode && !cargando" (click)="confirmarPedido()"> </button>
    <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodosCampos()"> </button>
    </div>
  </div>
</p-card>

<!-- Modal de crear producto -->
<p-dialog header="Crear Productos" [contentStyle]="{'overflow':'visible'}" [(visible)]="ModalCrearProductos" [style]="{width: '80%'}" [modal]="true" >
    <app-crear-producto></app-crear-producto>
</p-dialog>

<!-- Modal de crear clientes -->
<p-dialog header="Crear Clientes" [contentStyle]="{'overflow':'visible'}" [(visible)]="ModalCrearCliente" [style]="{width: '80%'}" [modal]="true" >
  <app-crear-clientes></app-crear-clientes>
</p-dialog>

<!-- Mensaje de Confirmación del Pedido a crear -->
<p-toast position="center" key="confimacionPedido" (onClose)="closeConfirmacion()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6">
          <button *ngIf="!modalMode" type="button" pButton (click)="CrearPedidoExterno()" icon="pi pi-check" label="Crear Pedido" class="p-button-success"></button>
          <button *ngIf="modalMode" type="button" pButton (click)="editarPedido()" icon="pi pi-check" label="Editar Pedido" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="closeConfirmacion()" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Mensaje de confirmación para quitar un producto de la tabla -->
<p-toast position="center" key="quitarProducto" (onClose)="closeMessage('quitarProducto')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6">
          <button type="button" pButton (click)="quitarProducto()" icon="pi pi-check" label="Quitar" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="closeMessage('quitarProducto')" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Mensaje de confirmación para eliminar un producto de un pedido ya existente, el producto se eliminará de la base de datos -->
<p-toast position="center" key="eliminarProducto" (onClose)="closeMessage('eliminarProducto')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6">
          <button type="button" pButton (click)="eliminarProductoPedido()" icon="pi pi-check" label="Quitar" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="closeMessage('eliminarProducto')" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
