<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Orden de Compra de Materia Prima</h2>
    </div>

    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <!-- Botones que llamaran los modeles -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button pButton pRipple id="crearProveedor" class="p-button-danger" label="Crear Proveedor" icon="pi pi-user-plus" (click)="LlamarModalCrearProveedor()"></button>
    <button pButton pRipple id="crearMatPrima" class="p-button-danger" label="Crear Materia Prima" icon="pi pi-check-circle" (click)="LlamarModalCrearMateriaPrima()"></button>
  </div>

  <!-- Informacion de la orden de compra -->
  <div class="mb-4" id="bajarTitulo">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-file"></i> Información de la Orden de Compra</h4>
  </div>
  <br>

  <form [formGroup]="FormOrdenCompra" id="formulario">
    <div class="mb-3">
      <div class="row g-4">

        <!-- Consecutivo de la orden de compra -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="ConsecutivoOrden" id="orden" type="text" pInputText required/>
            <label for="orden">Consecutivo OC</label>
          </span>
        </div>

        <!-- Código de solicitus -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" id="solicitud">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="Solicitud" id="Solicitud" type="number" (keyup.enter)="consultarSolicitudMP()" pInputText/>
            <label for="Solicitud">Num. Solicitud</label>
          </span>
        </div>

        <!-- Proveedor -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="Proveedor" id="Proveedores" autocomplete="off" list="Proveedor" type="text" pInputText (keyup)="consultarProveedores()" (change)="cambiarNombreProveedor()" required/>
            <datalist id="Proveedor">
              <option value={{item.prov_Id}} *ngFor="let item of proveedores">{{item.prov_Nombre}}</option>
            </datalist>
            <label for="Proveedores">Proveedor</label>
          </span>
        </div>

        <!-- Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xl-5 col-xxl-5">
          <span class="p-float-label">
            <textarea formControlName="Observacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>

      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-box"></i> Materia Prima</h4>
  </div>

  <form [formGroup]="FormMateriaPrima">
    <div class="mb-3" id="formularioMatPrima">
      <div class="row g-4">

        <!-- ID de la Materia prima -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2" id="idMatPrima">
          <span class="p-float-label">
            <p-inputNumber formControlName="Id" inputId="Id" [useGrouping]="false" (keyup.enter)="cambiarNombreMateriaPrima()" tooltipPosition="top" pTooltip="Busca el Id de la materia prima aquí!" [required]="true"></p-inputNumber>
            <label for="Id">Id</label>
          </span>
        </div>

        <!-- Nombre Producto -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 col-xxl-4" id="nombreMatprima">
          <span class="p-float-label">
            <input formControlName="Nombre" autocomplete="off" id="Nombre" list="materiaprima" type="text" pInputText (change)="cambiarNombreMateriaPrima()" required/>
            <datalist id="materiaprima">
              <option value={{item.id}} *ngFor="let item of materiaPrima">{{item.nombre}}</option>
            </datalist>
            <label for="Nombre">Materia Prima</label>
          </span>
        </div>

        <!-- CANTIDAD DE MATERIA PRIMA  -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" id="cantidadMatPrima">
          <span class="p-float-label">
            <p-inputNumber formControlName="Cantidad" inputId="Cantidad" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="Cantidad">Cantidad</label>
          </span>
        </div>

        <!-- Unidad medida-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" id="undMatPtima">
          <span class="p-float-label">
            <p-dropdown formControlName="UndMedida" inputId="Und" [autoDisplayFirst]="false" [options]="unidadesMedida" optionLabel="undMed_Id" optionValue="undMed_Id"></p-dropdown>
            <label for="Und">Und</label>
          </span>
        </div>

        <!-- PRECIO ESTIMADO DE LA MATERIA PRIMA  -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2" id="precioMatPrima">
          <span class="p-float-label">
            <p-inputNumber formControlName="PrecioOculto" inputId="PrecioOculto" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="PrecioOculto">Precio Unitario</label>
          </span>
        </div>

        <!-- IVA -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="ivaOrden">
          <span class="p-float-label">
            <p-inputNumber formControlName="iva" inputId="iva" mode="decimal" [(ngModel)]="iva" (keyup)="ivaOrdenCompra()" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="iva">IVA(%)</label>
          </span>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" id="agregarMatPrima" type="button" label="Agregar Mat. Prima" icon="pi pi-send" (click)="cargarMateriaPrima()"></button>
        <button pButton class="p-button-secondary" id="limpiarMatPrima" type="button" label="Limpiar Campos Mat. Prima" icon="pi pi-eraser" (click)="limpiarCamposMateriaPrima()"></button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Materias Primas Seleccionadas</h4>
  </div>

  <div class="row g-3" id="tabla2">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [value]="materiasPrimasSeleccionadas">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col" id="cantidadTabla">Cantidad</th>
            <th scope="col">Und. Medida</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Subtotal</th>
            <th scope="col">IVA {{iva}}%</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiasPrimas>
          <tr>
            <td>{{materiasPrimas.Id}}</td>
            <td>{{materiasPrimas.Nombre}}</td>
            <td [pEditableColumn]="materiasPrimas.Cantidad" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber [(ngModel)]="materiasPrimas.Cantidad" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ materiasPrimas.Cantidad | number : '1.2-2' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>{{materiasPrimas.Und_Medida}}</td>

            <td [pEditableColumn]="materiasPrimas.Precio" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber [(ngModel)]="materiasPrimas.Precio" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ materiasPrimas.Precio | currency : 'COP $' }}
                </ng-template>
              </p-cellEditor>
            </td>

            <!-- <td>{{materiasPrimas.Precio | currency : 'COP $'}}</td> -->
            <td>{{materiasPrimas.SubTotal | currency : 'COP $'}}</td>
            <td>{{((materiasPrimas.SubTotal * iva) / 100) | currency : 'COP $'}}</td>
            <td>{{((materiasPrimas.SubTotal * iva) / 100) + (materiasPrimas.SubTotal) | currency : 'COP $'}}</td>
            <td id="quitarMp" class="text-center">
              <i class="pi pi-trash cursor" title="Quitar Materia Prima" (click)="mostrarEleccion(materiasPrimas, 'quitar')" *ngIf="!edicionOrdenCompra"></i>
              <i class="pi pi-trash cursor" title="Eliminar Materia Prima" (click)="mostrarEleccion(materiasPrimas, 'eliminar')" *ngIf="edicionOrdenCompra"></i>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="2" class="text-right">Totales</td>
            <td>{{calcularCantMateriaPrima() | number : '1.2-2'}}</td>
            <td>Kg</td>
            <td></td>
            <td class="text-left">{{calcularCostoMateriaPrima() | currency : 'COP $'}}</td>
            <td class="text-left">{{calcularIVAMateriaPrima() | currency : 'COP $'}}</td>
            <td colspan="2" class="text-left">{{calcularCostoTotalMateriaPrima() | currency : 'COP $'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <!-- BOTONES -->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="crearOrden" type="button" label="Crear Orden de Compra" icon="pi pi-check" [disabled]="cargando" *ngIf="!edicionOrdenCompra || solicitud" (click)="validarDatosOrdenCompra()"></button>
      <button pButton class="p-button-danger" type="button" label="Editar Orden de Compra" icon="pi pi-pencil" [disabled]="cargando" *ngIf="edicionOrdenCompra" (click)="editarOrdenCompra()"></button>
      <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodo()"></button>
    </div>
  </div>

  <!-- Modal Para Crear Proveedores -->
  <p-dialog [(visible)]="modalCreacionMateriaPrima" [contentStyle]="{'overflow':'visible'}" [style]="{width: '70vw'}" [resizable]="true" header="¿Qué desea crear?" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <h5>¡Presione el botón de la materia prima que quiere crear!</h5>
      </div>
      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button pButton pRipple class="p-button-warning" label="Polietilenos" (click)="crearPolientileno()"></button>
        <br>
        <button pButton pRipple class="p-button-info" label="BOPP / BOPA/ Poliester" (click)="crearBopp()"></button>
        <br>
        <button pButton pRipple class="p-button-danger" label="Tintas / Chips / Solventes" (click)="creartinta()"></button>
      </div>
    </ng-template>
  </p-dialog>

  <!-- Modal Para Crear Proveedores -->
  <p-dialog [(visible)]="ModalCrearProveedor" [contentStyle]="{'overflow':'visible'}" [style]="{width: '70vw'}" [resizable]="true" header="Crear Proveedor" [modal]="true" >
    <ng-template pTemplate="content">
      <app-crear-proveedor></app-crear-proveedor>
    </ng-template>
  </p-dialog>

  <!-- Modal Para Crear Materias Primas -->
  <p-dialog [(visible)]="ModalCrearMateriaPrima" [contentStyle]="{'overflow':'visible'}" [style]="{width: '70vw'}" [resizable]="true" header="Crear Materia Primas" [modal]="true" >
    <ng-template pTemplate="content">
      <app-crear-materiaprima></app-crear-materiaprima>
    </ng-template>
  </p-dialog>

  <!-- Modal Para Crear BOPP -->
  <p-dialog [(visible)]="ModalCrearBOPP" [contentStyle]="{'overflow':'visible'}" [style]="{width: '70vw'}" [resizable]="true" header="Crear BOPP / BOPA / Poliester" [modal]="true" >
    <ng-template pTemplate="content">
      <app-crear-bopp></app-crear-bopp>
    </ng-template>
  </p-dialog>

  <!-- Modal Para Crear Tintas -->
  <p-dialog [(visible)]="ModalCrearTintas" [contentStyle]="{'overflow':'visible'}" [style]="{width: '70vw'}" [resizable]="true" header="Crear Tintas / Solventes / Chips" [modal]="true" >
    <ng-template pTemplate="content">
      <app-crear-tintas></app-crear-tintas>
    </ng-template>
  </p-dialog>

</p-card>

<p-toast position="center" key="{{llave}}" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button *ngIf="llave == 'eliminar'" type="button" pButton (click)="eliminarMateriaPrima(matPrima)" icon="pi pi-check" label="Si" class="p-button-warning"></button>
          <button *ngIf="llave == 'quitar'" type="button" pButton (click)="quitarMateriaPrima(matPrima)" icon="pi pi-check" label="Si" class="p-button-success"></button>
          <button *ngIf="llave == 'pdf'" type="button" pButton (click)="buscarinfoOrdenCompra(ordenCreada)" icon="pi pi-file-pdf" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>