<!-- parte superior -->
<div class="contain">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Plasticaribe SAS</span>
      <form class="d-flex">

        <!-- USUARIOS -->
        <div class="mb-2">
          <div class="usaurios">
            <div class="imagen">
              <img src="#" alt="Usuarios" title="Usuario">
              <div class="info_usua">
                <span class="nombre_usuario">Usuario</span>
                <span class="tipo_usuario">Administrador</span>
              </div>
            </div>
          </div>
        </div>

        <!--Configuracion-->
        <nav>
          <ul>
            <li class="perfil">
              <a href= "#">Perfil</a>
              <div class="dropdownContain">
                <div class="dropOut">
                  <div class="triangle"></div>
                  <ul>
                    <li>Cambiar clave</li>
                    <li>Configurar</li>
                  </ul>
                </div>
              </div>

            </li>
            <li class="salir"><a href="http://localhost:4200/inicio">Salir</a></li>
          </ul>
        </nav>

      </form>
    </div>
  </nav>
  <div class=" contenedorSecundario container-fluid">
    <div class="row justify-content-start">
      <div class="navLateral col-1">


        <!-- fin de parte superior -->

        <!-- principal -->
        <div class="container-fluid">

          <div class="contenedor_titulo mb-3">
            <h2 class="tituloRojo">Orden de Compra</h2>
          </div>
          <div class="mb-5">
            <hr class="colorLinea">
          </div>

          <div class="container">
            <div class="mb-4">
              <h4 class="tituloRojo"></h4>
            </div>
<!-- fin principal -->
  <!-- boton de busqueda -->
  <form>
    <h5></h5> <input type="search" placeholder="N.Pedido Interno">
  </form>
<br>
<!-- boton de busqueda fin -->

 <!-- <form [formGroup]="formularioRoles" (ngSubmit)="validarCamposVacios()"> -->
  <div class="container">
    <div class="row">
<div class="col-md-3">
  <select id="Areas" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
    <option selected>Areas</option>
    <option value="1">Lamiando</option>
    <option value="2">Estrucion</option>
    <option value="3">Diseño</option>
  </select>
</div>
<!-- fecha -->
  <label class="col-md-1 control-label" for="">Pedido</label>
  <div class="col">
  <input id="FechaPedido" name="FechaPedido" type="date" class="form-control form-control-sm">
  </div>

  <label class="col-md-1 control-label" for=""> Entrega</label>
  <div class="col">
  <input id="FechaEntrga" name="FechaEntrga" type="date" class="form-control form-control-sm">
  </div>
  <!-- fin fecha -->
<div class="col-md-3">
  <select id="Estado" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
    <option selected>Estado</option>
    <option value="1">Activo</option>
    <option value="2">En Procedo</option>
    <option value="3">#</option>
  </select>
</div>
</div>
</div>
<br>
<!-- Tabla de Pedidos Internos -->
<div class="container"></div>
<div class="mb-4">
  <h4 class="tituloRojo">Tabla de Pedidos Internos</h4>
</div>

<!-- tabla producto -->

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Ot</th>
        <th scope="col">Area</th>
        <th scope="col">Observacion</th>
        <th scope="col">Archivos</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>Ver<a href="" download=""></a></td>
      </tr>

    </tbody>
  </table>
<!-- Fin Tabla de Pedidos Internos -->

<div class="mb-5">
  <hr class="colorLinea">
</div>

<div class="container">
  <div class="row">
  <div class="mb-4">
    <h4 class="tituloRojo">Detalles de Compra</h4>
  </div>

  <div class="col">
    <input formControlName="IDDetalleOc"  type="text" class="form-control form-control-sm" id=""  placeholder="ID Detalle Oc" name="ID Detalle Oc" required maxlength="50">
    </div>
    <label class="col-md-1 control-label" for="">F.Pedido</label>
    <div class="col">
    <input id="FechaPedido" name="FechaPedido" type="date" class="form-control form-control-sm">
    </div>
    <div class="col">
      <input formControlName="IDProveedor"  type="text" class="form-control form-control-sm" id=""  placeholder="ID Proveedor" name=" ID Proveedor" required maxlength="50">
      </div>
      <div class="col">
        <input formControlName="NombreProveedor"  type="text" class="form-control form-control-sm" id=""  placeholder="NombreProveedor" name=" NombreProveedor" required maxlength="50">
        </div>
        <div class="col-md-3">
        <select id="Estado" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
          <option selected>Estado</option>
          <option value="1">Activo</option>
          <option value="2">En Procedo</option>
          <option value="3">#</option>
        </select>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
    <div class="col">
      <input formControlName="IDUsuario"  type="text" class="form-control form-control-sm" id=""  placeholder="ID Usuario" name="ID Usuario" required maxlength="50">
      </div>

      <div class="col">
        <input formControlName="Usuario"  type="text" class="form-control form-control-sm" id=""  placeholder="Usuario" name="Usuario" required maxlength="50">
        </div>
        <div class="col">
          <div class="col-md-6">
            <select id="Areas" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
              <option selected>Areas</option>
              <option value="1">Lamiando</option>
              <option value="2">Estrucion</option>
              <option value="3">Diseño</option>
            </select>
          </div>

      </div>
    </div>
    </div>
  </div>
<br>

  <div class="container">
    <div class="row">
    <div class="mb-4">
      <h4 class="tituloRojo">Materia Prima</h4>
    </div>






















 <!-- <br>
<div class="container">
  <div class="row">
<div class="col">
  <select id="IDCliente" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
    <option selected>ID Cliente</option>
    <option value="1">#1</option>
    <option value="2">#2</option>
    <option value="3">#3</option>
  </select>
</div>
<br>
<div class="col">
  <select id="Cliente" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
    <option selected>Cliente</option>
    <option value="1">#1</option>
    <option value="2">#2</option>
    <option value="3">#3</option>
  </select>
</div>
<div class="col">
  <input formControlName="Codigo"  type="text" class="form-control form-control-sm" id=""  placeholder="Codigo" name="COdigo" required maxlength="50">
  </div>
  </div>
  </div>
  <br> -->
<!-- fecha -->

<!-- <div class="container">
  <div class="row">
  <label class="col-md-1 control-label" for="">Pedido</label>
  <div class="col">
  <input id="FechaPedido" name="FechaPedido" type="date" class="form-control form-control-sm">
  </div>


  <label class="col-md-1 control-label" for=""> Entrega</label>
  <div class="col">
  <input id="FechaEntrga" name="FechaEntrga" type="date" class="form-control form-control-sm">
  </div>
    </div>
    </div>
    <br> -->
  <!-- fin fecha -->
    <!-- <div class="col">
      <h6>OBSERVACION</h6>
      <textarea formControlName="Descripcion"  class="form-control form-control-sm" placeholder="Descripción" name="Descripcion" required maxlength="200"></textarea>
    </div>
    </div>
    <br>
        <div class="mb-3">
          <br>
        </div>
        <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
          <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button">Limpiar campos</button>
          <button class="btn btn-danger btn-danger-sm" ><a class="" href="/opedidoproducto">Agregar Producto</a></button>

        </div> -->
      <!-- </form>  expand="full" (click)="clear()" -->
    <!--Fin formulario-->
    <!-- </div>
  </div> -->



