<!-- BARRA INCIAL DE LA PANTALLA -->
<div class="contain">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <p class="titulo">Plasti<span>caribe S.A.S</span></p>
    </div>
  </nav>

<!-- principal -->
<div class="contenedor_titulo mb-3">
  <h2 class="tituloRojo">Orden de Compra</h2>
</div>
<div class="mb-5">
  <hr class="colorLinea">
</div>
<div class="container">
  <div class="mb-4">
    <h4 class="tituloRojo"></h4>
  </div>

  <!-- fin principal -->

  <!--FORMULARIO CON BOTIN DE BUSQUEDA DE PEDIDOS EXTERNOS  -->
  <form [formGroup]="formularioBuscarPedido" (ngSubmit)="validarCamposVacios_Consultar()">
    <h5>Buscar</h5>
    <input formControlName="buscarPedidoId" class="buscarPedidoInterno" type="search" placeholder="N° Pedido Interno">
    <!-- boton de busqueda fin -->
    <div class="container contenedorBusqueda">
      <div class="row">
        <div class="buscarPedidoArea col-md-3">
          <select  id="Areas" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option  disabled selected>Areas</option>
            <option value="1">Lamiando</option>
            <option value="2">Estrucion</option>
            <option value="3">Diseño</option>
          </select>
        </div>
          <!-- fecha -->
        <label class="fechaPedidoLabel col-md-1 control-label" for=""> Fecha Pedido</label>
        <div class="FechaPedido col">
          <input  id="FechaPedido" name="FechaPedido" type="date" class="form-control form-control-sm">
        </div>
        <label class="fechaEntregaLabel col-md-1 control-label" for="">Fecha  Entrega</label>
        <div class="FechaEntrga col">
          <input id="FechaEntrga" name="FechaEntrga" type="date" class="form-control form-control-sm">
        </div>
          <!-- fin fecha -->
        <div class="Estado col-md-3">
          <select  id="Estado" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option  disabled selected>Estado</option>
            <option value="1">Activo</option>
            <option value="2">En Procedo</option>
            <option value="3">#</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="botonConsultar">
      <input class="boton_consultar btn btn-danger btn-danger-sm" type="submit" value="Buscar Pedido">
    </div>
  </form>

  <!-- Tabla de Pedidos Internos -->
  <div class="mb-4">
    <h4 class="tituloRojo">Tabla de Pedidos Internos</h4>
  </div>

  <!-- tabla producto -->
  <div class="table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Ot</th>
        <th scope="col">Area</th>
        <th scope="col">Observacion</th>
        <th scope="col">Archivos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#</th>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>Ver<a href="" download=""></a></td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <!-- FORMULARIO DE ENVIO DE INFORMACION DETALLADA DE LA ORDEN DE COMPRA -->
  <form [formGroup]="formularioOC" (ngSubmit)="validarCamposVacios_Guardar()">
    <div class="container">
      <div class="row">
        <div class="mb-4">
        <h4 class="tituloRojo">Detalles de Compra</h4>
        </div>
        <div class="idOC">
          <input formControlName="IdDetalleOc"  type="text" class="form-control form-control-sm" id=""  placeholder="Id Orden Compra" name="ID Detalle Oc" required maxlength="50">
        </div>
        <label class="fechaOrdenCompralabel col-md-1 control-label" >Fecha Orden de Compra</label>
        <div class="fechaOrdenCompra">
          <input formControlName="fechaOrdenCompra" id="fechaOrdenCompra" name="fechaOrdenCompra" type="date" class="form-control form-control-sm">
        </div>
        <div class="col">
          <input formControlName="IdProveedor"  type="text" class="form-control form-control-sm" id=""  placeholder="ID Proveedor" name=" ID Proveedor" required maxlength="50">
        </div>
        <div class="col">
          <input formControlName="NombreProveedor"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre Proveedor" name=" NombreProveedor" required maxlength="50">
        </div>
        <div class="estadoOC col-md-3">
          <select formControlName="estadoOC" id="Estado" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option  disabled selected>Estado</option>
            <option value="1">Activo</option>
            <option value="2">En Procedo</option>
            <option value="3">#</option>
          </select>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row fila_contenedora">
          <div class="contenedorIdUsuario">
            <input formControlName="IdUsuario"  type="text" class="IdUsuario form-control form-control-sm" id=""  placeholder="ID Usuario " name="ID Usuario" required maxlength="50">
          </div>

          <div class="contenedorNombreUsuario">
            <input formControlName="NombreUsuario"  type="text" class="NombreUsuario form-control form-control-sm" id=""  placeholder="Usuario" name="Usuario" required maxlength="50">
          </div>
          <div class="ContenedorArea">
            <div class="ContenedorArea2 col-md-6">
              <select id="Areas" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option  disabled selected>Areas</option>
                <option value="1">Lamiando</option>
                <option value="2">Estrucion</option>
                <option value="3">Diseño</option>
              </select>
            </div>
          </div>
          <div class="contenedorObservacionOC">
            <textarea formControlName="Observacion" id="observacion" type="text" class="observacion form-control form-control-sm"  maxlength="200" placeholder="Observacion" name="Descripcion"></textarea>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- materia prima -->
    <div class="mb-5">
      <hr class="colorLinea">
    </div>

    <div class="container">
      <div class="row">
        <div class="mb-4">
          <h4 class="tituloRojo">Materia Prima</h4>
        </div>

        <div class="container ContenedorMateriaPrima">
          <div class="row">
            <div class="ContenedorNombreMateriaPrima">
              <select formControlName="NombreMateriaPrima" id="NombreMateriaPrima" class="NombreMateriaPrima form-select" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled>ID Nombre Materia prima</option>
                <option value="1">#1</option>
                <option value="2">#2</option>
                <option value="3">#3</option>
              </select>
            </div>
            <div class="ContenedorCantidadMateriaPrima">
              <input formControlName="CantidadMateriaPrima" id="CantidadMateriaPrima"  type="text" class="form-control form-control-sm" id=""  placeholder="Cantidad" name="Cantidad" required maxlength="50">
            </div>
            <div class="ContenedorUnidadMedidaMateriaPrima">
              <select formControlName="UnidadMedidaMateriaPrima" id="UnidadMedida" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option  [ngValue]="null" disabled>Unidad Medida</option>
                <option value="1">#1</option>
                <option value="2">#2</option>
                <option value="3">#3</option>
              </select>
            </div>
            <div class="ContenedorStockMateriaPrima">
              <input formControlName="StockMateriaPrima"  type="text" class="form-control form-control-sm" id=""  placeholder="Stock" name="Stock" required maxlength="50">
            </div>
            <div class="ContenedorTipoMateriaPrima">
              <select formControlName="TipoMateriaPrima" id="TipoMateria" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option   [ngValue]="null" disabled>Tipo Materia</option>
                <option value="1">#1</option>
                <option value="2">#2</option>
                <option value="3">#3</option>
              </select>
            </div>
            <div class="row nuevaMP">
              <p class="ParrafoMP">¿Nueva Materia Prima?</p>
              <button class="boton_agregarMP btn btn-danger btn-danger-sm" type="button">Crear MP</button>
            </div>
          </div>
        </div>
        <br>
        <!-- Fin materia prima -->

        <!-- Crear materia prima -->
        <!-- <div class="mb-5">
          <hr class="colorLinea">
        </div>
        <div class="container">
          <div class="row">
            <div class="mb-4">
              <h4 class="tituloRojo">Crear Materia Prima</h4>
            </div>
            <div class="container">
              <div class="row">
                <div class="col">
                  <input  type="text" class="form-control form-control-sm" id=""  placeholder="ID" name="ID" required maxlength="50">
                </div>
                <div class="col">
                  <input  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre" name="Nombre" required maxlength="50">
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm" id=""  placeholder="Cantidad" name="Cantidad" required maxlength="50">
                </div>
                <div class="col-md-3">
                  <select id="UnidadMedida" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                    <option  disabled selected>Unidad Medida</option>
                    <option value="1">#1</option>
                    <option value="2">#2</option>
                    <option value="3">#3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select id="CategoriaMateriaprima" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                    <option  disabled selected>Categoria Materia prima</option>
                    <option value="1">#1</option>
                    <option value="2">#2</option>
                    <option value="3">#3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mb">
              <br>
            </div>
            <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Agregar</button>
              <button class="boton_limpiar btn btn-secondary btn-secondary-sm" expand="full" (click)="clear()" type="button">Limpiar campos</button>
            </div>
          </div>
        </div>   -->
        <!--  Fin Crear materia prima -->
        <!--  Materia prima a solicitar -->
        <div class="mb-5">
          <hr class="colorLinea">
        </div>
        <div class="container">
          <div class="row">
            <div class="mb-4">
              <h4 class="tituloRojo">Materia Prima a Solicitar</h4>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">ID</th>
                    <th scope="col">Materia Prima</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Unidad Medida</th>
                    <th scope="col">Tipo Materia</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">#</th>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>Editar/Eliminar</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mb-3">
              <br>
            </div>
            <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Solicitar</button>
              <button class="boton_limpiar btn btn-secondary btn-secondary-sm" expand="full" (click)="clear()" type="button">Limpiar Tabla</button>
              <button class="btn btn-danger btn-danger-sm" ><a class="" href="./principal">Cancelar</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    <!-- </form>  expand="full" (click)="clear()" -->
    <!--  Materia prima a solicitar -->
  <br>

