::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
  display: flex;
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown {
  display: flex;
}

p-inputnumber, p-inputnumber, p-inputtext ::ng-deep span, p-dropdown ::ng-deep .p-dropdown{
  display: flex;
  width: 100%;
}

p-button ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  width: 1.8rem;
  height: 1.8rem
}

#margen ::ng-deep i, .pi {
  margin-right: 1.5%;
}

p-button ::ng-deep .pi {
  font-size: 1rem;
}

td {
  font-weight: 500;
}

.whiteBackground {
  background-color: #FFFFFFF6;
}

.darBackgroun {
  background-color: #071426F6;
}

.descargandoArchivo {
  z-index: 999;
  width: 300px;
  height: 90px;
  top: 12%;
  right: 0;
  position: fixed;
  border: .3px solid #9a9a9a;
  border-radius: 20px;
  transition: all 1s;
  margin-bottom: 5px;
  margin-right: 5px;
}

.descargandoArchivo:hover {
  width: 310px;
  height: 95px;
}

.descargandoArchivo .header {
  border-bottom: .3px solid #676767F0;
  border-radius: 20px 20px 0 0;
  width: 100%;
  align-items: center;
  text-align: center;
  transition: all 1s;
}

.descargandoArchivo h1 {
  font-size: 1.3rem;
  color: var(--rojo);
}

.descargandoArchivo .content {
  width: 100%;
}

.descargandoArchivo ::ng-deep p-progressspinner .p-progress-spinner {
  width: 25px;
  height: 25px;
}

.nameFile {
  display: flex;
}

.whiteBackground .nombreArchivo {
  font-size: 1em;
  text-align: center;
}

.darBackgroun .nombreArchivo {
  font-size: 1em;
  text-align: center;
}

.whiteBackground .nombreArchivo, .whiteBackground .iconoArchivo {
  color: black;
}

.darBackgroun .nombreArchivo, .darBackgroun .iconoArchivo {
  color: white;
}

.slide-in-right {
	animation: slide-in-right 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	animation: slide-in-left 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-75px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-75px);
    opacity: .5;
  }
  60% {
    transform: translateX(400px);
    opacity: .2;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}