<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo font-size-32">Gestor de Archivos</h2>
    </div>
    <!-- Linea -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<!--Card que contendrá los campos para gestionar archivos -->
<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>
  <!-- <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button pButton class="p-button-danger" type="button" label="Crear Categorias" icon="pi pi-plus-circle" (click)="cargarModal()" pTooltip="Crear categorias de archivos" tooltipPosition="left"> </button>
      <br>
    </div>
  </ng-container> -->

  <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
    <form [formGroup]="formularioArchivo" (ngSubmit)="subirArchivos()" id="formulario">
      <div class="mb-4">
        <div class="row g-3">

          <div class="col-md-3" id="crearCarpeta">
            <span class="p-inputgroup">
              <input formControlName="carpetaNueva" type="text" pTooltip="¡Escribe el nombre de la nueva carpeta y haz clic en crear!" pInputText placeholder="Nueva Carpeta" required>
              <button type="button" pButton icon="pi pi-plus-circle" styleClass="p-button-warn" (click)="crearCarpeta()" label="Crear" pTooltip="Crear Carpeta" tooltipPosition="left"></button>
            </span>
          </div>

          <!-- <div class="col-md-6">
            <span class="p-float-label">
              <p-dropdown formControlName="CategoriaArchivos" inputId="catArchivos" [autoDisplayFirst]="false" [options]="categoriasArchivos" optionValue="categoria_Id" optionLabel="categoria_Name"></p-dropdown>
              <label for="catArchivos">Categorias</label>
            </span>
          </div> -->

          <div class="col-md-9" id="archivo">
            <p-fileUpload (onSelect)="onSelectFile($event)" chooseIcon="pi pi-image" [multiple]="true" chooseLabel="Elegir archivo(s)" [showUploadButton]="false" type="file"></p-fileUpload>
          </div>
        </div>
      </div>

      <!-- Botones para agregar productos -->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" id="subirArchivo" type="submit" label="Subir Archivo" icon="pi pi-cloud-upload"></button>
          <!-- <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"> </button> -->
        </div>
      </div>
    </form>
  </ng-container>

  <div class="mb-3">
    <div class="row g-3">
      <p-table
        #dt
        id="tabla"
        [value]="ArrayArchivos"
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr class="font-size-13">
            <th scope="col" style="width: 65%" pResizableColumn><p-button id="minimizar" icon="pi pi-arrow-left" (click)="regresarCarpetaAnterior()" styleClass="p-button-rounded p-button-danger mr-2"></p-button>{{ruta}} <i class="pi pi-folder-open"></i></th>
            <th scope="col" class="text-center" pResizableColumn>Descargar</th>
            <!--Copiar/Mover-->
            <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
              <th scope="col" class="text-center" pResizableColumn>Copiar</th>
              <th scope="col" class="text-center" pResizableColumn>Mover</th>
              <!--Cancelar-->
              <ng-container *ngIf="mover == true || copiar == true">
                <th scope="col" class="text-center cursor" pTooltip="Si la carpeta no contiene archivos haz clic aquí para pegar" (click)="pegarArchivoCarpeta()">Pegar</th>
                <th scope="col" class="text-center cursor" pTooltip="Si la carpeta no contiene archivos haz clic aquí para cancelar" (click)="cancelarPegadoArchivoCarpeta()" pResizableColumn>Cancelar</th>
              </ng-container>
              <!--Eliminar-->
              <th scope="col" class="text-center" pResizableColumn>Eliminar</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-archivos>
          <tr class="font-size-13">
            <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
              <td style="width: 65%"><i id="margen" class="pi pi-file" ></i> {{archivos.nombre}}</td>
              <td class="text-center">
                <p-button id="descargar" pTooltip="Descargar" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-success" (click)="descargarArchivos(archivos.nombre)"></p-button>
              </td>
            </ng-container>
            <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
              <td style="width: 65%" id="abrirCarpeta" class="cursor" (click)="abrirCarpeta(archivos.nombre)" pTooltip="Haz clic para abrir la carpeta" tooltipPosition="left"><i class="pi pi-folder"></i> {{archivos.nombre}}</td>
              <td></td>
            </ng-container>
            <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
              <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-copy" styleClass="p-button-rounded p-button-info" (click)="moverArchivoCarpeta('copiar', archivos.ruta, archivos.nombre)" pTooltip="Copiar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-arrow-right-arrow-left" styleClass="p-button-rounded p-button-warning" (click)="moverArchivoCarpeta('mover', archivos.ruta, archivos.nombre)" pTooltip="Mover Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
                <td class="text-center">
                  <p-button id="copiar" icon="pi pi-copy" styleClass="p-button-rounded p-button-info" (click)="moverArchivoCarpeta('copiar', archivos.ruta, archivos.nombre)" pTooltip="Copiar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="mover" icon="pi pi-arrow-right-arrow-left" styleClass="p-button-rounded p-button-warning" (click)="moverArchivoCarpeta('mover', archivos.ruta, archivos.nombre)" pTooltip="Mover Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="mover == true || copiar == true">
                <td class="text-center">
                  <p-button id="pegar" icon="pi pi-clone" styleClass="p-button-rounded p-button-help" (click)="pegarArchivoCarpeta()" pTooltip="Pegar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="cancelar" icon="pi pi-times" styleClass="p-button-rounded p-button-secondary" (click)="cancelarPegadoArchivoCarpeta()" pTooltip="Cancelar" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (click)="mostrarEleccion1(archivos.ruta, archivos, 'd-archivo')" pTooltip="Eliminar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
                <td class="text-center">
                  <p-button id="eliminar" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (click)="mostrarEleccion1(archivos.ruta, archivos, 'd-carpeta')" pTooltip="Eliminar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

  <!--Modal para crear categorias de archivos-->
<p-dialog header="Crear categorias" [(visible)]="modal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-3">
    <app-CrearCategorias></app-CrearCategorias>
  </p>
</p-dialog>

<p-toast position="center" key="{{clave}}" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-ruta let-index>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button *ngIf="clave == 'd-archivo'" type="button" pButton (click)="eliminarArchivo(ruta, index)" icon="pi pi-check" label="Si" class="p-button-success"></button>
          <button *ngIf="clave == 'd-carpeta'" type="button" pButton (click)="eliminarCarpetas(ruta, index)" icon="pi pi-check-square" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="center" key="{{clave}}" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-ruta let-index>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button *ngIf="this.clave == 'copiar'" type="button" pButton (click)="copyFiles(ruta, index, 1)" icon="pi pi-check" label="Si" class="p-button-success"></button>
          <button *ngIf="this.clave == 'mover'" type="button" pButton (click)="moveFiles(ruta, index, 1)" icon="pi pi-check-square" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>


