<ng-container *ngIf="modoInvitado">
  <app-menuLateral></app-menuLateral>
  <app-VistasFavoritas></app-VistasFavoritas>
</ng-container>
<br>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="font-size-32" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Gestor de Archivos</h2>
    </div>
    <!-- Linea -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<!--Card que contendrá los campos para gestionar archivos -->
<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
    <form [formGroup]="formularioArchivo" (ngSubmit)="subirArchivos()" id="formulario">
      <div class="mb-4">
        <div class="row g-3">

          <div class="col-md-3" id="crearCarpeta">
            <span class="p-inputgroup">
              <input formControlName="carpetaNueva" type="text" pTooltip="¡Escribe el nombre de la nueva carpeta y haz clic en crear!" pInputText placeholder="Nueva Carpeta" required>
              <button type="button" pButton icon="pi pi-plus-circle" styleClass="p-button-warn" (click)="crearCarpeta()" label="Crear" pTooltip="Crear Carpeta" tooltipPosition="left"></button>
            </span>
          </div>

          <div class="col-md-9" id="archivo">
            <p-fileUpload (onSelect)="onSelectFile($event)" chooseIcon="pi pi-image" [multiple]="true" chooseLabel="Elegir archivo(s)" [showUploadButton]="false" type="file"></p-fileUpload>
          </div>
        </div>
      </div>

      <!-- Botones para agregar productos -->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" id="subirArchivo" type="submit" label="Subir Archivo" icon="pi pi-cloud-upload"></button>
        </div>
      </div>
    </form>
  </ng-container>

  <div class="mb-3">
    <div class="row g-3">
      <p-table
        #dt
        id="tabla"
        [value]="ArrayArchivos"
        columnResizeMode="expand"
        styleClass="p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr class="font-size-13">
            <th scope="col" style="width: 65%"><p-button id="minimizar" icon="pi pi-arrow-left" (click)="regresarCarpetaAnterior()" styleClass="p-button-rounded p-button-danger mr-2"></p-button>{{ruta}} <i class="pi pi-folder-open"></i></th>
            <th scope="col" class="text-center">
              <p-button id="descargar" pTooltip="Descargar" label="Descargar" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-success" (click)="descargarCarpetas(nombreCarpeta)"></p-button>
            </th>
            <!--Copiar/Mover-->
            <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
              <th scope="col" class="text-center">Copiar</th>
              <th scope="col" class="text-center">Mover</th>
              <!--Cancelar-->
              <ng-container *ngIf="mover == true || copiar == true">
                <th scope="col" class="text-center cursor" pTooltip="Si la carpeta no contiene archivos haz clic aquí para pegar" (click)="pegarArchivoCarpeta()">Pegar</th>
                <th scope="col" class="text-center cursor" pTooltip="Si la carpeta no contiene archivos haz clic aquí para cancelar" (click)="cancelarPegadoArchivoCarpeta()">Cancelar</th>
              </ng-container>
              <!--Eliminar-->
              <th scope="col" class="text-center">Eliminar</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-archivos>
          <tr class="font-size-13">
            <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
              <td style="width: 65%"><i id="margen" class="pi pi-file" ></i> {{archivos.nombre}}</td>
              <td class="text-center">
                <p-button id="descargar" pTooltip="Descargar" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-success" (click)="descargarArchivos(archivos.nombre)"></p-button>
              </td>
            </ng-container>
            <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
              <td style="width: 65%" id="abrirCarpeta" class="cursor" (click)="abrirCarpeta(archivos.nombre)" pTooltip="Haz clic para abrir la carpeta" tooltipPosition="left"><i class="pi pi-folder"></i> {{archivos.nombre}}</td>
              <td class="text-center">
                <p-button id="descargar" pTooltip="Descargar" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-success" (click)="descargarCarpetas(archivos.ruta)"></p-button>
              </td>
            </ng-container>
            <ng-container *ngIf="ValidarRol == 5 || ValidarRol == 1">
              <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-copy" styleClass="p-button-rounded p-button-info" (click)="moverArchivoCarpeta('copiar', archivos.ruta, archivos.nombre)" pTooltip="Copiar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-arrow-right-arrow-left" styleClass="p-button-rounded p-button-warning" (click)="moverArchivoCarpeta('mover', archivos.ruta, archivos.nombre)" pTooltip="Mover Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
                <td class="text-center">
                  <p-button id="copiar" icon="pi pi-copy" styleClass="p-button-rounded p-button-info" (click)="moverArchivoCarpeta('copiar', archivos.ruta, archivos.nombre)" pTooltip="Copiar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="mover" icon="pi pi-arrow-right-arrow-left" styleClass="p-button-rounded p-button-warning" (click)="moverArchivoCarpeta('mover', archivos.ruta, archivos.nombre)" pTooltip="Mover Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="mover == true || copiar == true">
                <td class="text-center">
                  <p-button id="pegar" icon="pi pi-clone" styleClass="p-button-rounded p-button-help" (click)="pegarArchivoCarpeta()" pTooltip="Pegar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
                <td class="text-center">
                  <p-button id="cancelar" icon="pi pi-times" styleClass="p-button-rounded p-button-secondary" (click)="cancelarPegadoArchivoCarpeta()" pTooltip="Cancelar" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'archivo';">
                <td class="text-center">
                  <p-button id="minimizar" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (click)="mostrarEleccion1(archivos.ruta, archivos, 'd-archivo')" pTooltip="Eliminar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
              <ng-container *ngIf="archivos.archivoCarpeta == 'carpeta';">
                <td class="text-center">
                  <p-button id="eliminar" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (click)="mostrarEleccion1(archivos.ruta, archivos, 'd-carpeta')" pTooltip="Eliminar Archivo/Carpeta" tooltipPosition="left"></p-button>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

<div class="descargandoArchivo" [ngClass]="{'whiteBackground' : !modoSeleccionado, 'darBackgroun': modoSeleccionado, 'slide-in-right' : descargandoArchivo, 'slide-in-left' : !descargandoArchivo}" *ngIf="nombreArchivo != ''">
  <div class="header">
    <div class="text-center tituloDescarga">
      <h1 class="tituloDescarga p-2"><i class="pi pi-download font-size-18"></i> Descargando...</h1>
    </div>
  </div>
  <div class="content">
    <div class="row px-3 py-2 g-2">
      <div class="col-2">
        <i class="pi pi-file-export iconoArchivo font-size-20"></i>
      </div>
      <div class="col-8 my-2 nameFile">
        <p class="nombreArchivo">{{nombreArchivo.length > 30 ? (nombreArchivo.substring(0, 20) + '...').trim() : nombreArchivo}} </p>
      </div>
      <div class="col-2 text-center">
        <p-progressSpinner></p-progressSpinner>
      </div>      
    </div>
  </div>
</div>

<p-toast position="center" key="{{clave}}" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-ruta let-index>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button *ngIf="clave == 'd-archivo'" type="button" pButton (click)="eliminarArchivo(ruta, index)" icon="pi pi-check" label="Si" class="p-button-success"></button>
          <button *ngIf="clave == 'd-carpeta'" type="button" pButton (click)="eliminarCarpetas(ruta, index)" icon="pi pi-check-square" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="center" key="{{clave}}" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-ruta let-index>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button *ngIf="this.clave == 'copiar'" type="button" pButton (click)="copyFiles(1)" icon="pi pi-check" label="Si" class="p-button-success"></button>
          <button *ngIf="this.clave == 'mover'" type="button" pButton (click)="moveFiles(1)" icon="pi pi-check-square" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>