<div class="fondo">
  <div class="mx-4 pb-8" style="padding-top: 60px;">
    <p-tabView (onChange)="cambioTab($event)">

      <!-- FACTURACIÓN -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Facturación"
        leftIcon="pi pi-sliders-h">
        <app-Reporte-Facturacion-Detallada *ngIf="facturacion"></app-Reporte-Facturacion-Detallada>
      </p-tabPanel>

      <!-- PRODUCCION -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Consolidado Producción"
        leftIcon="pi pi-sliders-h">
        <app-Dashboard_Areas *ngIf="consolidadoProduccionAreas"></app-Dashboard_Areas>
      </p-tabPanel>

      <!-- PRODUCCIÓN DETALLADA -->
      <p-tabPanel
        *ngIf="[1,6,7,8,9,10,62,63].includes(ValidarRol)"
        header="Producción Detallada"
        leftIcon="pi pi-sliders-h">
        <app-Reporte-Produccion *ngIf="produccionDetallada"></app-Reporte-Produccion>
      </p-tabPanel>

      <!-- CARTERA -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Cartera"
        leftIcon="pi pi-sliders-h">
        <app-DashBoard-Recaudos *ngIf="cartera"></app-DashBoard-Recaudos>
      </p-tabPanel>

      <!-- VENTAS VENDEDORES -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Facturación Vendedores"
        leftIcon="pi pi-sliders-h">
        <app-ReporteFacturacion_Vendedores *ngIf="facturacionVendedores"></app-ReporteFacturacion_Vendedores>
      </p-tabPanel>

      <!-- FACTURACIÓN DE ITEMS -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Facturación de Items"
        leftIcon="pi pi-sliders-h">
        <app-Reporte_FacturacionZeus *ngIf="facturacionItems"></app-Reporte_FacturacionZeus>
      </p-tabPanel>

      <!-- PEDIDOS -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Pedidos"
        leftIcon="pi pi-sliders-h">
        <app-ReportePedidos_Zeus *ngIf="pedidos" [reporteConsolidado]="true"></app-ReportePedidos_Zeus>
      </p-tabPanel>

      <!-- INVENTARIO PRODUCTOS TERMINADOS -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Inventario"
        leftIcon="pi pi-sliders-h">
        <app-modal-generar-inventario-zeus *ngIf="inventarioProductos" [reporteConsolidado]="true"></app-modal-generar-inventario-zeus>
      </p-tabPanel>

      <!-- ESTADISTICA DE VENTAS -->
      <p-tabPanel
        *ngIf="[1,6].includes(ValidarRol)"
        header="Estadisticas Ventas"
        leftIcon="pi pi-sliders-h">
        <app-Reporte_EstadisticasVentas></app-Reporte_EstadisticasVentas>
     </p-tabPanel>

    </p-tabView>
  </div>
</div>