.fondo {
    background: url('/assets/Imagenes_Cards/bolsasPlastico.jpg') no-repeat center;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }
  