.TextosInfoTabla {
  font-size: smaller;
}

.titulo {
  color: #d83542;
}

.TitulosTabla {
  font-size: smaller;
}

.d-grid {
  padding-bottom: 5%;
}

.Linea {
  color: #777;
}

.container{
  width: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
  text-decoration: none;
  color: #5D6D7E;
}


.textoBarraNav{
  font-size: small;
}


a {
  text-decoration: none;
}

.Titulo{
  text-align: center;
}

.tituloRojo{
  color: #d83542;
}

.colorLinea{
  color: #b6bac2;
  height: 2px;
}

.form-select {
  width: 100%;
}

.TextosInfoTabla2{
background-color: lightblue;
}

.form-floating{
  font-size: small;
}

.existencias{
  background-color:  #fff;
  width: 100%;
  height: 100%;
  border : none;
 }

.overlay{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .6);
  cursor: default;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

