  <!-- Inicio  -->
<app-menuLateral></app-menuLateral>

<div class="contain">
  <!-- Navegador fin de parte superior -->

  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Inventario de Productos Terminados</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
    <div class="container">

    <!-- Inicio fila 1 de campos -->
    <div class="mb-4">
      <div class="row g-3">
          <!-- Nombre Producto -->
          <div class="form-floating col-md-4">
            <input type="text" name="NombrePT" [(ngModel)]="NombrePT" class="form-control form-control-sm" id="floatingInput" autocomplete="on" required >
            <label for="floatingInput">Nombre</label>
          </div>

        <!-- Nombre Cliente -->
        <div class="form-floating col-md-3">
          <input type="text" name="NombreCliente" [(ngModel)]="NombreCliente" class="form-control form-control-sm" id="floatingInput" autocomplete="on" required >
          <label for="floatingInput">Cliente</label>
        </div>

        <form [formGroup]="FormExistencias" id="FormExistencias">
          <!-- Cantidad Minima -->
          <div class="form-floating col-md-4">
            <input type="number" formControlName="cantMinima" class="form-control form-control-sm" id="floatingInput" (keyup.enter)="actualizarCantMinima()">
            <label for="floatingInput">Cantidad Minima Item</label>
          </div>
          <label *ngIf="numeroIdProd != 0">Item: <b>{{numeroIdProd}}</b></label>

          <div class="mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="actualizarCantMinima()">Actualizar</button>
              <!-- <button class="btn btn-secondary btn-secondary-sm" type="button">Limpiar campos</button> -->
            </div>
          </div>
        </form>
     </div>
    </div>

    <!-- Fin fila 1 de campos -->

    <div class="overlay" *ngIf="!load">
      <div class="spinner ">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
      </div>
    </div>

    <div *ngIf="load">
      <div class="mb-4">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2">
              <thead class="TitulosTabla">
                <tr *ngFor="let columnas of titulosTabla let i = index">
                  <th scope="col" class="idProducto">{{columnas.invItem}}</th>
                  <th id="Cliente" scope="col">{{columnas.invCliente}}</th>
                  <th id="nombre" scope="col">{{columnas.invNombre}}</th>
                  <th id="precio" scope="col">{{columnas.invPrecio}}</th>
                  <th id="existencias" scope="col"><button class="existencias" (dblclick)="organizarExistenciasDobleClick()" (click)="organizarExistenciasUnClick()"><b>{{columnas.invStock}}</b></button></th>
                  <th id="presentacion" scope="col">{{columnas.presentacion}}</th>
                  <th id="Subtotal" scope="col">{{columnas.invSubtotal}}</th>
                  <th id="Subtotal" scope="col">Cant. Minima</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prodZeus of ArrayProductoZeus | filtrosProductosTerminadosZeus: NombrePT | filtroNombreClientePT: NombreCliente | paginate: {itemsPerPage: 30, currentPage: page} let i=index">
                  <th id="id" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.codigoItem}}</th>
                  <td id="cliente" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.ClienteNombre}}</td>
                  <td id="nombre" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.nombreItem}}</td>
                  <td id="precio" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.PrecioItem | number : '1.2-2'}}</td>

                  <ng-container *ngIf="prodZeus.cantidadItem <= prodZeus.cantMinima">
                    <th id="existencias" style="background-color: rgb(255, 146, 146);" (click)="seleccionarProducto(prodZeus)">{{prodZeus.cantidadItem | number : '1.2-2'}}</th>
                  </ng-container>
                  <ng-container *ngIf="prodZeus.cantidadItem > prodZeus.cantMinima">
                    <td id="existencias" class="TextosInfoTabla2" (click)="seleccionarProducto(prodZeus)">{{prodZeus.cantidadItem | number : '1.2-2'}}</td>
                  </ng-container>

                  <td id="presentacion" scope="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.presentacion}}</td>
                  <td id="subtotal" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.PrecioTotalItem | number : '1.2-2'}}</td>
                  <td id="subtotal" class="TextosInfoTabla" (click)="seleccionarProducto(prodZeus)">{{prodZeus.cantMinima | number : '1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
            <div class="mb-2">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
          <div class="mb-0">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="submit" (click)="exportarExcel()">Exportar Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

