<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Consultar Facturas y Remisiones de Materia Prima</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container">
  <form [formGroup]="FormDocumentos">
    <div class="mb-3">
      <div class="row g-3">
        <!-- ID Documento -->
        <div class="form-floating col-md-2">
          <input formControlName="idDocumento" type="number" class="form-control" id="floatingInput">
          <label for="floatingInput">Id Documento</label>
        </div>

        <!-- Fecha -->
        <div class="form-floating col-md-2">
          <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput">
          <label for="floatingInput">Fecha</label>
        </div>

        <!-- Fecha Final -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput">
          <label for="floatingInput">Fecha</label>
        </div>

        <!-- Tipo Docuemtno -->
        <div class="form-floating col-md-2">
          <select formControlName="TipoDocumento" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example">
            <option [ngValue]="tiposDocumentos.tpDoc_Id" *ngFor="let tiposDocumentos of tipoDocumento">{{tiposDocumentos.tpDoc_Nombre}}</option>
            <!-- <option>Remisiones sin Factura</option>
            <option>Facturas sin Remisiones</option> -->
          </select>
          <label for="floatingSelect">Tipo de Documento</label>
        </div>

        <!-- Proveedores -->
        <div class="form-floating col-md">
          <input formControlName="proveedorNombre" class="form-control" list="Proveedor" id="floatingInput" (keyup)="consultarProveedores()" (change)="cambiarNombreProveedor()" title="Nombre del Proveedor" required>
          <datalist id="Proveedor">
            <option value={{item.prov_Id}} *ngFor="let item of proveedor">{{item.prov_Id}} - {{item.prov_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Proveedor</label>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarConsulta()">Consultar Documento</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos</button>
      </div>
    </div>
  </form>

  <div *ngIf="load">
    <div class="mb-2">
      <div class="row g-1">
        <div class="table-responsive">
          <!-- <div id="html2Pdf"> -->
          <table class="table table-bordered">
            <thead class="TitulosTabla">
              <tr *ngFor="let columnas of titulosTabla let i = index">
                <th id="CodigoFactura" scope="col">{{columnas.idFact}}</th>
                <th id="Tipo" scope="col">{{columnas.tipo}}</th>
                <th id="fecha" scope="col">{{columnas.FechaFact}}</th>
                <th id="proveedor" scope="col">{{columnas.proveedor}}</th>
                <ng-container *ngIf="ValidarRol == 1">
                  <th id="subTotal" scope="col" (dblclick)="organizacionPrecioDblClick()" (click)="organizacionPrecio()">{{columnas.Costo}}</th>
                </ng-container>
                <th id="ver" scope="col" >{{columnas.Ver}}</th>
              </tr>
              </thead>
            <tbody>
              <tr *ngFor="let doc of ArrayDocumento | paginate: {itemsPerPage: 30, currentPage: page} let i=index" >
                <td id="CodigoFactura">{{doc.codigo}}</td>
                <td id="Tipo">{{doc.tipoDoc}}</td>
                <td id="fecha">{{doc.fecha | date : 'yyyy-MM-dd'}}</td>
                <td id="proveedor">{{doc.proveedor}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td id="subTotal">{{doc.subTotal | currency : 'COP '}}</td>
                </ng-container>
                <td style="text-align: center;"><a style="width: 20px; height: 10px;" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" (click)="llenarDocumento(doc)"></a></td>
              </tr>
            </tbody>
          </table>
          <div class="mb-2">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

