<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo" id="movimientos">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Movimientos de Solicitudes de Rollos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <!--Ver tutorial-->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-5">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-filter"></i> <b> Filtros de búsqueda</b></h4>
  </div>

  <!-- Formulario para consultar filtros -->
  <form [formGroup]="FormFiltros" (ngSubmit)="consultarSolicitudes()">
    <div class="mb-4" id="formulario1">
      <div class="row g-4">

        <!-- Solicitud -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="Solicitud" id="Solicitud" type="text" pInputText required/>
            <label for="Solicitud">Solicitud</label>
          </span>
        </div>

        <!-- Fecha Inicial -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-calendar formControlName="FechaInicio" inputId="FechaInicial" [showIcon]="true"></p-calendar>
            <label for="FechaInicial">Fecha Inicial</label>
          </span>
        </div>

        <!-- Fecha Final -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-calendar formControlName="FechaFin" inputId="FechaFinal" [showIcon]="true"></p-calendar>
            <label for="FechaFinal">Fecha Final</label>
          </span>
        </div>

        <!-- Bodega Solicitada -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-dropdown formControlName="BodegaSolicitada" inputId="Estado" [autoDisplayFirst]="false" [options]="bodegasSolicitadas" optionValue="proceso_Id" optionLabel="proceso_Nombre"></p-dropdown>
            <label for="Estado">Bodega Solicitada</label>
          </span>
        </div>

        <!-- Bodega Solicitante -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-dropdown formControlName="BodegaSolicitante" inputId="Estado" [autoDisplayFirst]="false" [options]="bodegasSolicitantes" optionValue="proceso_Id" optionLabel="proceso_Nombre"></p-dropdown>
            <label for="Estado">Bodega Solicitante</label>
          </span>
        </div>

        <!-- Estados -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-dropdown formControlName="Estado" inputId="Estado" [options]="estadosSolicitudes" optionValue="estado_Id" optionLabel="estado_Nombre"></p-dropdown>
            <label for="Estado">Estados</label>
          </span>
        </div>

        <!-- Tipo Solicitud -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-dropdown formControlName="TipoSolicitud" inputId="Estado" [options]="tipoSolicitud" optionValue="Id" optionLabel="Nombre"></p-dropdown>
            <label for="Estado">Tipo Solicitud</label>
          </span>
        </div>
      </div>
    </div>

      <!-- Botones -->
    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones1">
        <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
      </div>
    </div>
  </form>

  <div class="mb-5">
    <hr class="Linea">
  </div>

  <div class="mb-3" *ngIf="!cargando">
    <div class="row g-3" id="">
      <div class="col-md-6 px-4">

        <!--Titulo tabla-->
        <div class="mb-5 text-center">
          <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-list"></i> <b> Registros consultados</b></h4>
        </div>

        <div class="table-responsive" id="tabla1">
          <p-table
            [tableStyle]="{ 'min-width': '45%' }"
            #tblSol
            [resizableColumns]="true"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10,20,30,50,70,100]"
            [rowHover]="true"
            [value]="solicitudes"
            [scrollable]="true"
            scrollHeight="500px">
            <ng-template pTemplate="header">
              <tr class="font-size-16" id="">
                <th><input pInputText type="text" style="width: 100%; " (input)="aplicarFiltro($event, 'Solicitud', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'Fecha', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'Estado', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'BgSolicitada', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'BgSolicitante', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'Tipo', 'contains')"></th>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
              </tr>
              <tr>
                <th>Solicitud</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Bg Solicitada</th>
                <th>Bg Solicitante</th>
                <th>Tipo</th>
                <th id="detalle" pFrozenColumn alignFrozen="right" [frozen]="true">Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-registros>
              <tr>
                <td><b>{{registros.Solicitud}}</b></td>
                <td>{{registros.Fecha}}</td>
                <td><b>{{registros.Estado}}</b></td>
                <td><b>{{registros.BgSolicitada}}</b></td>
                <td><b>{{registros.BgSolicitante}}</b></td>
                <td><b>{{registros.Tipo}}</b></td>
                <td style="text-align: center;" pFrozenColumn alignFrozen="right" [frozen]="true"><p-button id="botonPdf" icon="pi pi-eye" styleClass="p-button-rounded p-button-success" (click)="consultarDetallesSolicitud(registros.Solicitud)"></p-button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <!--Detalles-->
      <div class="col-md-6 px-4" id="matprimas">
        <div class="mb-5 text-center">
          <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-table"></i> <b> Detalles de la solicitud N° {{solicitudSeleccionada}}</b></h4>
        </div>

        <div class="table-responsive mb-4">
          <p-table
            [tableStyle]="{ 'min-width': '45%' }"
            #dt2
            [resizableColumns]="true"
            styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
            responsiveLayout="scroll"
            [rowHover]="true"
            [value]="detallesSolicitud"
            [scrollable]="true"
            scrollHeight="500px">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="6">Usuario Solicitante: {{usuarioSolicitante}}</th>
              </tr>
              <tr id="tabla2">
                <th>Rollo</th>
                <th>OT</th>
                <th>Item</th>
                <th>Referencia</th>
                <th>Cantidad</th>
                <th>Presentación</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rollos>
              <tr>
                <td>{{rollos.Rollo}}</td>
                <td>{{rollos.OrdenTrabajo}}</td>
                <td>{{rollos.Item}}</td>
                <td>{{rollos.Referencia}}</td>
                <td>{{rollos.Cantidad | number : '1.2-2'}}</td>
                <td>{{rollos.Presentacion}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button pButton [disabled]="detallesSolicitud.length == 0" class="p-button-success" type="button" label="Aceptar" pTooltip="Aceptar Solicitud" icon="pi pi-check" id="finalizar" (click)="finalizarSolicitud(5)"></button>
            <button pButton [disabled]="detallesSolicitud.length == 0" class="p-button-secondary" type="button" label="Cancelar" pTooltip="Cancelar Solicitud" icon="pi pi-ban" id="cancelar" (click)="finalizarSolicitud(4)"></button>
            <button pButton pButton [disabled]="detallesSolicitud.length == 0" class="p-button-danger" type="button" icon="pi pi-file-pdf" label="Ver PDF" pTooltip="Ver solicitud en formato PDF" (click)="buscarInformacioPDF()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
