
 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<ng-container *ngIf="!modeModal">
  <app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Reporte de Costos OT</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>

  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Consultar OT's</h3>
  </div>

  <form [formGroup]="infoOT">
    <!--Fila 1-->
    <div class="mb-4">
      <div class="row g-4">

        <!-- OT -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="ot" id="ordenTrabajo" (keyup.enter)="consultaOTBagPro()" type="text" pInputText/>
            <label for="ordenTrabajo">OT</label>
          </span>
        </div>
        <!-- Nombre del cliente -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <input formControlName="cliente" id="cliente" type="text" [disabled]="true" pInputText/> <!--readonly onmousedown="return false;"-->
            <label for="cliente">Cliente</label>
          </span>
        </div>

        <!-- Id Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="IdProducto" id="idproducto" type="text" [disabled] pInputText/>
            <label for="idproducto">Id Producto</label>
          </span>
        </div>

         <!-- Nombre Producto-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5">
          <span class="p-float-label">
            <input formControlName="NombreProducto" id="nombreProducto" type="text" [disabled] pInputText/>
            <label for="nombreProducto">Producto</label>
          </span>
        </div>

        <!-- Cantidad Producto Unidad Sin Margen -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="cantProductoSinMargenUnd" id="cantProdSinMrgUnd" type="text" [disabled] pInputText/>
            <label for="cantProdSinMrgUnd">Cantidad Prod. Und</label>
          </span>
        </div>

        <!-- Cantidad Producto Kg Sin Margen -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="cantProductoSinMargenKg" id="cantProdSinMrgKg" type="text" [disabled] pInputText/>
            <label for="cantProdSinMrgKg">Cantidad Prod. Kg</label>
          </span>
        </div>

        <!-- Margen -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="margenAdicional" id="margen" type="text" [disabled] pInputText/>
            <label for="margen">Margen Adicional</label>
          </span>
        </div>

        <!-- Cantidad Producto Con Margen-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="cantProductoConMargen" id="cantProdMargen" type="text" [disabled] pInputText/>
            <label for="cantProdMargen">Cant. Kg Margen</label>
          </span>
        </div>

        <!--Presentación-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="PresentacionProducto" id="presentacion" type="text" [disabled] pInputText/> <!--readonly onmousedown="return false;"-->
            <label for="presentacion">Presentación</label>
          </span>
        </div>

        <!-- Valor Unidad Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="ValorUnidadProductoUnd" *ngIf="ValidarRol == 1" id="presentacion" type="text" [disabled] pInputText/>
            <label for="presentacion">$ Und Producto</label>
          </span>
        </div>

        <!-- Valor Kg Producto -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="ValorUnidadProductoKg" *ngIf="ValidarRol == 1" id="valorUnitProdKg" type="text" [disabled] pInputText/>
            <label for="valorUnitProdKg">$ Kg Producto</label>
          </span>
        </div>

        <!--Valor Estimado OT -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="ValorEstimadoOt" *ngIf="ValidarRol == 1" id="valorOT" type="text" [disabled] pInputText/>
            <label for="valorOT">Valor OT</label>
          </span>
        </div>

        <!-- Fecha de Inicio -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="fechaInicioOT" inputId="fechaInicio" type="text" pInputText>
            <label for="fechaInicio">Fecha Inicio</label>
          </span>
        </div>

        <!-- Fecha en que Finaliza -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="fechaFinOT" inputId="fechaFinal" type="text" pInputText>
            <label for="fechaFinal">Fecha Final</label>
          </span>
        </div>

        <!-- Estado -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="estadoOT" inputId="EstadoOT" [autoDisplayFirst]="false" [options]="arrayEstados" optionValue="valor" optionLabel="nombre"></p-dropdown>
            <label for="EstadoOT">Estado OT</label>
          </span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 col-xxl-2">
          <span class="d-grid gap-2 d-md-flex justify-content-md">
            <button pButton class="p-button-warning" type="button" label="Cambiar Estado" icon="pi pi-sync" *ngIf="ValidarRol == 1 && storage_Id != 101" (click)="cambiarEstado()"></button>
          </span>
        </div>

      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Consultar OT" icon="pi pi-search" (click)="consultaOTBagPro()"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
        <button pButton class="p-button-danger" type="button" label="Reporte en PDF" icon="pi pi-file-pdf" *ngIf="ValidarRol == 1" (click)="CargarPDF()"></button>
        <button pButton class="p-button-success" type="button" label="Revisada" icon="pi pi-check-square" *ngIf="ValidarRol == 1 && storage_Id != 101" (click)="cerrarOrden()"></button>
      </div>
    </div>
  </form>

  <div *ngIf="load">
    <div class="mb-4">
      <hr class="Linea">
    </div>

    <div class="mb-4">
      <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de Materia Prima</h4>
    </div>

    <div class="mb-4">
      <div class="row g-3 font-size-14">
        <p-table
          #dt
          [value]="ArrayMateriaPrima"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="15"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} rollos">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Mat. Prima</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Und. Medida</th>
              <th scope="col">Proceso</th>
              <th scope="col" *ngIf="ValidarRol == 1">Precio Und</th>
              <th scope="col" *ngIf="ValidarRol == 1">Subtotal</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-array>
            <tr>
              <td>{{array.Id}}</td>
              <td>{{array.Nombre}}</td>
              <td><b>{{array.Cantidad}}</b></td>
              <td>{{array.Presentacion}}</td>
              <td><b>{{array.Proceso}}</b></td>
              <td *ngIf="ValidarRol == 1">${{array.PrecioUnd}}</td>
              <td *ngIf="ValidarRol == 1"><b>${{array.SubTotal}}</b></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <p-chip label="Total Materia Prima Entregada: {{totalMPEntregada | number}} Kg" icon="pi pi-box"></p-chip>
        <p-chip label="Valor Materia Prima Entregada: ${{ValorMPEntregada | number}}" icon="pi pi-dollar"></p-chip>
      </div>
    </div>

    <div class="mb-4">
      <hr class="Linea">
    </div>

    <div class="mb-4">
      <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de Procesos</h4>
    </div>

    <div class="mb-4">
      <div class="row g-1">

        <p-table
          #dt
          [value]="ArrayProcesos"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="15"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} rollos">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">OT</th>
              <th scope="col">Extrusión</th>
              <th scope="col">Impresión</th>
              <th scope="col">Rotograbado</th>
              <th scope="col">Doblado</th>
              <th scope="col">Laminado</th>
              <th scope="col">Corte</th>
              <th scope="col">Empaque</th>
              <th scope="col">Sellado</th>
              <th scope="col">Wiketiado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-array2>
            <tr>
              <td>{{array2.Ot}}</td>
              <td>{{array2.Ext | number: '1.2-2'}}</td>
              <td>{{array2.Imp | number: '1.2-2'}}</td>
              <td>{{array2.Rot | number: '1.2-2'}}</td>
              <td>{{array2.Dbld | number: '1.2-2'}}</td>
              <td>{{array2.Lam | number: '1.2-2'}}</td>
              <td>{{array2.Corte | number: '1.2-2'}}</td>
              <td><b>{{array2.Emp | number: '1.2-2'}}</b></td>
              <td><b>{{array2.Sel}}</b></td>
              <td><b>{{array2.Wik}}</b></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <!--Datos Consolidados de OT-->
  <div class="mb-3" *ngIf="ValidarRol == 1">
    <div class="gap-2 d-grid d-md-flex justify-content-md-center">
        <p-chip label="Total Producto Producido: ${{valorFinalOT | number : '1.2-2'}}" icon="pi pi-money-bill" class="mr-2"></p-chip>
        <p-chip label="Valor Diferencia: ${{diferencia | number: '1.2-2' }}" icon="pi pi-dollar" class="mr-2"></p-chip>
        <p-chip label="Diferencia: {{diferenciaPorcentaje | number: '1.2-2'}}%" icon="pi pi-arrow-right-arrow-left" class="mr-2"></p-chip>
    </div>
  </div>
</p-card>
