<div [ngClass]="{'fondo': !modoSeleccionado, 'fondo2': modoSeleccionado }">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end p-2">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <!-- Cards de Costos -->
  <div class="row g-3 text-center fila-1">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3"></div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
      <p-card id="totalCartera">
        <div [ngClass]="{'header' : !modoSeleccionado, 'header2': modoSeleccionado }" class="mb-5">
          <h3 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-wallet"></i> Total Cartera</h3>
        </div>
        <div class="mb-3">
          <h4><b>{{totalCartera | currency : ' COP $'}}</b></h4>
        </div>
      </p-card>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3"></div>
  </div>

  <div class="row g-3 text-center fila-2" id="facturas">
    <div class="py-3 col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p-card>
        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-dollar"></i> Cartera Detallada</h2>
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="cartera">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="num_Factura"><p-sortIcon field="num_Factura"></p-sortIcon> N° Factura</th>
              <th pSortableColumn="nombre_CLiente"><p-sortIcon field="nombre_CLiente"></p-sortIcon> Cliente</th>
              <th pSortableColumn="id_Fecha"><p-sortIcon field="id_Fecha"></p-sortIcon> Fecha</th>
              <th pSortableColumn="fecha_Vencimiento"><p-sortIcon field="fecha_Vencimiento"></p-sortIcon> Vence</th>
              <th pSortableColumn="saldo_Cartera"><p-sortIcon field="saldo_Cartera"></p-sortIcon> Cartera</th>
              <th pSortableColumn="nombre_Vendedor"><p-sortIcon field="nombre_Vendedor"></p-sortIcon> Vendedor</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.num_Factura}}</td>
              <td>{{item.nombre_CLiente}}</td>
              <td>{{item.id_Fecha}}</td>
              <td>{{item.fecha_Vencimiento}}</td>
              <td>{{item.saldo_Cartera | number : '1.2-2'}}</td>
              <td>{{item.nombre_Vendedor}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <div class="row g-3 text-center fila-3">
    <div class="py-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="carteraVendedores">
      <p-card>
        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-user"></i> Cartera por Vendedores</h2>
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="carteraAgrupadaVendedores">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="nombvende"><p-sortIcon field="nombvende"></p-sortIcon> Venedor</th>
              <th pSortableColumn="idvende"><p-sortIcon field="idvende"></p-sortIcon> Id Vendedor</th>
              <th pSortableColumn="subTotal"><p-sortIcon field="subTotal"></p-sortIcon> SubTotal</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.nombvende}}</td>
              <td>{{item.idvende}}</td>
              <td>{{item.subTotal | number : '1.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <div class="py-3 px-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="carteraClientes">
      <p-card>
        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-user"></i> Clientes en Cartera</h2>
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="carteraAgrupadaClientes">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="idcliente"><p-sortIcon field="idcliente"></p-sortIcon> Id Cliente</th>
              <th pSortableColumn="razoncial"><p-sortIcon field="razoncial"></p-sortIcon> Cliente</th>
              <th pSortableColumn="subTotal"><p-sortIcon field="subTotal"></p-sortIcon> SubTotal</th>
              <th pSortableColumn="nombvende"><p-sortIcon field="nombvende"></p-sortIcon> Venedor</th>
              <th pSortableColumn="idvende"><p-sortIcon field="idvende"></p-sortIcon> Id Vendedor</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.idcliente}}</td>
              <td>{{item.razoncial}}</td>
              <td>{{item.subTotal | number : '1.2-2'}}</td>
              <td>{{item.nombvende}}</td>
              <td>{{item.idvende}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
