<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<app-menuLateral></app-menuLateral>
<br>

<!-- Animacion de Carga -->
<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!-- Titulo principal -->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Devolución de Productos/Rollos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">
  <div class="mb-4">
    <h4 class="tituloRojo"><i class="pi pi-list"></i> Tabla de Rollos</h4>
  </div>
  <br>

  <div class="card" *ngIf="!cargando">
    <p-toolbar>
      <div class="mb-3">
        <div class="row g-4">

          <!-- Codigo Factura -->
          <div class="col-md">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-search"></i>
              <input id="Id" [(ngModel)]="facturaConsultada" class="form-control form-control-sm" type="text" (keyup.enter)="consultarFactura()" pInputText required/>
              <label for="Id">Código Factura</label>
            </span>
          </div>

          <!-- Observacion -->
          <div class="col-md-12">
            <span class="p-float-label">
              <textarea [(ngModel)]="observacionFactura" [rows]="1" class="form-control form-control-sm" maxlength="200" pInputTextarea></textarea>
              <label for="textarea">Observación</label>
            </span>
          </div>
        </div>
      </div>
    </p-toolbar>

    <div class="mb-3" *ngIf="!cargando">
      <div class="row g-3 font-size-14">
        <p-table
          #dt
          [value]="rollosDisponibles"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} rollos"
          [rowsPerPageOptions]="[10,25,50]"
          [rowHover]="true"
          dataKey="Id"
          [(selection)]="rollosSeleccionados">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">ID Rollo</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Presentacion</th>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox (click)="seleccionTodos_Rollos()"></p-tableHeaderCheckbox>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rollo>
            <tr>
              <td>{{rollo.Id}}</td>
              <td>{{rollo.IdProducto}}</td>
              <td>{{rollo.Producto}}</td>
              <td>{{rollo.Cantidad | number : '1.2-2'}}</td>
              <td>{{rollo.Presentacion}}</td>
              <td>
                <p-tableCheckbox [value]="rollo" (click)="seleccionRollo(rollo)"></p-tableCheckbox>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!-- Titlo Rollos Seleccionados -->
  <div class="mb-4">
    <h4 class="tituloRojo"><i class="pi pi-list"></i> Tabla de Rollos a devolver</h4>
  </div>

  <!-- Tabla con Rollos Seleccionados -->
  <div class="mb-3" *ngIf="!cargando">
    <div class="row g-3 font-size-14">
      <p-table
        #dt
        [value]="rollosSeleccionados"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} rollos"
        [rowsPerPageOptions]="[10,25,50]"
        [rowHover]="true"
        dataKey="Id"
        [(selection)]="rollosDisponibles">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID Rollo</th>
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentacion</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox (click)="quitarTodos_Rollos()"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rollo>
          <tr>
            <td>{{rollo.Id}}</td>
            <td>{{rollo.IdProducto}}</td>
            <td>{{rollo.Producto}}</td>
            <td>{{rollo.Cantidad}}</td>
            <td>{{rollo.Presentacion}}</td>
            <td>
              <p-tableCheckbox [value]="rollo" (click)="quitarRollo(rollo)"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>

  <!-- Botones -->
  <div class="bajarPagina">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="button" label="Crear Devolución" icon="pi pi-undo" (click)="creardevolucion()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"> </button>
    </div>
  </div>

</div>
