<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Devolución de Productos/Rollos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid bajarPagina">
    <div class="formulario">
      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de Rollos</h4>
      </div>

      <div class="card" *ngIf="!cargando">
        <p-toolbar styleClass="mb-4 gap-2">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Buscar Factura" class="form-control form-control-sm busquedaFactura" [(ngModel)]="facturaConsultada" (keyup.enter)="consultarFactura()"/>
          </span>
          <textarea class="form-control form-control-sm" placeholder="Observación" [(ngModel)]="observacionFactura"></textarea>
        </p-toolbar>
        <p-table
          #dt
          [value]="rollos"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">

          <ng-template pTemplate="header">
            <tr >
              <th scope="col">Factura</th>
              <th scope="col">Rollo</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Presentacion</th>
              <th scope="col"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.Factura}}</td>
              <td>{{item.Id}}</td>
              <td>{{item.IdProducto}}</td>
              <td>{{item.Producto}}</td>
              <td>{{item.Cantidad | number}}</td>
              <td>{{item.Presentacion}}</td>
              <td><input class="form-check-input cursor" style="margin-left: 40%;" type="checkbox" (change)="cargarProducto(item)"></td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="mb-4">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de Rollos por Devolver</h4>
      </div>

      <div class="card" *ngIf="!cargando">
        <p-table
          #dt
          [value]="rollosInsertar"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">

          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Rollo</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Presentación</th>
              <th scope="col"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.Id}}</td>
              <td>{{item.IdProducto}}</td>
              <td>{{item.Producto}}</td>
              <td>{{item.Cantidad | number}}</td>
              <td>{{item.Presentacion}}</td>
              <td><input class="form-check-input cursor" style="margin-left: 40%;" type="checkbox" (change)="quitarRollo(item)"></td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <br>
      <!-- Botones -->
      <div class="bajarPagina" *ngIf="!cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="creardevolucion()">Crear Devolución</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
        </div>
      </div>
  </div>
</div>
