<div class="contain">
  <div class="container-fluid">
    <div class="container">
      <!--Titulo Asignación -->
      <div class="mb-3">
        <h4 class="tituloRojo">PRUEBA</h4>
      </div>

      <!-- Información general para la asignación de materia Prima Para la creación de tintas -->
      <form [formGroup]="FormPrueba">
        <!-- Fila 1 -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- ORDEN DE TRABAJO -->
            <div class="form-floating col-md-2">
              <input formControlName="AsgBopp_OT" type="number" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">OT</label>
            </div>
            <div class="ng-autocomplete form-floating col-md-2 form-control form-control-sm">
              <ng-autocomplete
                class=""
                [data]="ArrayBOPP"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                historyIdentifier="countriesTemplateList"
                [historyHeading]="historyHeading"
                [historyListMaxNumber]="3"
                [searchKeyword]="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                id="floatingInput"
                formControlName="AsgBopp">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
              <label for="floatingInput" *ngIf="validarInput">OT</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
