<!-- Inicio Botones que llama el modal de crear proveedor y Materia Prima-->
<div class="contain">
  <div class="container-fluid">
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
          (click)="LlamarModalCrearProveedor()" title="¡Crealo aquí!">
          Menú
        </button>
      </div>

      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Crear clientes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear cliente-->
              <!-- <app-menuLateral></app-menuLateral> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
