<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Movimientos Maquilas</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid bajarPagina">
    <div class="container">
      <div class="mb-4">
        <h4 class="tituloRojo">Filtros de búsqueda</h4>
      </div>

      <!-- Formulario para consultar filtros -->
      <form [formGroup]="FormConsultarFiltros">

        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">

            <!-- Factura -->
            <div class="form-floating col-md-2">
              <input formControlName="Documento" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Codigo Documento</label>
            </div>

            <!-- Terceros -->
            <div class="form-floating col-md">
              <input formControlName="tercero" class="form-control form-control-sm" list="tercero" id="floatingInput" (keyup)="cargarTerceros()" (change)="seleccionarTerceros()" autocomplete="off" required>
              <datalist id="tercero">
                <option value={{item.tercero_Id}} *ngFor="let item of arrayTerceros">{{item.tercero_Nombre}}</option>
              </datalist>
              <label for="floatingInput">Tercero</label>
            </div>

             <!-- Fecha Factura -->
             <div class="form-floating col-md-2">
              <input formControlName="fechaDoc" type="date" min="0" class="form-control" id="floatingInput" >
              <label for="floatingInput">Fecha inicial</label>
            </div>

            <!-- Fecha ingreso rollo -->
            <div class="form-floating col-md-2">
              <input formControlName="fechaFinalDoc" type="date" min="0" class="form-control" id="floatingInput" >
              <label for="floatingInput">Fecha Final</label>
            </div>

            <!-- Tipo Documento -->
            <div class="form-floating col-md-2">
              <select formControlName="estadoDoc" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option [ngValue]="item.estado_Id" *ngFor="let item of estados">{{item.estado_Nombre}}</option>
              </select>
              <label for="floatingSelect">Estados</label>
            </div>

          </div>
        </div>
      </form>

      <!-- Botones -->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="consultarFiltros()"><i class="pi pi-check"></i> Consultar</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()"><i class="pi pi-eraser"></i> Limpiar Campos</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <p-tabView>
    <p-tabPanel header="Facturación" leftIcon="pi pi-wallet" tooltip="Consolidado de facturación de los Ordenes de Maquilas" *ngIf="ValidarRol == 1">
      <div class="mb-4">
        <h4 class="tituloRojo">Facturación consultada</h4>
      </div>

      <p-table #dt
                [value]="arrayConsolidado"
                sortField="Ano"
                sortMode="single"
                [scrollable]="true"
                scrollHeight="900px"
                rowGroupMode="subheader"
                groupRowsBy="Ano"
                [rowHover]="true"
                styleClass="p-datatable-sm"
                columnResizeMode="expand"
                responsiveLayout="scroll"
                *ngIf="!cargando">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Tercero', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'MateriaPrima_Id', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'MateriaPrima', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Precio', 'contains')"></th>
            <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'SubTotal', 'contains')"></th>
          </tr>
          <tr>
            <th>#</th>
            <th>Tercero</th>
            <th>Id Materia Prima</th>
            <th>Materia Prima</th>
            <th>Cantidad</th>
            <th>Presentación</th>
            <th>Precio</th>
            <th>SubTotal</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-consolidado>
          <tr pRowGroupHeader style="background-color: #83D3FF;">
            <td colspan="9">
              <span class="font-bold" style="color: black;"><b>{{consolidado.Fecha}}</b></span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consolidado let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex + 1}}</td>
            <td>{{consolidado.Tercero}}</td>
            <td>{{consolidado.MateriaPrima_Id}}</td>
            <td>{{consolidado.MateriaPrima}}</td>
            <td><b>{{consolidado.Cantidad | number}}</b></td>
            <td>{{consolidado.Presentacion}}</td>
            <td>{{consolidado.Precio | currency : 'COP $'}}</td>
            <td><b>{{consolidado.SubTotal | currency : 'COP $'}}</b></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="groupfooter" let-consolidado>
          <tr style="background-color: palegreen;">
            <td colspan="8" class="text-left font-bold pr-6"><b>{{'Total Fecha: ' + consolidado.Fecha}}</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="totalAnio; else Filtro" class="text-left font-bold pr-6"><b>{{calcularTotalVendidoAno(consolidado.Fecha) | currency : 'COP $'}}</b></td>
            <ng-template #Filtro>
              <td class="text-left font-bold pr-6"><b>{{totalConsulta | currency : 'COP $'}}</b></td>
            </ng-template>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td>Totales</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{valorTotalConsulta | currency : 'COP $'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <!-- MOVIMIENTOS DE ORDENES Y FACTURACION DE MAQULAS -->
    <p-tabPanel header="Movimientos" leftIcon="pi pi-sitemap" tooltip="Se mostrarán todas las ordenes y facturas que se han hecho">
      <!-- titulo tabla producto -->
      <div class="mb-4">
        <h4 class="tituloRojo">Registros consultados</h4>
      </div>

      <!-- Inicio tabla de registros consultados -->
      <div class="mb-3" *ngIf=" !cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <p-table
              #dt1
              [resizableColumns]="true"
              columnResizeMode="expand"
              styleClass="p-datatable-gridlines p-datatable-sm"
              responsiveLayout="scroll"
              [paginator]="true"
              [rows]="20"
              [showCurrentPageReport]="true"
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
              [rowsPerPageOptions]="[10,20,30,50,70,100]"
              [rowHover]="true"
              [value]="registrosConsultados"
              dataKey="Oc">
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col" style="text-align: center;">Código
                    <p-columnFilter type="text" field="Codigo" display="menu"></p-columnFilter>
                  </th>
                  <th scope="col" style="text-align: center;">Tipo
                    <p-columnFilter type="text" field="Tipo" display="menu"></p-columnFilter>
                  </th>
                  <th scope="col" style="text-align: center;">Usuario
                    <p-columnFilter type="text" field="Usuario" display="menu"></p-columnFilter>
                  </th>
                  <th scope="col" style="text-align: center;">Fecha
                    <p-columnFilter type="date" field="Fecha" display="menu"></p-columnFilter>
                  </th>
                  <th scope="col" style="text-align: center;">Estado
                    <p-columnFilter type="date" field="Estado" display="menu"></p-columnFilter>
                  </th>
                  <th  style="text-align: center;">Ver</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-registros>
                <tr>
                  <td>{{registros.Codigo}}</td>
                  <td>{{registros.Tipo}}</td>
                  <td>{{registros.Usuario}}</td>
                  <td>{{registros.Fecha}}</td>
                  <td>{{registros.Estado}}</td>
                  <td style="text-align: center;"><button style="width: 25px; height: 25px;" pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-warning mr-2" pTooltip="PDF" (click)="validarTipoDocumento(registros)"></button></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
