*{
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imagen{
  display: flex;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #000;
}

.imagen img{
  width: 80px;
}

.imagen p{
  padding-left: 5%;
  padding-top: 10%;
  color: #000;
}

.datosUsuario{
  display: flex;
  margin-left: 10%;
}

.datosUsuario i{
  width: 30px;
}

.datosUsuario p{
  color: #000;
  margin-left: 5%;
  font-size: 18px;
}

.datosRol{
  display: flex;
  margin-left: 10%;
}

.datosRol i{
  width: 30px;
  margin-top: 3%;
}

.datosRol p{
  color: #000;
  font-size: 18px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

a {
 color: #000;
}

ul li a:hover{
  color: #d83542;
}

ul li a:active > a, a[aria-expanded="true"]{
  color: #d83542;
}

span{
  color: #d83542;
}

.botonMenu{
  background-color: #FFF;
  padding: 5px;
}

.botonMenu .user:hover{
  color: #d83542;
}

.boton:hover {
  color: #d83542;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.boton{
  margin-left: 80px;
}

#sidebar ul li a {
  padding-bottom: 10px;
  font-size: 1.1em;
  display: block;
}

.sangria{
  margin-left: 8%;
  font-size: 14px;
  transition: all 5s ease;
}

.subSangria{
  margin-left: 11%;
  font-size: 14px;
  transition: all 5s ease;
}

.pi:hover{
  color: #a23;
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  /* width: 100%;
  position: fixed;
  z-index: 100;
  margin-top: -25px; */
}

.user {
  color: #000;
}

.pi-cog {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  margin-left: 55%;
}

@media (max-width: 500px){
  .menu {
    height: 150px;
    margin-bottom: 10%;
  }

  .btnclose{
    margin-left: 270px;
    margin-top: 10px;
  }
}

