<!-- Navegador Principal -->
<nav class="navbar" [ngClass]="{'navbarDark' : modoSeleccionado, 'navbarLigth': !modoSeleccionado}">
  <div class="container-fluid">
    <p>
      <button class="botonMenu d-grid gap-2 d-md-flex justify-content-md-start" mat-button (click)="display = true">
        <i class="pi pi-list"></i>
        <b>
          <span [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}">&nbsp;&nbsp;Plasti<span>caribe S.A.S</span></span>
        </b>
      </button>
    </p>
    <div class="p-2">
      <i class="pi pi-calendar font-size-25 m-2 p-text-secondary cursor" pBadge value="{{cantidadEventos}}" [style]="{'background-color':'#fff0', 'color': 'var(--rojo)'}" (click)="mostrarModalCalendario()"></i>
      <p-avatar class="cursor" icon="pi pi-cog" pTooltip="Configuración" tooltipPosition="bottom" styleClass="mr-2" size="large" [style]="{'background-color':'#fff0', 'color': 'var(--rojo)'}" shape="circle" (click)="configuracion()"></p-avatar>
      <p-avatar class="cursor" icon="pi pi-user" pTooltip="{{storage_Nombre}}" tooltipPosition="bottom" styleClass="mr-2" size="large" [style]="{'background-color':'var(--rojo)', 'color': '#ffffff'}" shape="circle" (click)="mostrarMenuUsuario()"></p-avatar>
    </div>
  </div>
</nav>

<!-- Boton de Configuración -->
<div class="botonFlotante">
  <button type="button" (click)="configuracion()">
    <i class="pi pi-cog"></i>
  </button>
</div>

<!-- Mensaje de Cierre de Sesión -->
<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Menú Principal -->
<p-sidebar [(visible)]="display" id="sidebar" [style]="{maxWidth : '30rem', minWidth : '27rem'}">
  <div class="imagen">
    <img *ngIf="!modoSeleccionado" src=".\assets\PLASTICARIBE_logo.png" alt="Plasticaribe S.A.S">
    <img *ngIf="modoSeleccionado" src="assets/Logo-Plasticaribe/logo.png" alt="Plasticaribe S.A.S">
  </div>
  <br>
  <ul>
    <!-- INICIO -->
    <li>
      <a href="home" role="button" [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}">
        <i class="pi pi-home" style="margin-right: 3%;"></i>
        <b>Inicio</b>
      </a>
    </li>

    <!-- Bodega de Extrusión -->
    <ng-container *ngIf="[1,7,8,10,62,63,64].includes(ValidarRol)">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" (click)="clickIcon9()" aria-controls="collapseExample">
          <ng-container *ngIf="subir9; then thenTemplate9; else elseTemplate9"></ng-container>
          <ng-template #thenTemplate9>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate9>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Bodegas</b>
        </a>
        <div class="collapse" id="collapseExample9">
          <!-- <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Eliminar-rollos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-delete-left font-size-15" style="margin-right: 2%;"></i>
                Eliminar Rollos
              </a>
            </div>
          </ng-container> -->
          <ng-container *ngIf="[1,7].includes(ValidarRol)">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/IngresoRollos-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
                Ingreso de Rollos
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1,7].includes(ValidarRol)">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Inventario-Bodegas-Rollos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-th-large font-size-15" style="margin-right: 2%;"></i>
                Inventario de Bodegas
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1,7].includes(ValidarRol)">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Solicitud-Rollos-Bodegas" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-file-edit font-size-15" style="margin-right: 2%;"></i>
                Solicitud de Rollos
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1,7].includes(ValidarRol)">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Movimientos-Solicitud-Rollos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                Movimientos Solicitudes
              </a>
            </div>
          </ng-container>
          <!-- Inventario Boddega Extrusion -->
          <!-- <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 5">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Inventario-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario Bodega Extrusión
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 5">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/ReporteRollos-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-th-large font-size-15" style="margin-right: 2%;"></i>
                Bodega de Extrusión
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 5">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/AsignacionRollos-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cloud-download font-size-15" style="margin-right: 2%;"></i>
                Salida de Rollos
              </a>
            </div>
          </ng-container> -->
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- BOPP / BOPA / POLIESTER -->
    <ng-container *ngIf="[1,3,4].includes(ValidarRol)">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" (click)="clickIcon1()" aria-controls="collapseExample">
          <ng-container *ngIf="subir1; then thenTemplate1; else elseTemplate1"></ng-container>
          <ng-template #thenTemplate1>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate1>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>BOPP / BOPA / POLIESTER</b>
        </a>
        <div class="collapse" id="collapseExample1">
          <ng-container *ngIf="[1,3].includes(ValidarRol)">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/AsignacionBOPPTemporal" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cloud-download font-size-15" style="margin-right: 2%;"></i>
                Asignación
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1].includes(ValidarRol)">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/entrada-BOPP" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
                Entrada
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1,3,4].includes(ValidarRol)">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-Materia-Prima" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario de BOPP / BOPA / POLIESTER
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="[1,3].includes(ValidarRol)">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/movimiento-mp" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                Movimientos BOPP
              </a>
            </div>
          </ng-container>
          <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- Despacho -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" (click)="clickIcon8()" aria-controls="collapseExample">
          <ng-container *ngIf="subir8; then thenTemplate8; else elseTemplate8"></ng-container>
          <ng-template #thenTemplate8>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate8>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Despacho</b>
        </a>
        <div class="collapse" id="collapseExample8">
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 10">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/ingresar-productos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
                Ingresar Rollos
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 ">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/asignacion-productos-facturas" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-wallet font-size-15" style="margin-right: 2%;"></i>
                Facturar Rollos
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 10">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/factura-rollos-productos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-truck font-size-15" style="margin-right: 2%;"></i>
                Despachar Mercancia
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 10">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/devolucion-rollos-productos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-window-minimize font-size-15" style="margin-right: 2%;"></i>
                Devolución de Rollos
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-despacho" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-truck font-size-15" style="margin-right: 2%;"></i>
                Movimientos Despacho
              </a>
            </div>
          </ng-container>

          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9 || ValidarRol == 12">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample8_1" role="button" (click)="clickIcon8_1()" aria-expanded="false" aria-controls="collapseExample">
                <ng-container *ngIf="subir8_1; then thenTemplate8_1; else elseTemplate8_1"></ng-container>
                <ng-template #thenTemplate8_1>
                  <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
                </ng-template>
                <ng-template #elseTemplate8_1>
                  <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
                </ng-template>
                Pre Ingreso
              </a>
              <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 7">
                <div class="collapse" id="collapseExample8_1">
                  <div class="mb-2 subSangria">
                    <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/preingreso-extrusion" role="button" aria-expanded="false" aria-controls="">
                      <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
                      Extrusion
                    </a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 8 || ValidarRol == 9 || ValidarRol == 12">
                <div class="collapse" id="collapseExample8_1">
                  <div class="mb-2 subSangria">
                    <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/preingreso-sellado" role="button" aria-expanded="false" aria-controls="">
                      <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
                      Sellado / Empaque
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>

          <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- DEPERDICIO -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 12">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample13" role="button" aria-expanded="false" (click)="clickIcon13()" aria-controls="collapseExample">
          <ng-container *ngIf="subir13; then thenTemplate13; else elseTemplate13"></ng-container>
          <ng-template #thenTemplate13>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate13>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Desperdicio</b>
        </a>
        <div class="collapse" id="collapseExample13">
          <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/desperdicio" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
              Ingresar Desperdicio
            </a>
          </div>
          <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-desperdicios" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-file font-size-15" style="margin-right: 2%;"></i>
              Reporte Desperdicio
            </a>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- GESTOR DE ARCHIVOS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12 || ValidarRol == 5">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" (click)="clickIcon2()" aria-controls="collapseExample">
          <ng-container *ngIf="subir2; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
            </ng-template>
            <ng-template #elseTemplate>
              <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
            </ng-template>
            <b>Gestor de Archivos</b>
        </a>
        <div class="collapse" id="collapseExample2">
            <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Archivos" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-folder font-size-15" style="margin-right: 2%;"></i>
              Archivos
            </a>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- MATERIAS PRIMAS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 6 || ValidarRol == 13">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample3" role="button" (click)="clickIcon3()"  aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir3; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Materia Prima</b>
        </a>
        <div class="collapse" id="collapseExample3">
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/asignacionMP" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-cloud-download font-size-15" style="margin-right: 2%;"></i>
              Asignación Materia Prima
            </a>
          </div>
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/asignacion-tintas" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-plus-circle font-size-15" style="margin-right: 2%;"></i>
              Creación Tintas
            </a>
          </div>
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/mp-devoluciones" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-window-minimize font-size-15" style="margin-right: 2%;"></i>
              Devoluciones
            </a>
          </div>
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/MateriaPrima" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-cloud-upload font-size-15" style="margin-right: 2%;"></i>
              Entradas
            </a>
          </div>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-Materia-Prima" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario de Materia Prima
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample7_1" role="button" (click)="clickIcon7_1()" aria-expanded="false" aria-controls="collapseExample">
                <ng-container *ngIf="subir7_1; then thenTemplate7_1; else elseTemplate7_1"></ng-container>
                <ng-template #thenTemplate7_1>
                  <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
                </ng-template>
                <ng-template #elseTemplate7_1>
                  <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
                </ng-template>
                Movimientos Materia Prima
              </a>
              <div class="collapse" id="collapseExample7_1" *ngIf="ValidarRol == 1 || ValidarRol == 3">
                <div class="mb-2 subSangria">
                  <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/movimiento-mp" role="button" aria-expanded="false" aria-controls="">
                    <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                    Movimientos MP
                  </a>
                </div>
              </div>
              <div class="collapse" id="collapseExample7_1" *ngIf="ValidarRol == 1 || ValidarRol == 3">
                <div class="mb-2 subSangria">
                  <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-recuperado-mp" role="button" aria-expanded="false" aria-controls="">
                    <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                    Movimientos Recuperado
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 13">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-orden-compra" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-shopping-cart font-size-15" style="margin-right: 2%;"></i>
                Movimientos Ordenes de Compra
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 13">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/ocompra-materiaPrima" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-cart-plus font-size-15" style="margin-right: 2%;"></i>
                Orden de Compra
              </a>
            </div>
          </ng-container>
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/mp-recuperada" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-window-minimize font-size-15" style="margin-right: 2%;"></i>
              Recuperado
            </a>
          </div>
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/solicitud-materia-prima" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-shopping-cart font-size-15" style="margin-right: 2%;"></i>
              Solicitud de Materia Prima
            </a>
          </div>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- MANTENIMIENTOS Y PEDIDOS DE MANTENIMIENTOS -->
    <ng-container *ngIf="ValidarRol == 1">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample12" role="button" (click)="clickIcon12()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir12; then thenTemplate12; else elseTemplate12"></ng-container>
          <ng-template #thenTemplate12>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate12>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Mantenimiento de Activos</b>
        </a>
        <div class="collapse" id="collapseExample12">
          <!-- Pedido de Mantenimiento -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/pedido-mantenimiento" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-ticket font-size-15" style="margin-right: 2%;"></i>
                Pedido de Mantenimiento
              </a>
            </div>
            <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/mantenimiento-activos" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-wrench font-size-15" style="margin-right: 2%;"></i>
              Mantenimiento
            </a>
          </div>
          <!-- Inventario Activos -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-activos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario Activos
              </a>
            </div>
          </ng-container>
          </ng-container>
        </div>
      </li>
    </ng-container>

    <!-- MOVIMIENTOS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12 || ValidarRol == 5 || ValidarRol == 13">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample10" role="button" (click)="clickIcon10()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir10; then thenTemplate10; else elseTemplate10"></ng-container>
          <ng-template #thenTemplate10>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate10>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Movimientos</b>
        </a>
        <div class="collapse" id="collapseExample10">
          <!-- Bodega de Extrusión -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 5">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/ReporteRollos-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-th-large font-size-15" style="margin-right: 2%;"></i>
                Bodega de Extrusión
              </a>
            </div>
          </ng-container>

          <!-- Entrada Materia Prima -->
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-facturas-remisiones-mp" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-window-minimize font-size-15" style="margin-right: 2%;"></i>
                Entradas de Materia Prima
              </a>
            </div>
          </ng-container>

          <!-- Movimientos de Mantenimientos -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/movimientos-mantenimientos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-wrench font-size-15" style="margin-right: 2%;"></i>
                Movimientos Mantenimientos
              </a>
            </div>
          </ng-container>

          <!-- Reporte de Despacho -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-despacho" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-truck font-size-15" style="margin-right: 2%;"></i>
                Movimientos Despacho
              </a>
            </div>
          </ng-container>

          <!-- Movimientos -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample7_1" role="button" (click)="clickIcon7_1()" aria-expanded="false" aria-controls="collapseExample">
                <ng-container *ngIf="subir7_1; then thenTemplate7_1; else elseTemplate7_1"></ng-container>
                <ng-template #thenTemplate7_1>
                  <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
                </ng-template>
                <ng-template #elseTemplate7_1>
                  <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
                </ng-template>
                Movimientos Materia Prima
              </a>
              <div class="collapse" id="collapseExample7_1" *ngIf="ValidarRol == 1 || ValidarRol == 3">
                <div class="mb-2 subSangria">
                  <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/movimiento-mp" role="button" aria-expanded="false" aria-controls="">
                    <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                    Movimientos Materias Primas
                  </a>
                </div>
              </div>
              <div class="collapse" id="collapseExample7_1" *ngIf="ValidarRol == 1 || ValidarRol == 3">
                <div class="mb-2 subSangria">
                  <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-recuperado-mp" role="button" aria-expanded="false" aria-controls="">
                    <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                    Movimientos Recuperado
                  </a>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- MOVIMIENTOS ORDENES DE COMPRA -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-orden-compra" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-shopping-cart font-size-15" style="margin-right: 2%;"></i>
                Movimientos Ordenes de Compra
              </a>
            </div>
          </ng-container>

          <!-- MOVIMINETOS MAQUILAS -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Reporte-Maquilas" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
              Movimientos de Maquilas
            </a>
          </div>
        </ng-container>

        <!-- Mov. SOLICITUDES DE MAT. PRIMA -->
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 13">
          <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-solicitudes-mp" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-file font-size-15" style="margin-right: 2%;"></i>
              Movimientos Solicitud Mat. Prima
            </a>
          </div>
        </ng-container>

          <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- MAQUILAS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample14" role="button" (click)="clickIcon14()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir14; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Maquilas</b>
        </a>
        <div class="collapse" id="collapseExample14">
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Orden-Maquila" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-book font-size-15" style="margin-right: 2%;"></i>
                Orden de Maquila
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Facturacion-Orden-Maquila" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-dollar font-size-15" style="margin-right: 2%;"></i>
                Facturar Orden de Maquila
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Reporte-Maquilas" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-sitemap font-size-15" style="margin-right: 2%;"></i>
                Movimientos de Maquilas
              </a>
            </div>
          </ng-container>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!--NÓMINA-->
    <ng-container *ngIf="ValidarRol == 1">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample17" role="button" (click)="clickIcon17()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir17; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Nómina</b>
        </a>
        <div class="collapse" id="collapseExample17">
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/nomina" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-dollar font-size-15" style="margin-right: 2%;"></i>
                Nómina Sellado
              </a>
            </div>
          </ng-container>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- ORDEN DE TRABAJO -->
    <ng-container *ngIf="ValidarRol == 1">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample4" role="button" (click)="clickIcon4()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir4; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Orden de Trabajo</b>
        </a>
        <div class="collapse" id="collapseExample4">
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/ordenes-trabajo" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-file font-size-15" style="margin-right: 2%;"></i>
                Crear OT
              </a>
            </div>
          </ng-container>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- PEDIDOS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 6 || ValidarRol == 10 || ValidarRol == 60 || ValidarRol == 61">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample5" role="button" (click)="clickIcon5()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir5; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Pedidos</b>
        </a>
        <div class="collapse" id="collapseExample5">
          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 60">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" href="/pedido-externo" role="button" aria-expanded="false">
              <i class="pi pi-shopping-bag font-size-15" style="margin-right: 2%;"></i>
              Crear Pedido
            </a>
          </div>

          <div class="mb-2 sangria" *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 6 || ValidarRol == 10 || ValidarRol == 60 || ValidarRol == 61">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Pedidos-Zeus" role="button" aria-expanded="false">
              <i class="pi pi-shopping-bag font-size-15" style="margin-right: 2%;"></i>
              Ver Pedidos
            </a>
          </div>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- PRODUCTOS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 10 || ValidarRol == 60 || ValidarRol == 61">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample6" role="button" (click)="clickIcon6()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir6; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Productos</b>
        </a>
        <div class="collapse" id="collapseExample6">
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 6 || ValidarRol == 10 || ValidarRol == 60 || ValidarRol == 61">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/inventario-productos-terminados" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Producto Terminado (Zeus)
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/inventario-productos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Producto Terminado
              </a>
            </div>
          </ng-container>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- REPORTES -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 3 || ValidarRol == 4 || ValidarRol == 5 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9|| ValidarRol == 10 || ValidarRol == 12 || ValidarRol == 13 ||  ValidarRol == 60">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample7" role="button" (click)="clickIcon7()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir7; then thenTemplate7; else elseTemplate7"></ng-container>
          <ng-template #thenTemplate7>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate7>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Reportes</b>
        </a>
        <div class="collapse" id="collapseExample7">
          <!-- Inventario Activos -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-activos" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario Activos
              </a>
            </div>
          </ng-container>

          <!-- Inventario Boddega Extrusion -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 5">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Inventario-Extrusion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario Bodega Extrusión
              </a>
            </div>
          </ng-container>

          <!-- Inventario Materia Prima -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 4">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-Materia-Prima" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-box font-size-15" style="margin-right: 2%;"></i>
                Inventario de Materia Prima
              </a>
            </div>
          </ng-container>

          <!-- Reporte de Costos -->
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-costos-ot" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-calculator font-size-15" style="margin-right: 2%;"></i>
                Reportes de Costos
              </a>
            </div>
          </ng-container>

          <!-- Reporte consolidado de facturación -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 60">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/rpt-facturacion-zeus" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-dollar font-size-15" style="margin-right: 2%;"></i>
                Consolidado Facturación
              </a>
            </div>
          </ng-container>

          <!-- Reporte consolidado de facturación 2 -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 60">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Reporte-Facturacion" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-wallet font-size-15" style="margin-right: 2%;"></i>
                Consolidado Facturación 2
              </a>
            </div>
          </ng-container>

          <!-- Reporte de Procesos de Ordenes de trabajo -->
          <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 12">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reportes-procesos-ot" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-sliders-h font-size-15" style="margin-right: 2%"></i>
                Reporte Procesos OT
              </a>
            </div>
          </ng-container>

          <!-- Reporte de rollos eliminados -->
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/reporte-rollos-eliminados" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-trash font-size-15" style="margin-right: 2%;"></i>
                Reporte Rollos Eliminados
              </a>
            </div>
         </ng-container>

          <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>

    <!-- TICKETS -->
    <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2 || ValidarRol == 3 || ValidarRol == 4 || ValidarRol == 5 || ValidarRol == 6 || ValidarRol == 7 || ValidarRol == 8 || ValidarRol == 9 || ValidarRol == 10 || ValidarRol == 11 || ValidarRol == 12 || ValidarRol == 13 || ValidarRol == 59 || ValidarRol == 60">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample16" role="button" (click)="clickIcon16()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir16; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Tickets</b>
        </a>
        <div class="collapse" id="collapseExample16">
          <div class="mb-2 sangria">
            <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Tickets" role="button" aria-expanded="false" aria-controls="">
              <i class="pi pi-ticket font-size-15" style="margin-right: 2%;"></i>
              Creación de Tickets
            </a>
          </div>
          <ng-container *ngIf="ValidarRol == 1">
            <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/Gestion-Tickets" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-wrench font-size-15" style="margin-right: 2%;"></i>
                Gestionar Tickets
              </a>
            </div>
          </ng-container>
          <div class="mb-2 sangria"> <hr> </div>
        </div>
      </li>
    </ng-container>

    <!-- USUARIOS -->
    <ng-container *ngIf="ValidarRol == 1">
      <li>
        <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="collapse" href="#collapseExample11" role="button" (click)="clickIcon11()" aria-expanded="false" aria-controls="collapseExample">
          <ng-container *ngIf="subir11; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <i class="pi pi-angle-down" style="margin-right: 3%;"></i>
          </ng-template>
          <ng-template #elseTemplate>
            <i class="pi pi-angle-up" style="margin-right: 3%;"></i>
          </ng-template>
          <b>Usuarios</b>
        </a>
        <div class="collapse" id="collapseExample11">
          <ng-container *ngIf="ValidarRol == 1">
              <div class="mb-2 sangria">
              <a [ngClass]="{'userDark' : modoSeleccionado, 'userLigth': !modoSeleccionado}" data-bs-toggle="" href="/registro-usuario" role="button" aria-expanded="false" aria-controls="">
                <i class="pi pi-users font-size-15" style="margin-right: 2%;"></i>
                Usuarios
              </a>
            </div>
          </ng-container>
            <div class="mb-2 sangria">
            <hr>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>

  <!-- BOTON DE CONFIGURACION -->
</p-sidebar>

<!-- Menú de Configuraciones -->
<p-sidebar [(visible)]="menuConfiguracion" position="right" [style]="{maxWidth : '30rem', minWidth : '27rem'}">
  <div class="escalabilidad">
    <div class="mb-2">
      <h4>Tamaño de Letra</h4>
      <div class="iconos">
        <p-button icon="pi pi-minus" styleClass="p-button-rounded p-button-danger p-button-text" (click)="disminuirLetra()"></p-button>
        <i class="pi pi-circle font-size-16" id="iconoTanamoLetra1"></i>
        <i class="pi pi-circle font-size-16" id="iconoTanamoLetra2"></i>
        <i class="pi pi-circle font-size-16" id="iconoTanamoLetra3"></i>
        <i class="pi pi-circle font-size-16" id="iconoTanamoLetra4"></i>
        <i class="pi pi-circle font-size-16" id="iconoTanamoLetra5"></i>
        <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-danger p-button-text" (click)="aumentarLetra()"></p-button>
      </div>
    </div>
  </div>

  <hr>

  <div class="modo">
    <div class="mb-2 switch">
      <h4>Cambiar Tema</h4>
      <input type="checkbox" id="darkmode-toggle" (change)="cambiar(modoSeleccionado)" [(ngModel)]="modoSeleccionado"/>
      <label class="colorMode" for="darkmode-toggle">
        <svg version="1.1" class="sun" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
          <rect x="152.994" y="58.921" transform="matrix(0.3827 0.9239 -0.9239 0.3827 168.6176 -118.5145)" width="40.001" height="16"/>
          <rect x="46.9" y="164.979" transform="matrix(0.9239 0.3827 -0.3827 0.9239 71.29 -12.4346)" width="40.001" height="16"/>
          <rect x="46.947" y="315.048" transform="matrix(0.9239 -0.3827 0.3827 0.9239 -118.531 50.2116)" width="40.001" height="16"/>
          <rect x="164.966" y="409.112" transform="matrix(-0.9238 -0.3828 0.3828 -0.9238 168.4872 891.7491)" width="16" height="39.999"/>
          <rect x="303.031" y="421.036" transform="matrix(-0.3827 -0.9239 0.9239 -0.3827 50.2758 891.6655)" width="40.001" height="16"/>
          <rect x="409.088" y="315.018" transform="matrix(-0.9239 -0.3827 0.3827 -0.9239 701.898 785.6559)" width="40.001" height="16"/>
          <rect x="409.054" y="165.011" transform="matrix(-0.9239 0.3827 -0.3827 -0.9239 891.6585 168.6574)" width="40.001" height="16"/>
          <rect x="315.001" y="46.895" transform="matrix(0.9238 0.3828 -0.3828 0.9238 50.212 -118.5529)" width="16" height="39.999"/>
          <path d="M248,88c-88.224,0-160,71.776-160,160s71.776,160,160,160s160-71.776,160-160S336.224,88,248,88z M248,392 c-79.4,0-144-64.6-144-144s64.6-144,144-144s144,64.6,144,144S327.4,392,248,392z"/>
          <rect x="240" width="16" height="72"/>
          <rect x="62.097" y="90.096" transform="matrix(0.7071 0.7071 -0.7071 0.7071 98.0963 -40.6334)" width="71.999" height="16"/>
          <rect y="240" width="72" height="16"/>
          <rect x="90.091" y="361.915" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 -113.9157 748.643)" width="16" height="71.999"/>
          <rect x="240" y="424" width="16" height="72"/>
          <rect x="361.881" y="389.915" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 397.8562 960.6281)" width="71.999" height="16"/>
          <rect x="424" y="240" width="72" height="16"/>
          <rect x="389.911" y="62.091" transform="matrix(0.7071 0.7071 -0.7071 0.7071 185.9067 -252.6357)" width="16" height="71.999"/>
        </svg>
        <svg version="1.1" class="moon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.739 49.739" style="enable-background:new 0 0 49.739 49.739;" xml:space="preserve">
          <path d="M25.068,48.889c-9.173,0-18.017-5.06-22.396-13.804C-3.373,23.008,1.164,8.467,13.003,1.979l2.061-1.129l-0.615,2.268 c-1.479,5.459-0.899,11.25,1.633,16.306c2.75,5.493,7.476,9.587,13.305,11.526c5.831,1.939,12.065,1.492,17.559-1.258v0 c0.25-0.125,0.492-0.258,0.734-0.391l2.061-1.13l-0.585,2.252c-1.863,6.873-6.577,12.639-12.933,15.822 C32.639,48.039,28.825,48.888,25.068,48.889z M12.002,4.936c-9.413,6.428-12.756,18.837-7.54,29.253 c5.678,11.34,19.522,15.945,30.864,10.268c5.154-2.582,9.136-7.012,11.181-12.357c-5.632,2.427-11.882,2.702-17.752,0.748 c-6.337-2.108-11.473-6.557-14.463-12.528C11.899,15.541,11.11,10.16,12.002,4.936z"/>
        </svg>
      </label>
    </div>
  </div>
</p-sidebar>

<!-- Menú de Usuario -->
<p-sidebar [(visible)]="menuUsuario" position="right" [style]="{maxWidth : '30rem', minWidth : '27rem'}">
  <div>
    <h5 class="mb-2">Bienvenido</h5>
    <h6 class="font-size-24"><p>{{storage_Nombre}}</p></h6>
  </div>

  <div class="cardDatosUsuario my-3 p-2" (click)="abrirModalUsuario()">
    <div class="row">
      <div class="col-3 m-auto text-center">
        <i class="pi pi-user font-size-20"></i>
      </div>

      <div class="col-9 font-size-12">
        <h5><p>Editar Perfil</p></h5>
      </div>
    </div>
  </div>

  <div class="cerrarSesion my-3 p-2" (click)="confirm1()">
    <div class="row">
      <div class="col-3 m-auto text-center">
        <i class="pi pi-fw pi-power-off font-size-20"></i>
      </div>

      <div class="col-9 font-size-12">
        <h5><p>Cerrar Sesión</p></h5>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <span class="Titulo tituloRojo">Eventos Para Hoy {{today}}</span>
  </div>

  <!-- Eventos del Día -->
  <div class="eventosUSua my-3 p-2" *ngFor="let item of eventosHoy">
    <div class="row font-size-25 mb-2">
      <p>{{item.Fecha_Hora_Inicio}} - {{item.Fecha_Hora_Fin}}</p>
    </div>

    <div class="row font-size-20">
      <p>{{item.Nombre}}</p>
    </div>
  </div>
</p-sidebar>

<!-- Modal Usuario -->
<p-dialog [(visible)]="modalUsuario" [style]="{width: '470px'}" header="Editar Usuarios" [modal]="true">
  <ng-template pTemplate="content">
    <form [formGroup]="FormUsuarios" (ngSubmit)="actualizarUsuario()">
      <div class="row my-3 g-4">
        <div class="col-12">
          <span class="p-float-label">
            <input formControlName="usuNombre" id="usuarioNombre" type="text" pInputText required/>
            <label for="usuarioNombre">Nombre Usuario</label>
          </span>
        </div>

        <div class="col 12">
          <span class="p-float-label">
            <p-password formControlName="usuPassword" [feedback]="false" id="pass" [toggleMask]="true"></p-password>
            <label for="pass">Contraseña</label>
          </span>
        </div>
      </div>

      <div class="mb-4 d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton pRipple label="Editar Información" type="submit" icon="pi pi-check" class="p-button-success"></button>
      </div>
    </form>
  </ng-template>
</p-dialog>

<!-- Modal de Calendario -->
<p-dialog [(visible)]="modalCalendario" [style]="{width: '800px', margin: 'auto', height: '830px'}" [breakpoints]="{ '960px': '400px' }" header="Eventos Calendario" [modal]="true">
  <ng-template pTemplate="content">
    <app-Calendario></app-Calendario>
  </ng-template>
</p-dialog>
