*{
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imagen{
  display: flex;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #000;
}

.imagen img{
  width: 90%;
}

.imagen p{
  padding-left: 5%;
  padding-top: 10%;
  color: #000;
}

.datosUsuario{
  display: flex;
  margin-left: 10%;
}

.datosUsuario i{
  width: 30px;
}

.datosUsuario p{
  color: #000;
  margin-left: 5%;
  font-size: calc(var(--font-size) * 18px);
}

.datosRol{
  display: flex;
  margin-left: 10%;
}

.datosRol i{
  width: 30px;
  margin-top: 3%;
}

.datosRol p{
  color: #000;
  font-size: calc(var(--font-size) * 18px);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}



ul li a:hover{
  color: #db4149;
}

ul li a:active > a, a[aria-expanded="true"]{
  color: #db4149;

}

span{
  color: #db4149;
}

.botonMenu{
  padding: 5px;
}

.botonMenu .user:hover{
  color: #db4149;
}

.boton:hover {
  color: #db4149;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: calc(var(--font-size) * 1.1em);
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.boton{
  margin-left: 80px;
}

#sidebar ul li a {
  padding-bottom: 10px;
  font-size: calc(var(--font-size) * 1.1em);
  display: block;
}

.sangria{
  margin-left: 8%;
  font-size: calc(var(--font-size) * 14px);
  transition: all 5s ease;
}

.subSangria{
  margin-left: 11%;
  font-size: calc(var(--font-size) * 14px);
  transition: all 5s ease;
}

.pi:hover{
  color: #a23;
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  /* width: 100%;
  position: fixed;
  z-index: 100;
  margin-top: -25px; */
}

.navbarDark {
  background-color: #071426;
}

.navbarLigth {
  background-color: #fff;
}

.userDark {
  color: #FFF;
}

.userLigth {
  color: #000;
}

.botonCierreSesion {
  width: 100%;
}

.botonCierreSesion button {
  margin: 0 30%;
}

.pi-cog {
  color: #000;
  font-size: calc(var(--font-size) * 25px);
  cursor: pointer;
  margin-left: 55%;
}

@media (max-width: 500px){
  .menu {
    height: 150px;
    margin-bottom: 10%;
  }

  .btnclose{
    margin-left: 270px;
    margin-top: 10px;
  }
}

.tanamoLetra i {
  cursor: pointer;
  font-size: calc(var(--font-size) * 20px);
  margin-left: 10%;
}

.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.switch p-inputswitch {
  margin-left: 10%;
}

/* ESTILOS DEL INPUT SWITCH PARA EL MODO NOCTURNO */
.colorMode {
	width:35%;
	height:32px;
	position: relative;
	display: inline-block;
	background: #ebebeb;
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
  margin-left: 10%;
}

.colorMode:after {
	content: "";
	width:28px;
	height: 28px;
	position: absolute;
	top:2px;
	left:5px;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
}

input {
	width: 0;
	height: 0;
	visibility: hidden;
}

input:checked + .colorMode {
	background: #242424;
}

input:checked + .colorMode:after {
	left:95%;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}

.colorMode:active:after{
	width: 50%px;
}

.colorMode svg {
	position: absolute;
	width: 20px;
	top:5px;
	z-index: 100;
}

.colorMode svg.sun {
	left:8%;
	fill:#fff;
	transition: 0.3s;
}

.colorMode svg.moon {
	left:75%;
	fill:#7e7e7e;
	transition: 0.3s;
}

input:checked + .colorMode svg.sun {
	fill:#7e7e7e;
}

input:checked + .colorMode svg.moon {
	fill:#fff;
}
