<mat-sidenav-container class="example-container menu">
  <mat-sidenav #sidenav [mode]="mode.value || 'over'">
    <nav id="sidebar">
      <div class="container-fluid">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <label class="btn-close text-reset" mat-button (click)="sidenav.toggle()"></label>
        </div>
      </div>
      <div class="sidebar-header">
          <h4 class="nombreUsuario">{{storage_Nombre}}</h4>
          <h6 class="tipoUsuario">{{storage_Rol}}</h6>
      </div>

      <ul>
        <p>Plasticaribe S.A.S</p>

        <li>
          <a class="fw-normal" href="home" role="button">
            Inicio
          </a>
        </li>

        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 2">
          <!-- PEDIDOS -->
          <li>
            <a class="fw-normal" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Pedidos
            </a>
            <div class="collapse" id="collapseExample">
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="pedido-externo" role="button" aria-expanded="false">
                  Pedidos Externos
                </a>
              </div>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="opedidoproducto" role="button" aria-expanded="false">
                  Ver Pedidos
                </a>
              </div>
              <div class="mb-2">
                <hr>
              </div>
            </div>
          </li>
        </ng-container>

        <!-- ORDEN DE TRABAJO -->

        <!-- PROCESOS -->

        <!-- DESPERDICIOS -->

        <!-- FACTURA DE VENTAS -->

        <!-- USUARIOS -->

        <!-- CLIENTES -->

        <!-- REPORTES -->

        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 4">
          <li>
            <a class="fw-normal" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
              Reportes
            </a>
            <div class="collapse" id="collapseExample8">
              <ng-container *ngIf="ValidarRol == 1">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/reporte-facturas-remisiones-mp" role="button" aria-expanded="false" aria-controls="">
                    Entradas de Materia Prima
                  </a>
                </div>
              </ng-container>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/reporte-Materia-Prima" role="button" aria-expanded="false" aria-controls="">
                  Inventario de Materia Prima
                </a>
              </div>
              <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 4">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/movimiento-mp" role="button" aria-expanded="false" aria-controls="">
                    Movimientos MP
                  </a>
                </div>
              </ng-container>
              <ng-container *ngIf="ValidarRol == 1">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/inventario-productos-terminados" role="button" aria-expanded="false" aria-controls="">
                    Producto Terminado
                  </a>
                </div>
              </ng-container>
              <ng-container *ngIf="ValidarRol == 1">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/reporte-costos-ot" role="button" aria-expanded="false" aria-controls="">
                    Reportes de Costos
                  </a>
                </div>
              </ng-container>
              <ng-container *ngIf="ValidarRol == 1">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/reporte-estados-ot" role="button" aria-expanded="false" aria-controls="">
                    Reportes Estados OT
                  </a>
                </div>
              </ng-container>
              <div class="mb-2">
                <hr>
              </div>
            </div>
          </li>
        </ng-container>

        <!-- PRODUCTOS -->

        <!-- MATERIAS PRIMAS -->
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
          <li>
            <a class="fw-normal" data-bs-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
                Materia Prima
            </a>
            <div class="collapse" id="collapseExample10">
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/asignacionMP" role="button" aria-expanded="false" aria-controls="">
                  Asignaciones
                </a>
              </div>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/mp-devoluciones" role="button" aria-expanded="false" aria-controls="">
                  Devoluciones
                </a>
              </div>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/MateriaPrima" role="button" aria-expanded="false" aria-controls="">
                  Entradas
                </a>
              </div>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/mp-recuperada" role="button" aria-expanded="false" aria-controls="">
                  Recuperado
                </a>
              </div>
              <ng-container *ngIf="ValidarRol == 1">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/materias_primas" role="button" aria-expanded="false" aria-controls="">
                    Materias Primas
                  </a>
                </div>
              </ng-container>
              <div class="mb-2">
                <a class="fst-normal" data-bs-toggle="" href="/asignacion-tintas" role="button" aria-expanded="false" aria-controls="">
                  Asignación Tintas
                </a>
              </div>
              <div class="mb-2">
                <hr>
              </div>
            </div>
          </li>
        </ng-container>

        <!-- BOPP -->
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
          <li>
            <a class="fw-normal" data-bs-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
                BOPP
            </a>
            <div class="collapse" id="collapseExample11">
              <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/AsignacionBOPPTemporal" role="button" aria-expanded="false" aria-controls="">
                    Asignación de BOPP
                  </a>
                </div>
              </ng-container>
              <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
                <div class="mb-2">
                  <a class="fst-normal" data-bs-toggle="" href="/entrada-BOPP" role="button" aria-expanded="false" aria-controls="">
                    Entrada de BOPP
                  </a>
                </div>
              </ng-container>
              <div class="mb-2">
                <hr>
              </div>
            </div>
          </li>
        </ng-container>
        <!-- ACTIVOS -->

        <!-- PROVEEDORES -->

        <!-- MATENIMIENTO -->

        <!-- NOTIFICACIONES -->

      </ul>

      <button class="btn btn-danger btn-danger-sm boton" type="button"><li class="fa fa-sign-out" aria-hidden="true" (click)="confimacionSalida()"><br>Cerrar Seccion</li></button>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <p><button class="botonMenu d-grid gap-2 d-md-flex justify-content-md-start" mat-button (click)="sidenav.toggle()"><b><span class="user">Plasti<span>caribe S.A.S</span></span></b></button></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <span class="user"><b>User:</b> {{storage_Nombre}}</span>
          <span class="tipoUser"><b>Tipo:</b> {{storage_Rol}} </span>
        </div>
      </div>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
