.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown {
  display: flex;
}

p-inputnumber, p-inputnumber, p-inputtext ::ng-deep span, p-dropdown ::ng-deep .p-dropdown{
  display: flex;
  width: 100%;
}

::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

::ng-deep .p-inputtext {
  display: flex;
  width: 100%;
}

