<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Asignación de BOPP / BOPA / POLIESTER</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="container">
      <!-- Información general para la asignación de materia Prima Para la creación de tintas -->
      <form [formGroup]="FormAsignacionBopp">
        <!-- Fila 1 -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- OT -->
            <div class="form-floating col-md-2">
              <input formControlName="AsgBopp_OT" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.enter)="infoOT()">
              <label for="floatingInput">OT</label>
            </div>
            <!-- Campo Observacion -->
            <div class="form-floating col-md">
              <textarea formControlName="AsgBopp_Observacion" id="floatingTextArea" type="text" class="form-control form-control-sm" maxlength="200" ></textarea>
              <label for="floatingTextArea">Observación</label>
            </div>
          </div>
        </div>
      </form>

      <!-- Tabla de OT -->
      <div class="row g-3">
        <div class="table-responsive">
          <p-table
          #dt
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="20"
          [rowHover]="true"
          [value]="ordenesTrabajo">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Cliente</th>
                <th scope="col">Item</th>
                <th scope="col">Micras</th>
                <th scope="col">Ancho</th>
                <th scope="col">Kg</th>
                <th scope="col"></th>
            </ng-template>
            <ng-template pTemplate="body" let-ot>
              <tr>
                <td>{{ot.ot}}</td>
                <td>{{ot.cliente}}</td>
                <td>{{ot.item}}</td>
                <td>{{ot.micras | number}}</td>
                <td>{{ot.ancho | number}}</td>
                <td>{{ot.kg | number}}</td>
                <td><i class="pi pi-trash cursor" title="Quitar Orden de Trabajo" (click)="QuitarOrdenTrabajo(ot)"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <!-- Titulo Materia Prima -->
      <div class="mb-3">
        <h4 class="tituloRojo">BOPP / BOPA / POLIESTER</h4>
      </div>

      <!-- Asignación de BOPP para la creación de tintas -->
      <form [formGroup]="FormularioBOPP">
        <div class="mb-3">
          <div class="row g-3">
            <!--Serial-->
            <div class="form-floating col-md-3">
              <input formControlName="boppSerial" type="number" id="floatingSelect" class="form-control form-control-sm">
              <label for="floatingInput">Pallet/Serial</label>
            </div>
            <!-- Nombre  -->
            <div class="form-floating col-md">
              <input formControlName="boppNombre" class="form-control form-control-sm" list="materiaprima" id="floatingInput" title="Nombre del rollo" (change)="BOPPSeleccionado()">
              <datalist id="materiaprima">
                <option value={{item.bopP_Serial}} *ngFor="let item of ArrayBOPP">{{item.bopP_Nombre}}</option>
              </datalist>
              <label for="floatingInput">Rollo</label>
            </div>
          </div>
        </div>

        <!-- BOTONES -->
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposBOPP()">Asignar Rollo</button>
            <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCamposBOPP()">Limpiar Campos</button>
          </div>
        </div>
      </form>

      <!--Linea -->
      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de material asignado</h4>
      </div>

      <!-- Tabla de BOPP por asignar -->
      <div class="row g-3">
        <div class="table-responsive">
          <p-table
          #dt
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="20"
          [rowHover]="true"
          [value]="ArrayBoppPedida">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Pallet/Serial</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bopp>
              <tr>
                <td>{{bopp.Serial}}</td>
                <td>{{bopp.Nombre}}</td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="bopp.Cantidad2" inputId="minmaxfraction" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="bopp.Cantidad2" [maxFractionDigits]="2"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{bopp.Cantidad2 | number}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td><i class="pi pi-trash cursor" title="Quitar Materia Prima" (click)="quitarBOPP(bopp)"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <br>
      <div *ngIf="load">
        <div class="mb-3">
          <div class="row g-3">
            <div class="mb-3">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarAsignacion()">Crear Asignación</button>
                <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodosLosCampos()">Limpiar Todo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


