<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<div class="fondo">
  <!-- Cards de Costos -->
  <div class="row g-3 text-center fila-1" *ngIf="ValidarRol == 1 || ValidarRol == 60">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="p-3">
        <p-card >
          <div class="header mb-5">
            <h3><i class="pi pi-truck"></i> Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacuturadoMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-5">
            <h3><i class="pi pi-wallet"></i> Iva Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalIvaVentaMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-5">
            <h3><i class="pi pi-money-bill"></i> Total Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacuturadoMes +  totalIvaVentaMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-5">
            <h3><i class="pi pi-dollar"></i> Ventas del Día</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacturadoDia | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>
    </div>


    <!-- Grafica y Estados de Ordenes -->
    <div class="col-xxl-9 col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <div class="p-3">
        <p-card>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
            <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event)" pTooltip="Ver descripción" tooltipPosition="top"></p-button>
          </div>
          <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-3"><i class="pi pi-chart-line"></i> Facturación Mensual</h2>
          <p-toolbar>
            <div class="p-toolbar-group-left">
              <h5>¡Elige el año que deseas graficar!</h5>
            </div>
            <div class="p-toolbar-group-right">
              <p-dropdown [options]="anos" [(ngModel)]="anoSeleccionado" (onChange)="facturacion()"></p-dropdown>
            </div>
          </p-toolbar>
          <p-chart type="line" width="100%" height="500px" [data]="facturasData" [options]="facturasOptions"></p-chart>
        </p-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal donde se podrá ver algunas graficas -->
<p-dialog header="{{nombreGrafica}}" [modal]="true" [draggable]="false" [(visible)]="mostrarGrafica" [style]="{width: '150rem'}">
  <p-chart type="bar" width="100%" height="400px" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
</p-dialog>
<br>
<!--style="background-color: rgb(255, 252, 222);" -->
<p-overlayPanel #op [style]="{background: 'rgba(45,45,45,0.9)', width: '350px', color : 'rgb(247, 247, 247)' }">
  <ng-template pTemplate>
    En este apartado encontrarás el <b>valor total facturado</b> en cada mes del año.<br><br>
    Aparte <b>podrás graficar el año que desees</b>, desde la lista desplegable <img src="assets/Iconos_Menu/combo.PNG" alt="" class="imagen"> que se encuentra en la parte superior de la gráfica.
  </ng-template>
</p-overlayPanel>
