<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<div class="fondo">
  <!-- Cards de Costos -->
  <div class="row g-3 text-center fila-1" *ngIf="ValidarRol == 1 || ValidarRol == 60">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="p-3">
        <p-card >
          <div class="header mb-4">
            <h3><i class="pi pi-truck"></i> Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacuturadoMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-4">
            <h3><i class="pi pi-wallet"></i> Iva Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalIvaVentaMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-4">
            <h3><i class="pi pi-money-bill"></i> Total Ventas del Mes</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacuturadoMes +  totalIvaVentaMes | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>

      <div class="p-3">
        <p-card>
          <div class="header mb-4">
            <h3><i class="pi pi-dollar"></i> Ventas del Día</h3>
          </div>
          <div class="mb-3">
            <h4><b>{{totalFacturadoDia | currency : ' COP $'}}</b></h4>
          </div>
        </p-card>
      </div>
    </div>


    <!-- Grafica y Estados de Ordenes -->
    <div class="col-xxl-9 col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <div class="p-3">
        <p-card header="Facturación Mensual">
          <p-toolbar>
            <div class="p-toolbar-group-left">
              <h5>¡Elige el año que deseas graficar!</h5>
            </div>
            <div class="p-toolbar-group-right">
              <p-dropdown [options]="anos" [(ngModel)]="anoSeleccionado" (onChange)="facturacion()"></p-dropdown>
            </div>
          </p-toolbar>
          <p-chart type="line" width="100%" height="500px" [data]="facturasData" [options]="facturasOptions"></p-chart>
        </p-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal donde se podrá ver algunas graficas -->
<p-dialog header="{{nombreGrafica}}" [modal]="true" [draggable]="false" [(visible)]="mostrarGrafica" [style]="{width: '150rem'}">
  <p-chart type="bar" width="100%" height="400px" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
</p-dialog>
<br>
<!--style="background-color: rgb(255, 252, 222);" -->
<p-overlayPanel #op  [style]="{background: 'rgb(255, 252, 222)', width: '450px'}" >
  <!--<ng-template pTemplate>
    En este apartado encontrarás el <span class="badge bg-naranja">valor total facturado</span> en  <b>cada mes del año.</b><br>
    Aparte <b>podrás graficar el año que desees</b>, desde la lista desplegable <img src="assets/Iconos_Menu/combo.PNG" alt="" class="imagen"> que se encuentra en la parte superior de la gráfica.
  </ng-template>-->
  <!--<ng-template pTemplate>
    Aquí puedes ver la <b>cantidad de ordenes de trabajo creadas durante el mes</b> y su estado actual<br><br>
    Adicionalmente haciendo clic sobre <img src="assets/Iconos_Menu/lupa.PNG" alt="" style="width: 30px; height: 30px">, puedes verificar <b>cuanto se ha pesado</b> en cada proceso y el <b>reporte de costos de cada OT.</b>
  </ng-template>
  <ng-template pTemplate>
    En esta sección podrás ver el listado de clientes con <b>más ordenes de trabajo creadas durante el mes actual y el costo total de las mismas</b><br><br>
    Además puedes <span class="badge bg-naranja">graficar la tabla</span> a través del botón <img src="assets/Iconos_Menu/graficar.PNG" alt="" style="width: 30px; height: 30px">
  </ng-template>
  <ng-template pTemplate>
    En este listado se puede apreciar <b>la cantidad de ordenes de trabajo realizadas a cada asesor comercial durante el mes actual</b>, el costo total y cantidad en kilos.<br><br>
    Además puedes <span class="badge bg-rojo">graficar la tabla</span> a través del botón <img src="assets/Iconos_Menu/graficar.PNG" alt="" style="width: 30px; height: 30px">
  </ng-template>
  <ng-template pTemplate>
    En este apartado <b>podrá visualizar el listado de productos</b> a los cuales se les ha realizado más<span class="badge bg-verde"> ordenes de trabajo</span> durante el mes.
  </ng-template>
  <ng-template pTemplate>
    En esta sección se puede apreciar <b>la cantidad producida en Kilogramos/Unidades</b> en cada <span class="badge bg-azul"></span> proceso de producción en la empresa durante el mes en curso.
  </ng-template>-->

  <ng-template pTemplate>
    Listado con la <b>cantidad de veces que se han usado los materiales de producción</b> para la creación de <span class="badge bg-rojo">ordenes de trabajo</span>, su costo, y la cantidad en kilos.
  </ng-template>
</p-overlayPanel>
