.bg-danger {
    color: white;
    background-color: palevioletred;
    font-size: calc(var(--font-size) * 15px);
}

.bg-warning {
    color: #000;
    background-color: rgb(242, 222, 107);
    font-size: calc(var(--font-size) * 15px);
}

.bg-success {
    color: rgb(11, 82, 0);
    background-color: palegreen;
    font-size: calc(var(--font-size) * 15px);
}