<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
    <div style="margin: auto;">
      <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Certificados de Calidad</h2>
    </div>

    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card class="mb-5">
  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Buscar Orden de Trabajo</h3>
  </div>

  <!-- Información General Orden de Trabajo -->
  <form [formGroup]="FormOrden" (ngSubmit)="consultarOrdenTrabajo()">
    <div class="row g-4 mb-4">
      
      <!-- Orden de Trabajo -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <input formControlName="Orden"  type="text" pInputText [required]="true"/>
          <label for="ordenTrabajo">OT</label>
        </span>
      </div>

      <!-- Cliente -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-5 col-xxl-5">
        <span class="p-float-label">
          <input formControlName="Cliente" id="Cliente" type="text" pInputText [required]="true"/>
          <label for="cliente">Cliente</label>
        </span>
      </div>

      <!-- Referencia -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5">
        <span class="p-float-label">
          <input formControlName="Referencia" id="Referencia" type="text" pInputText [required]="true"/>
          <label for="Referencia">Referencia</label>
        </span>
      </div>

      <!-- Cantidad -->
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-inputNumber formControlName="Cantidad" inputId="Cantidad" tooltipPosition="top" [required]="true"></p-inputNumber>
          <label for="Cantidad">Cantidad</label>
        </span>
      </div>

      <!-- Presentación -->
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="Presentacion" inputId="Presentacion" [autoDisplayFirst]="false" [options]="unidadesMedidas" optionLabel="undMed_Id" optionValue="undMed_Id" [required]="true"></p-dropdown>
          <label for="Presentacion">Presentación</label>
        </span>
      </div>

      <!-- Observación -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-8">
        <span class="p-float-label">
          <textarea formControlName="Observacion" [rows]="1" pInputTextarea></textarea>
          <label for="textarea">Observación</label>
        </span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="submit" label="Consultar Orden" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodo()"></button>
        <button pButton class="p-button-success" type="button" label="Crear Certificado" icon="pi pi-check" [disabled]="!FormOrden.valid" (click)="guardarCertificados()"></button>
      </div>
    </div>
  </form>
  
  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-calculator"></i> Parametros Cuantitativos</h3>
  </div>

  <!-- Tabla com información de los parametros cuantitativos -->
  <div class="row g-3">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [rowHover]="true"
      [value]="parametrosCuantitativos"
      [ngStyle]="{'overflow':'visible'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Parametro Cuantitativo</th>
            <th>Unidad de Medida</th>
            <th>Nominal</th>
            <th>Tolerancia +/-</th>
            <th>Mínimo</th>
            <th>Máximo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.Nombre}}</td>
            <td [pEditableColumn]="data.UndMedida" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown [autoDisplayFirst]="true" [(ngModel)]="data.UndMedida" [options]="unidadesMedidas" optionLabel="undMed_Id" optionValue="undMed_Id" appendTo="body"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{data.UndMedida}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td [pEditableColumn]="data.Nominal" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="data.Nominal"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{data.Nominal | number : '1.2-2' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td [pEditableColumn]="data.Tolerancia" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="data.Tolerancia"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{data.Tolerancia | number : '1.2-2' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>{{calcularMinParametrosCuantitativos(data) | number : '1.2-2' }}</td>
            <td>{{calcularMaxParametrosCuantitativos(data) | number : '1.2-2' }}</td>            
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-calculator"></i> Parametros Cualitativos</h3>
  </div>

  <!-- Tabla com información de los parametros cualitativos -->
  <div class="row g-3 mb-4">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [rowHover]="true"
      [value]="paramertosCualitativos"
      [ngStyle]="{'overflow':'visible'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Resultado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.Nombre}}</td>
            <td [pEditableColumn]="data.Resulatado" pEditableColumnField="price" class="cursor">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown *ngIf="['Material'].includes(data.Nombre)" [(ngModel)]="data.Resulatado" [autoDisplayFirst]="true" [editable]="true" [options]="materiales" appendTo="body"></p-dropdown>
                  <p-dropdown *ngIf="['Resistencia', 'Sellabilidad'].includes(data.Nombre)" [(ngModel)]="data.Resulatado" [autoDisplayFirst]="true" [editable]="true" [options]="resistenciaSellabilidad" appendTo="body"></p-dropdown>
                  <p-dropdown *ngIf="['Transparencia'].includes(data.Nombre)" [(ngModel)]="data.Resulatado" [autoDisplayFirst]="true" [editable]="true" [options]="transparencia" appendTo="body"></p-dropdown>
                  <p-dropdown *ngIf="['Impresión', 'Tratado'].includes(data.Nombre)" [(ngModel)]="data.Resulatado" [autoDisplayFirst]="true" [options]="arrayBooleano" appendTo="body"></p-dropdown>                       
                </ng-template>
                <ng-template pTemplate="output">
                  {{data.Resulatado}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</p-card>
