 <!-- Inicio Contenedor total -->
 <app-menuLateral></app-menuLateral>

 <div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Asignacion de Materia Prima</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>
<div class="container">
  <!--Titulo Asignación -->
  <div class="mb-3">
    <h4 class="tituloRojo">Asignación de Materia Prima</h4>
  </div>

  <!--Inicio Formulario de asignación -->
  <form [formGroup]="FormMateriaPrimaRetiro">
    <!-- Inicio Fila 1  -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- OT -->
        <div class="form-floating col-md-3">
          <input formControlName="OTRetiro" class="form-control form-control-sm" (keyup.enter)="infoOT()" id="floatingInput" type="number" min="100000" max="999999" required>
          <label for="floatingInput">OT</label>
        </div>
        <!-- Fecha entrega -->
        <div class="form-floating col-md-3">
          <input formControlName="FechaRetiro" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha Retiro" readonly onmousedown="return false;">
          <label for="floatingInput">Fecha Retiro</label>
        </div>
        <!-- Maquina -->
        <div class="form-floating col-md-3">
          <input formControlName="Maquina" type="number" class="form-control form-control-sm" id="floatingInput" min="1" max="99" required title="Maquina">
          <label for="floatingInput">Maquina</label>
        </div>
        <!-- Kg OT -->
        <div class="form-floating col-md-3">
          <input formControlName="kgOt" type="number" class="form-control form-control-sm" id="floatingInput" min="1" max="99" required title="Maquina" readonly onmousedown="return false;">
          <label for="floatingInput">KG OT</label>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <label for=""><b>Kg Restante: {{cantRestante | number}}</b></label>
          </div>
        </div>
      </div>
    </div>

    <!--Inicio Fila 2-->
    <div class="mb-3">
      <div class="row g-3">
        <!-- Campo Observacion -->
        <div class="form-floating col-6 col-md">
          <textarea formControlName="ObservacionRetiro"  id="floatingTextArea" type="text" class="form-control form-control-sm campoObservacion" maxlength="200" ></textarea>
          <label for="floatingTextArea">Observación</label>
        </div>
      </div>
    </div>
  </form>
  <!--Fin Formulario de asignación -->

  <!--Inicio titulo -->
  <div class="mb-3">
    <h4 class="tituloRojo">Materia Prima</h4>
  </div>
  <!--Fin titulo -->

  <!--Inicio de formulario de materia prima a entregar-->
  <form [formGroup]="FormMateriaPrimaRetirada">
    <div class="mb-3">
      <div class="row g-3">
        <!-- Id Materia Prima -->
        <div class="form-floating col-md">
          <input formControlName="MpIdRetirada" type="number" min="0" (keyup)="buscarMpId()" class="form-control" id="floatingInput" name="MapId" placeholder="Id" required >
          <label for="floatingInput">Id</label>
        </div>
        <!-- Nombre Materia Prima -->
        <div class="ng-autocomplete form-floating col-md-2 form-control form-control-sm">
          <ng-autocomplete
            class=""
            [data]="materiasPrimasRetiradas"
            placeholder="Nombre Materia Prima"
            (selected)='buscarMpSeleccionada($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            id="floatingInput"
            formControlName="MpNombreRetirada">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          <!-- <label for="floatingInput" *ngIf="validarInput">Materia Prima</label> -->
        </div>
        <!-- <div class="form-floating col-md-4">
          <select formControlName="MpNombreRetirada" class="form-select form-select-sm" id="floatingSelect" (change)="buscarMpSeleccionada()" aria-label="Floating label select example" required>
            <option [ngValue]="materiaPrima" *ngFor="let materiaPrima of materiasPrimasRetiradas">{{materiaPrima}}</option>
          </select>
          <label for="floatingSelect">Nombre de la Materia Prima</label>
        </div> -->
          <!-- stock DE MATERIA PRIMA  -->
        <div class="form-floating col-md-2">
          <input formControlName="MpStockRetirada" type="number" id="floatingSelect" class="form-control form-control-sm" name="MapStock" placeholder="Stock" required  readonly onmousedown="return false;">
          <label for="floatingInput">Stock</label>
        </div>
        <!-- CANTIDAD A ENTREGAR DE MATERIA PRIMA  -->
        <div class="form-floating col-md-2">
          <input formControlName="MpCantidadRetirada" type="number" id="floatingSelect" class="form-control form-control-sm" name="MapCantidad" placeholder="Cantidad" required>
          <label for="floatingInput">Cantidad</label>
        </div>
        <!-- Unidad medida-->
        <div class="form-floating col-md-2">
          <select formControlName="MpUnidadMedidaRetirada" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="MapUnidadMedida" placeholder="Und. Medida" required>
            <option [ngValue]="undMed" *ngFor="let undMed of unidadMedida">{{undMed}}</option>
          </select>
          <label for="floatingSelect">Und. Medida</label>
        </div>
        <!-- Proceso -->
        <div class="form-floating col-md-3">
          <select formControlName="ProcesoRetiro" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option [ngValue]="proceso.proceso_Nombre" *ngFor="let proceso of procesos">{{proceso.proceso_Nombre}}</option>
          </select>
          <label for="floatingSelect">Proceso</label>
        </div>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposVaciosMPRetirada()">{{AccionBoton}} Materia Prima</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos MP</button>
      </div>
    </div>
  </form>
  <!--Fin Formulario materia prima a entregar-->

  <!--Linea -->
  <div class="mb-4">
    <hr class="colorLinea">
  </div>
  <!--Fin Linea -->

  <div class="mb-4">
    <h4 class="tituloRojo">Tabla de materias primas asignadas</h4>
  </div>

  <!-- TABLA DE RETIRO -->
  <div class="mb-2">
    <div class="row g-1">
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead class="TitulosTabla">
            <tr *ngFor="let columnas of titulosTabla let i = index">
              <th id="idMateriaPrima" scope="col">{{columnas.mpId}}</th>
              <th id="nombreMateriaPrima" scope="col">{{columnas.mpNombre}}</th>
              <th id="cantidadMateriaPrima" scope="col">{{columnas.mpCantidad}}</th>
              <th id="UnidadMedida" scope="col">{{columnas.mpUndMedCant}}</th>
              <th id="UnidadMedida" scope="col">{{columnas.mpProceso}}</th>
              <th id="editar" scope="col">Editar</th>
              <th id="eliminar" scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materiaPrima of ArrayMateriaPrimaRetirada let i = index">
              <td id="idMateriaPrima">{{materiaPrima.Id}}</td>
              <td id="nombreMateriaPrima">{{materiaPrima.Nombre}}</td>
              <td id="cantidadMateriaPrima">{{materiaPrima.Cant}}</td>
              <td id="UnidadMedida">{{materiaPrima.UndCant}}</td>
              <td id="UnidadMedida">{{materiaPrima.Proceso}}</td>
              <td id="Editar"><a><i class="fa fa-pencil" aria-hidden="true" (click)="EditarProductoTabla(materiaPrima)" title="Editar Materia Prima"></i></a></td>
              <td id="Eliminar"><a><i class="fa fa-trash" aria-hidden="true" (click)="QuitarProductoTabla(i, materiaPrima)" title="Quitar Materia Prima de la tabla"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="!load">
    <div class="spinner ">
      <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
    </div>
  </div>

  <div *ngIf="load">
    <div class="mb-3">
      <div class="row g-3">
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-danger btn-danger-sm" type="button" (click)="asignacionMateriaPrima()">Asignar Materia Prima </button>
            <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCamposMP()">Limpiar Todos Los Campos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
