<!-- Inicio Contenedor total -->
<app-menuLateral></app-menuLateral>
 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Asignación de Materia Prima</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">
  <div class="mb-3">
    <h4 class="tituloRojo"><i class="pi pi-filter"></i> Consultar OT</h4>
  </div>

  <br>
  <!-- Formulario Orden de Trabajo -->
  <form [formGroup]="FormMateriaPrimaRetiro">
    <div class="mb-3">
      <div class="row g-4">
        <!-- Orden de Trabajo -->
        <div class="col-md-2">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="OTRetiro" id="ordenTrabajo" class="form-control form-control-sm" type="text" pInputText (keyup.enter)="infoOT()" required/>
            <label for="ordenTrabajo">OT</label>
          </span>
        </div>

        <!-- Maquina -->
        <div class="col-md-2">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-wrench"></i>
            <input formControlName="Maquina" id="maquina" class="form-control form-control-sm" type="number" pInputText required/>
            <label for="maquina">Maquina</label>
          </span>
        </div>

        <!-- Observacion -->
        <div class="col-md">
          <span class="p-float-label">
            <textarea formControlName="ObservacionRetiro" [rows]="1" class="form-control form-control-sm" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>

      </div>
    </div>
  </form>

  <!-- Tabla de OT -->
  <div class="row g-3">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [value]="infoOrdenTrabajo">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Cliente</th>
            <th scope="col">Item</th>
            <th scope="col">Kg Total</th>
            <th scope="col">Kg Restante</th>
        </ng-template>
        <ng-template pTemplate="body" let-ot>
          <tr>
            <td>{{ot.ot}}</td>
            <td>{{ot.cliente}}</td>
            <td>{{ot.item}}</td>
            <td>{{ot.kg | number}}</td>
            <td><b>{{ot.kgRestante | number}}</b></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>

  <!--Inicio titulo -->
  <div class="mb-3">
    <h4 class="tituloRojo"><i class="pi pi-box"></i> Seleccionar Materia Prima</h4>
  </div>
  <br>

  <!-- Formulario de seleccion de materia prima  -->
  <form [formGroup]="FormMateriaPrimaRetirada">
    <div class="mb-3">
      <div class="row g-4">
        <!-- Id Materia Prima -->
        <div class="col-md-2">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="MpIdRetirada" id="IdMP" class="form-control form-control-sm" type="number" pInputText min="0" (keyup)="cambiarNombreMateriaPrima(1)" required/>
            <label for="IdMP">Id</label>
          </span>
        </div>

        <!-- Nombre Materia Prima -->
        <div class="col-md-6">
          <span class="p-float-label">
            <input formControlName="MpNombreRetirada" id="MP" class="form-control form-control-sm" list="materiaprima" type="text" pInputText (change)="cambiarNombreMateriaPrima(2)" required/>
            <datalist id="materiaprima">
              <option value={{item.id}} *ngFor="let item of materiaPrima">{{item.nombre}}</option>
            </datalist>
            <label for="MP">Materia Prima</label>
          </span>
        </div>

        <!-- Stock de Materia Prima  -->
        <div class="col-md">
          <span class="p-float-label">
            <p-inputNumber formControlName="MpStockRetirada" mode="decimal" inputId="Stock" [minFractionDigits]="2" [readonly]="true"></p-inputNumber>
            <label for="Stock">Stock</label>
          </span>
        </div>

        <!-- CANTIDAD A ENTREGAR DE MATERIA PRIMA  -->
        <div class="col-md">
          <span class="p-float-label">
            <p-inputNumber formControlName="MpCantidadRetirada" mode="decimal"  [showClear]="true" inputId="Cantidad" [minFractionDigits]="2"></p-inputNumber>
            <label for="Cantidad">Cantidad</label>
          </span>
        </div>

        <!-- Unidad de Medida -->
        <div class="col-md">
          <span class="p-float-label">
            <p-dropdown formControlName="MpUnidadMedidaRetirada" inputId="Und" [autoDisplayFirst]="false" [options]="unidadMedida" optionLabel=""></p-dropdown>
            <label for="Und">Und</label>
          </span>
        </div>

        <!-- Proceso -->
        <div class="col-md">
          <span class="p-float-label">
            <p-dropdown formControlName="ProcesoRetiro" inputId="Proceso" [autoDisplayFirst]="false" [options]="procesos" optionLabel=""></p-dropdown>
            <label for="Proceso">Procesos</label>
          </span>
        </div>

      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton pRipple label="Asignar Materia Prima" type="button" icon="pi pi-check" class="p-button-danger" (click)="validarCamposVaciosMPRetirada()"></button>
        <button pButton pRipple label="Limpiar Campos MP" type="button" class="p-button-secondary" icon="pi pi-eraser" (click)="limpiarCamposMP()"></button>
      </div>
    </div>
  </form>

  <!--Linea -->
  <div class="mb-4">
    <hr class="colorLinea">
  </div>
  <!--Fin Linea -->

  <div class="mb-4">
    <h4 class="tituloRojo"><i class="pi pi-list"></i> Tabla de materias primas asignadas</h4>
  </div>

  <!-- TABLA DE RETIRO -->
  <div class="row g-3">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [value]="materiasPrimasSeleccionadas">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Und. Medida</th>
            <th scope="col">Proceso</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiasPrimasSeleccionadas>
          <tr>
            <td>{{materiasPrimasSeleccionadas.Id}}</td>
            <td>{{materiasPrimasSeleccionadas.Nombre}}</td>
            <td>{{materiasPrimasSeleccionadas.Cantidad | number}}</td>
            <td>{{materiasPrimasSeleccionadas.Und_Medida}}</td>
            <td>{{materiasPrimasSeleccionadas.Proceso}}</td>
            <td><i class="pi pi-trash cursor" title="Quitar Materia Prima" (click)="mostrarEleccion(materiasPrimasSeleccionadas)"></i></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <br>
  <div *ngIf="load">
    <div class="mb-3">
      <div class="row g-3">
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button pButton pRipple label="Asignar Materia Prima" type="button" icon="pi pi-check" class="p-button-danger" (click)="validarCamposVaciosRetirada()"></button>
            <button pButton pRipple label="Limpiar Todo" type="button" class="p-button-secondary" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="center" key="eleccion" (onClose)="onReject('eleccion')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-mp>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="quitarMateriaPrima(mp)" icon="pi pi-check" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject('eleccion')" icon="pi pi-database" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="center" key="asignacion" (onClose)="onReject('asignacion')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="crearAsignacion()" icon="pi pi-check" label="Si" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject('asignacion')" icon="pi pi-cancel" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
