

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" id="usuarios" class="font-size-32">Gestión de Usuarios</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <!--Ver tutorial-->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button pButton pRipple label="Nuevo Rol" icon="pi pi-plus" id="nuevo-rol" class="p-button-success r-2" (click)="modalRoles_TiposUsuarios()"></button>
    <button pButton pRipple label="Nueva Area" icon="pi pi-plus" id="nueva-area" (click)="modalAreas()" class="p-button-success"></button>
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-list"></i> Tabla de Usuarios</h4>
  </div>

  <div *ngIf="load">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton pRipple id="nuevo-usuario" label="Nuevo" icon="pi pi-plus" class="p-button-success r-2" style="margin-right: 3%;" (click)="cargarModalUsuarios()"></button>
        <button pButton pRipple id="eliminar-usuario" label="Eliminar" icon="pi pi-trash" *ngIf="usuariosInactivar.length > 0; else inactivo" class="p-button-danger" (click)="inactivarUsuarios()"></button>
        <ng-template #inactivo>
          <button pButton pRipple id="eliminar-usuario" label="Eliminar"  icon="pi pi-trash" [disabled]="true" class="p-button-danger"></button>
        </ng-template>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple id="exportar" label="Exportar" icon="pi pi-upload" title="Exportar Excel" class="p-button-success" (click)="exportarExcel()"></button>
      </ng-template>
    </p-toolbar>
    <!--Inicio Tabla-->
    <p-table
      id="tabla"
      #dt
      [value]="arrayUsuarios"
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      [(first)]="first"
      [rowsPerPageOptions]="[10,20,30,50,70,100]"
      [rowHover]="true"
      [globalFilterFields]="['Id','Nombre','Area']"
      [(selection)]="usuariosInactivar"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" id="buscar" placeholder="Buscar Usuarios..." (input)="aplicarfiltroGlobal($event, 'contains')" pTooltip="Busca usuarios por su Id, Nombre o Área" tooltipPosition="top"/>
          </span>
        </div>
      </ng-template>
      <!--Headers Tabla-->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox id="check"></p-tableHeaderCheckbox></th>
          <th scope="col" pSortableColumn="Id">ID Usuario <p-sortIcon field="Id"></p-sortIcon></th>
          <th scope="col" pSortableColumn="Nombre"> Nombre <p-sortIcon field="Nombre"></p-sortIcon></th>
          <th scope="col" pSortableColumn="Tipo">Tipo <p-sortIcon field="Tipo"></p-sortIcon></th>
          <th scope="col" pSortableColumn="Area">Área <p-sortIcon field="Area"></p-sortIcon></th>
          <th scope="col" pSortableColumn="Rol">Rol <p-sortIcon field="Rol"></p-sortIcon></th>
          <th scope="col" pSortableColumn="Estado">Estado <p-sortIcon field="Estado"></p-sortIcon></th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </ng-template>
      <!--Cuerpo Tabla-->
      <ng-template pTemplate="body" let-arrayUsuarios>
        <tr class="font-size-16 ">
          <td ><p-tableCheckbox [value]="arrayUsuarios"></p-tableCheckbox></td>
          <td>{{arrayUsuarios.Id}}</td>
          <td><b>{{arrayUsuarios.Nombre}}</b></td>
          <td>{{arrayUsuarios.Tipo}}</td>
          <td><b>{{arrayUsuarios.Area}}</b></td>
          <td>{{arrayUsuarios.Rol}}</td>
          <td *ngIf="arrayUsuarios.Estado == 'Activo'; else Inactivo">{{arrayUsuarios.Estado}}</td>
          <ng-template #Inactivo><td><span class="badge bg-danger1">{{arrayUsuarios.Estado}}</span></td></ng-template>
          <td style="text-align: center;"><button id="editar" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="cargarModalEditarUsuario(arrayUsuarios)" style="width: 30px; height: 30px;"></button></td>
          <td style="text-align: center;"><button id="inactivar" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="width: 30px; height: 30px;" (click)="colocarUsuarioInactivo(arrayUsuarios.Id)"></button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between font-size-16">
          En total hay {{cantidadUsuarios}} usuarios.
        </div>
      </ng-template>
    </p-table>

    <hr>

    <p-accordion id="roles">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-users mr-2"></i>
            <span class="vertical-align-middle">Roles</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p-table
          #dt_Roles
          [value]="arrayRoles_Vistas"
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="30"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'rolUsu_Id', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'rolUsu_Nombre', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'rolUsu_Descripcion', 'contains')"></th>
              <th></th>
            </tr>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Editar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{data.rolUsu_Id}}</td>
              <td>{{data.rolUsu_Nombre}}</td>
              <td>{{data.rolUsu_Descripcion}}</td>
              <td id="editarRol" style="text-align: center;"><button (click)="cargarRoles_Formulario(data.rolUsu_Id)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" style="width: 30px; height: 30px;"></button></td>
            </tr>
          </ng-template>
          </p-table>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>

  <p-dialog [(visible)]="dialogUsuarios" [contentStyle]="{'overflow':'visible'}" [style]="{width: '470px'}" header="{{accion}} Usuarios" [modal]="true" >
    <ng-template pTemplate="content">
      <br>
      <form [formGroup]="FormUsuarios">
        <div class="mb-3">
          <div class="row g-4">

            <!-- ID -->
            <div class="col-md-12" *ngIf="accion == 'Crear'; else Editar">
              <span class="p-float-label">
                <input formControlName="usuId" id="usuId" type="number" pInputText required/>
                <label for="usuId">ID Usuario</label>
              </span>
            </div>

            <ng-template #Editar>
              <span class="p-float-label">
                <input formControlName="usuId" id="usuId" type="number" pInputText required readonly/>
                <label for="usuId">ID Usuario</label>
              </span>
            </ng-template>

            <!-- Nombre -->
            <div class="col-md-12">
              <span class="p-float-label">
                <input formControlName="usuNombre" id="usuNombre" type="text" pInputText required/>
                <label for="usuNombre">Nombre Usuario</label>
              </span>
            </div>

            <!-- Tipo de Usuario -->
            <div class="col-md-6">
              <span class="p-float-label">
                <p-dropdown appendTo="body" formControlName="usuTipo" inputId="usuTipo" [options]="arrayTiposUsuarios" optionValue="tpUsu_Id" optionLabel="tpUsu_Nombre" [autoDisplayFirst]="false"></p-dropdown>
                <label for="usuTipo">Tipo Usuario</label>
              </span>
            </div>

              <!-- Area -->
            <div class="col-md-6">
              <span class="p-float-label">
                <p-dropdown appendTo="body" formControlName="usuArea" inputId="usuArea" [options]="arrayAreas" optionValue="area_Id" optionLabel="area_Nombre" [autoDisplayFirst]="false"></p-dropdown>
                <label for="usuArea">Área</label>
              </span>
            </div>

            <!-- Rol -->
            <div class="col-md-6">
              <span class="p-float-label">
                <p-dropdown appendTo="body" formControlName="usuRol" inputId="usuRol" [options]="arrayRoles" optionValue="rolUsu_Id" optionLabel="rolUsu_Nombre" [autoDisplayFirst]="false"></p-dropdown>
                <label for="usuRol">Rol Usuario</label>
              </span>
            </div>

            <!-- Estado -->
            <div class="col-md-6">
              <span class="p-float-label">
                <p-dropdown appendTo="body" formControlName="usuEstado" inputId="usuEstado" [options]="arrayEstados" optionValue="estado_Id" optionLabel="estado_Nombre" [autoDisplayFirst]="false"></p-dropdown>
                <label for="usuEstado">Estado</label>
              </span>
            </div>

            <!-- PassWord -->
            <div class="col-md-12 mb">
              <span class="p-float-label">
                <p-password formControlName="usuPassword" [feedback]="false" id="pass" [toggleMask]="true"></p-password>
                <label for="pass">Contraseña</label>
              </span>
            </div>

            <!--Boton Ingresar al sistema-->
            <div class="mb-3">
              <button pButton pRipple label="{{accion}} Usuario" (click)="accionesModal()" class="p-button-success"></button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="nuevoDialogo" [contentStyle]="{'overflow':'visible'}" [style]="{width: '450px', height: '400px'}" header="Crear {{accionDialogoNuevo}}" [modal]="true" >
    <ng-container *ngIf="accionDialogoNuevo != 'Rol'">
      <br>
      <form [formGroup]="formAreas">
        <div class="mb-3">
          <div class="row g-4">

            <!-- Nombre -->
            <div class="col-md-12">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input formControlName="areaNombre" type="text" list="areas" id="areaNombre" pInputText required (keyup)="cargarAreas_Like()">
                  <datalist id="areas">
                    <option value={{item.area_Nombre}} *ngFor="let item of arrayAreas">{{item.area_Nombre}}</option>
                  </datalist>
                  <label for="areaNombre">Nombre</label>
                </span>
              </div>
            </div>

            <!-- Descripcion -->
            <div class="col-md-12">
              <span class="p-float-label">
                <textarea formControlName="areaDescripcion" [rows]="1"  maxlength="200" pInputTextarea></textarea>
                <label for="textarea">Descripción</label>
              </span>
            </div>
          </div>
        </div>

      </form>

      <!--Boton agregar Rol/Area-->
      <div class="mb-3">
        <button pButton pRipple label="Agregar {{accionDialogoNuevo}}" icon="pi pi-plus" (click)="agregar()" class="p-button-success"></button>
      </div>
    </ng-container>
  </p-dialog>

  <p-dialog [(visible)]="modalRol" [contentStyle]="{'overflow':'visible'}" [style]="{width: '450px', height: '400px'}" header="Crear {{accionDialogoNuevo}}" [modal]="true" >
      <br>
      <form [formGroup]="formRoles">
        <div class="mb-3">
          <div class="row g-4">

            <!-- Nombre -->
            <div class="col-md-12">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input formControlName="rolNombre" type="text" list="roles" id="rolNombre" pInputText required (keyup)="cargarRoles_Like()">
                  <datalist id="roles">
                    <option value={{item.rolUsu_Nombre}} *ngFor="let item of arrayRoles">{{item.rolUsu_Nombre}}</option>
                  </datalist>
                  <label for="rolNombre">Nombre</label>
                </span>
              </div>
            </div>

            <!-- Descripcion -->
            <div class="col-md-12">
              <span class="p-float-label">
                <textarea formControlName="rolDescripcion" [rows]="3"  maxlength="200" pInputTextarea required></textarea>
                <label for="textarea">Descripción</label>
              </span>
            </div>

            <!-- Vistas Aplicación -->
            <div class="col-12">
              <span class="p-float-label">
                <p-treeSelect formControlName="Vistas"
                              class="md:w-20rem w-full"
                              containerStyleClass="w-full"
                              [(ngModel)]="vistasSeleccionadas"
                              [options]="vistasAplicacion"
                              [metaKeySelection]="false"
                              selectionMode="multiple"
                              placeholder="Seleccionar Vistas"
                              id="Vistas"
                              [required]="true"
                              appendTo="body"></p-treeSelect>
                <label for="Vistas">Vistas Aplicación</label>
              </span>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button *ngIf="!editarRol" (click)="crearRoles()" pButton class="p-button-danger" id="agregar" type="button" label="Crear Rol" icon="pi pi-send"></button>
          <button *ngIf="editarRol" (click)="editarRoles()" pButton class="p-button-danger" id="agregar" type="button" label="Editar Rol" icon="pi pi-pencil"></button>
        </div>
      </form>
  </p-dialog>

</p-card>

