<div class="titulo">
  <h1>Plasticaribe S.A.S</h1>
</div>
<!--Contenedor Principal-->
<div class="container-fluid">

  <!--Contenedor Login-->
  <div class="contenedorRegistro">
     <!--Titulo-->
    <div class="mb-3">
      <h5 class="tituloRojo">Regístrate</h5>
    </div>
    <!--Formulario-->
    <form [formGroup]="form" (ngSubmit)="mostrarFormulario()">
    <div class="mb-3">
      <input formControlName="usuId" class="form-control form-control-sm" type="number" placeholder="Identificación Usuario" aria-label=".form-control-sm example">
    </div>
    <div class="mb-3">
      <input formControlName="usuNombre" class="form-control form-control-sm" type="text" placeholder="Nombre y apellido" aria-label=".form-control-sm example">
    </div>

      <div class="mb-3">
      <select formControlName="usuTipo" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona tipo</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <select formControlName="usuArea" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona área</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <select formControlName="usuRol" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona rol</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <input formControlName="usuCorreo" class="form-control form-control-sm" type="email" placeholder="Correo" aria-label=".form-control-sm example">
    </div>
    <div class="mb-3">
      <input formControlName="usuContrasena" class="form-control form-control-sm" type="password" placeholder="Contraseña" aria-label=".form-control-sm example">
    </div>
    <div class="mb-3">
      <select formControlName="usuEps" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona EPS</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <select formControlName="usuFondoP" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona Fondo Pensional</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <select formControlName="usuCajaComp" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Selecciona caja de compensación</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <!--Boton Ingresar al sistema-->
    <div class="mb-3">
      <button class="btn btn-danger btn-danger-sm" ><a class="a_redirecion_principal" href="/principal">¡Listo!</a></button>
    </div>
    <div class="mb-3">
      <p class="textoPequeno">Ya tienes una cuenta, <a href=" ">accede aquí</a></p>
    </div>
  </form>
  <!--Fin Formulario-->
  </div>

  <!--Contenedor Registro-->
</div>
<!--Fin Contenedor Principal-->
