
.contenedorRegistro {
  width: 400px;
  padding: 2%;
  margin: 5% auto;
  border-radius: 1%;
  border-color: rgb(240, 240, 240);
  border-style: solid;

}

.tituloRojo {
  color: rgb(158, 1, 1);
  text-align: center;
  margin: 5%;
}

.textoPequeno{
  text-align: center;
  font-size: small;
}


a {
  text-decoration: none;
  color: rgb(158, 1, 1);
}


.container-fluid{
  display: flex;
  align-items: center;

}

.mb-3{
  text-align: center;
  width: 100%;
}


.a_redirecion_principal{
  color: #fff;
  width: 100%;
}

.btn{
  border: #fff;
  width: 60%;
  margin-top: 5%;
}

.btn:hover{
  background-color: rgb(150, 10, 10);
}

