.d-grid {
  padding-bottom: 5%;
}

span{
  color: #d83542;
}


.bg-danger1, .bg-success1, .bg-warning1 {
  color: white;
  font-size: calc(var(--font-size) * 15px);
}

.bg-danger1 {
  background-color: palevioletred;
}

.bg-success1 {
  background-color: palegreen;
}

.bg-warning1 {
  background-color: gold;
}
