
<app-menuLateral></app-menuLateral>

<!---->
<div class="d-flex justify-content-center overlay" *ngIf="!cargando">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Mantenimiento de Camiones</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid bajarPagina">
    <div class="container">

      <div class="mb-4">
        <h4 class="tituloRojo">Consultar Pedido</h4>
      </div>
      <!-- Formulario -->
      <form [formGroup]="formConsultarPedidoMtto">

        <div class="mb-3">
          <div class="row g-3">

            <!-- Pedido -->
            <div class="form-floating col-md-2">
              <input formControlName="idPedido" type="number" class="form-control form-control-sm" id="floatingInput" autocomplete="off" (keyup.enter)="consultarPedido()">
              <label for="floatingInput">Nro. Pedido</label>
            </div>
             <!---->
             <!--<div class="form-floating col-md">
              <select formControlName="Proceso" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>

              </select>
              <label for="floatingSelect">Proceso</label>
            </div>-->

             <!--  -->
             <!--<div class="form-floating col-md">
              <input formControlName="fechaDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha inicial</label>
            </div>-->

            <!--  -->
            <!--<div class="form-floating col-md">
              <input formControlName="fechaFinalDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha Final</label>
            </div>-->

            <!--  -->
            <!--<div class="form-floating col-md-5">
              <input formControlName="Observacion" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off">
              <label for="floatingInput">Observación</label>
            </div>-->
          </div>
        </div>

        <!-- Botones -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class=" btn btn-danger btn-danger-sm" type="button" (click)="consultarPedido()">Consultar Pedido</button>
              <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampoPedido()">Limpiar Campos</button>
          </div>

        <!--<div class="mb-0">
          <hr class="Linea">
        </div>-->
      </form>

      <!-- Tabla vista inicial -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Tabla de Pedidos</h4>
      </div>

        <div class="mb-3" *ngIf="cargando">
          <p-table
          #dt
          [value]="arrayPedido"
          [rows]="10"
          dataKey="pedidoId"
          [paginator]="true"
          styleClass="p-datatable-gridlines p-datatable-sm"
          [showCurrentPageReport]="true"
          [rowHover]="true"
          [rowsPerPageOptions]="[10, 20, 30, 50, 100, 120, 150]"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">

              <ng-template pTemplate="header">
                  <tr>
                      <th scope="col">ID Pedido</th>
                      <th scope="col">Fecha Pedido</th>
                      <th scope="col">Hora Pedido</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Observación</th>
                      <th scope="col">Ver</th>
                      <!--<td style="text-align: center;"><button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success mr-2" (click)="cargarModalDetallesPedido(arrayPedido)" style="width: 30px; height: 30px;"></button></td>-->
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-arrayPedido>
                  <tr>
                      <td>{{arrayPedido.pedidoId}}</td>
                      <td>{{arrayPedido.fecha}}</td>
                      <td>{{arrayPedido.hora}}</td>
                      <td>{{arrayPedido.usuario}}</td>
                      <td>{{arrayPedido.estado}}</td>
                      <td>{{arrayPedido.observacion}}</td>
                      <td style="text-align: center;"><button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success mr-2" (click)="consultarPedidoEnMtto(arrayPedido)" style="width: 30px; height: 30px;"></button></td>
                  </tr>
              </ng-template>
          </p-table>
        </div>

        <!-- INICIO MODAL PEDIDO-->
        <p-dialog header="Detalles del Pedido Nro. {{numeroPedido}}" [(visible)]="modal" [style]="{width: '70%'}" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <form [formGroup]="formPedidoCompletado">
              <div class="mb-3">
                <div class="row g-3">

                  <!-- Fecha Pedido -->
                  <div class="form-floating col-md">
                    <input formControlName="pedFecha" type="date" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                    <label for="floatingInput">Fecha Pedido</label>
                  </div>

                  <!-- Hora Pedido -->
                  <div class="form-floating col-md">
                    <input formControlName="pedHora" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                    <label for="floatingInput">Hora Pedido</label>
                  </div>

                  <!--Estado-->
                  <div class="form-floating col-md">
                    <input formControlName="pedEstado" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                    <label for="floatingInput">Estado</label>
                  </div>

                  <!-- Usuario -->
                  <div class="form-floating col-md-3">
                    <input formControlName="pedUsuario" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                    <label for="floatingInput">Usuario</label>
                  </div>

                  <!--Observación-->
                  <div class="form-floating col-md-4">
                    <input formControlName="pedObservacion" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                    <label for="floatingInput">Observación</label>
                  </div>
                </div>
              </div>
            </form>
            <!--Linea-->
            <div class="mb-3">
              <hr class="Linea">
            </div>

            <!-- Tabla -->
              <div class="mb-3">
                <p-table
                #dt2
                [value]="arrayDetallePedido"
                [rows]="10"
                dataKey="pedidoId"
                [paginator]="true"
                styleClass="p-datatable-gridlines p-datatable-sm"
                [showCurrentPageReport]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10, 20, 30, 50, 100, 120, 150]"
                responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col">Nro. Detalle</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Serial</th>
                            <th scope="col">Tipo Mtto.</th>
                            <th scope="col">Fecha Falla</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-arrayDetallePedido>
                        <tr>
                            <td>{{arrayDetallePedido.codigo}}</td>
                            <td>{{arrayDetallePedido.activo}}</td>
                            <td>{{arrayDetallePedido.serial}}</td>
                            <td>{{arrayDetallePedido.tipoMtto}}</td>
                            <td>{{arrayDetallePedido.fechaFalla}}</td>
                        </tr>
                    </ng-template>
                </p-table>
              </div>
              <!--Botón-->
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class=" btn btn-danger btn-danger-sm" type="button" (click)="advertenciaAceptarPedido()">Aceptar Pedido</button>
              </div>
          </ng-template>
        </p-dialog>
        <!-- FIN MODAL -->

        <!-- Inicio Modal Mantenimiento ya aceptado -->
        <p-dialog header="Detalles del Pedido Nro. {{numeroPedido}}" [(visible)]="modalEditarMtto" [style]="{width: '70%'}" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <p>Hola</p>
          </ng-template>
        </p-dialog>
    </div>
  </div>
</div>
