span{
  color: #db4149;
}

.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-calendar ::ng-deep span button {
  background-color: var(--rojo);
  border: 0;
  transition: all 1s;
}

p-calendar ::ng-deep span .p-datepicker-trigger:hover {
  background: var(--rojoHover);
}

p-calendar ::ng-deep .p-datepicker-header button {
  background: #fff0;
}

p-calendar ::ng-deep .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar ::ng-deep span button span {
  display: block;
}

.bg-danger1, .bg-success1, .bg-warning1, .bg-secondary1, .bg-primary1, .bg-info1 {
  color: white;
  font-size: calc(var(--font-size) * 15px);
}

.bg-danger1 {
  background-color: palevioletred;
}

.bg-success1 {
  background-color: palegreen;
  color: black;
}

.bg-warning1 {
  background-color: gold;
  color: black;
}

.bg-secondary1 {
  background-color: gray;
}

.bg-primary1 {
  background-color: rgb(164, 206, 255);
  color: black;
}

.bg-info1 {
  background-color: rgb(228, 228, 228);
  color: black;
}
