<app-menuLateral></app-menuLateral>

<!---->
<div class="d-flex justify-content-center overlay" *ngIf="!cargando">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Mantenimiento de Camiones</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid bajarPagina">
    <div class="container">

      <div class="mb-4">
        <h4 class="tituloRojo">Consultar Pedidos/Mantenimientos</h4>
      </div>
      <!-- Formulario -->
      <form [formGroup]="formConsultarPedidoMtto">
        <div class="mb-3">
          <div class="row g-3">

            <!-- Pedido -->
            <div class="form-floating col-md">
              <input formControlName="idPedido" type="number" class="form-control form-control-sm" id="floatingInput" autocomplete="off">
              <label for="floatingInput">Nro. Pedido</label>
            </div>

            <!-- Id Mantenimiento -->
            <div class="form-floating col-md">
              <input formControlName="idMtto" type="number" class="form-control form-control-sm" id="floatingInput" autocomplete="off">
              <label for="floatingInput">Nro. Mantenimiento</label>
            </div>

             <!--Tipo de movimiento -->
             <div class="form-floating col-md">
              <select formControlName="tipoMov" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
                <option [ngValue]="1">Pedido de Mantenimiento</option>
                <option [ngValue]="2">Mantenimiento</option>
              </select>
              <label for="floatingSelect">Tipo Movimiento</label>
            </div>

             <!-- Fecha Inicial -->
             <div class="form-floating col-md">
              <input formControlName="fechaInicio" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha inicial</label>
            </div>

            <!-- Fecha Final -->
            <div class="form-floating col-md">
              <input formControlName="fechaFin" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha Final</label>
            </div>

          </div>
        </div>

        <!-- Botones -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="consultar()"><i class="pi pi-search"></i> Consultar</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampoPedido()"><i class="pi pi-eraser"></i> Limpiar Campos</button>
        </div>
      </form>

      <!-- Tabla vista inicial -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Tabla de Pedidos/Mantenimientos</h4>
      </div>

      <div class="mb-3" *ngIf="cargando">
        <p-table
          #dt
          [value]="arrayPedido"
          [rows]="10"
          dataKey="pedidoId"
          [paginator]="true"
          styleClass="p-datatable-gridlines p-datatable-sm"
          [showCurrentPageReport]="true"
          [rowHover]="true"
          [rowsPerPageOptions]="[10, 20, 30, 50, 100, 120, 150]"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Consecutivo</th>
              <th scope="col">Movimiento</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Usuario</th>
              <th scope="col">Estado</th>
              <th scope="col">Observación</th>
              <th scope="col">Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arrayPedido>
            <tr>
              <td>{{arrayPedido.pedidoId}}</td>
              <td>{{arrayPedido.tipoMov}}</td>
              <td>{{arrayPedido.fecha}}</td>
              <td>{{arrayPedido.hora}}</td>
              <td>{{arrayPedido.usuario}}</td>
              <td>{{arrayPedido.estado}}</td>
              <td>{{arrayPedido.observacion}}</td>
              <td style="text-align: center;"><button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success mr-2" (click)="consultarPedidoEnMtto(arrayPedido)" style="width: 30px; height: 30px;"></button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- INICIO MODAL PEDIDO-->
      <p-dialog *ngIf="cargando" header="{{PedMtto}} Nro. {{numeroPedido}}" [(visible)]="modal" [style]="{width: '70%'}" [modal]="true" styleClass="p-fluid">
        <ng-container *ngIf="pedido then Pedido else Mantenimiento;" ></ng-container>
        <!--Modal Pedido-->
        <ng-template #Pedido>
          <form [formGroup]="formPedidoCompletado">
            <div class="mb-3">
              <div class="row g-3">

                <!-- Fecha Pedido -->
                <div class="form-floating col-md">
                  <input formControlName="pedFecha" type="date" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Fecha Pedido</label>
                </div>

                <!-- Hora Pedido -->
                <div class="form-floating col-md">
                  <input formControlName="pedHora" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Hora Pedido</label>
                </div>

                <!--Estado-->
                <div class="form-floating col-md">
                  <input formControlName="pedEstado" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Estado</label>
                </div>

                <!-- Usuario -->
                <div class="form-floating col-md-3">
                  <input formControlName="pedUsuario" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Usuario</label>
                </div>

                <!-- Proveedor -->
                <div class="form-floating col-md-4">
                  <select formControlName="proveedor" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
                    <option [ngValue]="item.prov_Id" *ngFor="let item of arrayProveedores">{{item.prov_Nombre}}</option>
                  </select>
                  <label for="floatingSelect">Proveedor</label>
                </div>

              </div>
            </div>

            <div class="mb-3">
              <div class="row g-3">
                <!--Observación-->
                <div class="form-floating col-md">
                  <input formControlName="pedObservacion" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Observación</label>
                </div>
              </div>
            </div>
          </form>
          <!--Linea-->
          <div class="mb-3">
            <hr class="Linea">
          </div>

          <div class="mb-4">
            <h5>Detalles del Pedido</h5>
          </div>

          <!-- Tabla -->
          <div class="mb-3">
            <p-table
              #dt2
              [value]="arrayDetallePedido"
              [rows]="10"
              dataKey="pedidoId"
              [paginator]="true"
              styleClass="p-datatable-gridlines p-datatable-sm"
              [showCurrentPageReport]="true"
              [rowHover]="true"
              [rowsPerPageOptions]="[5, 10, 15, 20]"
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Nro. Detalle</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Serial</th>
                  <th scope="col">Tipo Mtto.</th>
                  <th scope="col">Fecha Falla</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-arrayDetallePedido>
                <tr>
                  <td>{{arrayDetallePedido.codigo}}</td>
                  <td>{{arrayDetallePedido.activo}}</td>
                  <td>{{arrayDetallePedido.serial}}</td>
                  <td>{{arrayDetallePedido.tipoMtto}}</td>
                  <td>{{arrayDetallePedido.fechaFalla}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!--Botón-->
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class=" btn btn-danger btn-danger-sm" type="button" (click)="advertenciaAceptarPedido()"><i class="pi pi-check"></i> Aceptar Pedido</button>
          </div>
        </ng-template>

        <!--Modal Mantenimiento -->
        <ng-template #Mantenimiento>
          <p-toast position="center"></p-toast>
          <form [formGroup]="formMantenimiento">
            <!--Fila 1-->
            <div class="mb-3">
              <div class="row g-3">
                <!-- ID Mtto -->
                <div class="form-floating col-md">
                  <input formControlName="mttoId" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Nro. Mantenimiento</label>
                </div>

                <!-- Proveedor -->
                  <div class="form-floating col-md-3">
                  <select formControlName="mttoProveedor" class="form-select form-select-sm" id="floatingSelect" (change)="getProveedor_Observacion()" aria-label="Floating label select example" title="Actualizar Proveedor" required>
                    <option [ngValue]="item.prov_Id" *ngFor="let item of arrayProveedores">{{item.prov_Nombre}}</option>
                  </select>
                  <label for="floatingSelect">Proveedor</label>
                </div>

                <!-- Fecha Inicio -->
                <div class="form-floating col-md">
                  <input formControlName="mttoFecha" type="date" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Fecha Inicio</label>
                </div>

                <!--Estado-->
                <div class="form-floating col-md">
                  <input formControlName="mttoEstado" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Estado</label>
                </div>

                <!-- Usuario -->
                <div class="form-floating col-md-3">
                  <input formControlName="mttoUsuario" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" readonly onmousedown="return false">
                  <label for="floatingInput">Usuario</label>
                </div>

                <!--Fila 2-->
                <div class="mb-3">
                  <div class="row g-3">
                    <!--Observación-->
                    <div class="form-floating col-md">
                      <textarea formControlName="mttoObservacion" style="height: 70px" type="text" (keyup.enter)="getProveedor_Observacion()" class="form-control form-control-sm" id="floatingInput" autocomplete="off" title="Debe presionar ENTER luego de realizar una observación"></textarea>
                      <label for="floatingInput">Observación</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Actualizar Mantenimiento -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-0">
            <button class=" btn btn-danger btn-danger-sm" type="button" (click)="getProveedor_Observacion()"><i class="pi pi-sync"></i> Actualizar Encabezado</button>
          </div>

          <!--Titulo-->
          <div class="mb-4">
            <h5>Detalles del Mantenimiento</h5>
          </div>

          <!-- Tabla -->
          <div class="mb-3">
            <p-table
              #dt2
              [value]="arrayDetalleMtto"
              [rows]="10"
              dataKey="codigo"
              [paginator]="true"
              styleClass="p-datatable-gridlines p-datatable-sm"
              [showCurrentPageReport]="true"
              [rowHover]="true"
              [rowsPerPageOptions]="[5, 10, 15, 20]"
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Nro. Detalle</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Serial</th>
                  <th scope="col">Tipo Mtto.</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Precio</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-arrayDetalleMtto  let-editing="editing" >
                <tr>
                  <td>{{arrayDetalleMtto.codigo}}</td>
                  <td>{{arrayDetalleMtto.activo}}</td>
                  <td>{{arrayDetalleMtto.serial}}</td>
                  <td>{{arrayDetalleMtto.tipoMtto}}</td>
                  <!--Inicio Campo Estado-->
                  <ng-container *ngIf="arrayDetalleMtto.estado == 'Terminada'">
                    <td pEditableColumn title="Haga clic para desplegar las opciones y actualizar el estado">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="arrayEstados" appendTo="body" [disabled]="true" [(ngModel)]="arrayDetalleMtto.estado" [style]="{'width':'100%'}" (onChange)="obtenerCodigoMantenimiento(arrayDetalleMtto)"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="badge bg-success1">{{arrayDetalleMtto.estado}}</span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="arrayDetalleMtto.estado == 'Pendiente'">
                    <td pEditableColumn title="Haga clic para desplegar las opciones y actualizar el estado">
                      <p-cellEditor>
                        <ng-template pTemplate="input" >
                          <p-dropdown [options]="arrayEstados" appendTo="body" [(ngModel)]="arrayDetalleMtto.estado" [style]="{'width':'100%'}" (onChange)="obtenerCodigoMantenimiento(arrayDetalleMtto)"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="badge bg-danger1">{{arrayDetalleMtto.estado}}</span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="arrayDetalleMtto.estado == 'En proceso'">
                    <td pEditableColumn title="Haga clic para desplegar las opciones y actualizar el estado">
                      <p-cellEditor>
                        <ng-template pTemplate="input" >
                            <p-dropdown [options]="arrayEstados" appendTo="body" [(ngModel)]="arrayDetalleMtto.estado" [style]="{'width':'100%'}" (onChange)="obtenerCodigoMantenimiento(arrayDetalleMtto)"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <span class="badge bg-warning1">{{arrayDetalleMtto.estado}}</span>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-container>
                  <!--Fin Campo Estado-->

                  <!--Inicio Campo Descripcion-->
                  <ng-container *ngIf="arrayDetalleMtto.estado == 'Terminada' then Inhabilitado; else habilitado"></ng-container>
                  <ng-template #Inhabilitado>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [disabled]="true" [(ngModel)]="arrayDetalleMtto.descripcionMtto" (change)="obtenerCodigoMantenimiento(arrayDetalleMtto)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{arrayDetalleMtto.descripcionMtto}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-template>

                  <ng-template #habilitado>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="arrayDetalleMtto.descripcionMtto" (change)="obtenerCodigoMantenimiento(arrayDetalleMtto)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{arrayDetalleMtto.descripcionMtto}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-template>
                  <!--Fin Campo Descripcion-->

                  <!--Inicio Campo Precio -->
                  <ng-container *ngIf="arrayDetalleMtto.estado == 'Terminada' then Deshabilitado; else Habilitado"></ng-container>
                  <ng-template #Deshabilitado>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [disabled]="true" [(ngModel)]="arrayDetalleMtto.precioMtto" (change)="obtenerCodigoMantenimiento(arrayDetalleMtto)" min="0">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{arrayDetalleMtto.precioMtto | currency}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-template>

                  <ng-template #Habilitado>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="arrayDetalleMtto.precioMtto" (change)="obtenerCodigoMantenimiento(arrayDetalleMtto)" min="0">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{arrayDetalleMtto.precioMtto | currency}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </ng-template>
                  <!--Fin Campo Precio -->
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="6" style="text-align: end">Precio Total Mantenimiento</td>
                  <td>{{precioTotalMtto | currency}} </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </p-dialog>
      <!-- FIN MODAL -->

    </div>
  </div>
</div>
