.d-grid {
  padding-bottom: 5%;
}

span{
  color: #d83542;
}

.bg-danger1 {
  color: white;
  background-color: palevioletred;
  font-size: 15px;
}

.bg-success1 {
  color: black;
  background-color: palegreen;
  font-size: 15px;
}

.bg-warning1 {
  color: black;
  background-color: gold;
  font-size: 15px;
}
