<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo font-size-32">Consolidado de Facturación</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario">
  <div class="mb-4">
    <h3 class="tituloRojo font-size-24"><i class="pi pi-filter"></i> Filtros de búsqueda</h3>
  </div>
  <br>

  <!-- Formulario para consultar filtros -->
  <form [formGroup]="formFiltros">
    <div class="mb-3">
      <div class="row g-4">

        <!-- Vendedores -->
        <div class="col-md-3">
          <span class="p-float-label">
            <input formControlName="vendedor" id="Vendedor" list="vendedores" class="form-control form-control-sm" (keyup)="cargarVendedores()" (change)="seleccionarVendedores()" type="text" pInputText autocomplete="off"/>
            <datalist id="vendedores">
              <option value={{item.idvende}} *ngFor="let item of arrayVendedores">{{item.nombvende}}</option>
            </datalist>
            <label for="Vendedor">Vendedor</label>
          </span>
        </div>

        <!-- Clientes -->
        <div class="col-md-3">
          <span class="p-float-label">
            <input formControlName="cliente" id="Cliente" list="clientes" class="form-control form-control-sm" (keyup)="cargarClientes()" (change)="seleccionarClientes()" type="text" pInputText/>
            <datalist id="clientes">
              <option value={{item.idcliente}} *ngFor="let item of arrayClientes">{{item.razoncial}}</option>
            </datalist>
            <label for="Cliente">Cliente</label>
          </span>
        </div>

        <!-- Items -->
        <div class="col-md-3">
          <span class="p-float-label">
            <input formControlName="item" id="Cliente" list="items" class="form-control form-control-sm" (keyup)="cargarProductos()" (change)="seleccionarProductos()" type="text" pInputText/>
            <datalist id="items">
              <option value={{valor.codigo}} *ngFor="let valor of arrayItems">{{valor.nombre}}</option>
            </datalist>
            <label for="Item">Item</label>
          </span>
        </div>

        <!--Año 1-->
        <div class="col-md">
          <span class="p-float-label">
            <p-dropdown formControlName="anio1" inputId="anio1" [options]="arrayAnios"  [autoDisplayFirst]="false" [required]="true"></p-dropdown>
            <label for="anio1">Año Inicial</label>
          </span>
        </div>

        <!--Año 2-->
        <div class="col-md">
          <span class="p-float-label">
            <p-dropdown formControlName="anio2" inputId="anio2" [options]="arrayAnios"  [autoDisplayFirst]="false" [required]="true"></p-dropdown>
            <label for="anio2">Año Final</label>
          </span>
        </div>

      </div>
    </div>

    <!--Botones-->
    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Consultar" icon="pi pi-search" (click)="consultarConsolidado()"> </button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarTodo()"> </button>
        <button pButton class="p-button-success" type="button" label="Exportar Excel" icon="pi pi-file-excel" (click)="exportarExcel()"> </button>
      </div>
    </div>
  </form>

  <!--Linea-->
  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h2 class="tituloRojo"><i class="pi pi-list"></i> Registros consultados</h2>
  </div>

  <div class="card" *ngIf="!cargando">
    <p-table #dt
             [value]="arrayConsolidado"
             sortField="Ano"
             sortMode="single"
             [scrollable]="true"
             scrollHeight="900px"
             rowGroupMode="subheader"
             groupRowsBy="Ano"
             [rowHover]="true"
             styleClass="p-datatable-sm"
             columnResizeMode="expand"
             responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="font-size-16">
          <th></th>
          <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Mes', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Vendedor', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cliente', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Id_Producto', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Producto', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Devolucion', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Precio', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'SubTotal', 'contains')"></th>
        </tr>
        <tr>
          <th>#</th>
          <th>Mes</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Id Producto</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Devolución</th>
          <th>Presentación</th>
          <th>Precio</th>
          <th>SubTotal</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-consolidado>
        <tr pRowGroupHeader style="background-color: #83D3FF;">
          <td colspan="11">
            <span class="font-bold" style="color: black;"><b>{{consolidado.Ano}}</b></span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-consolidado let-rowIndex="rowIndex">
        <tr class="font-size-15">
          <td>{{rowIndex + 1}}</td>
          <td><b>{{consolidado.Mes}}</b></td>
          <td>{{consolidado.Vendedor}}</td>
          <td>{{consolidado.Cliente}}</td>
          <td>{{consolidado.Id_Producto}}</td>
          <td>{{consolidado.Producto}}</td>
          <td><b>{{consolidado.Cantidad | number}}</b></td>
          <td><b>{{consolidado.Devolucion | number}}</b></td>
          <td>{{consolidado.Presentacion}}</td>
          <td>{{consolidado.Precio | number}}</td>
          <td><b>{{consolidado.SubTotal | number}}</b></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-consolidado>
        <tr style="background-color: palegreen;">
          <td colspan="10" class="text-left font-bold pr-6"><b>{{'Total Año: ' + consolidado.Ano}}</b></td>
          <td *ngIf="totalAnio; else Filtro" class="text-left font-bold pr-6"><b>{{calcularTotalVendidoAno(consolidado.Ano) | currency : 'COP $'}}</b></td>
          <ng-template #Filtro>
            <td class="text-left font-bold pr-6"><b>{{totalConsulta | currency : 'COP $'}}</b></td>
          </ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="10">Totales</td>
          <td>{{valorTotalConsulta | currency : 'COP $'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<br>
