<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo font-size-32">Consolidado de Facturación</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="formulario">
    <div class="mb-4">
      <h3 class="tituloRojo font-size-24">Filtros de búsqueda</h3>
    </div>
    <!-- Formulario para consultar filtros -->
    <form [formGroup]="formFiltros">
      <!-- Primera Fila -->
      <div class="mb-3">
        <div class="row g-3">

          <!-- Vendedores -->
          <div class="form-floating col-md">
            <input formControlName="vendedor" class="form-control form-control-sm" list="vendedores" id="campoVendedor" (keyup)="cargarVendedores()" autocomplete="off" (change)="seleccionarVendedores()" required>
            <datalist id="vendedores">
              <option value={{item.idvende}} *ngFor="let item of arrayVendedores">{{item.nombvende}}</option>
            </datalist>
            <label for="floatingInput">Vendedor</label>
          </div>

          <!-- Clientes -->
          <div class="form-floating col-md">
            <input formControlName="cliente" class="form-control form-control-sm" list="clientes" id="floatingInput" (keyup)="cargarClientes()" (change)="seleccionarClientes()" autocomplete="off" required>
            <datalist id="clientes">
              <option value={{item.idcliente}} *ngFor="let item of arrayClientes">{{item.razoncial}}</option>
            </datalist>
            <label for="floatingInput">Cliente</label>
          </div>

          <!-- Items -->
          <div class="form-floating col-md">
            <input formControlName="item" class="form-control form-control-sm" list="items" id="floatingInput" (keyup)="cargarProductos()" (change)="seleccionarProductos()" required autocomplete="off">
            <datalist id="items">
              <option value={{valor.codigo}} *ngFor="let valor of arrayItems">{{valor.nombre}}</option>
            </datalist>
            <label for="floatingInput">Item</label>
          </div>

          <!--Año 1-->
          <div class="form-floating col-md-1">
            <select formControlName="anio1" id="floatingSelect" type="text" class="form-select form-select-sm">
              <option [ngValue]="anios" *ngFor="let anios of arrayAnios">{{anios}}</option>
            </select>
            <label for="floatingSelect">Año Inicial</label>
          </div>

          <!--Año 2-->
          <div class="form-floating col-md-1">
            <select formControlName="anio2" id="floatingSelect" type="text" class="form-select form-select-sm">
              <option [ngValue]="anios" *ngFor="let anios of arrayAnios">{{anios}}</option>
            </select>
            <label for="floatingSelect">Año Final</label>
          </div>
      </div>
      </div>

      <!--Botones-->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-danger btn-danger-sm" type="submit" (click)="consultarConsolidado()"><i class="pi pi-search"></i> Consultar</button>
          <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodo()"><i class="pi pi-eraser"></i> Limpiar campos</button>
          <button class="btn btn-success btn-success-sm" type="button" (click)="exportarExcel()"><i class="pi pi-file-excel"></i> Exportar a Excel</button>
        </div>
      </div>
    </form>

    <!--Linea-->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card" *ngIf="!cargando">
    <p-table #dt
             [value]="arrayConsolidado"
             sortField="Ano"
             sortMode="single"
             [scrollable]="true"
             scrollHeight="900px"
             rowGroupMode="subheader"
             groupRowsBy="Ano"
             [rowHover]="true"
             styleClass="p-datatable-sm"
             columnResizeMode="expand"
             responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="font-size-16">
          <th></th>
          <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Mes', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Vendedor', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cliente', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Id_Producto', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Producto', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cantidad', 'contains')"></th>
          <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Presentacion', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Precio', 'contains')"></th>
          <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'SubTotal', 'contains')"></th>
        </tr>
        <tr>
          <th>#</th>
          <th>Mes</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Id Producto</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Presentación</th>
          <th>Precio</th>
          <th>SubTotal</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-consolidado>
        <tr pRowGroupHeader style="background-color: #83D3FF;">
          <td colspan="9">
            <span class="font-bold" style="color: black;"><b>{{consolidado.Ano}}</b></span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-consolidado let-rowIndex="rowIndex">
        <tr class="font-size-15">
          <td>{{rowIndex + 1}}</td>
          <td><b>{{consolidado.Mes}}</b></td>
          <td>{{consolidado.Vendedor}}</td>
          <td>{{consolidado.Cliente}}</td>
          <td>{{consolidado.Id_Producto}}</td>
          <td>{{consolidado.Producto}}</td>
          <td><b>{{consolidado.Cantidad | number}}</b></td>
          <td>{{consolidado.Presentacion}}</td>
          <td>{{consolidado.Precio | number}}</td>
          <td><b>{{consolidado.SubTotal | number}}</b></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-consolidado>
        <tr style="background-color: palegreen;">
          <td colspan="8" class="text-left font-bold pr-6"><b>{{'Total Año: ' + consolidado.Ano}}</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="totalAnio; else Filtro" class="text-left font-bold pr-6"><b>{{calcularTotalVendidoAno(consolidado.Ano) | currency : 'COP $'}}</b></td>
          <ng-template #Filtro>
            <td class="text-left font-bold pr-6"><b>{{totalConsulta | currency : 'COP $'}}</b></td>
          </ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td>Totales</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{valorTotalConsulta | currency : 'COP $'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<br>
