<div class="table-responsive">
  <table class="table table-bordered table-hover mt-2">
    <thead class="TitulosTabla">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Materia Prima</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Und. Medida</th>
        <th scope="col">Fecha</th>
        <th scope="col">Operario</th>
      </tr>
      </thead>
    <tbody>
      <tr *ngFor="let item of arrayRegistros; let i=index">
        <td>{{item.id}}</td>
        <td>{{item.nombreMp}}</td>
        <td>{{item.cantidad | number}}</td>
        <td>{{item.undMed}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.operario}}</td>
      </tr>
    </tbody>
  </table>
  <div class="mb-2">
  </div>
</div>
