

<div class="container-fluid">

  <div class="contenedor_titulo mb-3">
    <h2 class="tituloRojo">Caja de Compensaciones</h2>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="formulario">
    <div class="mb-4">
      <h4 class="tituloRojo">Registrar/Consultar Caja de Compensaciones </h4>
    </div>

    <!--Inicio formulario-->
    <form [formGroup]="formularioCajacompensacion" (ngSubmit)="validarCamposVacios()">
      <div class="row g-4">
        <div class="col-md">
            <input formControlName="Codigo" type="number" minlength="6" maxlength="10" class="form-control form-control-sm" id="validationDefault01"  placeholder="Código" name="Codigo">
        </div>
        <div class="col-md">
          <input formControlName="Identificacion" class="cajaComId" type="number" class="form-control form-control-sm" id="" aria-describedby="" placeholder="Identificador">
        </div>
        <div class="col-md">
            <input formControlName="Nombre"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre" name="Nombre" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName= "Direccion"  type="text" class="form-control form-control-sm" id=""  placeholder="Direccion" name="Direccion" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName="Email"  type="text" class="form-control form-control-sm" id=""  placeholder="Email" name="Email" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName="Telefono"  type="text" class="form-control form-control-sm" id=""  placeholder="Telefono" name="Telefono" required maxlength="50">
        </div>
        <div class="col-md">
          <input formControlName="CuentaBancaria"  type="number" class="form-control form-control-sm" id=""  placeholder="Cuenta Bancaria" name="cuentaBancaria" required maxlength="50">
        </div>
        <div class="mb-3">
          <select formControlName="cajComCiudad" id="ciudad" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option value="" disabled selected>Cuidad</option>
            <option value="1">Barranquilla</option>
            <option value="2">Medellin</option>
            <option value="3">Bogota</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <br>
      </div>
      <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
        <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" expand="full" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  <!--Fin formulario-->
  </div>
</div>

