<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>
 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Movimientos de Solicitudes de Mat. Prima</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <!--Ver tutorial-->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <!--Solicitudes-->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-file font-size-16"></i> <b> Solicitudes</b></h4>
  </div>

  <div class="mb-3">
    <div class="row g-3" id="fila">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 justify-content-center">
        <div class="mb-3">
          <p-chip label="Apple" icon="pi pi-hourglass"  label="N° Pendientes {{cantPendientes}}"></p-chip>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 justify-content-center">
        <div class="mb-3">
          <p-chip label="Apple" icon="pi pi-check"label="N° Aceptadas {{cantAceptadas}}"></p-chip>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 justify-content-center">
        <div class="mb-3">
          <p-chip label="Apple" icon="pi pi-check-square" label="N° Finalizadas {{cantFinalizadas}}"></p-chip>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 justify-content-center">
        <div class="mb-3">
          <p-chip label="Apple" icon="pi pi-ban" label="N° Canceladas {{cantCanceladas}}"></p-chip>
        </div>
      </div>
    </div>
  </div>

  <!-- Línea -->
  <div class="mb-4">
    <hr class="Linea">
  </div>

  <div class="mb-5">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-filter"></i> <b> Filtros de búsqueda</b></h4>
  </div>

   <!-- Formulario para consultar filtros -->
   <form [formGroup]="formFiltros">
    <div class="mb-4" id="">
      <div class="row g-3 justify-content-md-center">

        <!-- Documento -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="documento" id="documento" type="text" pInputText required/>
            <label for="documento">Id Solicitud</label>
          </span>
        </div>

        <!-- Fecha Inicial -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-calendar formControlName="fechaDoc" inputId="FechaInicial" [showIcon]="true"></p-calendar>
            <label for="FechaInicial">Fecha Inicial</label>
          </span>
        </div>

        <!-- Fecha Final -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-calendar formControlName="fechaFinalDoc" inputId="FechaFinal" [showIcon]="true"></p-calendar>
            <label for="FechaFinal">Fecha Final</label>
          </span>
        </div>

        <!-- Estados -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <span class="p-float-label">
            <p-dropdown formControlName="estadoDoc" inputId="Estado" [autoDisplayFirst]="false" [options]="estados" optionValue="estado_Id" optionLabel="estado_Nombre"></p-dropdown>
            <label for="Estado">Estados</label>
          </span>
        </div>
      </div>
    </div>
  </form>

  <!-- Botones -->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="">
      <button pButton class="p-button-danger" type="button" label="Consultar" icon="pi pi-search" (click)="consultarFiltros()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
    </div>
  </div>

  <!-- Línea -->
  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!--Titulo tabla-->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="font-size-20"><i class="pi pi-list"></i> <b> Registros consultados</b></h4>
  </div>

  <!-- Tabla -->
  <!-- Inicio tabla de registros consultados -->
  <div class="mb-3" *ngIf=" !cargando">
    <div class="row g-3" id="">
      <div class="table-responsive">
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="20"
          [showCurrentPageReport]="true"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[10,20,30,50,70,100]"
          [rowHover]="true"
          [value]="arrayRegistros">

          <ng-template pTemplate="header">
            <tr class="font-size-16" id="">
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'id', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'usuario', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'fecha', 'contains')"></th>
              <th><input pInputText type="text" style="width: 100%;" (input)="aplicarFiltro($event, 'estado', 'contains')"></th>
              <th></th>
            </tr>
            <tr>
              <th style="text-align: center;">N° Documento</th>
              <th style="text-align: center;">Usuario</th>
              <th style="text-align: center;">Fecha</th>
              <th style="text-align: center;">Estado</th>
              <th style="text-align: center;">Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-registros>
            <tr>
              <td>{{registros.id}}</td>
              <td><b>{{registros.usuario}}</b></td>
              <td>{{registros.fecha}}</td>
              <td><b>{{registros.estado}}</b></td>
              <td style="text-align: center;"><p-button style="width: 30px; height: 30px; text-decoration: none;" pButton pRipple icon="pi pi-file-pdf" styleClass="p-button-rounded p-button-danger mr-2" pTooltip="PDF"></p-button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-card>
