.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-calendar ::ng-deep span button {
  background-color: var(--rojo);
  border: 0;
  transition: all 1s;
}

p-calendar ::ng-deep span .p-datepicker-trigger:hover {
  background: var(--rojoHover);
}

p-calendar ::ng-deep .p-datepicker-header button {
  background: #fff0;
}

p-calendar ::ng-deep .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar ::ng-deep span button span {
  display: block;
}

::ng-deep .p-inputtext {
  display: flex;
  width: 100%;
}

::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 95%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

::ng-deep .p-chip {
  width: 90%;
  justify-content: center;
}

p-chip ::ng-deep .p-chip-text {
  font-weight: 700;
}

#fila {
  text-align: center;
}

#botonPdf ::ng-deep .p-button {
  width: 30px;
  height: 30px;
  text-decoration: none;
}

#rojo ::ng-deep .p-chip {
  background-color: palevioletred;
  color : white;
}

#amarillo ::ng-deep .p-chip {
  background-color: rgb(255, 246, 152);
}

#azul ::ng-deep .p-chip {
  background-color: paleturquoise;
}

#verde ::ng-deep .p-chip {
  background-color: palegreen;
}

#naranja ::ng-deep .p-chip {
  background-color: rgb(255, 211, 101);
}
