
<form [formGroup]="formCrearUnidadesMedidas" (ngSubmit)="validarCamposVacios()">
  <!-- Inicio Fila 1 Agregar Unidad Medida -->
  <div class="mb-3">
    <div class="row g-3">
         <!-- Id -->
        <div class="form-floating col-md-2">
          <input formControlName="undIdentificador" type="text" class="form-control form-control-sm" id="floatingInput"
          title="Los identificadores de unidades de medidas son creados con siglas. Ej: 'Kg, Cms'." autocomplete="off" required>
          <label for="floatingInput">ID</label>
        </div>
          <!-- Nombre -->
        <div class="form-floating col-md">
          <input formControlName="undNombre" type="text" class="form-control form-control-sm" id="floatingInput" autocomplete="off" required>
          <label for="floatingInput">Nombre</label>
        </div>
        <!-- Descripción -->
        <div class="form-floating col-md">
          <input formControlName="undDescripcion" class="form-control form-control-sm" id="floatingInput" autocomplete="off" required>
          <label for="floatingInput">Descripción</label>
        </div>
    </div>
  </div>
  <!-- Fin Fila 1 -->

  <!--Inicio Fila 2 Botones y Limpiar Campos-->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="submit">Agregar Und. Medida</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
    </div>
  </div>
  <!--Fin Fila 2-->
</form>
