p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input {
    display: flex;
    width: 100%;
}

p-table ::ng-deep div {
    max-height: 30rem !important;
}

::ng-deep .p-button.p-button-icon-only {
    width: 2rem;
}

::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
}

::ng-deep p-inputnumber[_ngcontent-ng-c565009749], p-inputnumber[_ngcontent-ng-c565009749] span, p-inputnumber[_ngcontent-ng-c565009749] input {
    display: flex;
    width: 120px;
}

.length {
    width: 100px !important;
}

::ng-deep p-toolbar .p-toolbar {
    justify-content: left !important;
}

::ng-deep .p-toolbar {
    padding: 0.5rem   
}

::ng-deep .mb-4 {
    margin-bottom: 0.5rem !important;
}

