<br>
<form [formGroup]="FormCrearClientes" (ngSubmit)="validarCamposVaciosClientes()">
  <div class="mb-3">
    <div class="row g-4">

      <!-- ID Cliente -->
      <div class="col-md-2">
        <span class="p-float-label">
          <input formControlName="CliId" id="CliId" type="text" pInputText required/>
          <label for="CliId">Id</label>
        </span>
      </div>

      <!-- Tipo ID -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoIdCliente" inputId="tipoIdentificacion" [autoDisplayFirst]="false" [options]="tipoIdentificacion" optionLabel=""></p-dropdown>
          <label for="tipoIdentificacion">Tipo Id</label>
        </span>
      </div>

      <!-- Nombre Cliente-->
      <div class="col-md-4">
        <span class="p-float-label">
          <input formControlName="CliNombre" id="CliNombre" list="cliente" type="text" pInputText required/>
          <datalist id="cliente">
            <option value={{item.cli_Nombre}} *ngFor="let item of cliente">{{item.cli_Nombre}}</option>
          </datalist>
          <label for="CliNombre">Nombre</label>
        </span>
      </div>

      <!-- Telefono Cliente -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="CliTelefono" id="CliTelefono" type="text" pInputText/>
          <label for="CliTelefono">Telefono</label>
        </span>
      </div>

      <!-- Email cliente -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="CliEmail" id="CliEmail" type="text" pInputText/>
          <label for="CliEmail">Correo/Email</label>
        </span>
      </div>

      <!-- Tipo cliente -->
      <div class="col-md">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoClienteId" inputId="TipoClienteId" optionValue="tpCli_Id" optionLabel="tpCli_Nombre" [autoDisplayFirst]="false" [options]="tiposClientes"></p-dropdown>
          <label for="TipoClienteId">Tipo Cliente</label>
        </span>
      </div>

      <!-- ID/Nombre Usuario -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="UsuIdNombre" id="UsuIdNombre" list="vendedor" type="text" (change)="vendedoreSeleccionado()" pInputText required/>
          <datalist id="vendedor">
            <option value={{item.usua_Id}} *ngFor="let item of usuario">{{item.usua_Nombre}}</option>
          </datalist>
          <label for="UsuIdNombre">Vendedor</label>
        </span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="submit" label="Crear Cliente" icon="pi pi-pencil"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>

<div class="mb-4">
  <hr>
</div>

<div class="mb-4">
  <h5 class="tituloRojo">Crear sedes a clientes</h5>
</div>
<br>

<form [formGroup]="FormCrearSedeClientes" (ngSubmit)="validarCamposVaciosSedes()">
  <div class="mb-4">
    <div class="row g-4">

      <!-- Nombre del cliente -->
      <div class="col-md-4">
        <span class="p-float-label">
          <input formControlName="CliId2" id="CliNombre" list="cliente" type="text" pInputText required/>
          <label for="CliNombre">Cliente</label>
        </span>
      </div>

      <!-- Ciudad sede cliente -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="SedeCli_Ciudad" id="Ciudad" type="text" pInputText/>
          <label for="Ciudad">Ciudad Sede</label>
        </span>
      </div>

      <!-- Direccion -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="SedeCli_Direccion" id="Direccion" type="text" pInputText/>
          <label for="Direccion">Direccion Sede</label>
        </span>
      </div>

      <!-- Codigo postal -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="SedeCli_Postal" id="Postal" type="text" pInputText/>
          <label for="Postal">Codigo Postal Sede</label>
        </span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="submit" label="Crear Sede de Cliente" icon="pi pi-pencil"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCamposSede()"></button>
    </div>
  </div>
</form>
