<!--Inicio formulario crear clientes -->
<form [formGroup]="FormCrearClientes" (ngSubmit)="validarCamposVaciosClientes()">
  <!-- Inicio Fila 1 Crear clientes -->
  <div class="row g-3">
    <!-- ID Cliente -->
    <div class="col-md-2">
      <input formControlName="CliId" type="number" class="form-control form-control-sm" id="ClienteId"  placeholder="ID Cliente" name="ClienteId" required>
    </div>

    <!-- Tipo ID Cliente-->
    <div class="col-md-1">
      <select formControlName="TipoIdCliente" type="text" id="TpIdCliente" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Tipo ID" name="TpIdCliente" required >
        <option [ngValue]="null" disabled selected>Tipo ID</option>
        <option [ngValue]="tipo_identificacion" *ngFor="let tipo_identificacion of tipoIdentificacion">{{tipo_identificacion}}</option>
      </select>
    </div>

    <!-- Nombre Cliente-->
    <div class="col-md">
      <input formControlName="CliNombre"  type="text" class="form-control form-control-sm" id="ClienteNombre"  placeholder="Nombre" name="ClienteNombre" required>
    </div>
  </div>
  <!-- Fin Fila 1 Crear Cliente -->

  <!-- Inicio Fila 2 Crear Cliente -->
  <div class="row g-3">

    <!-- Telefono Cliente -->
    <div class="col-md-2">
      <input formControlName="CliTelefono"  type="text" class="form-control form-control-sm" id="ClienteTelefono"  placeholder="Teléfono" name="ClienteTelefono" required>
    </div>

      <!-- Email cliente -->
    <div class="col-md">
      <input formControlName="CliEmail"  type="text" class="form-control form-control-sm" id="ClienteEmail"  placeholder="Email" name="ClienteEmail" required>
    </div>

    <!-- Tipo cliente -->
    <div class="col-md-2">
      <select formControlName="TipoClienteId" type="text" id="TipoCliente" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Tipo cliente" name="TipoCliente" required >
        <option [ngValue]="null" disabled selected>Tipo Cliente</option>
        <option [ngValue]="tipo_Cliente" *ngFor="let tipo_Cliente of tiposClientes">{{tipo_Cliente}}</option>
      </select>
    </div>

      <!-- ID/Nombre Usuario -->
    <div class="col-md-4">
      <select formControlName="UsuIdNombre" type="text" id="usuarioIdNombre" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Usuario/Vendedor" name="usuarioIdNombre" required >
        <option [ngValue]="null" disabled selected>Usuario Vendedor</option>
        <option [ngValue]="usuarios" *ngFor="let usuarios of usuario">{{usuarios}}</option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="submit">Crear cliente</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
    </div>
  </div>
</form>
  <div class="mb-4">
    <hr>
  </div>

  <div class="mb-4">
    <h5 class="tituloRojo">Crear sedes a clientes</h5>
  </div>
  <!--Inicio formulario crear sede cliente -->


<form [formGroup]="FormCrearSedeClientes" (ngSubmit)="validarCamposVaciosSedes()">
  <!-- Inicio Fila 1 Crear sede cliente -->
  <div class="mb-4">
    <div class="row g-3">

      <!-- Nombre del cliente -->
      <div class="col-md">
        <input formControlName="CliId2" type="number" class="form-control form-control-sm" id="ClienteNombre"  placeholder="ID del cliente" name="ClienteNombre">
      </div>

      <!-- Ciudad sede cliente -->
      <div class="col-md">
        <input formControlName="SedeCli_Ciudad" type="text" class="form-control form-control-sm" id="SdCli_Ciudad"  placeholder="Ciudad" name="SdCli_Ciudad">
      </div>

      <div class="col-md">
        <input formControlName="SedeCli_Direccion" type="text" class="form-control form-control-sm" id="SdCli_Direccion"  placeholder="Direccion" name="SdCli_Direccion">
      </div>

      <!-- Codigo postal -->
      <div class="col-md">
        <input formControlName="SedeCli_Postal" type="number" class="form-control form-control-sm" id="SdCli_Postal"  placeholder="Código postal" name="SdCli_Postal">
      </div>
    </div>
  </div>

  <!-- Fin Fila 1 Crear sedes clientes -->

  <!-- Inicio botones -->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="submit">Crear Sede de Cliente</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposSede()">Limpiar campos</button>
    </div>
  </div>
</form>
<!--Fin Formulario crear Cliente -->