<!--Inicio formulario crear clientes -->
<form [formGroup]="FormCrearClientes" (ngSubmit)="validarCamposVaciosClientes()">
  <!-- Inicio Fila 1 Crear clientes -->
  <div class="row g-3">
    <!-- ID Cliente -->
    <div class="form-floating col-md-2">
      <input formControlName="CliId" type="number" class="form-control form-control-sm" id="floatingInput"  required>
      <label for="floatingInput">Id Cliente</label>
    </div>

    <!-- Tipo ID Cliente-->
    <div class="form-floating col-md-1">
      <select formControlName="TipoIdCliente" type="text" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
        <option [ngValue]="tipo_identificacion" *ngFor="let tipo_identificacion of tipoIdentificacion">{{tipo_identificacion}}</option>
      </select>
      <label for="floatingSelect">Tipo ID</label>
    </div>

    <!-- Nombre Cliente-->
    <div class="form-floating col-md">
      <input formControlName="CliNombre" class="form-control form-control-sm" list="cliente" id="floatingInput" title="Nombre del Cliente">
      <datalist id="cliente">
        <option value={{item.cli_Nombre}} *ngFor="let item of cliente">{{item.cli_Nombre}}</option>
      </datalist>
      <label for="floatingInput">Cliente</label>
    </div>
  </div>

  <div class="row g-3">
    <!-- Telefono Cliente -->
    <div class="form-floating col-md-2">
      <input formControlName="CliTelefono" type="text" class="form-control form-control-sm" id="floatingInput">
      <label for="floatingInput">Telefono Cliente</label>
    </div>

      <!-- Email cliente -->
    <div class="form-floating col-md">
      <input formControlName="CliEmail" type="text" class="form-control form-control-sm" id="floatingInput">
      <label for="floatingInput">E-mail Cliente</label>
    </div>

    <!-- Tipo cliente -->
    <div class="form-floating col-md-2">
      <select formControlName="TipoClienteId" type="text" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
        <option [ngValue]="tipo_Cliente.tpCli_Id" *ngFor="let tipo_Cliente of tiposClientes">{{tipo_Cliente.tpCli_Nombre}}</option>
      </select>
      <label for="floatingSelect">Tipo Cliente</label>
    </div>

    <!-- ID/Nombre Usuario -->
    <div class="form-floating col-md">
      <input formControlName="UsuIdNombre" class="form-control form-control-sm" list="vendedor" id="floatingInput" (change)="vendedoreSeleccionado()" required>
      <datalist id="vendedor">
        <option value={{item.usua_Id}} *ngFor="let item of usuario">{{item.usua_Nombre}}</option>
      </datalist>
      <label for="floatingInput">Vededor</label>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="submit">Crear cliente</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
    </div>
  </div>
</form>

<div class="mb-4">
  <hr>
</div>

<div class="mb-4">
  <h5 class="tituloRojo">Crear sedes a clientes</h5>
</div>

<form [formGroup]="FormCrearSedeClientes" (ngSubmit)="validarCamposVaciosSedes()">
  <div class="mb-4">
    <div class="row g-3">
      <!-- Nombre del cliente -->
      <div class="form-floating col-md">
        <input formControlName="CliId2" class="form-control form-control-sm" list="cliente" id="floatingInput" required>
        <datalist id="cliente">
          <option value={{item.cli_Id}} *ngFor="let item of cliente">{{item.cli_Nombre}}</option>
        </datalist>
        <label for="floatingInput">Cliente</label>
      </div>

      <!-- Ciudad sede cliente -->
      <div class="form-floating col-md">
        <input formControlName="SedeCli_Ciudad" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Ciudad Sede</label>
      </div>

      <div class="form-floating col-md">
        <input formControlName="SedeCli_Direccion" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Direccion Sede</label>
      </div>

      <!-- Codigo postal -->
      <div class="form-floating col-md">
        <input formControlName="SedeCli_Postal" type="number" class="form-control form-control-sm" id="floatingInput">
        <label for="floatingInput">Codigo Postal Sede</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="submit">Crear Sede de Cliente</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposSede()">Limpiar campos</button>
    </div>
  </div>
</form>
