<!--Navegador parte superior -->
<div class="contain">

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <p>Plasti<span>caribe S.A.S</span></p>
    </div>
  </nav>
<!-- Navegador fin de parte superior -->

  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ordenes de Pedidos</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
    <!-- fin principal -->
    <div class="container">
      <!-- Inicio Botones que llama el modal de crear Cliente y producto-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
        (click)= "LlamarModalCrearCliente()" title="Si no encuentras el cliente consultado, ¡Crealo aquí!">
          Crear clientes
        </button>
        <!--<button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop3"
        (click)="LlamarModalSedesClientes()" title="Si no encuentras la sede del cliente, ¡Creala aquí!">
          Sedes clientes
        </button>-->
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="LlamarModalCrearProducto()" title="Si no encuentras el producto solicitado, ¡Crealo aquí!">
          Crear productos
        </button>
      </div>
      <!-- Fin Botones que llama el modal de crear cliente y producto-->

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Consultar Pedido</h4>
      </div>
      <!-- Fin titulo -->

      <!-- INICIO DE CONSULTA DE PEDIDOS DE PRODUCTOS -->
      <form [formGroup]="FormConsultaPedidoExterno">
        <div class="mb-3">
          <div class="row g-3">
            <!-- NUMERO DE IDENTIFICACION DEL PEDIDO DE PRODUCTOS -->
            <div class="col-md-4">
              <input formControlName="PedExtIdConsulta"  type="number" class="form-control form-control-sm" id="PedExtId" placeholder="N° del Pedido" name="PedExtId" required title="Consecutivo identificador del Pedido">
            </div>
            <!-- FECHA EN QUE SE HIZO EL PEDIDO -->
            <label class="col-md-2 control-label">Fecha del Pedido</label>
            <div class="col-md">
              <input formControlName="PedExtFechaConsulta" type="date" class="form-control form-control-sm" id="PextFecha" placeholder="Fecha pedido" name="PextFecha" required title="Fecha Pedido">
            </div>
            <!-- FECHA EN QUE SE TIENE QUE ENTREGAR EL PEDIDO -->
            <label class="col-md-2 control-label">Fecha del Entrega</label>
            <div class="col-md">
              <input formControlName="PedExtFechaEntregaConsulta" type="date" class="form-control form-control-sm" id="PextFechaEntrega" placeholder="Fecha entrega" name="PextFechaEntrega" required title="Fecha Entrega">
            </div>
          </div>
        </div>
        <!-- FILA 2 -->
        <div class="mb-5">
          <div class="row g-3">
            <!-- Estado -->
            <div class="col-md-4">
              <select formControlName="PedExtEstadoConsulta" id="PextEstadoId" type="text" name="PextEstadoId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Estado</option>
                <option [ngValue]="estados" *ngFor="let estados of estado">{{estados}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- FILA 3 -->
        <div class="mb-1">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <input class="btn btn-danger btn-danger-sm" type="submit" value="Consultar Pedidos" (click)="consultarDatosPedidos()">
          </div>
        </div>

        <div class="mb-4">
          <h4 class="tituloRojo">Tabla Pedido</h4>
        </div>
        <!-- TABLA DE PEDIDOS -->
        <div class="mb-4">
          <div class="row g-1">
           
            <div class="table-responsive">
              <div id="html2Pdf">
              <table class="table table-bordered" *ngIf="pedidosProductos">
                <thead class="TitulosTabla">
                
                  <tr>
                    <th id="idPedido" scope="col">ID</th>
                    <th id="fechaPedido" scope="col">Fecha Pedido</th>
                    <th id="fechaEntrega" scope="col" class="">Fecha Entrega</th>
                    <th id="cliente" scope="col">Cliente</th>
                    <th id="estadoPedido" scope="col">Estado</th>
                    <th id="precioPedido" scope="col">Precio Total</th>
                    <th id="archivoPedido" scope="col">Archivo</th>
                  </tr>
        
                <tbody>
                  <tr *ngFor="let item of pedidosProductos; let i=index" >
                    <td id="idPedido">{{this.item[i].PedExtId}}</td>
                    <td id="fechaPedido">{{this.item[i].pedExt_FechaCreacion}}</td>
                    <td id="fechaEntrega">{{this.item[i].pedExt_FechaEntrega}}</td>
                    <td id="cliente">{{this.pedidosProductos[i]}}</td>
                    <td id="estadoPedido">{{this.item[i].estado}}</td>
                    <td id="precioPedido">{{this.item[i].pedExt_PrecioTotal}}</td>
                    <td id="archivoPedido"><a href="">{{this.item[i].pedExt_Archivo}}</a></td>
                  </tr>
                </tbody>
              </table>
               <button  (click)= "generatePdf()"> PDF</button>
            </div>
          </div>
        </div>
     

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Crear Pedido</h4>
      </div>
      <!-- Fin titulo -->
                                                      <!--Inicio Crear Pedidos-->

      <form [formGroup]="FormPedidoExterno" (ngSubmit)="validarCamposVacios()">
        <!-- Inicio fila 1 de campos -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- Cliente -->
            <div class="col-md"><select formControlName="PedClienteNombre" type="text" id="PextClienteId" name="PextClienteId" (change)="sedesClientesComboBox()"  class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Cliente</option>
                <option [ngValue]="clientes" *ngFor="let clientes of cliente">{{clientes}}</option>
              </select>
            </div>

            <!-- Sede Cliente -->
            <div class="col-md">
              <select formControlName="PedSedeCli_Id" type="text" id="PSedeCli_Id" name="PSedeCli_Id" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Sede Cliente</option>
                <option [ngValue]="sedesclientes" *ngFor="let sedesclientes of sedeCliente">{{sedesclientes}}</option>
              </select>
            </div>

            <!-- Usuario -->
            <div class="col-md">
              <select formControlName="PedUsuarioNombre" type="text" id="PedUsuarioNombre" name="PextUsuarioId" class="form-select form-select-sm" aria-label=".form-select-sm example" required OnPush>
                <option [ngValue]="vendedor" *ngFor="let vendedor of usuarioVendedor" selected>{{vendedor}}</option>
              </select>
            </div>

            <!-- Fecha pedido -->
            <div class="col-md">
              <input formControlName="PedFecha"  type="date" class="form-control form-control-sm" id="PextFecha" placeholder="Fecha pedido" name="PextFecha" required maxlength="50" title="Fecha Pedido">
            </div>

            <!-- Fecha entrega -->
            <div class="col-md">
              <input formControlName="PedFechaEnt" type="date" class="form-control form-control-sm" id="PextFechaEnt"  placeholder="Fecha entrega" name="PextFechaEnt" required maxlength="50" title="Fecha Entrega">
            </div>

            <!-- Estado -->
            <div class="col-md">
              <select formControlName="PedEstadoId" id="PextEstadoId" type="text" name="PextEstadoId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Estado</option>
                <option [ngValue]="estados" *ngFor="let estados of estado">{{estados}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Fin fila 1 de campos -->

        <!-- Inicio Observacion -->
        <div class="mb-5">
          <div class="row g-3">
            <!-- Campo Observacion -->
            <div class="col-md">
              <textarea formControlName="PedObservacion"  id="PextObservacion" type="text" class="form-control form-control-sm campoObservacion"  maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
            </div>
          </div>
        </div>

        <!-- Fin Observacion -->
                                                              <!--Fin Crear Pedidos-->

        <!-- Linea -->
        <div class="mb-4">
          <hr class="Linea">
        </div>
        <!-- Fin Linea -->

                                                        <!--Inicio tabla productos agregados-->

        <!-- Inicio Titulo Agregar Productos al pedido -->
        <div class="mb-4">
          <h4 class="tituloRojo">Agregar Productos</h4>
        </div>
        <!-- Fin Titulo Agregar Productos al pedido -->


        <!-- Inicio Fila 1 Agregar producto -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- ID Producto -->
            <div class="col-md-2">
              <input formControlName="ProdId" type="number" class="form-control form-control-sm" id="PrdId"  placeholder="ID Producto" name="PrdId" required >
            </div>
            <!-- ID/Nombre Producto -->
            <div class="col-md">
                <select formControlName="ProdNombre" id="PrdNombre" class="form-select form-select-sm" (change)="llenado()" (change)="existencias()" type="text" aria-label=".form-select-sm example" name="PrdNombre" required minlength="1" maxlength="20">
                  <option [ngValue]="null" disabled selected>Seleccione Producto</option>
                  <option [ngValue]="productos" *ngFor="let productos of producto">{{productos}}</option>
                </select>
            </div>
            <!-- Ancho Producto -->
            <div class="col-md-1">
              <input type="number" class="form-control form-control-sm" id="PrdAncho" *ngFor="let productos of productoInfo" value="{{productos.prod_Ancho}}" name="PrdAncho" >
            </div>
            <!-- Fuelle Producto -->
            <div class="col-md-1">
              <input type="number" class="form-control form-control-sm" id="PrdFuelle" *ngFor="let productos of productoInfo" value="{{productos.prod_Fuelle}}" name="PrdFuelle">
            </div>
              <!-- Calibre Producto -->
            <div class="col-md-1">
              <input type="number" class="form-control form-control-sm" id="PrdCalibre" *ngFor="let productos of productoInfo" value="{{productos.prod_Calibre}}" name="PrdCalibre">
            </div>
            <!-- Unidad medida Calibre/Ancho/Fuelle Producto -->
            <div class="col-md-1">
              <select id="PrdUnidadMedidaACF" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida"  name="PrdUnidadMedidaACF" required >
                <option [ngValue]="productos" *ngFor="let productos of productoInfo" selected>{{productos.undMedACF}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Fin Fila 1 Agregar Producto -->

        <div class="mb-3">
          <!-- Inicio Fila 2 Agregar Producto -->
          <div class="mb-4">
            <div class="row g-3">
              <!-- Tipo Producto -->
              <div class="col-md-2">
                <select id="PrdTipo" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Tipo Producto" name="PrdTipo" required >
                  <option [ngValue]="productos" *ngFor="let productos of productoInfo" selected>{{productos.tpProd_Id}}</option>
                </select>
              </div>
              <!-- Cantidad Producto --> <!-- onkeypress= "return (event.charCode >= 48 && event.charCode <= 57)""-->
              <div class="col-md-2">
                <input formControlName="ProdCantidad" type="number" class="form-control form-control-sm"  placeholder="Cantidad" id="PrdCantidad"  name="PrdCantidad" required maxlength="14">
              </div>
              <!-- UM Cantidad Producto -->
              <div class="col-md-2">
                <select id="PrdUnidadMedidaCant" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida" name="PrdUnidadMedidaCant" required >
                  <option [ngValue]="null" disabled selected>Seleccione Und. Medida</option>
                  <option [ngValue]="unidadMedida" *ngFor="let unidadMedida of undMed">{{unidadMedida}}</option>
                </select>
              </div>
              <!-- Precio Producto -->
              <div class="col-md">
                <input type="number" class="form-control form-control-sm" id="PrdPrecioUnd"  placeholder="Precio unidad" *ngFor="let existencias of existenciasProductos" value="{{existencias.exProd_Precio}}" name="PrdPrecioUnd" required maxlength="18">
              </div>
              <!-- Tipo Moneda -->
              <div class="col-md-2">
                <select id="PrdTipoMoneda" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida" name="PrdTipoMoneda" required >
                  <option [ngValue]="existencias" *ngFor="let existencias of existenciasProductos" selected>{{existencias.tpMoneda_Id}}</option>
                </select>
              </div>
              <!-- Stock Producto -->
              <div class="col-md">
                <input type="number" class="form-control form-control-sm" id="PrdStock" placeholder="Stock" *ngFor="let existencias of existenciasProductos" value="{{existencias.exProd_Cantidad}}" name="PrdStock" required maxlength="18">
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Fila 2 Agregar Producto -->

        <!-- Inicio botones -->
        <div class="mb-4">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="submit" >Agregar Producto</button>
              <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
          </div>
        </div>
        <!-- Fin botones -->


                                                          <!--Fin agregar productos -->

        <div class="mb-5">
          <hr class="Linea">
        </div>

                                                            <!--Inicio tabla productos -->

        <!-- Inicio titulo tabla producto -->
        <div class="mb-4">
          <h4 class="tituloRojo">Tabla de Productos</h4>
        </div>
        <!-- Fin titulo producto -->


        <!-- Inicio tabla producto -->
        <div class="mb-4">
          <div class="row g-3">
            <div id="html2Pdf"> 
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="TitulosTabla">
                    <tr>
                    <th scope="col" class="idProducto">ID</th>
                    <th id="nombre" scope="col">Nombre</th>
                    <th id="ancho" scope="col" class="">Ancho</th>
                    <th id="fuelle" scope="col">Fuelle</th>
                    <th id="calibre" scope="col">Calibre</th>
                    <th id="undMedidaPeso" scope="col">Unidad Medida</th>
                    <th id="stock" scope="col">Stock</th>
                    <th id="cantidadDisponible" scope="col">Cantidad Disponible</th>
                    <th id="undMedidaCantidad" scope="col">Unidad Medida</th>
                    <th id="precioUnitario" scope="col">Precio Unitario</th>
                    <th id="precioCantidadTotal" scope="col">Precio Total en Stock</th>
                    <th id="tipoProducto" scope="col">Tipo Producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th id="id" class="TextosInfoTabla"></th>
                    <td id="nombre" >#</td>
                    <td id="ancho" >#</td>
                    <td id="fuelle" >#</td>
                    <td id="calibre" >#</td>
                    <td id="undMedidaPeso" >#</td>
                    <td id="stock" >#</td>
                    <td id="cantidadDisponible" >#</td>
                    <td id="undMedidaCantidad">#</td>
                    <td id="precioUnitario">#</td>
                    <td id="precioCantidadTotal">#</td>
                    <td id="tipoProducto">#</td>
                    </tr>

                </tbody>
                <button  (click)= "generatePdf()"> PDF</button>

              </table>
            </div>
            </div>
          </div>
        </div>

        <!-- Fin tabla producto -->

        <!-- Inicio Botones -->
        <div class="bajarPagina">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <input class=" btn btn-danger btn-danger-sm" type="submit" value="Crear Pedido">
              <button class=" btn btn-secondary btn-secondary-sm" type="button" (click)="confimacionSalida()">Cancelar</button>
            </div>
        </div>
      </form>
      <!-- Fin Botones -->

                                                          <!--Fin tabla productos -->

      <!-- Modal de crear producto -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Crear productos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear producto-->
              <app-crear-producto></app-crear-producto>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear producto -->


      <!-- Modal de crear cliente -->
      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Crear clientes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear cliente-->
              <app-crear-clientes></app-crear-clientes>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear cliente -->

      <!-- Modal de sedes clientes -->
      <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">{{TituloSedes}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Carga componente crear cliente-->
                <app-crear-sedes-clientes></app-crear-sedes-clientes>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de sedes clientes -->
    </div>
 

