<!--Navegador parte superior -->
<div class="contain">

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <p>Plasti<span>caribe S.A.S</span> </p>
    </div>
    <div class="">
      <p>{{storage_Nombre}} {{storage_Rol}}</p>
    </div>
  </nav>
<!-- Navegador fin de parte superior -->

  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ordenes de Pedidos</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
    <!-- fin principal -->
    <div class="container">
      <!-- Inicio Botones que llama el modal de crear Cliente y producto-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
        (click)= "LlamarModalCrearCliente()" title="Si no encuentras el cliente consultado, ¡Crealo aquí!">
          Crear clientes
        </button>
        <!--<button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop3"
        (click)="LlamarModalSedesClientes()" title="Si no encuentras la sede del cliente, ¡Creala aquí!">
          Sedes clientes
        </button>-->
        <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="LlamarModalCrearProducto()" title="Si no encuentras el producto solicitado, ¡Crealo aquí!">
          Crear productos
        </button>
      </div>
      <!-- Fin Botones que llama el modal de crear cliente y producto-->

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Consultar Pedido</h4>
      </div>
      <!-- Fin titulo -->

      <!-- INICIO DE CONSULTA DE PEDIDOS DE PRODUCTOS -->
      <!-- Inicio formulario -->
      <form [formGroup]="FormConsultaPedidoExterno" (ngSubmit)="validarCamposVaciosConsulta()"> <!---->
        <div class="mb-3">
          <div class="row g-3">
            <!-- NUMERO DE IDENTIFICACION DEL PEDIDO DE PRODUCTOS -->
            <div class="col-md-4">
              <input formControlName="PedExtIdConsulta"  type="number" class="form-control form-control-sm" id="PedExtId" placeholder="N° del Pedido" name="PedExtId" title="Consecutivo identificador del Pedido">
            </div>
            <!-- FECHA EN QUE SE HIZO EL PEDIDO -->
             <label class="col-md-2 control-label">Fecha del Pedido</label>
            <div class="col-md">
              <input formControlName="PedExtFechaConsulta" type="date" class="form-control form-control-sm" id="PextFecha" placeholder="Fecha pedido" name="PextFecha" title="Fecha Pedido">
            </div>
            <!-- FECHA EN QUE SE TIENE QUE ENTREGAR EL PEDIDO -->
             <label class="col-md-2 control-label">Fecha del Entrega</label>
            <div class="col-md">
              <input formControlName="PedExtFechaEntregaConsulta" type="date" class="form-control form-control-sm" id="PextFechaEntrega" placeholder="Fecha entrega" name="PextFechaEntrega" title="Fecha Entrega">
            </div>
          </div>
        </div>
        <!-- FILA 2 -->
        <!-- <div class="mb-5">
          <div class="row g-3"> -->
            <!-- Estado -->
            <!-- <div class="col-md-4">
              <select formControlName="PedExtEstadoConsulta" id="PextEstadoId" type="text" name="PextEstadoId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Estado</option>
                <option [ngValue]="estados" *ngFor="let estados of estado">{{estados}}</option>
              </select>
            </div>

            <div class="col-md-4">
              <select formControlName="PedExtUsuarioConsulta" id="PextUsuarioId" type="text" name="PextUsuarioId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Vendedor</option>
                <option [ngValue]="vendedor" *ngFor="let vendedor of usuarios">{{vendedor}}</option>
              </select>
            </div>
          </div>
        </div> -->
        <!-- FILA 3 -->
        <div class="mb-1">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">

            <input class="btn btn-danger btn-danger-sm" type="submit" value="Consultar">

          </div>
        </div>
      </form>
      <!--Cierre formulario-->


        <div class="mb-4">
          <h4 class="tituloRojo">Tabla Pedido</h4>
        </div>
        <!-- TABLA DE PEDIDOS -->
        <div class="mb-2">
          <div class="row g-1">
            <div class="table-responsive">
              <div id="html2Pdf">
              <table class="table table-bordered" *ngIf="pedidosProductos">
                <thead class="TitulosTabla">
                  <tr>
                    <th id="idPedido" scope="col">ID</th>
                    <th id="fechaPedido" scope="col">Fecha Pedido</th>
                    <th id="fechaEntrega" scope="col">Fecha Entrega</th>
                    <th id="sede" scope="col">Cliente</th>
                    <th id="sedecliente" scope="col">Vendedor</th>
                    <th id="estadoPedido" scope="col">Estado</th>
                    <th id="precioPedido" scope="col">Precio Total</th>
                    <th id="archivoPedido" scope="col">Archivo</th>
                    <th id="editarPedido" scope="col">Editar</th>

                  </tr>
                <tbody>
                  <!--Carga los productos en la tabla y pagina por 2-->
                  <tr *ngFor="let item of pedidosProductos | paginate: {itemsPerPage: 5, currentPage: page} let i=index" >
                    <td id="idPedido">{{item.pedExt_Id}}</td>
                    <td id="fechaPedido">{{item.pedExt_FechaCreacion | date: 'yyyy-MM-dd'}}</td>
                    <td id="fechaEntrega">{{item.pedExt_FechaEntrega | date: 'yyyy-MM-dd'}}</td>
                    <td id="sede">{{item.sedeCli_Id}}</td>
                    <td id="Vendedor">{{item.usua_Id}}</td>
                    <td id="estadoPedido">{{item.estado_Id}}</td>
                    <td id="precioPedido">{{item.pedExt_PrecioTotal}}</td>
                    <td id="archivoPedido"><input class="btn btn-danger btn-danger-sm" type="button" (click)="llenarProductoPedido(item)" value="Ver"></td>
                    <td id="Editar" ><a><i class="fa fa-pencil" aria-hidden="true" title="Editar Pedido" (click)="MostrarPedido(item)"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <div class="mb-2">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Inicio titulo -->
      <div class="mb-4">
        <h4 class="tituloRojo">Crear Pedido</h4>
      </div>
      <!-- Fin titulo -->
                                                      <!--Inicio Crear Pedidos-->

      <form [formGroup]="FormPedidoExternoClientes">
        <!-- Inicio fila 1 de campos -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- Cliente -->
            <div class="col-md">
              <select formControlName="PedClienteNombre" type="text" id="PextClienteId" name="PextClienteId" (change)="ciudadClienteComboBox()" (change)="productoCliente()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Cliente</option>
                <option [ngValue]="clientes" *ngFor="let clientes of cliente">{{clientes}}</option>
              </select>
            </div>

            <!-- Ciudad -->
            <div class="col-md">
              <select formControlName="ciudad_sede" type="text" id="ciudad_sede" name="ciudad_sede" (change)="sedesClientesComboBox()" (change)="captarSedeSeleccionada()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Ciudad Sede</option>
                <option [ngValue]="ciudades" *ngFor="let ciudades of ciudad">{{ciudades}}</option>
              </select>
            </div>

            <!-- Sede Cliente -->
            <div class="col-md">
              <select formControlName="PedSedeCli_Id" type="text" id="PSedeCli_Id" name="PSedeCli_Id" (change)="captarSedeSeleccionada()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Sede Cliente</option>
                <option [ngValue]="sedesclientes" *ngFor="let sedesclientes of sedeCliente">{{sedesclientes}}</option>
              </select>
            </div>

            <!-- Usuario -->
            <div class="col-md">
              <select formControlName="PedUsuarioNombre" type="text" id="PedUsuarioNombre" (change)="CaptarUsuarioSeleccionado()" name="PextUsuarioId" class="form-select form-select-sm" aria-label=".form-select-sm example" required><!--OnPush-->
                <option [ngValue]="null" disabled selected>Seleccione Vendedor</option>
                <option [ngValue]="vendedor" *ngFor="let vendedor of usuarioVende">{{vendedor}}</option>
              </select>
            </div>

            <!-- Fecha pedido -->
            <div class="col-md">
              <input formControlName="PedFecha"  type="date" class="form-control form-control-sm" id="PextFecha" placeholder="Fecha pedido" name="PextFecha" required maxlength="50" title="Fecha Pedido">
            </div>

            <!-- Fecha entrega -->
            <div class="col-md">
              <input formControlName="PedFechaEnt" type="date" class="form-control form-control-sm" id="PextFechaEnt"  placeholder="Fecha entrega" name="PextFechaEnt" required maxlength="50" title="Fecha Entrega">
            </div>
          </div>
        </div>
        <!-- Fin fila 1 de campos -->

        <!-- Inicio Observacion -->


        <div class="mb-5">
          <div class="row g-3">
            <!-- Estado -->
            <div class="col-md-2">
              <select formControlName="PedEstadoId" id="PextEstadoId" type="text" name="PextEstadoId" (change)="captarEstadoSeleccionado()" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="null" disabled selected>Seleccione Estado</option>
                <option [ngValue]="estados" *ngFor="let estados of estado">{{estados}}</option>
              </select>
            </div>
            <!-- Campo Observacion -->
            <div class="col-md">
              <textarea formControlName="PedObservacion"  id="PextObservacion" type="text" class="form-control form-control-sm campoObservacion"  maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
            </div>
          </div>
        </div>

        <!-- Fin Observacion -->
                                                              <!--Fin Crear Pedidos-->

        <!-- Linea -->
        <div class="mb-4">
          <hr class="Linea">
        </div>
        <!-- Fin Linea -->

                                                        <!--Inicio tabla productos agregados-->
      </form>
        <!-- Inicio Titulo Agregar Productos al pedido -->
      <div class="mb-4">
        <h4 class="tituloRojo">Agregar Productos</h4>
      </div>
        <!-- Fin Titulo Agregar Productos al pedido -->

      <form [formGroup]="FormPedidoExternoProductos" (ngSubmit)="validarCamposVacios()">
        <!-- Inicio Fila 1 Agregar producto -->

        <div class="mb-3">
          <div class="row g-3">
            <!-- ID Producto -->
            <div class="col-md-2">
              <input formControlName="ProdId" type="number" class="form-control form-control-sm" id="PrdId"  placeholder="ID Producto" name="PrdId" required >
            </div>
            <!-- ID/Nombre Producto -->
            <div class="col-md">
                <select formControlName="ProdNombre" id="PrdNombre" class="form-select form-select-sm" (change)="llenadoProducto()" type="text" aria-label=".form-select-sm example" name="PrdNombre" required>
                  <option [ngValue]="null" disabled selected>Seleccione Producto</option>
                  <option [ngValue]="productos.prod_Nombre" *ngFor="let productos of producto">{{productos.prod_Nombre}}</option>
                </select>
            </div>
            <!-- Ancho Producto -->
            <div class="col-md-1">
              <input formControlName="ProdAncho" placeholder="Ancho" type="number" class="form-control form-control-sm" >
            </div>
            <!-- Fuelle Producto -->
            <div class="col-md-1">
              <input formControlName="ProdFuelle" type="number" class="form-control form-control-sm" id="PrdFuelle" placeholder="Fuelle">
            </div>
              <!-- Calibre Producto -->
            <div class="col-md-1">
              <input formControlName="ProdCalibre" type="number" class="form-control form-control-sm" id="PrdCalibre" placeholder="Calibre" name="PrdCalibre">
            </div>
            <!-- Unidad medida Calibre/Ancho/Fuelle Producto -->
            <div class="col-md-1">
              <select formControlName="ProdUnidadMedidaACF" id="PrdUnidadMedidaACF" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida"  name="PrdUnidadMedidaACF">
                <option [ngValue]="null" disabled selected>Seleccione Und. Medida</option>
                <option [ngValue]="unidadMedida" *ngFor="let unidadMedida of undMed">{{unidadMedida}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Fin Fila 1 Agregar Producto -->


          <!-- Inicio Fila 2 Agregar Producto -->

          <div class="mb-3">
            <div class="row g-3">
              <!-- Tipo Producto -->
              <div class="col-md-2">
                <select formControlName="ProdTipo" id="PrdTipo" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Tipo Producto" name="PrdTipo">
                  <option [ngValue]="null" disabled selected>Seleccione Tipo Producto</option>
                  <option [ngValue]="tipoproductos" *ngFor="let tipoproductos of tipoProducto">{{tipoproductos}}</option>
                </select>
              </div>
              <!-- Cantidad Producto --> <!-- onkeypress= "return (event.charCode >= 48 && event.charCode <= 57)""-->
              <div class="col-md-2">
                <input formControlName="ProdCantidad" type="number" class="form-control form-control-sm"  placeholder="Cantidad" id="PrdCantidad"  name="PrdCantidad" required>
              </div>
              <!-- UM Cantidad Producto -->
              <div class="col-md-2">
                <select formControlName="ProdUnidadMedidaCant" id="PrdUnidadMedidaCant" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida" name="PrdUnidadMedidaCant" required >
                  <option [ngValue]="null" disabled selected>Seleccione Presentación</option>
                  <option [ngValue]="unidadMedida" *ngFor="let unidadMedida of undMed">{{unidadMedida}}</option>
                </select>
              </div>
              <!-- Precio Producto -->
              <div class="col-md">
                <input formControlName="ProdPrecioUnd" type="number" class="form-control form-control-sm" id="PrdPrecioUnd"  placeholder="Precio Unidad" name="PrdPrecioUnd">
              </div>
              <!-- Tipo Moneda -->
              <div class="col-md-2">
                <select formControlName="ProdTipoMoneda" id="PrdTipoMoneda" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida" name="PrdTipoMoneda">
                  <option [ngValue]="null" disabled selected>Seleccione Tipo Moneda</option>
                  <option [ngValue]="tiposMonedas" *ngFor="let tiposMonedas of tipoMoneda">{{tiposMonedas}}</option>
                </select>
              </div>
              <!-- Stock Producto -->
              <div class="col-md">
                <input formControlName="ProdStock" type="number" class="form-control form-control-sm" id="PrdStock" placeholder="Stock" name="PrdStock">
              </div>
            </div>
          </div>

        <!-- Fin Fila 2 Agregar Producto -->

        <!--Fila 3 Inicio-->


         <!-- Inicio Descripción producto -->
         <div class="mb-4">
          <div class="row g-3">
            <!-- Campo Descripción producto -->
            <div class="col-md">
              <textarea formControlName="ProdDescripcion" id="PrdDescripcion" type="text" class="form-control form-control-sm campoObservacion" placeholder="Descripción Producto" name="PrdDescripcion"></textarea>
            </div>
          </div>
        </div>

        <!-- Fin Descripción producto -->

        <!--Fila 3 Fin -->

        <!-- Inicio botones -->
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-danger btn-danger-sm" type="submit">{{AccionBoton}} Producto</button>
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="actualizarProducto()">Actualizar Producto</button>
              <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
          </div>
        </div>
        <!-- Fin botones -->


                                                          <!--Fin agregar productos -->

        <div class="mb-4">
          <hr class="Linea">
        </div>

                                                            <!--Inicio tabla productos -->

        <!-- Inicio titulo tabla producto -->
        <div class="mb-4">
          <h4 class="tituloRojo">Tabla de Productos</h4>
        </div>
        <!-- Fin titulo producto -->

        <!-- Inicio tabla producto -->
        <div class="mb-3">
          <div class="row g-3">
            <div class="table-responsive">
              <table class="table table-bordered table-hover mt-2" >
                <thead class="TitulosTabla">

                    <tr *ngFor="let columnas of titulosTabla let i = index">
                      <th scope="col" class="idProducto">{{columnas.pID}}</th>
                      <th id="nombre" scope="col">{{columnas.pNombre}}</th>
                      <th id="ancho" scope="col" class="">{{columnas.pAncho}}</th>
                      <th id="fuelle" scope="col">{{columnas.pFuelle}}</th>
                      <th id="calibre" scope="col">{{columnas.pCalibre}}</th>
                      <th id="undMedidaPeso" scope="col">{{columnas.pUndMedACF}}</th>
                      <th id="tipoProducto" scope="col">{{columnas.pTipoProd}}</th>
                      <th id="cantidad" scope="col">{{columnas.pCantidad}}</th>
                      <th id="undMedidaCantidad" scope="col">{{columnas.pUndMedCant}}</th>
                      <th id="precioUnitario" scope="col">{{columnas.pPrecioU}}.</th>
                      <th id="tipoMoneda" scope="col">{{columnas.pMoneda}}</th>
                      <th id="Subtotal" scope="col">{{columnas.pSubtotal}}</th>
                      <th id="acciones" scope="col"></th>
                      <th id="acciones" scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let listaProductos of ArrayProducto; let j = index">

                      <th id="id" class="TextosInfoTabla">{{listaProductos.Id}}</th>
                      <td id="nombreCampo" class="TextosInfoTabla">{{listaProductos.Nombre}}</td>
                      <td id="ancho" class="TextosInfoTabla">{{listaProductos.Ancho}}</td>
                      <td id="fuelle" class="TextosInfoTabla">{{listaProductos.Fuelle}}</td>
                      <td id="calibre" class="TextosInfoTabla">{{listaProductos.Cal}}</td>
                      <td id="undMedidaPeso" class="TextosInfoTabla">{{listaProductos.Und}}</td>
                      <td id="tipoProducto" class="TextosInfoTabla">{{listaProductos.Tipo}}</td>
                      <td id="cantidadDisponible" class="TextosInfoTabla">{{listaProductos.Cant}}</td>
                      <td id="undMedidaCantidad" class="TextosInfoTabla">{{listaProductos.UndCant}}</td>
                      <td id="precioUnitario" class="TextosInfoTabla">{{listaProductos.PrecioUnd}}</td>
                      <td id="precioUnitario" class="TextosInfoTabla">{{listaProductos.TpMoneda}}</td>
                      <td id="Subtotal" class="TextosInfoTabla">{{listaProductos.SubTotal}}</td>
                      <td id="Editar" ><a><i class="fa fa-pencil" (click)="EditarProductoTabla(listaProductos)" aria-hidden="true" title="Editar Producto"></i></a></td>
                      <td id="Eliminar" ><a><i class="fa fa-trash" (click)="QuitarProductoTabla(j)" aria-hidden="true" title="Quitar Producto de la tabla"></i></a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin tabla producto -->



        <!--<button class=" btn btn-danger btn-danger-sm" type="button" value=""  (click)="crearpdf()">Crear Pedido</button>-->



        <!--Inicio valor total-->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <label for=""><b>Valor total: $</b></label>
          <label for="">{{valorTotal}}</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <label id="file"></label>
        </div>
        <!--Fin valor total-->

        <!-- Inicio Botones -->
        <div class="bajarPagina">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class=" btn btn-danger btn-danger-sm" type="button" value="" (click)="validarInputsVacios()">Crear Pedido</button>
              <button class="btn btn-danger btn-danger-sm" type="button" (click)="editarPedido()">Actualizar Pedido</button>
              <button class=" btn btn-secondary btn-secondary-sm" type="button" (click)="confimacionSalida()">Cancelar</button>
            </div>
        </div>
      </form>
      <!-- Fin Botones -->

                                                          <!--Fin tabla productos -->

      <!-- Modal de crear producto -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Crear productos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear producto-->
              <app-crear-producto></app-crear-producto>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear producto -->


      <!-- Modal de crear cliente -->
      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Crear clientes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Carga componente crear cliente-->
              <app-crear-clientes></app-crear-clientes>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal de crear cliente -->

      <!--
      <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">{{TituloSedes}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <app-crear-sedes-clientes></app-crear-sedes-clientes>
            </div>
          </div>
        </div>
      </div>
      Fin Modal de sedes clientes -->



      <!-- Fin Modal de sedes clientes -->
    </div>
    </div>
    </div>



