<app-menuLateral></app-menuLateral>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Movimientos de BOPP</h2>
    </div>

    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container">
  <!-- Formulario con filtros de busqueda -->
  <form [formGroup]="FormDocumentos">
    <!-- Fila 1 -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- ID Documento -->
        <div class="form-floating col-md-2">
          <input formControlName="idDocumento" type="text" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Orden de trabajo</label>
        </div>

        <!-- Fecha inicial -->
        <div class="form-floating col-md-2">
          <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Inicial</label>
        </div>

        <!-- Fecha final -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Final</label>
        </div>

        <!-- Tipo Docuemtno -->
        <div class="form-floating col-md-2">
          <select formControlName="TipoDocumento" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
            <option [ngValue]="null" disabled selected>Seleccione Movimiento</option>
            <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
              <option [ngValue]="tiposDocumentos.tpDoc_Id" *ngFor="let tiposDocumentos of tipoDocumento">{{tiposDocumentos.tpDoc_Nombre}}</option>
            </ng-container>
          </select>
          <label for="floatingSelect">Tipo de Movimiento</label>
        </div>

        <!-- Materia Prima -->
        <div class="ng-autocomplete form-floating col-md form-control form-control-sm">
          <ng-autocomplete
            class=""
            [data]="ArrayBopp"
            (selected)='selectEventBOPP($event)'
            (inputChanged)='onChangeSearchBOPP($event)'
            (inputFocused)='onFocusedBOPP($event)'
            [searchKeyword]="keywordBOPP"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            id="floatingInput"
            formControlName="bopp">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.bopP_Nombre"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          <label for="floatingInput" *ngIf="validarInputBOPP">BOPP</label>
        </div>
      </div>
    </div>

    <!-- Fila 2 -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- Estados -->
        <ng-container *ngIf="ValidarRol == 1">
          <div class="form-floating col-md-3">
            <select formControlName="estado" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
              <option [ngValue]="estados.estado_Id" *ngFor="let estados of ArrayEstados">{{estados.estado_Nombre}}</option>
            </select>
            <label for="floatingSelect">Estado OT</label>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="consultar()">Consultar Documento</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos</button>
      </div>
    </div>
  </form>

  <!-- Tabla -->
  <div *ngIf="load">
    <div class="mb-2">
      <div class="row g-1">
        <div class="table-responsive">
          <table class="table table-bordered table-hover mt-2">
            <thead class="TitulosTabla">
              <tr *ngFor="let columnas of titulosTabla let i = index">
                <th id="CodigoFactura" scope="col">{{columnas.idFact}}</th>
                <th id="Tipo" scope="col">{{columnas.tipo}}</th>
                <th id="fecha" scope="col">{{columnas.FechaFact}}</th>
                <th id="proveedor" scope="col">{{columnas.usuario}}</th>
                <th id="mp" scope="col">{{columnas.mp}}</th>
                <th id="cantMp" scope="col">{{columnas.cant}}</th>
                <ng-container *ngIf="ValidarRol == 1">
                  <th id="estado" scope="col">{{columnas.estado}}</th>
                </ng-container>
                <th id="ver" scope="col" >{{columnas.Ver}}</th>
              </tr>
              </thead>
            <tbody>
              <tr *ngFor="let doc of ArrayInfoConsulta | paginate: {itemsPerPage: 30, currentPage: page} let i=index">
                <td id="CodigoFactura" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{doc.ot}}</td>
                <td id="Tipo" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{doc.tipo}}</td>
                <td id="fecha" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.fecha | date : 'yyyy-MM-dd'}}</td>
                <td id="proveedor" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.usuario}}</td>
                <td id="mp" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.matPrima}}</td>
                <td id="mp" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.cant | number}}</td>
                <ng-container *ngIf="ValidarRol == 1">
                  <td id="mp" (click)="editarAsignacion(doc)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.estado}}</td>
                </ng-container>
                <td id="subTotalMateriaPrima"><i class="fa fa-file-pdf-o" aria-hidden="true" title="Ver archivo" (click)="verPDF(doc)"></i></td>
              </tr>
            </tbody>
          </table>
          <div class="mb-2">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Imagen de Carga -->
  <div class="overlay" *ngIf="!load">
    <div class="spinner ">
      <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
    </div>
  </div>

  <!-- Labels con información -->
  <div *ngIf="load">
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <label><b>Total Materia Prima Entregada: {{totalMPEntregada | number}} KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        <ng-container *ngIf="ValidarRol == 1">
          <label><b>Cantidad de KG Producida en total: {{kgProduciodosOT | number}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        </ng-container>
        <label><b>KG Restante Por Entregar: {{cantRestante | number}}</b></label>
      </div>
    </div>
  </div>

  <!-- Modal de editar asignación -->
  <ng-container *ngIf="(ValidarRol == 1 || ValidarRol == 4) && modalBOPP == 2">
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Editar asignacion Nro. {{identificadorAsignacion}} </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarCamposAlCerrarModal()"></button>
          </div>
          <div class="modal-body">
            <!--Carga componente editar asignación -->
            <app-modal-editar-asignaciones-bopp ></app-modal-editar-asignaciones-bopp>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
