

<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 id="recibos" [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Reporte de Recibos de Caja</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card class="font-size-14">

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-5">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-filter"></i> Filtros de búsqueda</h2>
  </div>

  <p-toolbar>
    <div class="row g-3 p-2" style="width: 100%;">
      <div class="col-sm-12 col-md-3 text-left">
        <span class="p-float-label" id="rango-fechas">
          <!-- Rango de Fechas -->
          <p-calendar id="rango" inputId="FechaInicial" [(ngModel)]="rangoFechas" selectionMode="range" [showIcon]="true"></p-calendar>
          <label for="FechaInicial">Rango de Fechas</label>
        </span>
      </div>

      <div class="col-sm-12 col-md-3 text-left">
        <button pButton pRipple pTooltip="Consultar Recibos" label="Consultar" (click)="consultarRecibos()" icon="pi pi-search" class="p-button-danger ml-2" id="consultar"></button>
      </div>

      <div class="col-sm-12 col-md-6 text-right">
        <!-- Exportar excel -->
        <button pButton pRipple label="Exportar" pTooltip="Exportar a excel" icon="pi pi-file-excel"class="p-button-success" id="exportar" (click)="exportarExcel(fecha, fechaFinal)"></button>
      </div>
    </div>
  </p-toolbar>

  <p-tabView id="materias-primas"> <!--(onChange)="cargarTabs($event.index)"-->
    <!-- Recibos de caja -->
    <p-tabPanel
      header="Recibos de caja"
      leftIcon="pi pi-th-large"
      tooltip="Información de los recibos de caja"
      *ngIf="ValidarRol != 4">
      <div class="mb-3" *ngIf="!load">
        <div class="row g-3 font-size-14" id="table">
          <p-table
            #dt
            [value]="arrayRecibos"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="arrayRecibos.length"
            [rowsPerPageOptions]="[10,25,50,100,arrayRecibos.length]"
            [rowHover]="true"
            dataKey="Id"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header" >
              <tr class="font-size-16" id="filtros">
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'anoMes', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'consecutivo', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'fechaTransac', 'contains')"></th>
                <th ><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'cliente', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'descripcion', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'valor', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'cuenta', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'vendedor', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'factura', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'vencimiento', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'fechaRegistro', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'usuario', 'contains')"></th>
              </tr>
              <tr id="campos">
                <th>#</th>
                <th scope="col" pSortableColumn="anoMes">Periodo <p-sortIcon field="anoMes"></p-sortIcon></th>
                <th pSortableColumn="consecutivo" pReorderableColumn scope="col">Consecutivo <p-sortIcon field="consecutivo"></p-sortIcon></th>
                <th id="Ancho" pSortableColumn="fechaTransac" pReorderableColumn scope="col">Fecha Transacción <p-sortIcon field="fechaTransac"></p-sortIcon></th>
                <th id="Micras" pSortableColumn="cliente" pReorderableColumn scope="col">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
                <th id="inicial" pSortableColumn="descripcion" pReorderableColumn scope="col">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
                <th id="entrada" pSortableColumn="valor" pReorderableColumn scope="col">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                <th id="salida" pSortableColumn="cuenta" pReorderableColumn scope="col">Cuenta <p-sortIcon field="cuenta"></p-sortIcon></th>
                <th id="stock" pSortableColumn="vendedor" pReorderableColumn scope="col">Vendedor <p-sortIcon field="vendedor"></p-sortIcon></th>
                <th id="diferencia" pSortableColumn="factura" pReorderableColumn scope="col">Factura <p-sortIcon field="factura"></p-sortIcon></th>
                <th pSortableColumn="vencimiento" pReorderableColumn scope="col">Vencimiento <p-sortIcon field="vencimiento"></p-sortIcon></th>
                <th pSortableColumn="fechaRegistro" pReorderableColumn scope="col">Fecha Registro <p-sortIcon field="fechaRegistro"></p-sortIcon></th>
                <th pSortableColumn="usuario" pReorderableColumn scope="col">Usuario <p-sortIcon field="usuario"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recibo let-rowIndex="rowIndex">
              <tr>
                <td><b>{{rowIndex + 1}}</b></td>
                <td>{{recibo.anoMes}}</td>
                <td><b>{{recibo.consecutivo}}</b></td>
                <td>{{recibo.fechaTransac}}</td>
                <td><b>{{recibo.cliente }}</b></td>
                <td>{{recibo.descripcion }}</td>
                <td><b>{{recibo.valor | number: '1.2-2'}}</b></td>
                <td>{{recibo.cuenta}}</td>
                <td>{{recibo.vendedor}}</td>
                <td><b>{{recibo.factura}}</b></td>
                <td>{{recibo.vencimiento}}</td>
                <td><b>{{recibo.fechaRegistro}}</b></td>
                <td>{{recibo.usuario}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr id="totales">
                <td colspan="6" class="text-right">Totales</td>
                <td id="total">{{totalRecibos | number}}</td>
                <td colspan="5">COP</td>
                <td class="text-center"><button pButton pRipple pTooltip="Exportar a Excel" icon="pi pi-file-excel" class="p-button-success" id="exportar2" (click)="exportarExcel(fecha, fechaFinal)"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
</p-card>


