<div class="d-flex justify-content-center overlay" *ngIf="load">
    <div style="margin: auto;">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>

  <div class="contain">
    <div class="container-fluid">
      <div class="mb-4 Titulo">
        <h2 [ngClass]="{'tituloRojo' : !selectedMode, 'tituloClaro': selectedMode }"> Trazabilidad de Producción</h2>
      </div>
  
      <div class="mb-4">
        <hr class="colorLinea">
      </div>
    </div>
  </div>

  <p-card>
    <form [formGroup]="formFilters" (ngSubmit)="searchTraceability()">
        <div class="row g-4 my-4">
          <!-- START DATE -->
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <span class="p-float-label">
              <p-calendar formControlName="startDate" inputId="FechaInicial" [showIcon]="true"></p-calendar>
              <label for="FechaInicial">Fecha Inicial</label>
            </span>
          </div>
      
          <!-- END DATE -->
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <span class="p-float-label">
              <p-calendar formControlName="endDate" inputId="FechaInicial" [showIcon]="true"></p-calendar>
              <label for="FechaInicial">Fecha Final</label>
            </span>
          </div>
      
          <!-- ORDER PRODUCTION (OT) -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="orderProduction" [useGrouping]="false" inputId="orderProduction" [required]="true"></p-inputNumber>
              <label for="orderProduction">Orden de Trabajo</label>
            </span>
          </div>
      
          <!-- ITEM -->
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-4">
            <span class="p-float-label">
              <input formControlName="reference" id="prod" list="producto" type="text" pInputText (change)="selectedProduct()" (keydown)="searchProduct()"/>
              <datalist id="producto">
                <option value={{item.prod_Id}} *ngFor="let item of products">{{item.prod_Nombre}}</option>
              </datalist>
              <label for="prod">Producto</label>
            </span>
          </div>
      
          <!-- PRODUCTION -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="production" [useGrouping]="false" inputId="production" [required]="true"></p-inputNumber>
              <label for="production">Rollo / Bulto</label>
            </span>
          </div>
        </div>
      
        <div class="row my-4">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search" ></button>
            <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="clearFields()"></button>
            <button pButton class="p-button-danger" type="button" label="Exportar PDF" icon="pi pi-file-pdf" [disabled]="traceability.length == 0"></button>
          </div>
        </div>
      </form>
      
      <p-table 
      #t1
      [value]="groupTraceability"
      dataKey="motherRoll" 
      styleClass="p-datatable-gridlines p-datatable-sm"
      [resizableColumns]="true"
      [reorderableColumns]="true"
      columnResizeMode="expand"
      responsiveLayout="scroll"
      [rowHover]="true"
      [scrollable]="true"
      scrollHeight="50rem"
      [loading]="loading">
      <!--Header-->
      <ng-template pTemplate="header">
          <tr>
              <th class="text-center" style="width: 5rem"></th>
              <th class="text-center">#</th>
              <th class="text-center"> Rollo <p-columnFilter type="text" field="pallet" display="menu"></p-columnFilter></th>
              <th class="text-center"> OT <p-columnFilter type="text" field="client_Id" display="menu"></p-columnFilter></th>
              <th class="text-center"> Item <p-columnFilter type="text" field="client" display="menu"></p-columnFilter></th>
              <th class="text-center"> Referencia <p-columnFilter type="text" field="item" display="menu"></p-columnFilter></th>
              <th class="text-center"> Proceso <p-columnFilter type="text" field="reference" display="menu"></p-columnFilter></th>
              <th class="text-center"> Peso <p-columnFilter type="text" field="qty" display="menu"></p-columnFilter></th>
              <th class="text-center"> Operario <p-columnFilter type="text" field="presentation" display="menu"></p-columnFilter></th>
              <th class="text-center"> Fecha <p-columnFilter type="text" field="qtyRolls" display="menu"></p-columnFilter></th>
          </tr>
      </ng-template>
      <!--Body-->
      <ng-template pTemplate="body" let-pallet let-rowIndex="rowIndex" let-expanded="expanded">
          <tr>
              <td class="text-center">
                  <button type="button" pButton pRipple [pRowToggler]="pallet" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td class="text-center">{{ rowIndex + 1 }}</td>
              <td class="text-center">{{ pallet.motherRoll }}</td>
              <td class="text-center">{{ pallet.motherOT }}</td>
              <td class="text-center">{{ pallet.motherItem }}</td>
              <td class="text-center">{{ pallet.motherReference }}</td>
              <td class="text-center">{{ pallet.motherProcess }}</td>
              <td class="text-center">{{ '' }}</td>
              <td class="text-center">{{ '' }}</td>
              <td class="text-center">{{ '' }}</td>
          </tr>
      </ng-template>
      <!--Expansion-->
      <ng-template pTemplate="rowexpansion" let-trace>
          <tr>
              <td colspan="11">
                  <div class="p-3">
                      <p-table
                        #t2
                        [value]="trace.rolls" 
                        dataKey="motherRoll"
                        [scrollable]="true"
                        scrollHeight="30rem">
                          <ng-template pTemplate="header">
                              <tr>
                                <th></th>
                                <th></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'roll', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'ot', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'item', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'reference', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'qty', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'presentation', t2)"></th>
                                <th><input pInputText style="width: 100%;" (input)="applyFilter($event, 'process', t2)"></th>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th class="text-center" pSortableColumn="">#</th>
                                  <th class="text-center" pSortableColumn="roll_BagPro">Numero Rollo <p-sortIcon field="roll_BagPro"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="ot">OT <p-sortIcon field="ot"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="item">Item <p-sortIcon field="item"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="reference">Referencia <p-sortIcon field="reference"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="qty">Cantidad <p-sortIcon field="qty"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="presentation">Presentación <p-sortIcon field="presentation"></p-sortIcon></th>
                                  <th class="text-center" pSortableColumn="process">Proceso <p-sortIcon field="process"></p-sortIcon></th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-roll let-rowIndex="rowIndex">
                              <tr>  
                                  <td class="text-center">
                                    <p-checkbox  [binary]="true" inputId="binary"></p-checkbox> <!--(click)=""-->
                                  </td>
                                  <td class="text-center">{{ rowIndex + 1 }}</td>
                                  <td class="text-center">{{ roll.roll_BagPro }}</td>
                                  <td class="text-center">{{ roll.ot }}</td>
                                  <td class="text-center">{{ roll.item }}</td>
                                  <td class="text-center">{{ roll.reference }}</td>
                                  <td class="text-center">{{ roll.qty | number : '1.2-2' }}</td>
                                  <td class="text-center">{{ roll.presentation }}</td>
                                  <td class="text-center">{{ roll.process }}</td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="9">No hay rollos disponibles</td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </td>
          </tr>
      </ng-template>
      <!--Footer-->
      <ng-template pTemplate="footer">
        <tr>
          <td class="text-center"></td> 
          <td class="text-center"></td> 
          <td class="text-center"></td> 
          <td colspan="3" class="text-right">Total cantidad: </td>
          <td class="text-center">{{0 | number : '1.2-2'}}</td>
          <td class="text-right">Total rollos: </td>
          <td class="text-center">{{0}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  

