<!--Navegador parte superior -->
<div class="contain">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/home"><b><p>Plasti<span>caribe S.A.S</span></p></b></a>
    </div>
    <ul class="btn-group open">
      <p><b>User: {{storage_Nombre}}</b></p>
      <span><b>Tipo: {{storage_Rol}} </b></span>
      <span> <li class="fa fa-sign-out" aria-hidden="true" (click)="confimacionSalida()"><br>Cerrar Seccion</li> </span>
    </ul>
  </nav>
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Materias Primas</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>
<div class="contain">
<!-- Navegador fin de parte superior -->
<div class="container-fluid">
  <div class="container">
    <!-- botón que llama el componente de crear-categoria -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
      (click)="LlamarModalCrearCategoria()" title="¡Crealo aquí!">
        Crear Categoria
      </button>
      <!-- botón que llama el componente de crear-categoria -->
      <button type="button" class="btn btn-danger btn-danger-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
      (click)="LlamarModalCrearUnidadMedida()" title="¡Crealo aquí!"> <!---->
        Crear Unidad Medida
      </button>
    </div>
    <div class="mb-4">
      <h4 class="tituloRojo">Crear Materias Primas</h4>
    </div>
    <!-- FORMULARIO DE MATERIAS PRIMAS -->
    <form [formGroup]="formularioMatPrimas" (ngSubmit)="validarCamposVacios()">
      <!-- Inicio fila 1 de campos -->
      <div class="mb-4">
        <div class="row g-3">
          <!-- Nombre -->
          <div class="form-floating col-md">
            <input formControlName="MatPriNombre" type="text" class="form-control form-control-sm" id="floatingInput" required >
            <label for="floatingInput">Nombre</label>
          </div>
          <!-- Descripción -->
          <div class="form-floating col-md">
            <textarea formControlName="MatPriDescripcion" type="text" class="form-control form-control-sm" id="floatingInput" required ></textarea>
            <label for="floatingInput">Descripción</label>
          </div>
          <!-- Stock -->
          <div class="form-floating col-md-2">
            <input formControlName="MatPriStock" type="text" class="form-control form-control-sm" id="floatingInput" required >
            <label for="floatingInput">Stock</label>
          </div>
            <!--Categoria -->
            <div class="form-floating col-md-2">
            <select formControlName="MatPriUnidadMedida" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
              <option [ngValue]="unidadMedidas" *ngFor="let unidadMedidas of unidadMedida">{{unidadMedidas}}</option>
            </select>
            <label for="floatingSelect">Unidad Medida</label>
          </div>
        </div>
      </div>
      <!-- Fin fila 1 de campos -->

       <!-- Inicio fila 2 de campos -->
      <div class="mb-3">
        <div class="row g-3">
          <!-- Stock -->
          <div class="form-floating col-md-2">
            <select formControlName="MatPriCategoria" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
              <option [ngValue]="Categoria.catMP_Id" *ngFor="let Categoria of nombreCategoriasMP">{{Categoria.catMP_Nombre}}</option>
            </select>
            <label for="floatingSelect">Categoria</label>
          </div>
          <!-- Precio -->
          <div class="form-floating col-md-2">
            <input formControlName="MatPriPrecio" type="number" class="form-control form-control-sm" id="floatingInput" required >
            <label for="floatingInput">Precio</label>
          </div>
        </div>
      </div>
      <!-- Fin fila 2 de campos -->

      <!-- Botones para crear materias primas -->
      <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit">{{AccionBoton}}</button>
          <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()" expand="full">Limpiar campos</button>
        </div>
      </div>

    </form>

      <div class="mb-3">
          <hr class="colorLinea">
      </div>
      <!--Inicio consulta de materias primas -->
      <div class="mb-3">
        <h4 class="tituloRojo">Consultar Materias Primas</h4>
       </div>

       <form [formGroup]="formularioConsultaMP">
      <div class="mb-2">
        <div class="row g-3">
          <!-- ID -->
          <div class="form-floating col-md-2">
            <input formControlName="consMatPri_Id" type="number" class="form-control form-control-sm" id="floatingInput" (change)="buscarMpId()">
            <label for="floatingInput">Id.</label>
          </div>
          <!--Nombre -->
          <div class="form-floating col-md-5">
            <select formControlName="consMatPri_Nombre" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="buscarMpSeleccionada()">
              <option [ngValue]="MateriasPrimas.matPri_Id" *ngFor="let MateriasPrimas of nombreMateriasPrimas">{{MateriasPrimas.matPri_Nombre}}</option>
            </select>
            <label for="floatingSelect">Nombre</label>
          </div>
          <!--Bototones-->

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" (click)="consultarTodasMateriasPrimas()">Consultar</button>
                <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTablaConsulta()" expand="full">Limpiar campos</button>
            </div>
        </div>
      </div>
    </form>
      <!--Fin consulta de materias primas -->

      <div class="mb-4">
        <hr class="colorLinea">
     </div>

      <div class="mb-4">
          <h4 class="tituloRojo">Listado de Materias Primas</h4>
      </div>

      <!-- Tabla donde se mostrarán las materias primas existentes -->
      <div class="mb-4">
          <div class="row g-3">
            <!--Inicio Tabla Mat. Primas-->
              <div class="table-responsive">
                <table class="table table-bordered table-hover mt-2" >
                  <thead class="TitulosTabla">
                    <tr *ngFor="let columnas of titulosTabla let i = index">
                      <th id="idMateriaPrima" scope="col">{{columnas.mpId}}</th>
                      <th id="nombreMateriaPrima" scope="col">{{columnas.mpNombre}}</th>
                      <th id="cantidadMateriaPrima" scope="col">{{columnas.mpCantidad}}</th>
                      <th id="UnidadMedida" scope="col">{{columnas.mpUndMedCant}}</th>
                      <th id="precioMateriaPrima" scope="col" >{{columnas.mpPrecioU}}</th>
                      <th id="subTotalMateriaPrima" scope="col">{{columnas.mpSubTotal}}</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr *ngFor="let materiaPrima of ArrayMateriaPrima let i=index" >
                        <td id="idMateriaPrima" (click)="valorArray(materiaPrima)">{{materiaPrima.Id}}</td>
                        <td id="nombreMateriaPrima" (click)="valorArray(materiaPrima)">{{materiaPrima.Nombre}}</td>
                        <th id="cantidadMateriaPrima" (click)="valorArray(materiaPrima)">{{materiaPrima.Cant | number}}</th>
                        <td id="UnidadMedida" (click)="valorArray(materiaPrima)">{{materiaPrima.UndCant}}</td>
                        <td id="precioMateriaPrima" (click)="valorArray(materiaPrima)">{{materiaPrima.PrecioUnd | number}}</td>
                        <td id="subTotalMateriaPrima" (click)="valorArray(materiaPrima)">{{materiaPrima.SubTotal | number}}</td>
                      </tr>
                    </tbody>
                </table>
                <!--Fin Tabla Mat. Primas-->
              </div>

          </div>
      </div>

  <!-- Modal de crear Categoria -->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel2">Crear Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Carga componente crear Categoria-->
          <app-crear-categorias-mp></app-crear-categorias-mp>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal de crear Crear Categoria -->

  <!-- Modal de crear Unidad Medida -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Crear Unidad Medida</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Carga componente crear Unidad Medida-->
          <app-crear-unidades-medidas></app-crear-unidades-medidas>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal de crear Crear Unidad Medida-->

  </div>
</div>
</div>


