.modal{
  overflow-x: scroll;
  min-width: 300px;
}

.id {
  border: none;
  width: 100%;
}

.amarillo, .verde2, .gris, .azul, .verde, .rojo, .naranja {
  font-size: calc(var(--font-size) * 14px);
  color: black;
}

.blanco {
  background-color: white;
  color: #414549;
}

.amarillo {
  background-color: #F3FC20;
  padding: 2% 3%;
  font-weight: 700;
  border-radius: 5px;
}

.naranja {
  background-color: #F6D45D;
  padding: 2% 3%;
  font-weight: 700;
  border-radius: 5px;
}

.rojo {
  background-color: #FF7878;
}

.verde {
  background-color: #8AFC9B;
}

.azul {
  background-color: #83D3FF;
}

.gris{
  background-color: #DDDDDD;
}

.verde2 {
  background-color: #53CC48;
  padding: 2% 3%;
  font-weight: 700;
  border-radius: 5px;
}

.verde3 {
  background-color: rgb(78, 255, 78);
  border: #53CC48 solid 1px;
  color: rgb(0, 0, 0);
  font-size: calc(var(--font-size) * 14px);
  padding: 2% 3%;
  font-weight: 700;
  border-radius: 5px;
}

a {
  color: #000;
}

a:hover {
  color: #555;
}

#tableProcesos td{
 /* max-width: 50px; */
  font-size: calc(var(--font-size) * 13px);
}

.bg-danger1 {
  color: white;
  background-color: palevioletred;
  font-size: calc(var(--font-size) * 14px);
  padding: 2% 3%;
  font-weight: 700;
  border-radius: 5px;
}

.bg-danger2 {
  color: palevioletred;
  font-size: calc(var(--font-size) * 13px);
}

.bg-success1 {
  color: black;
  background-color: palegreen;
  font-size: calc(var(--font-size) * 15px);
}

.bg-warning1 {
  color: black;
  background-color: rgba(255, 228, 78, 0.877);
  font-size: calc(var(--font-size) * 14px);
}

.negrita {
  font-weight: bold;
}

#iconos ::ng-deep .pi {
  font-size: calc(var(--font-size) * 22px);
}

::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 95%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

.tituloExportarPDF, .subTituloExportarPDF {
  font-size: 1.5em;
  color: var(--rojo);
  text-align: center;
}

.subTituloExportarPDF {
  font-size: 1em;  
}

/* EXPORTAR PDF */
.buttonExcel, .buttonPDF {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.buttonPDF {
  background-color: rgb(255, 69, 69);
}

.buttonExcel {
  background-color: #22C55E;
}

.svgIconPDF, .svgIconExcel {
  width: 25px;
  transition-duration: .3s;
}

.buttonPDF:hover, .buttonExcel:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  align-items: center;
}

.buttonPDF:hover .svgIconPDF, .buttonExcel:hover .svgIconExcel {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.buttonPDF:before, .buttonExcel:before {
  position: absolute;
  top: -20px;
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.buttonPDF:before{
  content: "PDF";
}

.buttonExcel:before{
  content: "EXCEL";
}

.buttonPDF:hover:before, .buttonExcel:hover:before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.svgIconPDF path, .svgIconExcel path {
  fill: white;
}