<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div class="spinner-bOrdenar text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Reporte de Activos</h2>
    </div>
    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="formulario font-size-14">
  <div class="mb-4">
    <h2 class="tituloRojo"><i class="pi pi-list"></i> Listado de activos</h2>
  </div>

  <div class="mb-3" *ngIf="!cargando">
    <div class="row g-3 font-size-14" id="table">
      <p-table
        #dt
        [value]="InformacionActivos"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="InformacionActivos.length"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando de {first} al {last} de {totalRecords} Activos"
        [rowsPerPageOptions]="[10,25,50,100,InformacionActivos.length]"
        [rowHover]="true"
        dataKey="Id">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar Filtros" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID/Placa/Serial
              <p-sortIcon field="Id" title="Ordenar por ID/Placa/Serial"></p-sortIcon>
            </th>
            <th scope="col">Nombre
              <p-sortIcon field="Nombre" title="Ordenar por Nombre"></p-sortIcon>
            </th>
            <th scope="col">Tipo Activo
              <p-sortIcon field="TipoActivo" title="Ordenar por Nombre"></p-sortIcon>
            </th>
            <th scope="col">Fecha Compra
              <p-sortIcon field="Fecha" title="Ordenar por Fecha de Compra"></p-sortIcon>
            </th>
            <th scope="col">Precio Compra
              <p-sortIcon field="PrecioCompra" title="Ordenar por Precio de Compra"></p-sortIcon>
            </th>
            <th scope="col"> Fecha Último Mtto
              <p-sortIcon field="FechaUltMtto" title="Ordenar por Fecha del Último Mantenimiento"></p-sortIcon>
            </th>
            <th scope="col">Precio Ultimo Mtto
              <p-sortIcon field="PrecioUltMtto" title="Ordenar por Precio del Último Mantenimiento"></p-sortIcon>
            </th>
            <th scope="col">Precio Total Mtto
              <p-sortIcon field="PrecioTotalMtto" title="Ordenar por Precio Total de los Mantenimientos"></p-sortIcon>
            </th>
            <th scope="col">Depreciación
              <p-sortIcon field="Depreciacion" title="Ordenar por Depreciación"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reporte>
          <tr (click)="mostrarModalMovimientos(reporte)" class="cursor">
            <td>{{reporte.Id}}</td>
            <td>{{reporte.Nombre}}</td>
            <td>{{reporte.TipoActivo}}</td>
            <td>{{reporte.Fecha}}</td>
            <td>{{reporte.PrecioCompra}}</td>
            <td>{{reporte.FechaUltMtto}}</td>
            <td>{{reporte.PrecioUltMtto}}</td>
            <td>{{reporte.PrecioTotalMtto}}</td>
            <td>{{reporte.Depreciacion}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="modalMovimientos" [style]="{width: '70vw'}" [resizable]="true" header="Movimientos de Activos" [modal]="true" >
  <ng-template pTemplate="content">
    <app-Movimientos_Mantenimiento></app-Movimientos_Mantenimiento>
  </ng-template>
</p-dialog>
