<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Movimientos de Tintas</h2>
    </div>

    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="container">
  <!-- Formulario con filtros de busqueda -->
  <form [formGroup]="FormDocumentos">
    <!-- Fila 1 -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- ID Documento -->
        <div class="form-floating col-md-2">
          <input formControlName="idDocumento" type="text" class="form-control" id="floatingInput"required >
          <label for="floatingInput">OT/Doc.</label>
        </div>

        <!-- Fecha inicial -->
        <div class="form-floating col-md-2">
          <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Inicial</label>
        </div>

        <!-- Fecha final -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Final</label>
        </div>

        <!-- Tipo Docuemtno -->
        <div class="form-floating col-md-2">
          <select formControlName="TipoDocumento" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
            <option [ngValue]="null" disabled selected>Seleccione Movimiento</option>
            <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
              <option [ngValue]="tiposDocumentos.tpDoc_Id" *ngFor="let tiposDocumentos of tipoDocumento">{{tiposDocumentos.tpDoc_Nombre}}</option>
            </ng-container>
          </select>
          <label for="floatingSelect">Tipo Mov.</label>
        </div>

        <!-- Materia Prima -->
        <div class="form-floating col-md">
          <input formControlName="tintas" class="form-control form-control-sm" list="materiaprima" id="floatingInput" title="Nombre de la Tinta" (change)="tintaSeleccionada()">
          <datalist id="materiaprima">
            <option value={{item.tinta_Id}} *ngFor="let item of ArrayTintas">{{item.tinta_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Tinta</label>
        </div>
      </div>
    </div>

    <!-- Fila 2 -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- Estados -->
        <ng-container *ngIf="ValidarRol == 1">
          <div class="form-floating col-md-3">
            <select formControlName="estado" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
              <option [ngValue]="estados.estado_Id" *ngFor="let estados of ArrayEstados">{{estados.estado_Nombre}}</option>
            </select>
            <label for="floatingSelect">Estado OT</label>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="consultar()">Consultar Documento</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos</button>
      </div>
    </div>
  </form>

  <!-- Tabla -->
  <div *ngIf="load">
    <div class="row g-3">
      <div class="table-responsive">
        <p-table
        #dt
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="20"
        [rowHover]="true"
        [value]="ArrayInfoConsulta">
          <ng-template pTemplate="header">
            <tr>
              <th id="CodigoFactura" scope="col">OT / Tinta Creada</th>
              <th id="Tipo" scope="col">Tipo de Movimiento</th>
              <th id="fecha" scope="col">Fecha Registro</th>
              <th id="proveedor" scope="col">Registrado Por:</th>
              <th id="mp" scope="col">	Tinta / Materia Prima</th>
              <th id="cantMp" scope="col">Cantidad</th>
              <ng-container *ngIf="ValidarRol == 1">
                <th id="estado" scope="col">Estado OT</th>
              </ng-container>
              <th id="ver" scope="col" >Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc>
            <tr>
              <td id="CodigoFactura" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{doc.ot}}</td>
              <td id="Tipo" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{doc.tipo}}</td>
              <td id="fecha" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.fecha | date : 'yyyy-MM-dd'}}</td>
              <td id="proveedor" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.usuario}}</td>
              <td id="mp" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.matPrima}}</td>
              <td id="mp" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.cant | number}}</td>
              <ng-container *ngIf="ValidarRol == 1">
                <td id="mp" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" >{{doc.estado}}</td>
              </ng-container>
              <td style="text-align: center;"><a style="width: 20px; height: 10px;" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" (click)="articulosPdf(doc)"></a></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

