 <!-- Inicio Contenedor total -->
<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Devolución de Materia Prima</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <!-- Inicio titulo -->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-cloud-download"></i> Ingresar Materia Prima devuelta</h4>
  </div>
  <br>

  <!-- Fin titulo -->
  <form [formGroup]="FormDevolucion" id="formulario">
    <!-- Inicio Fila 1 Agregar producto -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- Orden de TRabajo -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-search"></i>
            <input formControlName="ot" id="ordenTrabajo" type="text" pInputText (keyup.enter)="consultarOt()" required/>
            <label for="ordenTrabajo">OT</label>
          </span>
        </div>

        <!-- Campo Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10">
          <span class="p-float-label">
            <textarea formControlName="MpObservacion" id="observacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Tabla Materia Prima asignada</h4>
  </div>

  <div class="mb-3" *ngIf="load" id="tabla1">
    <div class="row g-3">
      <p-table
        #dt1
        [value]="materiasPrimas"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="25"
        [rowsPerPageOptions]="[10,25,50]"
        [rowHover]="true"
        dataKey="Id"
        [(selection)]="materiasPrimasRetiradas">
        <ng-template pTemplate="header">
          <tr class="titulosTablasNuevas">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentación</th>
            <th scope="col">Proceso</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox id="elegirTodo" (click)="quitarTodosMateriaPrima()"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiasPrimas>
          <tr *ngIf="!materiasPrimas.Exits" class="TextosInfoTabla">
            <td>{{materiasPrimas.Id}}</td>
            <td>{{materiasPrimas.Nombre}}</td>
            <td>{{materiasPrimas.Cantidad | number}}</td>
            <td>{{materiasPrimas.Unidad_Medida}}</td>
            <td>{{materiasPrimas.Proceso_Nombre}}</td>
            <td>
              <p-tableCheckbox id="elegir" [value]="materiasPrimas" (click)="quitarMateriaPrimaAIngresar(materiasPrimas)"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <div class="mb-4" ><!--*ngIf="!load"-->
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Materias Primas a devolver</h4>
  </div>

  <!--Inicio tabla Rollos a Insertar -->
  <div class="mb-3" *ngIf="load" id="tabla2"> <!---->
    <div class="row g-3">
      <p-table
        #dt
        [value]="materiasPrimasRetiradas"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,25,50]"
        [rowHover]="true"
        dataKey="Id"
        [(selection)]="materiasPrimas">
        <ng-template pTemplate="header">
          <tr class="titulosTablasNuevas">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentación</th>
            <th scope="col">Precio Unitario</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox id="elegirTodo2" (click)="seleccionarTodosMateriaPrima()"></p-tableHeaderCheckbox> <!---->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiasPrimasRetiradas>
          <tr *ngIf="!materiasPrimasRetiradas.Exits && materiasPrimasRetiradas.Cantidad > 0" class="TextosInfoTabla"> <!---->
            <td>{{materiasPrimasRetiradas.Id}}</td>
            <td>{{materiasPrimasRetiradas.Nombre}}</td>
            <td pEditableColumn id="cantidad">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber [(ngModel)]="materiasPrimasRetiradas.Cantidad_Devuelta" inputId="minmaxfraction" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="materiasPrimasRetiradas.Cantidad_Oculta" [maxFractionDigits]="2"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{materiasPrimasRetiradas.Cantidad_Devuelta | number}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>{{materiasPrimasRetiradas.Unidad_Medida}}</td>
            <td>{{materiasPrimasRetiradas.Proceso_Nombre}}</td>
            <td>
              <p-tableCheckbox id="elegir2" [value]="materiasPrimasRetiradas" (click)="llenarMateriaPrimaAIngresar(materiasPrimasRetiradas)"></p-tableCheckbox> <!---->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="agregarDevolucion" type="button" label="Agregar Devolución" icon="pi pi-check" (click)="registrarDevolucion()"></button>
      <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodosCampos()"> </button>
    </div>
  </div>
</p-card>
