.TextosInfoTabla2{
  background-color: lightblue;
}

.buscarActualizacion{
  margin-left: 35%;
}

@media (max-width: 1370px){
  .buscarActualizacion{
    margin-top: 5%;
    margin-left: 0%;
  }
}

@media (min-width: 1900px){
  .buscarActualizacion{
    margin-left: 30%;
  }
}

@media (min-width: 3900px){
  .buscarActualizacion{
    margin-left: 35%;
  }
}

@media (min-width: 5000px){
  .buscarActualizacion{
    margin-left: 30%;
  }
}
