::ng-deep .row {
    text-align: center;
}

::ng-deep .p-chip {
    margin-top: 2%;
}

/* Clases para meta y producción */

::ng-deep .meta-extrusion .p-chip {
    background-color: #ff9900ff;
    color: white;
}

::ng-deep .prd-extrusion .p-chip {
    background-color: #f0d800ff;
    color: rgb(29, 22, 0);
}

::ng-deep .prd-impresion .p-chip {
    background-color: #60f000ff;
    color: rgb(0, 56, 12);
}

::ng-deep .meta-impresion .p-chip {
    background-color: #009632ff;
    color: white;
}

::ng-deep .prd-corte .p-chip {
    background-color: #2e8fffff;
    color: white;
}

::ng-deep .meta-corte .p-chip {
    background-color: #003cffff;
    color: white
}

::ng-deep .prd-sellado .p-chip {
    background-color: #ff5353ff;
    color: white;
}

::ng-deep .meta-sellado .p-chip {
    background-color: #ff1111ff;
    color: white
}

::ng-deep .prd-perforado .p-chip {
    background-color: #8255ffff;
    color: white;
}

::ng-deep .meta-perforado .p-chip {
    background-color: #2000b1ff;
    color: white
}

::ng-deep .prd-camisilla .p-chip {
    background-color: #00d9ffff;
    color: white;
}

::ng-deep .meta-camisilla .p-chip {
    background-color: #008c91ff;
    color: white
}

/* Clases titulos tablas */
::ng-deep .title-extrusion {
    color: #ff9900ff;
}

::ng-deep .title-impresion {
    color: #60f000ff;
}

::ng-deep .title-corte  {
    color: #2e8fffff;
}

::ng-deep .title-sellado {
    color: #ff5353ff;
}

::ng-deep .title-perforado {
    color: #8255ffff;
}

::ng-deep .title-camisilla {
    color: #00d9ffff;
}

::ng-deep .p-card {
    align-items: center;
    margin: auto;
    width: 95%;
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 5%; */
}