
.tabla1{
    display: flex;
  }
  
  .p-input-icon-left {
    width: 100%;
  }
  
  p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
    display: flex;
    width: 100%;
  }
  
  p-calendar ::ng-deep span button {
    background-color: var(--rojo);
    border: 0;
    transition: all 1s;
  }
  
  p-calendar ::ng-deep span .p-datepicker-trigger:hover {
    background: var(--rojoHover);
  }
  
  p-calendar ::ng-deep .p-datepicker-header button {
    background: #fff0;
  }
  
  p-calendar ::ng-deep .p-datepicker-header button:hover {
    background: #fff0;
  }
  
  p-calendar ::ng-deep span button span {
    display: block;
  }
  
  
  ::ng-deep .p-inputtext {
      display: flex;
      width: 100%;
  }
  
  ::ng-deep .p-card {
    align-items: center;
    margin: auto;
    width: 95%;
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
  }

  ::ng-deep .d-grid[_ngcontent-ng-c2623252385] {
    padding-bottom: 0.5%;
  }

  ::ng-deep .d-grid[_ngcontent-ng-c3487233265] {
    padding-bottom: 0;
  } 

  ::ng-deep .p-button.p-button-icon-only {
    width: 2rem;
  }

  ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
      height: 2rem;
  } 

  ::ng-deep .d-grid[_ngcontent-ng-c1787955168] {
    padding-bottom: 0.5%;
  }

  ::ng-deep .ptoolbar {
    padding: 0.5rem;
  }