<app-menuLateral></app-menuLateral>

<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">

    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Pedidos de Asesores Comerciales</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>

    <!-- Tabla de Pedidos -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button pButton pRipple label="Exportar Excel" icon="pi pi-file-excel" class="p-button-success r-2" (click)="exportarExcel()"></button>
    </div>

    <div class="mb-4">
      <h3 class="tituloRojo">Información de Pedidos</h3>
    </div>

    <div *ngIf="!load" id="tableProcesos" style="font-size: 14px;">
      <div class="mb-4 ">
        <div class="row g-3">
          <p-treeTable #tt
            [value]="ArrayDocumento"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-treetable-sm p-treetable-gridlines"
            [paginator]="true"
            [rows]="ArrayDocumento.length"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10,20,30,50,70,100, ArrayDocumento.length]"
            [rowHover]="true"
            [scrollable]="true"
            scrollHeight="1000px">
            <ng-template pTemplate="colgroup">
               <colgroup>
                 <col style="width:150px">
                 <col style="width:200px">
                 <col style="width:200px">
                 <col style="width:150px">
                 <col style="width:150px">
                 <col style="width:150px">
                 <col style="width:100px">
                 <col style="width:100px">
                 <col style="width:200px">
                 <col style="width:100px">
                 <col style="width:100px">
               </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th ttResizableColumn style="width: 150px">
                  <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'consecutivo', 'contains')">
                </th>
                <th ttResizableColumn style="width: 200px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'cliente', 'contains')">
                </th>
                <th ttResizableColumn style="width: 200px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'producto', 'contains')">
                </th>
                <th ttResizableColumn style="width: 150px">
                  <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'cant_Pedida', 'contains')">
                </th>
                <th ttResizableColumn style="width: 100px">
                  <input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'existencias', 'contains')">
                </th>
                <th ttResizableColumn style="width: 100px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'presentacion', 'contains')">
                </th>
                <th ttResizableColumn style="width: 200px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'estado', 'contains')">
                </th>
                <th ttResizableColumn style="width: 200px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'vendedor', 'contains')">
                </th>
                <th ttResizableColumn style="width: 150px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'costo_Cant_Total', 'contains')">
                </th>
                <th ttResizableColumn style="width: 100px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'consecutivo', 'contains')">
                </th>
                <th ttResizableColumn style="width: 100px">
                  <input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'consecutivo', 'contains')">
                </th>
              </tr>
              <tr>
                <th style="text-align: center; width: max-content; font-size: 14px;" ttSortableColumn="consecutivo">Pedido
                  <p-treeTableSortIcon field="consecutivo"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="cliente">Cliente
                  <p-treeTableSortIcon field="cliente"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="producto">Producto
                  <p-treeTableSortIcon field="producto"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="cant_Pedida">Cant. Pedida
                  <p-treeTableSortIcon field="cant_Pedida"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="existencias">Stock
                  <p-treeTableSortIcon field="existencias"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="presentacion">Und
                  <p-treeTableSortIcon field="presentacion"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="estado">Estado
                  <p-treeTableSortIcon field="estado"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="vendedor">Vendedor
                  <p-treeTableSortIcon field="vendedor"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="costo_Cant_Total">Total
                  <p-treeTableSortIcon field="costo_Cant_Total"></p-treeTableSortIcon>
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="consecutivo">Editar
                </th>
                <th style="text-align: center; font-size: 14px;" ttSortableColumn="consecutivo">Confirmar
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-data="rowData">
              <tr>
                <td style="text-align: center;" scope="col" title="N° Pedido">
                  <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                  {{data.consecutivo}}
                </td>
                <td scope="col" title="Cliente">{{data.cliente}}</td>
                <td scope="col" title="Item">{{data.producto}}</td>
                <td style="text-align: center;" scope="col" title="Cantidad Pedida">{{data.cant_Pedida | number : '1.2-2'}}</td>
                <td style="text-align: center;" scope="col" title="Existencias">{{data.existencias | number : '1.2-2'}}</td>
                <td style="text-align: center;" scope="col" title="Presentación">{{data.presentacion}}</td>
                <td style="text-align: center;" scope="col" title="{{titlePendiente}}.">{{data.estado}}</td>
                <td scope="col" title="Vendedor">{{data.vendedor}}</td>
                <td style="text-align: center;" scope="col" title="N° Pedido">{{data.costo_Cant_Total | number}}</td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </div>
    </div>
  </div>
</div>
