.modal{
  overflow-x: scroll;
  min-width: 300px;
}

span{
  color: #d83542;
}

.id {
  border: none;
  width: 100%;
}

a {
  color: #000;
}

a:hover {
  color: #555;
}

#tableProcesos td{
 font-size: 13px;
}

p-treeTable{
  overflow-x: scroll;
  min-width: 300px;
}

p-treeTable::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
p-treeTable::-webkit-scrollbar-thumb{
  background: #EBEDEF;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
p-treeTable::-webkit-scrollbar-thumb:hover{
  background: #D5DBDB;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
p-treeTable::-webkit-scrollbar-thumb:active{
  background-color: #E5E8E8;
}

@media (min-width: 1000px) {
  .modal-xl {
    width: 85%;
    max-width: none;
    height: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .modal-xl {
    width: 200%;
    max-width: none;
    height: 80%;
    margin: auto;
  }
}
