.fondo {
  background: url("/assets/Background/plastic-industry.jpeg") no-repeat center;
  transform: scaleX(-1);
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

form {
  transform: scaleX(-1);
}

.contenedorLogin {
  background-color: #ffff;
}

.titulo{
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.col-md {
  margin: 10% 0;
}

.titulo h1{
  padding: 3%;
  color: #db4149;
}

.contenedorLogin {
  width: 400px;
  padding: 2%;
  margin: 0 auto;
  border-radius: 1%;
  border-color: rgba(240, 240, 240, 0.603);
  border-style: solid;
  -webkit-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  -moz-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  box-shadow: 1px 18px 60px -19px rgba(0,0,0);
}

.tituloRojo {
  color: #db4149;
  text-align: center;
  padding: 5% 0 5% 0;
}

.textoPequeno{
  text-align: center;
  font-size: calc(var(--font-size) * 13px);
  margin-top: 5%;
}

a {
  color: rgb(158, 1, 1);
}

.container-fluid{
  display: flex;
  align-items: center;

}

.mb-3{
  text-align: center;
  width: 100%;
}

.a_redirecion_principal{
  color: #fff;
  width: 100%;
}

.btn:hover{
  background-color: rgb(150, 10, 10);
}

.invitado{
  color: #a23;
  text-decoration: underline;
}

.invitado:hover{
  color: #f00;
  text-decoration: none;
}

.inputPassword {
  height: 50px;
}

.pi-eye, .pi-eye-slash {
  cursor: pointer;
}

.logo {
  width: 30%;
}

@media(max-width : 1000px) {
  .logo {
    width: 60%;
    margin: 8% 0 4% 0;
  }
}

@media(max-width : 600px) {
  .logo {
    width: 90%;
    margin: 30% 0 10% 0;
  }
}
