.fondo {
  margin-top: -80px;
  background: url("/assets/Background/plastic-industry.jpeg") no-repeat center;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

p-dropdown ::ng-deep .p-dropdown {
  display: flex;
  width: 100%;
}

p-password ::ng-deep div, p-password ::ng-deep div ::ng-deep input {
  width: 100%;
}

.titulo{
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.col-md {
  margin: 10% 0;
}

.titulo h1{
  padding: 3%;
  color: #db4149;
}

.contenedorLoginLigth {
  background-color: #fffd;
  width: 400px;
  padding: 2%;
  margin: 0 auto;
  border-radius: 3%;
  border-color: rgba(240, 240, 240, 0.603);
  border-style: solid;
  -webkit-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  -moz-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  box-shadow: 1px 18px 60px -19px rgba(0,0,0);
}

.contenedorLoginDark {
  background-color: #071426f8;
  width: 400px;
  padding: 2%;
  margin: 0 auto;
  border-radius: 3%;
  border-color: #071426f8;
  border-style: solid;
  -webkit-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  -moz-box-shadow: 1px 18px 60px -19px rgba(0,0,0);
  box-shadow: 1px 18px 60px -19px rgba(0,0,0);
}


p-card ::ng-deep .p-card-body {
  background-color: #fffd;
}

.tituloRojo {
  color: #db4149;
  text-align: center;
  padding: 5% 0 5% 0;
}

.textoPequeno{
  text-align: center;
  font-size: calc(var(--font-size) * 13px);
  margin-top: 5%;
}

a {
  color: rgb(158, 1, 1);
}

.container-fluid{
  display: flex;
  align-items: center;

}

.mb-3{
  text-align: center;
  width: 100%;
}

.a_redirecion_principal{
  color: #fff;
  width: 100%;
}

.btn:hover{
  background-color: rgb(150, 10, 10);
}

.invitado{
  color: #a23;
  text-decoration: underline;
}

.invitado:hover{
  color: #f00;
  text-decoration: none;
}

.inputPassword {
  height: 50px;
}

.pi-eye, .pi-eye-slash {
  cursor: pointer;
}

.logo {
  width: 30%;
}

@media(max-width : 1000px) {
  .logo {
    width: 60%;
    margin: 8% 0 4% 0;
  }

  .contenedorLogin {
    background-color: #fffe;
    padding: 0 2rem;
  }

  .container-fluid{
    padding: 0 5% 0 5%;
  }
}

@media(max-width : 600px) {
  .logo {
    width: 90%;
    margin: 5% 0 10% 0;
  }
}

.titulo .slide-in-fwd-center {
  animation: puff-in-center 1.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.slide-in-fwd-center {
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    /* transform: scaleX(2); */
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    /* transform: scaleX(-1); */
    filter: blur(0px);
    opacity: 1;
  }
}