.titulo{
  margin: 0 auto;
  text-align: center;
}

.titulo h1{
  padding: 3%;
  color: #d83542;
}

.contenedorLogin {
  width: 400px;
  padding: 2%;
  margin: 0 auto;
  border-radius: 1%;
  border-color: rgba(240, 240, 240, 0.603);
  border-style: solid;
  -webkit-box-shadow: 1px 18px 60px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 18px 60px -19px rgba(0,0,0,0.75);
  box-shadow: 1px 18px 60px -19px rgba(0,0,0,0.75);
}

.tituloRojo {
  color: #d83542;
  text-align: center;
  padding: 5% 0 5% 0;
}

.textoPequeno{
  text-align: center;
  font-size: small;
  margin-top: 5%;
}


a {
  text-decoration: none;
  color: rgb(158, 1, 1);
}


.container-fluid{
  display: flex;
  align-items: center;

}

.mb-3{
  text-align: center;
  width: 100%;
}


.a_redirecion_principal{
  color: #fff;
  width: 100%;
}


.btn:hover{
  background-color: rgb(150, 10, 10);
}

.invitado{
  color: #a23;
  text-decoration: underline;
}

.invitado:hover{
  color: #f00;
  text-decoration: none;
}

.form-floating{
  font-size: 14px;
}

.inputPassword {
  height: 50px;
}

.pi {
  cursor: pointer;
}
