<form [formGroup]="formularioUsuario" (ngSubmit)="validarCamposVacios()">
  <div class="titulo">
    <h1>Plasticaribe S.A.S</h1>
  </div>
  <!--Contenedor Principal-->
  <div class="container-fluid">
    <!--Contenedor Login-->
    <div class="contenedorLogin">
      <!--Titulo-->
      <div class="mb-3">
        <h5 class="tituloRojo">Accede a tu cuenta</h5>
      </div>
      <!--Formulario-->
      <div class="mb-3">
        <input formControlName="Identificacion" id="identificacion" class="form-control form-control-sm" type="number" placeholder="Identificación" aria-label=".form-control-sm example" required>
      </div>
      <div class="mb-3">
        <input formControlName="Contrasena" id="contrasena" class="form-control form-control-sm" type="password" placeholder="Contraseña" aria-label=".form-control-sm example" required>
      </div>
      <div class="mb-3">
        <select  formControlName="Empresa" name="miselect" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option [ngValue]="null" disabled selected>Seleccione la Empresa</option>
          <option [ngValue]="empresa" *ngFor="let empresa of empresas">{{empresa}}</option>
        </select>
      </div>
      <!--Boton Ingresar al sistema-->
      <div class="mb-3">
        <input class="btn btn-danger btn-danger-sm" type="submit" value="¡Ingresar!">
      </div>

      <div class="mb-3">
        <a href="/home" class="invitado">Entrar como invitado</a>
      </div>
    </div>
    <!--Contenedor Login-->
  </div>
  <!--Fin Contenedor Principal-->
</form>
