<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<div class="fondo">
  <form [formGroup]="formularioUsuario" (ngSubmit)="validarCamposVacios()" autocomplete="off">

    <div class="titulo">
      <img class="logo" src="/assets/PLASTICARIBE_logo.png" alt="">
    </div>

    <!--Contenedor Principal-->
    <div class="container-fluid">
      <p-card class="contenedorLogin">

        <!--Titulo-->
        <div class="mb-3">
          <h4 class="tituloRojo"><i class="pi pi-sign-in"></i> Accede a tu cuenta</h4>
        </div>

        <div class="col-md mb">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input formControlName="Identificacion" autocomplete="off" placeholder="ID Usuario" id="usuario" pInputText required/>
              <label for="usuario">Usuario</label>
            </span>
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
          </div>
        </div>

        <div class="col-md mb">
          <span class="p-float-label">
            <p-password formControlName="Contrasena" [feedback]="false" id="pass" [toggleMask]="true"></p-password>
            <label for="pass">Contraseña</label>
          </span>

          <!-- <div class="p-inputgroup">
            <span class="p-float-label">
              <input formControlName="Contrasena" type="password" placeholder="Contraseña" id="pass" pInputText>
            </span>
            <ng-container *ngIf="mostrarPass == true then noMostrar; else mostrar"></ng-container>
            <ng-template #mostrar><span class="input-group-text cursor" (click)="mostrarPassword()"><i class="pi pi-eye"></i></span></ng-template>
            <ng-template #noMostrar><span class="input-group-text cursor" (click)="mostrarPassword()"><i class="pi pi-eye-slash"></i></span></ng-template>
          </div> -->
        </div>

        <div class="form-floating col-md mb">
          <span class="p-float-label">
            <p-dropdown formControlName="Empresa" id="Empresa" [options]="empresas" optionLabel="empresa_Nombre" optionValue="empresa_Id" [autoDisplayFirst]="true" ></p-dropdown>
            <label for="Empresa">Empresa</label>
          </span>
        </div>

        <!--Boton Ingresar al sistema-->
        <div class="d-grid gap-2 mb-3">
          <button pButton pRipple label="Ingresar" type="submit" icon="pi pi-check" class="p-button-danger"></button>
        </div>

        <!--Boton Ingresar como invitado-->
        <div class="mb-3">
          <button pButton pRipple type="button" icon="pi pi-users" label="Entrar como invitado" class="p-button-danger p-button-text" (click)="redireccionarArchivos()"></button>
        </div>
      </p-card>
    </div>
  </form>

  <div class="d-flex justify-content-center overlay" *ngIf="cargando">
    <div style="margin: auto;">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>
