span{
  color: #db4149;
}

.d-grid {
  padding-bottom: 3%;
}

.id {
  border: none;
  width: 100%;
}

.nav-link {
  color: #999ba1;
}

.nav-item {
  color: #db4149;
}

.nav-tabs{
  border-color: #db4149;
}

.nav-tabs .nav-item .nav-link {
  color: #ca727a;
  border-bottom: transparent;
}

.nav-tabs .nav-item .nav-link.active {
  color: #db4149;
  border-color: #db4149;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-color: #db4149;
  border-top: transparent;
  padding-top: 3%;
  padding-bottom: 3%;
}

.tab-content .tab-pane {
  height: auto;
}

.bajarPagina{
  margin-top: 50px;
}

.centrarComboMezclas {
  text-align: center;
}

.checkedCyrel_Corte {
  margin-left: 20%;
  margin-top: 20%;
}

@media (max-width: 700px){
  .checkedCyrel_Corte {
    margin: auto;
  }
}

.container-fluid{
  width: 80%;
  height: 100%;
}

.container-sm {
  width: 60%;
}
