/* span{
  color: #db4149;
}

.id {
  border: none;
  width: 100%;
}

.nav-link {
  color: #999ba1;
}

.nav-item {
  color: #db4149;
}

.nav-tabs{
  border: 2px solid palevioletred;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.nav-tabs .nav-item .nav-link {
  color: palevioletred;
  border-bottom: transparent;
}

.nav-tabs .nav-item .nav-link.active {
  color: #db4149;
  border: 2px solid palevioletred;
  border-bottom: transparent;
}

.tab-content {
  border: 2px solid #dee2e6;
  border-color: palevioletred;
  border-top: transparent;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0 0 5px 5px ;
}

.tab-content .tab-pane {
  height: auto;
}

.bajarPagina{
  margin-top: 50px;
}

.centrarComboMezclas {
  text-align: center;
}

.checkedCyrel_Corte {
  margin-left: 20%;
  margin-top: 20%;
}

@media (max-width: 700px){
  .checkedCyrel_Corte {
    margin: auto;
  }
}

.container-fluid{
  width: 80%;
  height: 100%;
}

.container-sm {
  width: 60%;
}

span {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  color: white;
  background-color: var(--rojo);
}

.p-divider-horizontal {
  width: 80%;
}

@media (max-width: 600px){

  span {
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
  }

  .p-divider-horizontal {
    width: 100%;
  }

  .container-fluid{
    width: 100%;
  }
}



 */

.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
  display: flex;
  width: 100%;
}

p-calendar ::ng-deep span button {
  background-color: var(--rojo);
  border: 0;
  transition: all 1s;
}

p-calendar ::ng-deep span .p-datepicker-trigger:hover {
  background: var(--rojoHover);
}

p-calendar ::ng-deep .p-datepicker-header button {
  background: #fff0;
}

p-calendar ::ng-deep .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar ::ng-deep span button span {
  display: block;
}

::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
  display: flex;
  width: 100%;
}

p-tabview ::ng-deep li ::ng-deep .p-tabview-nav-link {
  color: var(--rojo) !important;
  border: none !important;
}

p-divider ::ng-deep span {
  color: white !important;
  background-color: var(--rojo);
}

p-dialog ::ng-deep .p-dialog-header ::ng-deep span {
  align-items: center;
  text-align: center;
  color: var(--rojo);
}
