<app-menuLateral></app-menuLateral>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Ordenes de Trabajo</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>
<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid">
    <div class="container">

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <h4 class="tituloRojo" title="Consecutivo sobre el cual se crea una nueva OT">OT N° 111111</h4>
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Consultar/Crear OT</h4>
      </div>
      <form [formGroup]="FormOrdenTrabajo">
            <!--Primera fila de inputs-->
            <div class="mb-3">
              <div class="row g-3">
                  <!-- OT -->
                  <div class="form-floating col-md-2">
                    <input formControlName="OT_Id" type="number" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Nro. OT</label>
                  </div>
                  <!-- Nro. Pedido -->
                  <div class="form-floating col-md-2">
                    <input formControlName="Pedido_Id" type="number" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Nro. Pedido</label>
                  </div>

                  <!--Vendedor-->
                  <div class="form-floating col-md-4">
                    <input formControlName="Nombre_Vendedor" type="text" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Vendedor</label>
                  </div>

                    <!-- Fecha creacion -->
                    <div class="form-floating col-md-2">
                      <input formControlName="OT_FechaCreacion" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha creación" readonly onmousedown="return false;">
                      <label for="floatingInput">Fecha Creación</label>
                    </div>
                    <!-- Fecha Estimada Entrega -->
                    <div class="form-floating col-md-2">
                      <input formControlName="OT_FechaEntrega" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha estimada de entrega">
                      <label for="floatingInput">Fecha Entrega</label>
                    </div>
                </div>
              </div>

              <!--Fila 2-->
              <div class="mb-3">
                <div class="row g-3">
                  <!-- ID Sede Cliente -->
                  <div class="form-floating col-md-2">
                    <input formControlName="ID_Cliente" type="number" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">ID Cliente</label>
                  </div>
                  <!-- Cliente -->
                  <div class="form-floating col-md-3">
                    <input formControlName="Nombre_Cliente" type="text" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Nombre Cliente</label>
                  </div>
                  <!-- Ciudad Cliente -->
                  <div class="form-floating col-md-2">
                    <input formControlName="Ciudad_SedeCliente" type="text" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Ciudad Cliente</label>
                  </div>
                  <!-- Sede -->
                  <div class="form-floating col-md-3">
                    <input formControlName="Direccion_SedeCliente" type="text" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Direccion Sede</label>
                  </div>
                  <!--Estado-->
                  <!-- Sede -->
                  <div class="form-floating col-md-2">
                    <input formControlName="OT_Estado" type="text" class="form-control form-control-sm" id="floatingInput" required >
                    <label for="floatingInput">Estado OT</label>
                  </div>
                </div>
              </div>

              <!--Fila 3-->
              <div class="mb-4">
                <div class="row g-3">
                  <!-- Campo Observacion -->
                  <div class="form-floating col-md-7">
                    <textarea formControlName="Observacion" id="floatingTextArea" type="text" class="form-control form-control-sm" title="Descripción"></textarea>
                    <label for="floatingTextArea">Observación</label>
                  </div>
                </div>
              </div>
        </form>





      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="mb-3">
        <h4 class="tituloRojo">Tabla de Productos Pedidos</h4>
      </div>

        <!-- Inicio tabla producto -->
        <div class="mb-3">
          <div class="row g-3">
            <div class="table-responsive">
              <table class="table table-bordered table-hover mt-2" title="Al seleccionar un registro, se cargará la información de la última OT que incluía dicho producto en las secciones de producción">
                <thead class="TitulosTabla">
                  <tr *ngFor="let columnas of titulosTabla let i = index">
                    <th scope="col" class="idProducto">{{columnas.pID}}</th>
                    <th id="nombre" scope="col">{{columnas.pNombre}}</th>
                    <th id="ancho" scope="col" class="">{{columnas.pAncho}}</th>
                    <th id="fuelle" scope="col">{{columnas.pFuelle}}</th>
                    <th id="calibre" scope="col">{{columnas.pCalibre}}</th>
                    <th id="largo" scope="col">{{columnas.pLargo}}</th>
                    <th id="undMedidaPeso" scope="col">{{columnas.pUndMedACF}}</th>
                    <th id="tipoProducto" scope="col">{{columnas.pTipoProd}}</th>
                    <th id="material" scope="col">{{columnas.pMaterial}}</th>
                    <th id="pigmento" scope="col">{{columnas.pPigmento}}</th>
                    <th id="cantidad" scope="col">{{columnas.pCantidad}}</th>
                    <th id="undMedidaCantidad" scope="col">{{columnas.pUndMedCant}}</th>
                    <th id="precioUnitario" scope="col">{{columnas.pPrecioU}}</th>
                    <!-- <th id="tipoMoneda" scope="col">{{columnas.pMoneda}}</th> -->
                    <th id="Subtotal" scope="col">{{columnas.pSubtotal}}</th>
                    <th id="acciones" scope="col"></th>
                    <th id="acciones" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th id="id" class="TextosInfoTabla"></th>
                    <td id="nombre" class="TextosInfoTabla"></td>
                    <td id="ancho" class="TextosInfoTabla"></td>
                    <td id="fuelle" class="TextosInfoTabla"></td>
                    <td id="calibre" class="TextosInfoTabla"></td>
                    <td id="largo" class="TextosInfoTabla"></td>
                    <td id="undMedidaPeso" class="TextosInfoTabla"></td>
                    <td id="tipoProducto" class="TextosInfoTabla"></td>
                    <td id="material" class="TextosInfoTabla"></td>
                    <td id="pigmento" class="TextosInfoTabla"></td>
                    <td id="cantidadDisponible" class="TextosInfoTabla"></td>
                    <td id="undMedidaCantidad" class="TextosInfoTabla"></td>
                    <td id="precioUnitario" class="TextosInfoTabla"></td>
                    <td id="Subtotal" class="TextosInfoTabla"></td>
                    <td id="Editar" ><a><i class="fa fa-pencil" aria-hidden="true" title="Editar Producto"></i></a></td>
                    <td id="Eliminar" ><a><i class="fa fa-trash" aria-hidden="true" title="Quitar Producto de la tabla"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

          <!-- TABS de Procesos -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#Extrsuión" type="button" role="tab">Extrsuión</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Impresión" type="button" role="tab">Impresión</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Laminado" type="button" role="tab">Laminado</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- Extrusion -->
        <div class="tab-pane fade show active" id="Extrsuión" role="tabpanel" aria-labelledby="Extrsuión-tab">
          <form [formGroup]="FormOrdenTrabajoExtrusion">
            1
          </form>
        </div>
        <!-- Impresion -->
        <div class="tab-pane fade" id="Impresión" role="tabpanel" aria-labelledby="Impresión-tab">
          <form [formGroup]="FormOrdenTrabajoImpresion">
            2
          </form>
        </div>
        <!-- Laminado -->
        <div class="tab-pane fade" id="Laminado" role="tabpanel" aria-labelledby="Laminado-tab">
          <form [formGroup]="FormOrdenTrabajoLaminado">
            3
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
