<p-toast position="center"></p-toast>
<form [formGroup]="FormBopp" (ngSubmit)="crearBoppGenerico()">
  <div class="mb-3">
    <div class="row g-3">
      <!-- Nombre -->
      <div class="form-floating col-md-6">
        <input formControlName="Nombre" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Nombre</label>
      </div>

      <!-- Ancho -->
      <div class="form-floating col-md">
        <input formControlName="Ancho" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Ancho</label>
      </div>

      <!-- Micras -->
      <div class="form-floating col-md">
        <input formControlName="Micras" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Micras</label>
      </div>

      <div class="mb-1">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-danger btn-danger-sm" type="submit"><i class="pi pi-check"></i> Agregar</button>
          <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCampos()"><i class="pi pi-eraser"></i> Limpiar Campos</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-1" *ngIf="tintaCreada">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <h6>{{informacion}}</h6>
    </div>
  </div>
</form>
