 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<br>

<form [formGroup]="FormBopp" (ngSubmit)="crearBoppGenerico()">
  <div class="mb-3">
    <div class="row g-4">

      <!-- Nombre -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
        <span class="p-float-label">
          <input formControlName="Nombre" id="Nombre" type="text" pInputText required/>
          <label for="Nombre">Nombre</label>
        </span>
      </div>

      <!-- Ancho -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-inputNumber formControlName="Ancho" inputId="Ancho" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Ancho">Ancho</label>
        </span>
      </div>

      <!-- Micras -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-inputNumber formControlName="Micras" inputId="Micras" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Micras">Micras</label>
        </span>
      </div>

      <div class="mb-1">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" type="submit" label="Crear Proveedor" icon="pi pi-pencil"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
        </div>
      </div>
    </div>
  </div>
</form>
