 <!-- Inicio Contenedor total -->
<ng-container *ngIf="!modalMode">
  <app-menuLateral></app-menuLateral>
</ng-container>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="formulario">
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Facturas de Materia Prima</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>

  <!-- Inicio titulo -->
  <div class="mb-4">
    <h4 class="tituloRojo">Ingresar Factura de Materia Prima</h4>
  </div>

  <form [formGroup]="FormMateriaPrimaFactura">
    <div class="mb-3">
      <div class="row g-3">

        <div class="form-floating col-md-2">
          <input formControlName="OrdenCompra" (keyup.enter)="cargarInfoOrdenCompraEnTabla()" type="number" class="form-control form-control-sm" id="floatingInput" name="Mpid">
          <label for="floatingSelect">Nro. OC</label>
        </div>

        <!-- Factura -->
        <div class="form-floating col-md-2">
          <input formControlName="MpFactura" type="text" class="form-control form-control-sm" id="floatingInput" name="Mpid" >
          <label for="floatingSelect">Nro. Factura</label>
        </div>
        <!-- Remision -->
        <div class="form-floating col-md-2">
          <input formControlName="MpRemision" type="text" class="form-control form-control-sm" id="floatingInput" name="Mpid" >
          <label for="floatingSelect">Nro. Remisión</label>
        </div>

        <div class="form-floating col-md">
          <input formControlName="proveedorNombre" class="form-control" list="clientes" id="floatingInput" (change)="cambiarNombreProveedor()" title="Nombre del Proveedor" required>
          <datalist id="clientes">
            <option value={{item.prov_Id}} *ngFor="let item of proveedor">{{item.prov_Nombre}}</option>
          </datalist>
          <label for="floatingInput">Proveedor</label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row g-3">
        <!-- Campo Observacion -->
        <div class="form-floating col-md">
          <textarea formControlName="MpObservacion" id="floatingTextarea" type="text" class="form-control form-control-sm" name="MpObservacion"></textarea>
          <label for="floatingTextarea">Observación</label>
        </div>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <h4 class="tituloRojo">Materia Prima</h4>
  </div>

  <!--Inicio tabla Mat. Primas de la OC -->
  <div class="mb-3">
    <div class="row g-3">
      <p-table
      #dt
      [value]="arrayOrdenCompra"
      selectionMode = "multiple"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords}"
      [rowsPerPageOptions]="[10,25,50]"
      [rowHover]="true"
      dataKey="Id"
      [(selection)]="ArrayMateriaPrima">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Cant. Ingresada</th>
            <th scope="col">Cantidad Faltante</th>
            <th scope="col">Presentación</th>
            <ng-template ></ng-template>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox *ngIf="mostrarCheck" (click)="seleccionarTodosMateriaPrima(arrayOrdenCompra)"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-arrayOrdenCompra>
            <ng-container *ngIf="arrayOrdenCompra.Exits && arrayOrdenCompra.Cantidad_Ingresada == arrayOrdenCompra.Cantidad; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <tr>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Id}}</td>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Nombre}}</td>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Cantidad | number}}</td>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Cantidad_Ingresada | number}}</td>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Cantidad_Faltante | number}}</td>
                <td style="background-color: rgb(255, 146, 146);">{{arrayOrdenCompra.Medida}}</td>
              </tr>
            </ng-template>
            <ng-template #elseTemplate>
              <tr [ngClass]="{'row-accessories': arrayOrdenCompra.Id > 10000}">
                <td>{{arrayOrdenCompra.Id}}</td>
                <td>{{arrayOrdenCompra.Nombre}}</td>
                <td>{{arrayOrdenCompra.Cantidad_Oculta | number}}</td>
                <td>{{arrayOrdenCompra.Cantidad_Ingresada | number}}</td>
                <td>{{arrayOrdenCompra.Cantidad_Faltante | number}}</td>
                <td>{{arrayOrdenCompra.Medida}}</td>
                <td>
                  <p-tableCheckbox *ngIf="arrayOrdenCompra.Id < 10000" [value]="arrayOrdenCompra" (click)="llenarMateriaPrimaAIngresar(arrayOrdenCompra)"></p-tableCheckbox>
                </td>
              </tr>
            </ng-template>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <div class="mb-4">
    <h4 class="tituloRojo">Tabla Ingreso</h4>
  </div>

  <div class="mb-3" *ngIf="load">
    <div class="row g-3">
      <p-table
        #dt1
        [value]="ArrayMateriaPrima"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,25,50]"
        [rowHover]="true"
        dataKey="Id"
        [(selection)]="arrayOrdenCompra">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentación</th>
            <th scope="col" *ngIf="ValidarRol == 1">Precio Unitario</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox (click)="quitarTodosMateriaPrima(ArrayMateriaPrima)"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ArrayMateriaPrima>
          <tr *ngIf="!ArrayMateriaPrima.Exits">
            <td>{{ArrayMateriaPrima.Id}}</td>
            <td>{{ArrayMateriaPrima.Nombre}}</td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber [(ngModel)]="ArrayMateriaPrima.Cantidad_Faltante" inputId="minmaxfraction" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="ArrayMateriaPrima.Cantidad_Oculta" [maxFractionDigits]="2"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ArrayMateriaPrima.Cantidad_Faltante | number}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>{{ArrayMateriaPrima.Medida}}</td>
            <td *ngIf="ValidarRol == 1">{{ArrayMateriaPrima.Precio | number}}</td>
            <td>
              <p-tableCheckbox [value]="ArrayMateriaPrima" (click)="quitarMateriaPrimaAIngresar(ArrayMateriaPrima)"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="ValidarRol == 1">
          <tr>
            <td colspan="4" class="text-right">Totales</td>
            <td>{{valorTotal | number}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <!-- Buscar remisiones para añadirlas a una factura -->
  <p-accordion>
    <p-accordionTab header="Añadir Remisiones a una Factura">
      <div class="mb-4">
        <h4 class="tituloRojo">Buscar Remisiones</h4>
      </div>
      <form [formGroup]="FormRemisiones">
        <div class="form-floating col-md-2">
          <input formControlName="idRemision" (keyup.enter)="consultarIdRemisiones()" type="text"  class="form-control form-control-sm" id="floatingInput">
          <label for="floatingInput">Número Remisión</label>
        </div>
      </form>
      <br>
      <div *ngIf="load">
        <div class="mb-2">
          <div class="row g-1">
            <div class="table-responsive">
              <table class="table table-bordered" >
                <thead class="TitulosTabla">
                  <tr *ngFor="let remColumnas of titulosTablaRemisiones let i = index">
                    <th id="idMateriaPrima" scope="col">{{remColumnas.remId}}</th>
                    <th id="nombreMateriaPrima" scope="col">{{remColumnas.remCodigo}}</th>
                    <th id="cantidadMateriaPrima" scope="col">{{remColumnas.remFecha}}</th>
                    <th id="UnidadMedida" scope="col">{{remColumnas.remProveedor}}</th>
                    <th id="precioMateriaPrima" scope="col">{{remColumnas.remUsuario}}</th>
                    <th id="subTotalMateriaPrima" scope="col">{{remColumnas.remTipoDoc}}</th>
                    <th id="subTotalMateriaPrima" scope="col">{{remColumnas.remPrecio}}</th>
                    <th id="archivo" scope="col">Archivo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let remisiones of ArrayRemisiones let i = index">
                    <td id="idMateriaPrima">{{remisiones.remisionId}}</td>
                    <td id="nombreMateriaPrima">{{remisiones.remisionCodigo}}</td>
                    <td id="cantidadMateriaPrima">{{remisiones.remisionFecha | date : 'yyyy-MM-dd'}}</td>
                    <td id="UnidadMedida">{{remisiones.remisionProveedor}}</td>
                    <td id="precioMateriaPrima">{{remisiones.remisionUsuario}}</td>
                    <td id="subTotalMateriaPrima">{{remisiones.remisionDocumento}}</td>
                    <td id="subTotalMateriaPrima">{{remisiones.remisionPrecio | currency}}</td>
                    <td id="archivo"><a><i style="width: 20px; height: 10px;" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" aria-hidden="true" (click)="llenarDocumento(remisiones)"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </p-accordionTab>
  </p-accordion>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <!-- BOTONES -->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCampos()">Agregar Factura</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodosCampos()">Limpiar Todos los Campos</button>
    </div>
  </div>
</div>
