

.TitulosTabla {
  font-size: smaller;
}

.d-grid {
  padding-bottom: 5%;
}

.Linea {
  color: #777;
}

span{
  color: #d83542;
}

.container{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar {
 -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
 -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
 box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
 text-decoration: none;
 color: #5D6D7E;
}


.textoBarraNav{
 font-size: small;
}


a {
 text-decoration: none;
}

.Titulo{
 margin-top: 2%;
 text-align: center;
}

.tituloRojo{
 color:  #d83542;
}

.colorLinea{
 color: #b6bac2;
 height: 2px;
}

.form-select {
  width: 100%;
}

.modal-body {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-title {
  color: #d83542 ;
}

.campoObservacion {
  width: 50%;
}

.bajarPagina{
  padding-bottom: 5%;
}


.d-grid {
  padding-bottom: 3%;
}

.TextosInfoTabla {
  font-size: smaller;
}

.precios{
  background-color:  #fff;
  width: 100%;
  height: 100%;
  border : none;
 }

.form-floating{
  font-size: 15px;
}

 label{
  font-size: 14px;
 }

 .overlay{
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .6);
  cursor: default;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
  font-size: smaller;
}
