<div class="d-flex justify-content-center overlay" *ngIf="load">
    <div style="margin: auto;">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<div class="row m-3 g-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 mt-3">
      <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Buscar Controles de Calidad</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 mr-2">
      <span class="p-float-label" id="rango-fechas">
        <p-calendar id="rango" inputId="FechaInicial" [(ngModel)]="rangoFechas" selectionMode="range" [showIcon]="true" pTooltip="Selecciona el rango de fechas y presiona el botón consultar"></p-calendar>
        <label for="FechaInicial">Rango de Fechas</label>
      </span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-3 col-xxl-2">
      <div class="d-grid gap-2 d-md-flex">
        <button id="consultar" pButton pRipple pTooltip="Llena el campo rango de fechas y consulta aquí." label="Consultar" icon="pi pi-search" class="p-button-danger botonesOpciones" id="consultar" (click)="mostrarRegistrosHoy()"></button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-3 col-xxl-4">

    </div>
</div>

<p-table 
 #dtSellado
 *ngIf="!load" 
 columnResizeMode="expand" 
 [resizableColumns]="true"
 styleClass="p-datatable-gridlines p-datatable-sm" 
 responsiveLayout="scroll" 
 [value]="registros" 
 dataKey="Id"
 editMode="row" 
 [scrollable]="true" 
 scrollHeight="50rem">
    <ng-template pTemplate="caption">
        <div class="row g-4 p-3">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <button pButton pRipple label="Nuevo Registro" icon="pi pi-plus" class="p-button-success" (click)="agregarFila()"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th><input pInputText (input)="aplicarfiltro($event, 'OT', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Ronda', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Turno', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Maquina', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Referencia', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Calibre', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Ancho', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Largo', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Af_Izquierdo', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Af_Derecho', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Af_Abajo', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Rasgado', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Filtrado', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Presion', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Sellabilidad', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Impresion', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Precorte', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Perforacion', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'BolsasxPaq', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Fecha', 'contains')"></th>
            <th><input pInputText (input)="aplicarfiltro($event, 'Observacion', 'contains')"></th>
            <th></th>
        </tr>
        <tr>
            <th colspan="8"></th>
            <th colspan="3" class="text-center">Ancho de fuelle (Cms)</th>
            <th></th>
            <th colspan="2" class="text-center">Pruebas</th>
            <th colspan="9"></th>
        </tr>
        <tr>
            <th style="min-width : 100px" pFrozenColumn [frozen]="true" alignFrozen="left">OT</th>
            <th style="min-width : 80px">Ronda</th>
            <th style="min-width : 80px">Turno</th>
            <th style="min-width : 80px">Maq.</th>
            <th style="min-width : 300px">Referencia</th>
            <th style="min-width : 80px">Calibre</th>
            <th style="min-width : 80px">Ancho</th>
            <th style="min-width : 80px">Largo</th>
            <th style="min-width : 80px">Izq.</th>
            <th style="min-width : 80px">Der.</th>
            <th style="min-width : 100px">Abajo</th>
            <th style="min-width : 100px">Rasgado</th>
            <th style="min-width : 80px">Filtrado</th>
            <th style="min-width : 80px">Presion</th>
            <th style="min-width : 100px">Sellabilidad</th>
            <th style="min-width : 100px">Impresión</th>
            <th style="min-width : 100px">Precorte</th>
            <th style="min-width : 100px">Perforación</th>
            <th style="min-width : 100px">Bolsas x Paq.</th>
            <th style="min-width : 120px">Fecha Registro</th>
            <th style="min-width : 200px">Observación</th>
            <th style="min-width : 100px" pFrozenColumn [frozen]="true" alignFrozen="right">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="registro" [ngClass]="{'noEnviados' : !registro.Guardado}">
            <!--OT-->
            <td pFrozenColumn [frozen]="true" alignFrozen="left" style="z-index: 50;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber type="number" [useGrouping]="false" [(ngModel)]="registro.OT" pAutoFocus [autofocus]="true" (keyup.enter)="consultarOT(registro, ri)"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <i *ngIf="!registro.Guardado" class="pi pi-exclamation-circle cursor font-size-16" pTooltip="No se ha guardado esta información" pBadge severity="danger"></i>
                        <b>{{registro.OT}}</b>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Ronda-->
            <td>
                {{registro.Ronda}}
            </td>
            <!--Turno-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="turnos" appendTo="body" [(ngModel)]="registro.Turno" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Turno}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Maquina-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber type="number" [useGrouping]="false" [(ngModel)]="registro.Maquina"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <b>{{registro.Maquina}}</b>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Referencia-->
            <td [ariaReadOnly]="true">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [readonly]="true" [(ngModel)]="registro.Referencia">
                    </ng-template>
                    <ng-template pTemplate="output">
                        <b>{{registro.Referencia}}</b>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Calibre-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Calibre"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Calibre | number: '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Ancho-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Ancho"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Ancho | number : '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Largo-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Largo"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Largo | number : '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Ancho Fuelle Izq.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Af_Izquierdo"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Af_Izquierdo | number : '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Ancho Fuelle Der.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Af_Derecho"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Af_Derecho | number : '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Ancho Fuelle Abajo.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber mode="decimal" [maxFractionDigits]="2" type="number" [(ngModel)]="registro.Af_Abajo"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Af_Abajo | number : '1.2-2'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Rasgado.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Rasgado"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Rasgado}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Filtrado-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Filtrado"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Filtrado}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Presión-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Presion"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Presion}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Sellabilidad-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="resistencia" appendTo="body" [(ngModel)]="registro.Sellabilidad"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Sellabilidad}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Impresión-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Impresion"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Impresion}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Precorte.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Precorte"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Precorte}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Perforación.-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="eleccion" appendTo="body" [(ngModel)]="registro.Perforacion"
                            [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Perforacion}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Cant. bolsas por paquete-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber type="number" mode="decimal" [maxFractionDigits]="2" [(ngModel)]="registro.BolsasxPaq"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <b>{{registro.BolsasxPaq | number : '1.2-2'}}</b>
                    </ng-template>
                </p-cellEditor>
            </td>
             <!--Fecha-->
             <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="registro.Fecha" [readOnly]="true">
                    </ng-template>
                    <ng-template pTemplate="output">
                        <b>{{registro.Fecha}}</b>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--Observación-->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="registro.Observacion">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{registro.Observacion}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--botones-->
            <td pFrozenColumn [frozen]="true" alignFrozen="right">
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="filaEditar(registro, ri)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="mostrarEleccion(registro)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="filaCancelar(registro, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="editing && !registro.Guardado" pButton pRipple type="button" pTooltip="Quitar registro" icon="pi pi-trash" (click)="quitarRegistro(ri)" class="p-button-rounded p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast position="center" key="eleccion" (onClose)="onReject('eleccion')" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message" let-item>
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle font-size-48"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-fluid" style="display: flex;">
                <div class="col-6" style="margin-right: 5px;">
                    <button type="button" pButton (click)="validarId(item)" icon="pi pi-check" label="Si" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject('eleccion')" icon="pi pi-times" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<!--
  (click)="onRowEditInit(registro)"
(click)="onRowEditSave(registro)"
(click)="onRowEditCancel(registro, ri)"
-->