<app-menuLateral></app-menuLateral>
<!--
<div class="row g-3">
  <div class="col md texto">
    <div class="container">
      <div class="textoIntermedio">
        <p class="fs-3 parrafo">
          <b>
            ¡Bienvenido al nuevo
            <span class="plasticaribe_resaltado"> Plasticaribe S.A.S, </span> <b class="negritaEnRojo"> {{storage_Nombre}}!</b>
          </b>
        <br>
        <p class="fs-3 parrafo2">¡Estamos innovando!, te dejamos algunas recomendaciones acerca del uso de nuestro nuevo sistema de información  basado en la nube, toma nota.</p>
        <p class="fs-3 parrafo2">Para poder ver el menú debes presionar en la parte superior izquierda donde dice <b>Plasti<span>caribe S.A.S</span></b>.</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="mb-3 textoPequeno">
        <p class="textoPequenoP">  Cuida a Plasticaribe S.A.S, como a ti mismo.</p>
        <ul>
          <li  type="disc">Evita utilizar letras en campos donde haya que digitar números.</li>
          <li  type="disc">Evita utilizar carácteres especiales como puntos y comas en los formularios.</li>
          <li  type="disc">Sacale el máximo provecho a la herramienta.</li>
          <li  type="disc">Gestiona tus solicitudes de permisos.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <br> <br>
      <button class="btn btn-danger float-right">Ver tutorial</button>
    </div>
  </div>
</div> -->
<p-toast position="center" key="tc"></p-toast>

<div class="dock-window dock-advanced">
  <p-dock [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.icon" [alt]="item.label" width="100%" style="cursor: pointer;">
    </ng-template>
  </p-dock>

  <div class="contenedorLista" *ngIf="displayTerminal">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <label class="btnclose pi pi-times" mat-button (click)="cerrar()"></label>
    </div>
    <p-pickList
      [source]="disponiblesMostrar"
      [target]="targetProducts"
      [showTargetControls]="false"
      [showSourceControls]="false"
      sourceHeader="Disponible"
      targetHeader="Seleccionado"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{'height':'30rem'}"
      [targetStyle]="{'height':'30rem'}"
      filterBy="nombre"
      sourceFilterPlaceholder="Buscar por nombre"
      targetFilterPlaceholder="Buscar por nombre"
      (onMoveToTarget)="elegirFavoritos()"
      (onMoveAllToTarget)="elegirFavoritos()"
      (onMoveToSource)="elegirFavoritos()"
      (onMoveAllToSource)="elegirFavoritos()">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-list-detail">
            <span>
              <img [src]="product.icono" [alt]="product.nombre" width="10%">
              <p style="color: #000; padding-left: 5%;">{{product.nombre}}</p>
            </span>
            <p style="color: #d83542; padding-left: 20%;">{{product.categoria}}</p>
          </div>
        </div>
      </ng-template>
      <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
    </p-pickList>
  </div>

</div>
