span{
  color: #d83542;
  display: flex;
}

.contenedorLista {
  width: 55%;
  margin: auto;
  border: solid #bbb 3px;
  border-radius: 1%;
}

.btnclose {
  font-size: 25px;
  padding: 2%;
  color: #d83542;
  cursor: pointer;
}

.btnclose:hover {
  color: #952731;
}
