<app-menuLateral></app-menuLateral>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="tutorial" id="tutorial"></div>
<div class="fondo">
<br>
  <!-- MENSAJE DE ADVERTENCIA -->
  <p-toast position="center" key="tc" [preventOpenDuplicates]="true"></p-toast>
  <div class="container-fluid" id="card">
    <p-tabView [scrollable]="true" (onChange)="cambioTab($event)" *ngIf="(ValidarRol == 1 || ValidarRol == 3 || ValidarRol == 60 || ValidarRol == 61)">
      <!-- ORDENES DE TRABAJO -->
      <p-tabPanel
        header="Ordenes de Trabajo"
        leftIcon="pi pi-sliders-h"
        tooltip="Información de las Ordenes de Trabajo"
        *ngIf="ValidarRol == 1 || ValidarRol == 60">
        <app-Dashboard-OT *ngIf="ordenTrabajo"></app-Dashboard-OT>
      </p-tabPanel>

      <!--FACTURACIÓN-->
      <p-tabPanel
        header="Facturación"
        leftIcon="pi pi-sliders-h"
        tooltip="Información de la Facturación Mensual"
        *ngIf="ValidarRol == 1 || ValidarRol == 60">
        <app-DashBoard_Facturacion *ngIf="facturacion"></app-DashBoard_Facturacion>
      </p-tabPanel>

      <!-- MATERIA PRIMA -->
      <p-tabPanel
        header="Materia Prima"
        leftIcon="pi pi-box"
        tooltip="Información de las Materias Primas"
        *ngIf="ValidarRol == 1 || ValidarRol == 60 || ValidarRol == 3">
        <app-Dashboard_MatPrima *ngIf="materiaPrima"></app-Dashboard_MatPrima>
      </p-tabPanel>

      <!-- PEDIDOS -->
      <p-tabPanel
        header="Pedidos"
        leftIcon="pi pi-shopping-bag"
        tooltip="Información de los Pedidos creados en Zeus"
        *ngIf="ValidarRol == 1 || ValidarRol == 60 || ValidarRol == 61">
        <app-DashBoard_Pedidos *ngIf="pedidos"></app-DashBoard_Pedidos>
      </p-tabPanel>

      <!-- FACTURACION DE VENDEDORES -->
      <p-tabPanel
        header="Facturación Vendedores"
        leftIcon="pi pi-chart-line"
        tooltip="Información de la Facturación Mensual y las Ordenes de Trabajo"
        *ngIf="ValidarRol == 1 || ValidarRol == 60">
        <app-ReporteFacturacion_Vendedores *ngIf="facturacionVendedores"></app-ReporteFacturacion_Vendedores>
      </p-tabPanel>

      <!-- REACUDOS -->
      <p-tabPanel
        header="Recaudos"
        leftIcon="pi pi-shopping-cart"
        tooltip="Información sobre los reacudos de la empresa"
        *ngIf="ValidarRol == 1">
        <app-DashBoard-Recaudos *ngIf="recaudos"></app-DashBoard-Recaudos>
      </p-tabPanel>

    </p-tabView>
  </div>
</div>
