.fondo {
  background-image: linear-gradient(62deg, #b7c5ff 0%, #eefee4 100%);
  height: 100%;
  border-radius: 20px;
}

.header h3, .header .pi, .rojo {
  font-size: calc(var(--font-size) * 1.5rem);
  color: var(--rojo);
}

.header2 h3, .header2 .pi, .rojo {
  font-size: calc(var(--font-size) * 1.5rem);
  color: var(--rojoClaro);
}

.header h3:hover, .header .pi:hover, .rojo:hover {
  color: var(--rojoHover);
}

.header2 h3:hover, .header2 .pi:hover, .rojo:hover {
  color: var(--rojoHover);
}

.fila-1, .fila-2, .fila-3, .fila-4 {
  padding: 0 2%;
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bg-naranja {
  color: black;
  background-color: #F6D45D;
  font-size: calc(var(--font-size) * 15px);
}

.bg-azul {
  color: black;
  background-color: #83D3FF;
  font-size: calc(var(--font-size) * 15px);
}

.bg-amarillo {
  color: black;
  background-color: #F3FC20;
  font-size: calc(var(--font-size) * 15px);
}

.bg-verde {
  color: black;
  background-color: #8AFC9B;
  font-size: calc(var(--font-size) * 15px);
}

.bg-rojo {
  color: black;
  background-color: #FF7878;
  font-size: calc(var(--font-size) * 15px);
}

.bg-verde2 {
  color: black;
  background-color: #53CC48;
  font-size: calc(var(--font-size) * 15px);
}

.imagen {
  width: 25%;
  height: 100%;
}

@media (max-width: 600px) {
  .p-3 {
    padding: 0.5rem !important;
  }
}

.toolbar {
  width: 60%;
}

p-toolbar ::ng-deep .p-toolbar, p-toolbar ::ng-deep .p-toolbar ::ng-deep .row {
  width: 100%;
}

p-dropdown {
  margin: 0;
}

p-dropdown ::ng-deep div, p-dropdown ::ng-deep div ::ng-deep span {
  width: 100%;
}

button {
  width: 30px;
}

p-card ::ng-deep [class = "p-card p-component"] {
  border: 3px solid #fefefe00;
  border-radius: 20px;
  transition: all 500ms;
}

p-card ::ng-deep [class = "p-card p-component"]:hover {
  border: 3px solid #00000008;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.2);
  width: calc(100% + 0.1%);
  height: calc(100% + 1%);
}

.fondo {
  --s: 50px; /* control the size */
  
  --_g: conic-gradient(at 50% 25%,#0000 75%,#838383 0);
  background: var(--_g),var(--_g) var(--s) var(--s), var(--_g) calc(2*var(--s)) calc(2*var(--s)), var(--_g) calc(3*var(--s)) calc(3*var(--s)), 
  repeating-linear-gradient(135deg,#464545 0 12.5%,#a19e9e 0 25%);
  background-size: calc(4*var(--s)) calc(4*var(--s))
}

.costosAnios{
  justify-content: center;
  text-align: center;
  background-color: #d1d1d122;
  border: 1.9px dashed #8b8b8b;
  border-radius: 10px;
  margin: 10px;
}

.costosAniosOscuro{
  justify-content: center;
  text-align: center;
  background-color: #aaa2;
  border: 1.9px dashed #d7d7d7;
  border-radius: 10px;
  margin: 10px;
}