.fondo {
  background-color: #fcd3d3;
  background-image: linear-gradient(45deg, #fcd3d3 0%, #fff3df 100%);
  height: 100%;
  border-radius: 20px;
}

.fondo2 {
  background-color: #040d19;
  height: 100%;
}

.header h3, .header .pi, .rojo {
  font-size: calc(var(--font-size) * 1.5rem);
  color: var(--rojo);
}

.header h3:hover, .header .pi:hover, .rojo:hover {
  color: var(--rojoHover);
}

.fila-1, .fila-2, .fila-3, .fila-4 {
  padding: 0 2%;
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bg-naranja {
  color: black;
  background-color: #F6D45D;
  font-size: calc(var(--font-size) * 15px);
}

.bg-azul {
  color: black;
  background-color: #83D3FF;
  font-size: calc(var(--font-size) * 15px);
}

.bg-amarillo {
  color: black;
  background-color: #F3FC20;
  font-size: calc(var(--font-size) * 15px);
}

.bg-verde {
  color: black;
  background-color: #8AFC9B;
  font-size: calc(var(--font-size) * 15px);
}

.bg-rojo {
  color: black;
  background-color: #FF7878;
  font-size: calc(var(--font-size) * 15px);
}

.bg-verde2 {
  color: black;
  background-color: #53CC48;
  font-size: calc(var(--font-size) * 15px);
}

.imagen {
  width: 22%;
  height: 100%;
}

::ng-deep .p-datatable-sm ::ng-deep .p-datatable-striped {
  padding: 1rem;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

@media (max-width: 600px) {
  .p-4 {
    padding: 0.5rem !important;
  }
}

p-card ::ng-deep [class = "p-card p-component"] {
  border: 3px solid #fefefe00;
  border-radius: 20px;
  transition: all 500ms;
}

p-card ::ng-deep [class = "p-card p-component"]:hover {
  border: 3px solid #00000008;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.2);
  width: calc(100% + 0.1%);
  height: calc(100% + 1%);
}

.slide-in-top {
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
	animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-center {
	animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}