
<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Eliminar Rollos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Consultar Rollos</h4>
  </div>

  <!-- Formulario para consultar una orden de trabajo -->
  <form [formGroup]="FormConsultarRollos">

    <!-- Primera Fila -->
    <div class="mb-3" id="formulario">
      <div class="row g-3">

        <!-- Consultar Orden de Trabajo -->
        <div class="col-xs-12 col-xs-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="OT_Id" id="ordenTrabajo" type="text" pInputText (keyup.enter)="consultarRollos()" required/>
            <label for="ordenTrabajo">OT</label>
          </span>
        </div>

        <!-- Numero de Rollo -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl">
          <span class="p-float-label">
            <input formControlName="IdRollo" id="Rollo" type="text" pInputText (keyup.enter)="consultarRollos()" required />
            <label for="Rollo">N° Rollo</label>
          </span>
        </div>

        <!-- Procesos -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl">
          <span class="p-float-label">
            <p-dropdown formControlName="Proceso" optionValue="proceso_Nombre" inputId="Proceso" [autoDisplayFirst]="false" [options]="arrayProcesos" optionLabel="proceso_Nombre"></p-dropdown>
            <label for="Proceso">Procesos</label>
          </span>
        </div>

        <!-- Bodega -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl">
          <span class="p-float-label">
            <p-dropdown formControlName="Bodega" optionValue="Id" inputId="Bodega" [autoDisplayFirst]="false" [options]="bodegas" optionLabel="Nombre"></p-dropdown>
            <label for="Bodega">Bodega</label>
          </span>
        </div>

        <!-- Fecha Inicial -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl">
          <span class="p-float-label">
            <p-calendar formControlName="fechaDoc" inputId="FechaInicial" [showIcon]="true"></p-calendar>
            <label for="FechaInicial">Fecha Inicial</label>
          </span>
        </div>

        <!-- Fecha Final -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl">
          <span class="p-float-label">
            <p-calendar formControlName="fechaFinalDoc" inputId="FechaFinal" [showIcon]="true"></p-calendar>
            <label for="FechaFinal">Fecha Final</label>
          </span>
        </div>

      </div>
    </div>

    <!-- Botones -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="consultarRollos" type="button" label="Consultar Rollos" icon="pi pi-search" (click)="consultarRollos()"></button>
      <button pButton class="p-button-secondary" id="limpiarFiltros" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarForm()"></button>
    </div>

  </form>

  <div class="mb-3">
    <hr class="Linea">
  </div>

  <!-- Inicio titulo tabla producto -->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" style="width: 68%;"><i class="pi pi-list"></i> Tabla de Rollos</h4>
  </div>

  <!--Inicio tabla Rollos creados en OT -->
  <div class="mb-3" *ngIf="cargando">
    <div class="row g-3 font-size-14" id="tabla1">
      <p-table
          #dt
          id="dt"
          [value]="rollos"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} rollos"
          [rowsPerPageOptions]="[10,25,50]"
          [rowHover]="true"
          dataKey="Id"
          [(selection)]="rollosInsertar"
          [scrollable]="true"
          scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">OT</th>
            <th scope="col">ID Rollo</th>
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentacion</th>
            <th scope="col">Proceso</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox (click)="seleccionarTodosRollos(rollos)" id="elegirRollos"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rollo>
          <tr>
            <ng-container *ngIf="rollo.exits; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Ot}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Id}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.IdProducto}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Producto}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Fecha}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Cantidad | number}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Presentacion}}</td>
              <td style="background-color: rgb(255, 146, 146);">{{rollo.Proceso}}</td>
            </ng-template>
            <ng-template #elseTemplate>
              <td>{{rollo.Ot}}</td>
              <td>{{rollo.Id}}</td>
              <td>{{rollo.IdProducto}}</td>
              <td>{{rollo.Producto}}</td>
              <td>{{rollo.Fecha}}</td>
              <td>{{rollo.Cantidad | number}}</td>
              <td>{{rollo.Presentacion}}</td>
              <td>{{rollo.Proceso}}</td>
              <td>
                <p-tableCheckbox [value]="rollo" id="elegirRollo" (click)="llenarRollosAIngresar(rollo)"></p-tableCheckbox>
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4">
    <hr class="Linea">
  </div>

  <!-- Inicio titulo tabla producto -->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de Rollos por Ingresar</h4>
  </div>

  <!--Inicio tabla Rollos a Insertar -->
  <div class="mb-3" *ngIf="cargando">
    <div class="row g-3" id="tabla2">
      <p-table
        #dt
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,25,50]"
        [rowHover]="true"
        [value]="rollosInsertar"
        dataKey="Id"
        [(selection)]="rollos"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">OT</th>
            <th scope="col">ID Rollo</th>
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Presentación</th>
            <th scope="col">Proceso</th>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox (click)="quitarTodosRollos()" id="elegirRollos2"></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rollosInsertar>
          <tr *ngIf="!rollosInsertar.exits">
            <td>{{rollosInsertar.Ot}}</td>
            <td>{{rollosInsertar.Id}}</td>
            <td>{{rollosInsertar.IdProducto}}</td>
            <td>{{rollosInsertar.Producto}}</td>
            <td>{{rollosInsertar.Cantidad | number}}</td>
            <td>{{rollosInsertar.Presentacion}}</td>
            <td>{{rollosInsertar.Proceso}}</td>
            <td>
              <p-tableCheckbox [value]="rollosInsertar" (click)="quitarRollosAIngresar(rollosInsertar)" id="elegirRollo2"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="mb-4" *ngIf="cargando">
    <hr class="Linea">
  </div>

  <!-- Inicio titulo tabla producto -->
  <div class="mb-4" *ngIf="cargando">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-table"></i> Consolidado Productos</h4>
  </div>

  <!--Inicio tabla Rollos a Insertar -->
  <div class="mb-3" *ngIf="cargando">
    <div class="row g-3" id="tabla3">
      <div class="table-responsive">
        <p-table
        #dt
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="20"
        [rowHover]="true"
        [value]="grupoProductos"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">OT</th>
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">N° Rollos</th>
            <th scope="col">Presentación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grupoProductos>
          <tr>
            <td>{{grupoProductos.Ot}}</td>
            <td>{{grupoProductos.Id}}</td>
            <td>{{grupoProductos.Nombre}}</td>
            <td>{{grupoProductos.Cantidad}}</td>
            <td>{{grupoProductos.Rollos}}</td>
            <td>{{grupoProductos.Presentacion}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="3" class="text-right">Totales</td>
            <td>{{totalCantidad | number}}</td>
            <td>{{totalRollos | number}}</td>
            <td>Kg</td>
          </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div class="bajarPagina" *ngIf="cargando">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="eliminarRollos" type="button" label="Eliminar Rollos" (click)="mostrarEleccion()" icon="pi pi-trash"></button>
      <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" (click)="limpiarCampos()" icon="pi pi-eraser"></button>
    </div>
  </div>

</p-card>

<p-toast position="center" key="eleccion" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="onConfirm()" icon="pi pi-database" label="BD BagPro" class="p-button-warning"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onConfirm2()" icon="pi pi-database" label="BD Nueva" class="p-button-success"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
