/* You can add global styles to this file, and also import other style files */
:root {
  --font-size: 1;
  --rojo: #db4149;
  --rojoHover: #a8262c;
  --rojoClaro : rgb(214, 100, 106);
  --shadow-color: 286deg 36% 56%;
}

* {
  text-decoration: none;
}

html, body {
  font-family: sans-serif;
  font-size: calc(var(--font-size) * 16px);
}

.TitulosTabla {
  font-size: calc(var(--font-size) * 16px);
}

.botonRojo {
  color: white !important;
  background-color: var(--rojo) !important;
}

.botonGris {
  color: white !important;
  background-color: #5D6D7E !important;
}

.Linea {
  color: #5e5e5e;
}

.container{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.formulario {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

.formularioModal {
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 100%;
  padding: 2%;
}

@media (max-width : 800px) {
  .formulario {
    width: 90%;
  }
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
  text-decoration: none;
  color: #5D6D7E;
}

.colorRojo {
  color: var(--rojoClaro);
}

.textoBarraNav{
  font-size: calc(var(--font-size) * 13px);
}

.Titulo{
  text-align: center;
}

.Titulo .tituloRojo {
  font-size: calc(var(--font-size) * 32px);
}

.Titulo .tituloClaro {
  font-size: calc(var(--font-size) * 32px);
}

.tituloRojo{
  color: var(--rojo);
  font-size: calc(var(--font-size) * 20px);
}

.tituloClaro{
  color: var(--rojoClaro);
  font-size: calc(var(--font-size) * 20px);
}

.colorLinea{
  color:#b6bac2;
  height: 2px;
  margin: auto;
}

.form-select {
  width: 100%;
}

.modal-body {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-title {
  color: var(--rojo) ;
}

.overlay{
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 100%, 1%, 0.6);
  cursor: default;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cursor {
  cursor: pointer;
}

.ng-autocomplete .autocomplete-container {
  box-shadow: none;
  font-size: calc(var(--font-size) * 13px);
}

#container-fluid-70 {
  width: 70%;
}

@media (max-width: 800px) {
  #container-fluid-70 {
    width: 90%;
  }

  .formulario {
    width: 90%;
    padding: 5%;
  }
}

.font-size-12, .pi {
  font-size: calc(var(--font-size) * 12px);
}

.font-size-13 {
  font-size: calc(var(--font-size) * 13px);
}

.font-size-14, .pi, td {
  font-size: calc(var(--font-size) * 14px);
}

.font-size-15, th {
  font-size: calc(var(--font-size) * 15px);
}

.font-size-16 {
  font-size: calc(var(--font-size) * 16px);
}

.font-size-18 {
  font-size: calc(var(--font-size) * 18px);
}

.font-size-20 {
  font-size: calc(var(--font-size) * 20px);
}

.font-size-25 {
  font-size: calc(var(--font-size) * 25px);
}

.font-size-24 {
  font-size: calc(var(--font-size) * 24px);
}

.font-size-32 {
  font-size: calc(var(--font-size) * 32px);
}

.font-size-48 {
  font-size: calc(var(--font-size) * 48px);
}

.d-grid {
  padding-bottom: 1%;
}

.p-chip .p-chip-text{
  font-weight: 600;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-weight: 500;
}

/* ESTILO DE PRIMENG */
.p-input-icon-left {
  width: 100%;
}

.p-inputtext:enabled:focus{
  box-shadow: 0 0 0 0.2rem #febfbf;
  border-color: #f63b3b;
}

.p-inputtext:enabled:hover {
  border-color: #f63b3b;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #febfbf;
  border-color: #f63b3b;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #f63b3b;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #d81d1d;
  background: #ffefef;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #f63b3b;
  background: #f63b3b;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #f63b3b;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: 0 0 0 0.2rem #febfbf;
  border-color: #f63b3b;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #d81d1d;
  background: #d81d1d;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #f63b3b;
  background: #f63b3b;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #d81d1d;
  background: #d81d1d;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #febfbf;
  border-color: #f63b3b;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: #f63b3b;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #fd9393;
  color: var(--rojo);
}

.p-tabview .p-tabview-nav-btn.p-link {
  color: #f63b3b;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: inset 0 0 0 0.2rem #febfbf;
}

p-dropdown ol, p-dropdown ul {
  margin: 0;
  padding-left: 0;
}

p-dropdown {
  display: grid;
  width: 100%;
}

p-table p-dropdown {
  display: contents;
}

.p-multiselect-items-wrapper ol, .p-multiselect-items-wrapper ul {  
  padding-left: 0;
}

p-table .p-datatable-tbody > tr > td,
p-table .p-datatable-thead > tr > th,
p-table .p-datatable-tfoot > tr > td {
  border-bottom: 1px solid #a7a7a752 !important;
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr {
  border-width: 0 0 1px 1px !important;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr {
  border-width: 1px 0 0 1px !important;
}

p-table .p-datatable-gridlines .p-datatable-tbody > tr > td,
p-table .p-datatable-gridlines .p-datatable-thead > tr > th,
p-table .p-datatable-gridlines .p-datatable-tfoot > tr > td {
  border: 1px solid #a7a7a752 !important;
}

button {
  border-radius: 20px;
}

span button, p-calendar button, .p-inputgroup button {
  border-radius: 0 10px 10px 0;
}

p-calendar {
  display: grid;
  width: 100%;
}

p-calendar .p-datepicker-header button {
  background: #fff0;
}

p-calendar .p-datepicker-header button:hover {
  background: #fff0;
}

p-calendar span button span {
  display: block;
}

p-dialog .p-dialog-header span {
  color: var(--rojo);
  align-items: center;
}

.p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
  display: flex;
  width: 100%;
}

p-toolbar .p-toolbar {
  justify-content: space-around !important;
}

.p-card .p-card-content {
  padding: 0;
}

.p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.p-card .p-card-body .p-card-content {
  margin-bottom: 3rem !important;
}

p-avatar div span {
  font-size: 1.4rem !important;
}

.bg-danger1 {
  color: rgb(255, 255, 255);
  background-color: palevioletred;
  font-size: calc(var(--font-size) * 14px);
}

.bg-secondary1 {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
  font-size: calc(var(--font-size) * 14px);
}

.bg-warning1 {
  color: rgb(129, 116, 0);
  background-color: palegoldenrod;
  font-size: calc(var(--font-size) * 14px);
}

.bg-success1 {
  color: rgb(6, 100, 3);
  background-color: palegreen;
  font-size: calc(var(--font-size) * 14px);
}

#texto-centrado {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d83543ae;
}

::-webkit-scrollbar-thumb:hover {
  background: #f43e4d;
}
