/* You can add global styles to this file, and also import other style files */
:root {
  --font-size: 1;
  --rojo: #db4149;
  --rojoHover: #a8262c;
  --rojoClaro : rgb(214, 100, 106);
}

/*body {
  background-color: #f7f7f7;
}*/

* {
  text-decoration: none;
}

.TitulosTabla {
  font-size: calc(var(--font-size) * 16px);
}

.Linea {
  color: #5e5e5e;
}

.container{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.formulario {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

.formularioModal {
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 100%;
  padding: 2%;
}

@media (max-width : 800px) {
  .formulario {
    width: 90%;
  }
}

.navbar {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.37);
}

a {
  color: #5D6D7E;
}

.textoBarraNav{
  font-size: calc(var(--font-size) * 13px);
}

.Titulo{
  text-align: center;
}

.Titulo .tituloRojo {
  font-size: calc(var(--font-size) * 32px);
}

.Titulo .tituloClaro {
  font-size: calc(var(--font-size) * 32px);
}

.tituloRojo{
  color: var(--rojo);
  font-size: calc(var(--font-size) * 20px);
}

.tituloClaro{
  color: var(--rojoClaro);
  font-size: calc(var(--font-size) * 20px);
}

.colorLinea{
  color:#b6bac2;
  height: 2px;
  margin: auto;
}

.form-select {
  width: 100%;
}

.modal-body {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-title {
  color: var(--rojo) ;
}

.overlay{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .6);
  cursor: default;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cursor {
  cursor: pointer;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
  font-size: calc(var(--font-size) * 13px);
}

#container-fluid-70 {
  width: 70%;
}

@media (max-width: 800px) {
  #container-fluid-70 {
    width: 90%;
  }

  .formulario {
    width: 90%;
    padding: 5%;
  }
}

.font-size-12, .pi {
  font-size: calc(var(--font-size) * 12px);
}

.font-size-13 {
  font-size: calc(var(--font-size) * 13px);
}

.font-size-14, .pi, td {
  font-size: calc(var(--font-size) * 14px);
}

.font-size-15, th {
  font-size: calc(var(--font-size) * 15px);
}

.font-size-16 {
  font-size: calc(var(--font-size) * 16px);
}

.font-size-20 {
  font-size: calc(var(--font-size) * 20px);
}

.font-size-32 {
  font-size: calc(var(--font-size) * 32px);
}

.font-size-48 {
  font-size: calc(var(--font-size) * 48px);
}

.font-size-24 {
  font-size: calc(var(--font-size) * 24px);
}

.d-grid {
  padding-bottom: 1%;
}

.p-chip .p-chip-text{
  font-weight: 600;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-weight: 500;
}

