

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="fondo p-5">
  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Filtros de Busqueda</h3>
  </div>

  <form [formGroup]="formFiltros" (ngSubmit)="buscarFacturacion()">
    <div class="row my-3 g-4">
      <!-- RANGO DE FECHAS -->
      <div class="col-sm-12 col-md-6 col-xl-2">
        <span class="p-float-label">
          <p-calendar formControlName="rangoFechas" inputId="fecha" selectionMode="range" [showIcon]="true"></p-calendar>
          <label for="fecha">Rango de Fechas</label>
        </span>
      </div>

      <!-- VENDEDOR -->
      <div class="col-sm-12 col-md-6 col-xl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="vendedor" inputId="vendedores" [autoDisplayFirst]="false" [options]="vendedores" optionValue="usua_Id" optionLabel="usua_Nombre" [filter]="true" filterBy="usua_Nombre"></p-dropdown>
          <label for="vendedores">Vendedores</label>
        </span>
      </div>

      <!-- CLIENTE -->
      <div class="col-sm-12 col-md-6 col-xl-3">
        <span class="p-float-label">
          <input formControlName="cliente" id="cli" list="clientes" type="text" pInputText (change)="clienteSeleccionado()" (keydown)="obtenerClientes()"/>
          <datalist id="clientes">
            <option value={{item.idcliente}} *ngFor="let item of clientes">{{item.razoncial}}</option>
          </datalist>
          <label for="cli">Clientes</label>
        </span>       
      </div>

      <!-- ITEM -->
      <div class="col-sm-12 col-md-6 col-xl-2">
        <span class="p-float-label">
          <input formControlName="idProducto" id="idProducto" type="text" pInputText/>
          <label for="idProducto">Items</label>
        </span>
      </div>

      <!-- REFERENCIA -->
      <div class="col-sm-12 col-md-6 col-xl-3">
        <span class="p-float-label">
          <input formControlName="producto" id="prod" list="productos" type="text" pInputText (change)="productoSeleccionado()" (keydown)="obtenerProductos()"/>
          <datalist id="productos">
            <option value={{item.prod_Id}} *ngFor="let item of productos">{{item.prod_Nombre}}</option>
          </datalist>
          <label for="prod">Referencias</label>
        </span>
      </div>
    </div>

    <div class="my-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="submit" label="Buscar Facturas" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
        <button pButton class="p-button-danger" type="button" label="PDF Consolidado" icon="pi pi-file-pdf" (click)="formatoPDF()" pTooltip="Exportará la información consolidada de las facturas y devoluciones teniendo en cuenta los filtros consultados"></button>
        <button pButton class="p-button-danger" type="button" label="PDF Detallado" icon="pi pi-file-pdf" (click)="getFormatoPdfDetallado()" pTooltip="Exportará la información detallada de las facturas y devoluciones dependiendo los filtros consultados" ></button>
      </div>
    </div>
  </form>

  <hr>

  <div class="row g-4">
    <!-- FACTURAS -->
    <div class="col-sm-12 col-md-6 px-5">
      <h3 class="tituloRojo text-center my-4">Facturación</h3>
      <p-table 
        #dtFacturacion
        [value]="tableFacturas()"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,20,30,50,70,100]"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="500px"
        *ngIf="!cargando">
        <ng-template pTemplate="header">
          <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroFacturacion($event, 'fecha', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroFacturacion($event, 'factura', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroFacturacion($event, 'cliente', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroFacturacion($event, 'suma', 'contains')"></th>
          </tr>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data  let-rowIndex="rowIndex">
          <tr *ngIf="data.recibo != 'DEVOLUCIÓN'" (click)="filtrarFactura(data)" class="cursor" pTooltip="Haz clic para ver los detalles de la Factura N° {{data.factura}}">
            <td>{{rowIndex + 1}}</td>
            <td>{{data.fecha }}</td>
            <td>{{data.factura}}</td>
            <td>{{data.cliente}}</td>
            <td>{{data.suma | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="4" class="text-right">Total Facturación</td>
            <td>{{totalFacturas() | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- DEVOLUCIONES -->
    <div class="col-sm-12 col-md-6 px-5">
      <h3 class="tituloRojo text-center my-4">Devoluciones</h3>
      <p-table 
        #dtDevolucion
        [value]="tableDevoluciones()"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,20,30,50,70,100]"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="500px"
        *ngIf="!cargando">
        <ng-template pTemplate="header">
          <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroDevolucion($event, 'fecha', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroDevolucion($event, 'factura', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroDevolucion($event, 'cliente', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltroDevolucion($event, 'suma', 'contains')"></th>
          </tr>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data  let-rowIndex="rowIndex">
          <tr *ngIf="data.recibo == 'DEVOLUCIÓN'">
            <td>{{rowIndex + 1}}</td>
            <td>{{data.fecha }}</td>
            <td>{{data.factura}}</td>
            <td>{{data.cliente}}</td>
            <td>{{data.suma | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="4" class="text-right">Total Devolución</td>
            <td>{{totalDevoluciones() | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--Modal de facturas-->
<p-dialog [(visible)]="modal" [draggable]="false" [style]="{width: '80%'}" header="Detalles de la Factura N° {{nroFactura}}" [modal]="true">
  <div class="row g-4">
      <p-table 
        #dtFacturacion
        [value]="facturasModal"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,20,30,50,70,100]"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="500px"
        *ngIf="!cargando">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Item</th>
            <th>Referencia</th>
            <th>Und</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" >
          <tr [ngClass]="{'colorRojo' : data.factura2 == 'DV' }">
            <td>{{rowIndex + 1}}</td>
            <td>{{data.vendedor}}</td>
            <td>{{data.fecha | date : 'YYYY-MM-dd'}}</td>
            <td>{{data.factura2}}</td>
            <td>{{data.cliente}}</td>
            <td>{{data.item}}</td>
            <td>{{data.referencia}}</td>
            <td>{{data.presentacion}}</td>
            <td>{{data.cantidad | number : '1.2-2'}}</td>
            <td>{{data.precio | number : '1.2-2'}}</td>
            <td>{{data.valorTotal | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="10" class="text-right">Total Facturación</td>
            <td>{{totalFacturasModal() | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div> 
</p-dialog>