<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!--Espacio para el titulo-->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" id="nomina"> Nómina</h2>
    </div>
    <!--Linea-->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<!-- Card con el contenido del módulo -->
<p-card class="font-size-14">

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-filter"></i> Filtros de búsqueda</h2>
  </div>

  <p-toolbar styleClass="mb-5 gap-3">
    <div class="row" style="width: 100%;">
      <!-- Rango de Fechas -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <span class="p-float-label" id="rango-fechas">
          <p-calendar id="rango" inputId="FechaInicial" [(ngModel)]="rangoFechas" selectionMode="range" [showIcon]="true" pTooltip="Selecciona el rango de fechas y presiona el botón consultar"></p-calendar>
          <label for="FechaInicial">Rango de Fechas</label>
        </span>
      </div>

      <div class="col">
        <button id="consultar" pButton pRipple pTooltip="Llena el campo rango de fechas y consulta aquí." label="Consultar" icon="pi pi-search" class="p-button-danger botonesOpciones" id="consultar" (click)="consultarNominas()"></button>
      </div>

      <div class="col justify-content-end text-right">
        <button pButton pRipple label="Exportar a Excel" icon="pi pi-file-excel"class="p-button-success" id="exportar" pTooltip="" (click)="mostrarEleccion()"></button>
      </div>
    </div>
  </p-toolbar>

  <!--Tabs para nóminas sectorizadas-->
  <p-tabView [scrollable]="true" id="tabs">

    <!-- Nomina Sellado -->
    <p-tabPanel
      header="Sellado"
      leftIcon="pi pi-tags"
      tooltip="Información de la Nómina de Sellado">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table1">
          <p-table
            #dt
            [value]="arraySellado"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-sm"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="arraySellado.length"
            [rowsPerPageOptions]="[10,25,50,100,arraySellado.length]"
            [rowHover]="true"
            dataKey="Cedula"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <!--Filtros-->
              <tr class="font-size-16" id="filtros">
                <th></th>
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cedula', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Operario', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cargo', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'PagoTotal', 'contains')"></th>
              </tr>
              <!--Encabezado-->
              <tr id="campos">
                <th id="desplegable"></th>
                <th>#</th>
                <th scope="col" pSortableColumn="Cedula">Cédula <p-sortIcon field="Cedula"></p-sortIcon> </th>
                <th pSortableColumn="Operario" pReorderableColumn scope="col">Nombre Operario<p-sortIcon field="Operario"></p-sortIcon></th>
                <th id="inicial" pSortableColumn="Cargo" pReorderableColumn scope="col">Cargo <p-sortIcon field="Cargo"></p-sortIcon></th>
                <th id="entrada" pSortableColumn="PagoTotal" pReorderableColumn scope="col">Valor a pagar<p-sortIcon field="PagoTotal"></p-sortIcon></th>
              </tr>
            </ng-template>
            <!--Cuerpo Tabla 1 -->
            <ng-template pTemplate="body" let-nomina let-expanded="expanded" let-rowIndex="rowIndex">
              <tr>
                <td>
                  <button type="button" pButton pRipple [pRowToggler]="nomina" class="p-button-text p-button-rounded p-button-plain" pTooltip="Haz clic para ver más detalles" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td><b>{{rowIndex + 1}}</b></td>
                <td>{{nomina.Cedula}}</td>
                <td><b>{{nomina.Operario}}</b></td>
                <td>{{nomina.Cargo}}</td>
                <td><b style="color: #00a2ff;">{{nomina.PagoTotal | number : '1.2-2'}}</b></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="5" class="text-right">Total Nómina Sellado</td>
                <td id="total">{{calcularTotalAPagar() | number : '1.2-2'}}</td>
              </tr>
            </ng-template>
            <!--Tabla 2-->
            <ng-template pTemplate="rowexpansion" let-nomina>
              <tr>
                  <td colspan="7">
                      <div class="p-3">
                          <p-table
                          [value]="nomina.detalle"
                          dataKey="id"
                          styleClass="p-datatable-gridlines p-datatable-sm">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th>Cédula</th>
                                      <th>Operario</th>
                                      <th>Turno</th>
                                      <th>Ot</th>
                                      <th>Item</th>
                                      <th>Referencia</th>
                                      <th>Presentación</th>
                                      <th>Cantidad Total</th>
                                      <th>Cant. Sellada Operario</th>
                                      <th>Pesado entre</th>
                                      <th>Precio Día</th>
                                      <th>Precio Noche</th>
                                      <th>Registros</th>
                                      <th>Pago Total</th>
                                      <th >Ver</th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-detalleNomina>
                                  <tr>
                                      <td>{{ detalleNomina.Cedula }}</td>
                                      <td>{{ detalleNomina.Operario }}</td>
                                      <td>{{ detalleNomina.Turno }}</td>
                                      <td>{{ detalleNomina.Ot }}</td>
                                      <td>{{ detalleNomina.Referencia}}</td>
                                      <td>{{ detalleNomina.Nombre_Referencia }}</td>
                                      <td>{{ detalleNomina.Presentacion }}</td>
                                      <td>{{ detalleNomina.CantidadTotal | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.Cantidad | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.Pesado_Entre }}</td>
                                      <td>{{ detalleNomina.PrecioDia | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.PrecioNoche | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.Registros}}</td>
                                      <td>{{ detalleNomina.PagoTotal | number : '1.2-2' }}</td>
                                      <td class="text-center"><button (click)="cargarModalSellado(detalleNomina.Referencia, detalleNomina.Cedula)" pButton type="button" style="width: 30px; height: 30px;" class="p-button-success p-button-rounded" pTooltip="Ver detallado de producción del empleado {{detalleNomina.Operario}}" icon="pi pi-eye"></button></td>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="emptymessage">
                                  <tr>
                                      <td colspan="6">No se encontraron registros</td>
                                  </tr>
                              </ng-template>
                          </p-table>
                      </div>
                  </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Nomina Ingresada -->
    <p-tabPanel
      header="Nomina Ingresada"
      leftIcon="pi pi-wallet"
      tooltip="Información de la Nómina de Ingresada">
      <p-table
        #dt_NominaIngresada
        [value]="nominaIngresada"
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
        responsiveLayout="scroll"
        [rowHover]="true"        
        [scrollable]="true"
        scrollHeight="50rem"
        editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th class="text-center" pSortableColumn="fechaRegistro"><p-sortIcon field="fechaRegistro"></p-sortIcon>Fecha Ingreso</th>
            <th class="text-center">Registrado por</th>
            <th class="text-center" pSortableColumn="fechaInicio"><p-sortIcon field="fechaInicio"></p-sortIcon>Fecha Inicio Nomina</th>
            <th class="text-center" pSortableColumn="fechaFin"><p-sortIcon field="fechaFin"></p-sortIcon>Fecha Fin Nomina</th>
            <th class="text-center" pSortableColumn="valorNomina"><p-sortIcon field="valorNomina"></p-sortIcon>Valor Nomina</th>
            <th class="text-center" pSortableColumn="tipoNomina"><p-sortIcon field="tipoNomina"></p-sortIcon>Tipo Nomina</th>
            <th class="text-center">Observación</th>
            <th pFrozenColumn alignFrozen="right" [frozen]="true" colspan="2" *ngIf="ValidarRol == 1">Editar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nomina let-editing="editing" let-rowIndex="rowIndex">
          <tr [pEditableRow]="nomina">
            <td>{{rowIndex + 1}}</td>
            <td>{{nomina.fechaRegistro | date:"MM/dd/yyyy"}}</td>
            <td>{{nomina.registradoPor}}</td>            
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="nomina.fechaInicio">
                </ng-template>
                <ng-template pTemplate="output">
                  {{nomina.fechaInicio | date:"MM/dd/yyyy"}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="nomina.fechaFin">
                </ng-template>
                <ng-template pTemplate="output">
                  {{nomina.fechaFin | date:"MM/dd/yyyy"}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="nomina.valorNomina"></p-inputNumber>
                </ng-template>
                <ng-template pTemplate="output">
                  {{nomina.valorNomina | currency : 'USD'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown [autoDisplayFirst]="true" [options]="tiposNomina" optionLabel="tpNomina_Nombre" optionValue="tpNomina_Nombre" appendTo="body" [(ngModel)]="nomina.tipoNomina"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{nomina.tipoNomina}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="nomina.observacion">
                </ng-template>
                <ng-template pTemplate="output">
                  {{nomina.observacion}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pFrozenColumn alignFrozen="right" [frozen]="true" *ngIf="ValidarRol == 1">
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="!editing" pButton pRipple pTooltip="Editar / Agregar Información" type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" (click)="actualizarNominaIngresada(nomina)" pButton pRipple pTooltip="Guardar Información" type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple pTooltip="Cancelar" type="button" pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5" class="text-right">Total</td>
            <td colspan="4" class="text-left">{{calcularTotalNominaIngresada() | currency : 'USD'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

  </p-tabView>

  <!-- tabla detallada por operario(s) -->
  <p-dialog [(visible)]="modalSellado" [style]="{width: '70vw'}" [contentStyle]="{'overflow':'visible'}" [resizable]="true" header="Detalles de la nómina del operario {{operario}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <p-table
        #dtDetallada
        [value]="detallesNomina"
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Fecha', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Bulto', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Pesado_Entre', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Cantidad_Total', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Cantidad', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Presentacion', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Maquina', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Peso', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Turno', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Precio', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro2($event, 'Valor_Total', 'contains')"></th>
          </tr>
          <tr>
            <th>#</th>
            <th>Fecha - Hora</th>
            <th>Bulto</th>
            <th>Pesado Entre</th>
            <th>Cant Total</th>
            <th>Cant Dividida</th>
            <th>Presentación</th>
            <th>Maquina</th>
            <th>Peso</th>
            <th>Turno</th>
            <th>Precio</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td><b>{{rowIndex + 1}}</b></td>
            <td>{{data.Fecha}}</td>
            <td><b>{{data.Bulto}}</b></td>
            <td>{{data.Pesado_Entre}}</td>
            <td>{{data.Cantidad_Total | number : '1.2-2'}}</td>
            <td>{{data.Cantidad | number : '1.2-2'}}</td>
            <td><b>{{data.Presentacion}}</b></td>
            <td>{{data.Maquina}}</td>
            <td>{{data.Peso | number : '1.2-2'}}</td>
            <td><b>{{data.Turno}}</b></td>
            <td>{{data.Precio | number : '1.2-2'}}</td>
            <td><b>{{data.Valor_Total | number : '1.2-2'}}</b></td>
          </tr>
        </ng-template>
      </p-table>

    </ng-template>
  </p-dialog>
</p-card>

<p-toast position="center" key="msj" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="exportarExcel(1)" icon="pi pi-table" label="Acumulado" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="exportarExcel(2)" icon="pi pi-list" label="Detallado" class="p-button-success"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
