<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!--Espacio para el titulo-->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"> Nómina</h2>
    </div>
    <!--Linea-->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<!-- Card con el contenido del módulo -->
<p-card class="font-size-14">

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="verTutorial()" pTooltip="Ver Tutorial" tooltipPosition="left"></p-button>
  </div>

  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-filter"></i> Filtros de búsqueda</h2>
  </div>

  <p-toolbar styleClass="mb-5 gap-3">
    <div class="row" style="width: 100%;">
      <!-- Rango de Fechas -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <span class="p-float-label" id="rango-fechas">
          <p-calendar inputId="FechaInicial" [(ngModel)]="rangoFechas" selectionMode="range" [showIcon]="true" pTooltip="Selecciona el rango de fechas que deseas consultar"></p-calendar>
          <label for="FechaInicial">Rango de Fechas</label>
        </span>
      </div>

      <div class="col">
        <button pButton pRipple pTooltip="Llena el campo rango de fechas y consulta aquí." label="Consultar" icon="pi pi-search" class="p-button-danger botonesOpciones" id="consultar" (click)="consultarNominas()"></button>
      </div>

      <div class="col justify-content-end text-right">
        <button pButton pRipple label="Exportar a Excel" icon="pi pi-file-excel"class="p-button-success" id="exportar1" (click)="exportarExcel(1)"></button>
      </div>
    </div>
  </p-toolbar>

  <!--Tabs para nóminas sectorizadas-->
  <p-tabView [scrollable]="true" id="tabs">

    <!-- Nomina Sellado -->
    <p-tabPanel
      header="Sellado"
      leftIcon="pi pi-tags"
      tooltip="Información de la Nómina de Sellado">
      <div class="mb-3" *ngIf="load">
        <div class="row g-3 font-size-14" id="table1">
          <p-table
            #dt
            [value]="arraySellado"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-sm p-datatable-gridlines"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="arraySellado.length"
            [rowsPerPageOptions]="[10,25,50,100,arraySellado.length]"
            [rowHover]="true"
            dataKey="Cedula"
            [scrollable]="true"
            scrollHeight="50rem">
            <ng-template pTemplate="header">
              <!--Filtros-->
              <tr class="font-size-16" id="filtros">
                <th></th>
                <th></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'Cedula', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Operario', 'contains')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cargo', 'contains')"></th>
                <th><input pInputText type="number" style="width: 100%;" (input)="aplicarfiltro($event, 'PagoTotal', 'contains')"></th>
                <th></th>
              </tr>
              <!--Encabezado-->
              <tr>
                <th></th>
                <th>#</th>
                <th scope="col" pSortableColumn="Cedula">Cédula <p-sortIcon field="Cedula"></p-sortIcon> </th>
                <th pSortableColumn="Operario" pReorderableColumn scope="col">Nombre Operario<p-sortIcon field="Operario"></p-sortIcon></th>
                <th id="inicial" pSortableColumn="Cargo" pReorderableColumn scope="col">Cargo <p-sortIcon field="Cargo"></p-sortIcon></th>
                <th id="entrada" pSortableColumn="PagoTotal" pReorderableColumn scope="col">Valor a devengar<p-sortIcon field="PagoTotal"></p-sortIcon></th>
                <th >Ver</th>
              </tr>
            </ng-template>
            <!--Cuerpo Tabla 1 -->
            <ng-template pTemplate="body" let-nomina let-expanded="expanded" let-rowIndex="rowIndex">
              <tr>
                <td>
                  <button type="button" pButton pRipple [pRowToggler]="nomina" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td><b>{{rowIndex + 1}}</b></td>
                <td>{{nomina.Cedula}}</td>
                <td>{{nomina.Operario}}</td>
                <td>{{nomina.Cargo}}</td>
                <td>{{nomina.PagoTotal | number}}</td>
                <td class="text-center"><button pButton type="button" style="width: 30px; height: 30px;" class="p-button-success p-button-rounded" pTooltip="Ver detalles del empleado" icon="pi pi-eye"></button></td>
              </tr>
            </ng-template>
            <!--Tabla 2-->
            <ng-template pTemplate="rowexpansion" let-nomina>
              <tr>
                  <td colspan="7">
                      <div class="p-3">
                          <p-table
                          [value]="nomina.detalle"
                          dataKey="id"
                          styleClass="p-datatable-gridlines p-datatable-sm">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th>Cédula</th>
                                      <th>Operario</th>
                                      <th>Turno</th>
                                      <th>Item</th>
                                      <th>Referencia</th>
                                      <th>Presentación</th>
                                      <th>Cantidad Total</th>
                                      <th>Cant. Sellada Operario</th>
                                      <th>Pesado entre</th>
                                      <th>Precio Día</th>
                                      <th>Precio Noche</th>
                                      <th>Pago Total</th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-detalleNomina>
                                  <tr>
                                      <td>{{ detalleNomina.Cedula }}</td>
                                      <td>{{ detalleNomina.Operario }}</td>
                                      <td>{{ detalleNomina.Turno }}</td>
                                      <td>{{ detalleNomina.Referencia}}</td>
                                      <td>{{ detalleNomina.NomReferencia }}</td>
                                      <td>{{ detalleNomina.Presentacion }}</td>
                                      <td>{{ detalleNomina.CantidadTotal | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.Cantidad | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.Pesado_Entre }}</td>
                                      <td>{{ detalleNomina.PrecioDia | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.PrecioNoche | number : '1.2-2' }}</td>
                                      <td>{{ detalleNomina.PagoTotal | number : '1.2-2' }}</td>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="emptymessage">
                                  <tr>
                                      <td colspan="6">No se encontraron registros</td>
                                  </tr>
                              </ng-template>
                          </p-table>
                      </div>
                  </td>
              </tr>
          </ng-template>

          </p-table>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>

  <!-- tabla detallada por operario(s) -->
  <p-dialog [(visible)]="modalSellado" [style]="{width: '70vw'}" [resizable]="true" header="Detalles de la nómina del operario {{operario}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

    </ng-template>
  </p-dialog>

  <!-- tabla detallada por operario(s) -->
  <p-dialog [(visible)]="modalCorte" [style]="{width: '70vw'}" [resizable]="true" header="Detalles de la nómina del operario {{operario}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

    </ng-template>
  </p-dialog>

  <!-- tabla detallada por operario(s) -->
  <p-dialog [(visible)]="modalProduccion" [style]="{width: '70vw'}" [resizable]="true" header="Detalles de la nómina del operario {{operario}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

    </ng-template>
  </p-dialog>

</p-card>
