<br>
<form [formGroup]="FormCrearTercero">
  <!-- Inicio Fila 1 Agregar Proveedor -->
  <div class="mb-3">
    <div class="row g-4">

      <!-- ID Tercero -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="Id" id="Id" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Id">Id</label>
        </span>
      </div>

      <!-- Nombre Tercero -->
      <div class="col-md-6">
        <span class="p-float-label">
          <input formControlName="Nombre" id="Nombre" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Nombre">Nombre</label>
        </span>
      </div>

      <!-- Tipo de Identificacion Tercero -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoId" inputId="TipoId" [autoDisplayFirst]="false" [options]="tipoIdentificacion" optionLabel=""></p-dropdown>
          <label for="TipoId">Tipo Id</label>
        </span>
      </div>

      <!-- Ciudad  -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="Ciudad" id="Ciudad" class="form-control form-control-sm" type="text" pInputText/>
          <label for="Ciudad">Ciudad</label>
        </span>
      </div>

       <!-- Telefono -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="Telefono" id="Telefono" class="form-control form-control-sm" type="text" pInputText/>
          <label for="Telefono">Telefono</label>
        </span>
      </div>

        <!-- Email  -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="Email" id="Email" class="form-control form-control-sm" type="text" pInputText/>
          <label for="Email">Email</label>
        </span>
      </div>
    </div>
  </div>

  <!--Inicio Fila 3 Botones y Limpiar Campos-->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="button" label="Crear Tercero" icon="pi pi-check" (click)="validarCamposVacios()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>

 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
