<br>
<form [formGroup]="FormCrearTercero">
  <!-- Inicio Fila 1 Agregar Proveedor -->
  <div class="mb-3">
    <div class="row g-4">

      <!-- ID Tercero -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="Id" id="Id" type="text" pInputText required autocomplete="off"/>
          <label for="Id">Id</label>
        </span>
      </div>

      <!-- Nombre Tercero -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-4">
        <span class="p-float-label">
          <input formControlName="Nombre" id="Nombre" type="text" pInputText required autocomplete="off"/>
          <label for="Nombre">Nombre</label>
        </span>
      </div>

      <!-- Tipo de Identificacion Tercero -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoId" inputId="TipoId" [autoDisplayFirst]="false" [options]="tipoIdentificacion" optionLabel="" autocomplete="off"></p-dropdown>
          <label for="TipoId">Tipo Id</label>
        </span>
      </div>

      <!-- Ciudad  -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="Ciudad" id="Ciudad" type="text" pInputText autocomplete="off"/>
          <label for="Ciudad">Ciudad</label>
        </span>
      </div>

       <!-- Telefono -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="Telefono" id="Telefono" type="text" pInputText autocomplete="off"/>
          <label for="Telefono">Telefono</label>
        </span>
      </div>

        <!-- Email  -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-6">
        <span class="p-float-label">
          <input formControlName="Email" id="Email" type="text" pInputText/>
          <label for="Email">Email</label>
        </span>
      </div>
    </div>
  </div>

  <!--Inicio Fila 3 Botones y Limpiar Campos-->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="button" label="Crear Tercero" icon="pi pi-check" (click)="validarCamposVacios()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>
