<app-menuLateral></app-menuLateral>

<div class="overlay" *ngIf="!cargando">
  <div class="spinner ">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Reporte de Despacho</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid bajarPagina">
    <div class="container">
      <div class="mb-4">
        <h4 class="tituloRojo">Filtros de búsqueda</h4>
      </div>

      <!-- Formulario para consultar filtros -->
      <form [formGroup]="FormConsultarFiltros">

        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">

            <!-- Factura -->
            <div class="form-floating col-md-2">
              <input formControlName="Documento" type="text" class="form-control form-control-sm" id="floatingInput" name="Codigo" [(ngModel)]="Codigo">
              <label for="floatingInput">Cod. Documento</label>
            </div>

             <!-- Producto -->
            <ng-container>
              <div class="ng-autocomplete form-floating col-md form-control form-control-sm autoCompleteProductos">
                <ng-autocomplete
                  class=""
                  [data]="arrayProducto"
                  (selected)='selectEventProducto($event)'
                  (inputChanged)='onChangeSearchProductos($event)'
                  (inputFocused)='onFocusedProductos($event)'
                  [searchKeyword]="keywordProductos"
                  [itemTemplate]="itemTemplate1"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="ProdNombre">
                </ng-autocomplete>
                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.prod_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputNombresProductos">Producto</label>
              </div>
            </ng-container>

             <!-- Rollo -->
             <ng-container>
              <div class="ng-autocomplete form-floating col-md form-control form-control-sm autoCompleteRollo">
                <ng-autocomplete
                  class=""
                  [data]="arrayRollo"
                  (selected)='selectEventRollo($event)'
                  (inputChanged)='onChangeSearchRollo($event)'
                  (inputFocused)='onFocusedRollo($event)'
                  [searchKeyword]="keywordRollo2"
                  [itemTemplate]="itemTemplateCL"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="Rollo">
                </ng-autocomplete>
                <ng-template #itemTemplateCL let-item>
                  <a [innerHTML]="item.rollo_Id"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputRollo">Rollo</label>
              </div>
            </ng-container>

            <!-- Cliente -->
            <ng-container>
              <div class="ng-autocomplete form-floating col-md form-control form-control-sm autoCompleteCliente">
                <ng-autocomplete
                  class=""
                  [data]="arrayClientes"
                  (selected)='selectEventCliente($event)'
                  (inputChanged)='onChangeSearchCliente($event)'
                  (inputFocused)='onFocusedCliente($event)'
                  [searchKeyword]="keywordCliente"
                  [itemTemplate]="itemTemplateCL"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="Cliente">
                </ng-autocomplete>
                <ng-template #itemTemplateCL let-item>
                  <a [innerHTML]="item.cli_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputCliente">Cliente</label>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- Fila 2 -->
        <div class="mb-3">
          <div class="row g-3">

             <!-- Tipo Documento -->
             <div class="form-floating col-md-3">
              <select formControlName="tipoDoc" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="MapUnidadMedida" placeholder="Und. Medida" required>
                <option [ngValue]="tipoDocu.tpDoc_Id" *ngFor="let tipoDocu of arrayTipoDoc">{{tipoDocu.tpDoc_Nombre}}</option>-->
              </select>
              <label for="floatingSelect">Tipo Doc.</label>
            </div>

            <!-- Fecha Factura -->
            <div class="form-floating col-md-2">
              <input formControlName="fechaDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha inicial</label>
            </div>

            <!-- Fecha ingreso rollo -->
            <div class="form-floating col-md-2">
              <input formControlName="fechaFinalDoc" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha Final</label>
            </div>

            <!-- Estado rollo -->
            <div class="form-floating col-md-2">
              <select formControlName="estadoRollo" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="MapUnidadMedida" placeholder="Und. Medida" required>
                <option [ngValue]="estRollo.estado_Id" *ngFor="let estRollo of arrayEstadoRollo">{{estRollo.estado_Nombre}}</option>-->
              </select>
              <label for="floatingSelect">Estado rollo</label>
            </div>

          </div>
        </div>
      </form>

      <!-- Botones -->
      <div class="mb-3" *ngIf="cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="consultarFiltros()">Consultar</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
          <button class=" btn btn-danger btn-danger-sm" type="button">Exportar Excel</button>
        </div>
      </div>

      <div class="mb-4">
        <hr class="Linea">
      </div>
      <!-- titulo tabla producto -->
      <div class="mb-4">
        <h4 class="tituloRojo">Registros consultados</h4>
      </div>

      <!-- Inicio tabla de registros consultados -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Id Producto</th>
                  <th scope="col">Nombre Producto</th>
                  <th scope="col">Rollo</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentacion</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado Rollo</th>
                  <th scope="col">Tipo Doc.</th>
                  <th scope="col">Ver</th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let item of infoDoc  | filtroXFacturas : Codigo | filtroXRollo_RptDespacho : Codigo | paginate: {itemsPerPage: 30, currentPage: page} let i=index">
                  <th>{{item.Codigo}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.Rollo}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Presentacion}}</td>
                  <td>{{item.Fecha}}</td>
                  <td>{{item.EstadoRollo}}</td>
                  <td>{{item.TipoDoc}}</td>
                  <td><a><i class="fa fa-file-pdf-o" aria-hidden="true" title="Ver PDF" (click)="tipoDocumento(item)"></i></a></td>
                </tr>
              </tbody>
            </table>
            <div class="mb-2">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

