<app-menuLateral></app-menuLateral>

<!-- <div class="overlay" *ngIf="!cargando">
  <div class="spinner ">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
  </div>
</div> -->

<div class="contain" id="form">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Asignar Rollos/Productos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<!-- Boton que llevrá hacia abajo+ -->
<button class="scroll btn btn-ligth btn-ligth-sm" (click)="scrollToTop()" title="Bajar">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 30px; padding-bottom: 10%">
    <path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/>
  </svg>
</button>

<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid bajarPagina">
    <div class="formulario">
      <div class="mb-4">
        <h4 class="tituloRojo"><i class="pi pi-search"></i> Consultar/Asignar Producto</h4>
      </div>
      <!-- Formulario para consultar una orden de trabajo -->
      <form [formGroup]="FormConsultarProductos">
        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- Factura -->
            <div class="form-floating col-md-2">
              <input formControlName="Factura" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Factura</label>
            </div>

            <!-- Id Producto -->
            <div class="form-floating col-md-2">
              <input formControlName="IdProducto" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.Enter)="buscarItem()">
              <label for="floatingInput">N° Item</label>
            </div>

            <!-- Id Producto -->
            <div class="form-floating col-md-2">
              <input formControlName="CantidadProducto" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.Enter)="mostrarRollosPorCantidad()">
              <label for="floatingInput">Cantidad Item</label>
            </div>

            <div class="form-floating col-md">
              <input formControlName="ProdNombre" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Item Nombre</label>
            </div>

             <!-- Cliente -->
             <div class="form-floating col-md">
              <input formControlName="Cliente" class="form-control" list="clientes" id="floatingInput" (change)='selectEventCliente()'>
              <datalist id="clientes">
                <option value={{item.cli_Id}} *ngFor="let item of arrayClientes">{{item.cli_Nombre}}</option>
              </datalist>
              <label for="floatingInput" *ngIf="validarInputClientes">Cliente</label>
             </div>
          </div>
        </div>

        <!--Fila 2-->
        <div class="mb-4">
          <div class="row g-3">

            <!-- Nota Credito -->
            <div class="form-floating col-md-2">
              <input formControlName="NotaCredito" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Nota Credito</label>
            </div>

            <!-- Observacion -->
            <div class="form-floating col-md">
              <textarea formControlName="Observacion"  id="floatingTextarea" type="text" class="form-control form-control-sm" maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
              <label for="floatingTextarea">Observación</label>
            </div>
          </div>
        </div>
      </form>

      <div class="mb-4">
        <hr class="Linea">
      </div>

      <!-- Inicio titulo tabla producto -->
      <div class="mb-4 tabla1">
        <h4 class="tituloRojo" style="width: 90%;"><i class="pi pi-list"></i> Tabla de Rollos</h4>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="form-floating col-md">
            <input type="number" class="form-control form-control-sm" id="floatingInput"[(ngModel)]="cantPage">
            <label for="floatingInput">N° Filas</label>
          </div>
        </div>
      </div>

      <!--Inicio tabla Rollos creados en OT -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3 tablaInicial">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2">
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentacion</th>
                  <th scope="col">Total Unidades</th>

                  <ng-container>
                    <th scope="col"><input class="form-check-input cursor" style="margin-left: 40%;" type="checkbox" (change)="selccionarTodo()"></th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollos | paginate: {itemsPerPage: cantPage, currentPage: page} let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.CantPaqRestantes | number}}</td>
                  <td>{{item.Presentacion}}</td>
                  <td>{{item.CantUndRestantes | number}}</td>
                  <td><input class="form-check-input cursor" id="checkbox" style="margin-left: 40%;" type="checkbox" (change)="cargarProducto(item)"></td>
                </tr>
              </tbody>
            </table>
            <div class="mb-2">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end totalProd">
        <label for=""><b>Total {{presentacionProducto}}(s): {{cantTotalProducto | number : '1.2-2'}}</b></label>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo"><i class="pi pi-list"></i> Tabla de Rollos por Asignar</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total Unidades</th>
                  <th scope="col">Editar Paquetes</th>
                  <th scope="col">Editar Unidades</th>
                  <th scope="col">Presentación</th>
                  <ng-container>
                    <th scope="col"><a><i class="fa fa-trash cursor" aria-hidden="true" title="Quitar Rollo de la tabla" (click)="quitarTodo()"></i></a></th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollosInsertar; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.CantPaqRestantes | number}}</td>
                  <td>{{item.CantUndRestantes | number}} Und</td>
                  <td style="width: 10%;">
                    <form [formGroup]="FormEditPaquetes">
                      <input *ngIf="item.Presentacion == 'Paquete'" formControlName="Cantidad" (keyup.Enter)="cambiarCantidadPaquetes(item)" type="number" class="form-control form-control-sm" style="border: none; width: 100%;">
                    </form>
                  </td>
                  <td style="width: 10%;">
                    <form [formGroup]="FormEditUnd">
                      <input formControlName="Cantidad" (keyup.Enter)="cambiarCantidadUnidades(item)" type="number" class="form-control form-control-sm" style="border: none; width: 100%;">
                    </form>
                  </td>
                  <th>{{item.Presentacion | uppercase}}</th>
                  <td><a><i class="fa fa-trash cursor" aria-hidden="true" title="Quitar Rollo de la tabla" (click)="quitarRollo(item)"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo"><i class="pi pi-table"></i> Consolidado de Productos</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">N° Rollos</th>
                  <th scope="col">Presentación</th>
                  <th scope="col">Cantidad Unidades</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of grupoProductos; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Cantidad}}</td>
                  <td>{{item.Rollos}}</td>
                  <td>{{item.Presentacion}}</td>
                  <td>{{item.Cant_Unidades}} Und</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <label for=""><b>Total: {{Total | number : '1.2-2'}}</b></label>
      </div>

      <!-- Botones -->
      <div class="bajarPagina" *ngIf="cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">

          <button pButton class="p-button-danger" type="button" label="Facturar Rollos" icon="pi pi-dollar" (click)="crearAsignacion()"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"> </button>
        </div>
      </div>

      <div class="d-flex justify-content-center overlay" *ngIf="!cargando">
        <div class="spinner-border text-danger" role="status" style="margin: auto;">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>

    </div>
  </div>
</div>
