<app-menuLateral></app-menuLateral>

<div class="overlay" *ngIf="!cargando">
  <div class="spinner ">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Asignar Rollos/Productos</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <!--Inicio info OT-->
  <div class="container-fluid bajarPagina">
    <div class="container">
      <div class="mb-4">
        <h4 class="tituloRojo">Consultar/Asignar Producto</h4>
      </div>
      <!-- Formulario para consultar una orden de trabajo -->
      <form [formGroup]="FormConsultarProductos">
        <!-- Primera Fila -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- Factura -->
            <div class="form-floating col-md-2">
              <input formControlName="Factura" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Factura</label>
            </div>

            <!-- Nota Credito -->
            <div class="form-floating col-md-2">
              <input formControlName="NotaCredito" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Nota Credito</label>
            </div>

            <!-- Id Producto -->
            <div class="form-floating col-md-2">
              <input formControlName="IdProducto" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.Enter)="buscarItem()">
              <label for="floatingInput">N° Item</label>
            </div>

            <div class="form-floating col-md">
              <input formControlName="ProdNombre" type="text" class="form-control form-control-sm" id="floatingInput" (keyup.Enter)="buscarItem()">
              <label for="floatingInput">Item Nombre</label>
            </div>

             <!-- Cliente -->
            <!-- <ng-container>
              <div class="ng-autocomplete form-floating col-md form-control form-control-sm autoCompleteClientes">
                <ng-autocomplete
                  class=""
                  [data]="arrayClientes"
                  (selected)='selectEventCliente($event)'
                  (selected)='obtenerProductosXClientes()'
                  (inputChanged)='onChangeSearchClientes($event)'
                  (inputFocused)='onFocusedNombreClientes($event)'
                  [searchKeyword]="keywordClientes"
                  [itemTemplate]="itemTemplateCL"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="Cliente">
                </ng-autocomplete>
                <ng-template #itemTemplateCL let-item>
                  <a [innerHTML]="item.cli_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputClientes">Cliente</label>
              </div>
            </ng-container> -->

             <!-- Producto -->
            <!-- <ng-container>
              <div class="ng-autocomplete form-floating col-md form-control form-control-sm autoCompleteProductos" style="margin-left: 1%; margin-right: 1%;">
                <ng-autocomplete
                  class=""
                  [data]="arrayProducto"
                  (selected)='mostrarRollos($event)'
                  (inputChanged)='onChangeSearchNombreProductos($event)'
                  (inputFocused)='onFocusedNombreProductos($event)'
                  [searchKeyword]="keywordNombresProductos"
                  [itemTemplate]="itemTemplate1"
                  [notFoundTemplate]="notFoundTemplate"
                  id="floatingInput"
                  formControlName="ProdNombre">
                </ng-autocomplete>
                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.prod_Nombre"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <label for="floatingInput" *ngIf="validarInputNombresProductos">Producto</label>
              </div>
            </ng-container> -->
          </div>
        </div>

        <!--Fila 2-->
        <div class="mb-4">
          <div class="row g-3">
           <!-- Conductor -->
            <!-- <div class="form-floating col-md-3">
              <select formControlName="Conductor" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="MapUnidadMedida" placeholder="Und. Medida" required>
                <option [ngValue]="conductor.usua_Id" *ngFor="let conductor of arrayConductor">{{conductor.usua_Nombre}}</option>
              </select>
              <label for="floatingSelect">Conductor</label>
            </div> -->

            <!--Placa camión-->
            <!-- <div class="form-floating col-md-2">
              <input formControlName="PlacaCamion" type="text" class="form-control form-control-sm" id="floatingInput">
              <label for="floatingInput">Placa Camión</label>
            </div> -->

            <!-- Observacion -->
            <div class="form-floating col-md">
              <textarea formControlName="Observacion"  id="floatingTextarea" type="text" class="form-control form-control-sm" maxlength="200" placeholder="Observacion" name="PextObservacion"></textarea>
              <label for="floatingTextarea">Observación</label>
            </div>
          </div>
        </div>
      </form>

      <div class="mb-4">
        <hr class="Linea">
      </div>

      <!-- Inicio titulo tabla producto -->
      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de Rollos</h4>
      </div>

      <!--Inicio tabla Rollos creados en OT -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentacion</th>

                  <ng-container>
                    <th scope="col"><input class="form-check-input" style="margin-left: 40%; cursor: pointer;" type="checkbox" (change)="selccionarTodo()"></th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollos; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Presentacion}}</td>

                  <ng-container *ngIf="item.checkbox">
                    <td><input class="form-check-input cursor" id="checkbox" style="margin-left: 40%; cursor: pointer;" type="checkbox" (change)="cargarProducto(item)"></td>
                  </ng-container>

                  <ng-container *ngIf="!item.checkbox">
                    <td><input class="form-check-input" id="checkbox" style="margin-left: 40%; cursor: pointer;" type="checkbox" (change)="cargarProducto(item)" checked></td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Tabla de Rollos por Ingresar</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Rollo</th>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Presentación</th>
                  <ng-container>
                    <th scope="col"><a><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" title="Quitar Rollo de la tabla" (click)="quitarTodo()"></i></a></th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rollosInsertar; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.IdProducto}}</td>
                  <td>{{item.Producto}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Presentacion}}</td>
                  <td><a><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" title="Quitar Rollo de la tabla" (click)="quitarRollo(item)"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mb-4" *ngIf="cargando">
        <hr class="Linea">
      </div>
      <!-- Inicio titulo tabla producto -->
      <div class="mb-4" *ngIf="cargando">
        <h4 class="tituloRojo">Consolidado de Productos</h4>
      </div>

      <!--Inicio tabla Rollos a Insertar -->
      <div class="mb-3" *ngIf="cargando">
        <div class="row g-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2" >
              <thead class="TitulosTabla">
                <tr>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">N° Rollos</th>
                  <th scope="col">Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of grupoProductos; let i=index">
                  <th>{{item.Id}}</th>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Cantidad | number}}</td>
                  <td>{{item.Rollos | number}}</td>
                  <td>{{item.Presentacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <label for=""><b>Total: {{Total | number}}</b></label>
      </div>

      <!-- Botones -->
      <div class="bajarPagina" *ngIf="cargando">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class=" btn btn-danger btn-danger-sm" type="button" (click)="crearAsignacion()">Facturar Rollos</button>
          <button class="btn btn-secondary btn-outline-secondary-sm" type="button" (click)="limpiarCampos()">Limpiar Campos</button>
        </div>
      </div>
    </div>
  </div>
</div>
