<br>
<form [formGroup]="FormCrearProducto" (ngSubmit)="validarCamposVacios()">
  <div class="mb-4">
    <div class="row g-4">

      <!-- ID Producto -->
      <div class="col-md-2">
        <span class="p-float-label">
          <input formControlName="ProduId" id="Id" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Id">Id</label>
        </span>
      </div>

      <!-- Nombre Producto -->
      <div class="col-md-4">
        <span class="p-float-label">
          <input formControlName="ProduNombre" id="Nombre" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Nombre">Nombre</label>
        </span>
      </div>

      <!-- Ancho Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduAncho" mode="decimal" inputId="Ancho" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Ancho">Ancho</label>
        </span>
      </div>

      <!-- Fuelle Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduFuelle" mode="decimal" inputId="Fuelle" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Fuelle">Fuelle</label>
        </span>
      </div>

      <!-- Calibre Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduCalibre" mode="decimal" inputId="Calibre" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Calibre">Calibre</label>
        </span>
      </div>

      <!-- Largo Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduLargo" mode="decimal" inputId="Largo" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Largo">Largo</label>
        </span>
      </div>

      <!-- Unidad medida Calibre/Ancho/Fuelle Producto -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduUnidadMedidaACF" inputId="Und" [options]="unidadMedida" optionValue="undMed_Id" optionLabel="undMed_Id" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="Und">Und</label>
        </span>
      </div>

      <!-- Tipo Producto -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduTipo" inputId="TipoProducto" [options]="tipoProducto" optionValue="tpProd_Id" optionLabel="tpProd_Nombre" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="TipoProducto">Tipo Producto</label>
        </span>
      </div>

      <!-- Tipo Sellado -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduSellado" inputId="TipoSellado" [options]="tiposSellado" optionValue="tpSellado_Id" optionLabel="tpSellados_Nombre" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="TipoSellado">Tipo Sellado</label>
        </span>
      </div>

      <!-- Bolsas Por Bulto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduBolsasBulto" mode="decimal" inputId="BolsasBulto" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="BolsasBulto">Bolsas Por Bulto</label>
        </span>
      </div>

      <!-- Bolsas Por Paquete -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduBolsasPaquete" mode="decimal" inputId="BolsasPaquete" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="BolsasPaquete">Bolsas Por Paquete</label>
        </span>
      </div>

      <!-- Material -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduMaterial" inputId="Material" [options]="materialProducto" optionValue="material_Id" optionLabel="material_Nombre" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="Material">Material</label>
        </span>
      </div>

      <!-- Pigmento -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduPigmento" inputId="Pigmento" [options]="pigmentoProducto" optionValue="pigmt_Id" optionLabel="pigmt_Nombre" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="Pigmento">Pigmento</label>
        </span>
      </div>

      <!-- Campo Descripción producto -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="ProdDescripcion" id="Descripcion" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Descripcion">Descripción</label>
        </span>
      </div>

      <!-- Cliente -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="ClienteNombre" id="Clientes" list="cli" class="form-control form-control-sm" type="text" pInputText required/>
          <datalist id="cli">
            <option value={{item.cli_Id}} *ngFor="let item of cliente">{{item.cli_Nombre}}</option>
          </datalist>
          <label for="Clientes">Cliente</label>
        </span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton pRipple label="Crear Producto" type="submit" icon="pi pi-check" class="p-button-danger"></button>
      <button pButton pRipple label="Limpiar Campos" type="button" class="p-button-secondary" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>

<div class="mb-4">
  <hr>
</div>

<div class="mb-4">
  <h5 class="tituloRojo">Crear Presentación de productos</h5>
</div>
<br>

<form [formGroup]="FormCrearPresentacionProducto" (ngSubmit)="validarCamposVaciosPresentacion()">
  <div class="mb-4">
    <div class="row g-4">

      <!-- Producto -->
      <div class="col-md-2">
        <span class="p-float-label">
          <input formControlName="ProdId" id="Id" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="Id">Id Producto</label>
        </span>
      </div>

      <!-- Cantidad Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduCantidad" mode="decimal" inputId="Cantidad" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Cantidad">Cantidad</label>
        </span>
      </div>

      <!-- Presentacion Producto -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduUnidadMedidaCant" inputId="Und" [options]="unidadMedida" optionValue="undMed_Id" optionLabel="undMed_Id" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="Und">Und</label>
        </span>
      </div>

      <!-- Precio Producto -->
      <div class="col-md">
        <span class="p-float-label">
          <p-inputNumber formControlName="ProduPrecioUnd" mode="decimal" inputId="Precio" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="Precio">Precio</label>
        </span>
      </div>

      <!-- Tipo Moneda -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ProduTipoMoneda" inputId="Moneda" [options]="tipoMoneda" optionValue="tpMoneda_Id" optionLabel="tpMoneda_Id" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
          <label for="Moneda">Tipo de Moneda</label>
        </span>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton pRipple label="Crear Presentación de Producto" type="submit" icon="pi pi-check" class="p-button-danger"></button>
      <button pButton pRipple label="Limpiar Campos" type="button" class="p-button-secondary" icon="pi pi-eraser" (click)="LimpiarCamposPresentacion()"></button>
    </div>
  </div>
</form>
