<form [formGroup]="FormCrearProducto" (ngSubmit)="validarCamposVacios()">
  <div class="mb-4">
    <div class="row g-3">
      <!-- ID Producto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduId" type="search" min="0" class="form-control" id="floatingInput" required >
        <label for="floatingInput">Id Producto</label>
      </div>

      <!-- ID/Nombre Producto -->
      <div class="form-floating col-md-4">
        <input formControlName="ProduNombre" type="text" class="form-control form-control-sm" id="floatingInput" required>
        <label for="floatingInput">Nombre Producto</label>
      </div>

      <!-- Ancho Producto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduAncho" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Ancho Producto</label>
      </div>

      <!-- Fuelle Producto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduFuelle" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Fuelle Producto</label>
      </div>

      <!-- Calibre Producto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduCalibre" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Calibre Producto</label>
      </div>

      <!-- Largo Producto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduLargo" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Largo Producto</label>
      </div>

      <!-- Unidad medida Calibre/Ancho/Fuelle Producto -->
      <div class="form-floating col-md-2">
        <select formControlName="ProduUnidadMedidaACF" type="text" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
          <option [ngValue]="undMed.undMed_Id" *ngFor="let undMed of unidadMedida">{{undMed.undMed_Id}}</option>
        </select>
        <label for="floatingSelect">Und. Medida</label>
      </div>

      <!-- Tipo Producto -->
      <div class="form-floating col-md-2">
        <select formControlName="ProduTipo" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
          <option [ngValue]="tipo_Producto.tpProd_Id" *ngFor="let tipo_Producto of tipoProducto">{{tipo_Producto.tpProd_Nombre}}</option>
        </select>
        <label for="floatingSelect">Tipo Producto</label>
      </div>

      <!-- Tipo Sellado -->
      <div class="form-floating col-md-2">
        <select formControlName="ProduSellado" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
          <option [ngValue]="item.tpSellado_Id" *ngFor="let item of tiposSellado">{{item.tpSellados_Nombre}}</option>
        </select>
        <label for="floatingSelect">Tipo Sellado</label>
      </div>

      <!-- Bolsas Por Bulto -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduBolsasBulto" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Bolsas Por Bulto</label>
      </div>

      <!-- Bolsas Por Paquete -->
      <div class="form-floating col-md-2">
        <input formControlName="ProduBolsasPaquete" type="number" class="form-control form-control-sm" id="floatingInput" required maxlength="14">
        <label for="floatingInput">Bolsas Por Paquete</label>
      </div>

      <!-- Material -->
      <div class="form-floating col-md-2">
        <select formControlName="ProduMaterial" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
          <option [ngValue]="material.material_Id" *ngFor="let material of materialProducto">{{material.material_Nombre}}</option>
        </select>
        <label for="floatingSelect">Material del Producto</label>
      </div>

      <!-- Pigmento -->
      <div class="form-floating col-md-2">
        <select formControlName="ProduPigmento" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" required >
          <option [ngValue]="pigmento.pigmt_Id" *ngFor="let pigmento of pigmentoProducto">{{pigmento.pigmt_Nombre}}</option>
        </select>
        <label for="floatingSelect">Pigmento del Producto</label>
      </div>

      <!-- Campo Descripción producto -->
      <div class="form-floating col-md">
        <textarea formControlName="ProdDescripcion" id="floatingTextarea" type="text" class="form-control form-control-sm campoObservacion"></textarea>
        <label for="floatingTextarea">Descripción del Producto</label>
      </div>

      <!-- Cliente -->
      <div class="form-floating col-md">
        <input formControlName="ClienteNombre" class="form-control form-control-sm" list="cliente" id="floatingInput" required>
        <datalist id="cliente">
          <option value={{item.cli_Id}} *ngFor="let item of cliente">{{item.cli_Nombre}}</option>
        </datalist>
        <label for="floatingInput">Cliente</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposVacios()">Crear Producto</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
    </div>
  </div>
</form>

<div class="mb-4">
  <hr>
</div>

<div class="mb-4">
  <h5 class="tituloRojo">Crear Presentación de productos</h5>
</div>

<form [formGroup]="FormCrearPresentacionProducto" (ngSubmit)="validarCamposVaciosPresentacion()">
  <div class="mb-4">
    <div class="row g-3">

      <div class="form-floating col-md">
        <input formControlName="ProdId" type="search" min="0" class="form-control" id="floatingInput" required >
        <label for="floatingInput">Id Producto</label>
      </div>

      <!-- Cantidad Producto -->
      <div class="form-floating col-md">
        <input formControlName="ProduCantidad" type="search" min="0" class="form-control" id="floatingInput" required >
        <label for="floatingInput">Cantidad Producto</label>
      </div>

      <!-- UM Cantidad Producto -->
      <div class="form-floating col-md">
        <select formControlName="ProduUnidadMedidaCant" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" name="PrdUnidadMedidaACF">
          <!-- <option [ngValue]="null" disabled selected>Seleccione Und. Medida</option> -->
          <option [ngValue]="und.undMed_Id" *ngFor="let und of unidadMedida">{{und.undMed_Id}}</option>
        </select>
        <label for="floatingSelect">Und. Medida</label>
      </div>

      <!-- Precio Producto -->
      <div class="form-floating col-md">
        <input formControlName="ProduPrecioUnd" type="search" min="0" class="form-control" id="floatingInput" required >
        <label for="floatingInput">Precio Producto</label>
      </div>

      <!-- Tipo Moneda -->
      <div class="form-floating col-md">
        <select formControlName="ProduTipoMoneda" id="floatingSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" name="PrdTipoMoneda">
          <option [ngValue]="tiposMonedas.tpMoneda_Id" *ngFor="let tiposMonedas of tipoMoneda">{{tiposMonedas.tpMoneda_Id}}</option>
        </select>
        <label for="floatingSelect">Tipo de Moneda</label>
      </div>
    </div>
  </div>

  <!-- Inicio botones -->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-danger btn-danger-sm" type="submit">Crear Presentación de Producto</button>
      <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposPresentacion()">Limpiar campos</button>
    </div>
  </div>
  <!-- Fin botones -->
</form>
