.form-select{
  width: 100%;
}

.g-3 {
  padding-bottom: 2%;
}

.tituloRojo{
  color:  #d83542;
 }

.form-floating{
  font-size: 15px;
}

label{
  font-size: 14px;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
}
