<!--Inicio formulario crear productos -->
<form [formGroup]="FormCrearProducto" (ngSubmit)="validarCamposVacios()">
  <!-- Inicio Fila 1 Crear producto -->
  <div class="mb-4">
    <div class="row g-3">

      <!-- ID Producto -->
      <div class="col-md-2">
        <input formControlName="ProduId" type="number" class="form-control form-control-sm" id="PrId" placeholder="Producto Id" name="PrId" required maxlength="19">
      </div>

      <!-- ID/Nombre Producto -->
      <div class="col-md">
        <input formControlName="ProduNombre" type="text" class="form-control form-control-sm" id="PrNombre"  placeholder="Producto Nombre" name="PrNombre" required>
      </div>

      <!-- Ancho Producto -->
      <div class="col-md-1">
        <input formControlName="ProduAncho" type="number" class="form-control form-control-sm" id="PrAncho"  placeholder="Ancho" name="PrAncho" required maxlength="14">
      </div>

      <!-- Fuelle Producto -->
      <div class="col-md-1">
        <input formControlName="ProduFuelle" type="number" class="form-control form-control-sm" id="PrFuelle"  placeholder="Fuelle" name="PrFuelle" required maxlength="14">
      </div>

      <!-- Calibre Producto -->
      <div class="col-md-1">
        <input formControlName="ProduCalibre" type="number" class="form-control form-control-sm" id="PrCalibre"  placeholder="Calibre" name="PrCalibre" required maxlength="14">
      </div>

      <!-- Unidad medida Calibre/Ancho/Fuelle Producto -->
      <div class="col-md-2">
        <select formControlName="ProduUnidadMedidaACF" type="text" id="PrUnidadMedida" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Unidad Medida" name="PrUnidadMedida" required >
          <option [ngValue]="null" disabled selected>Und. Medida</option>
          <option [ngValue]="undMed" *ngFor="let undMed of unidadMedida">{{undMed}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Fin Fila 1 Crear Producto -->

  <!-- Inicio Fila 2 Crear Producto -->
  <div class="mb-4">
    <div class="row g-3">

      <!-- Tipo Producto -->
      <div class="col-md-2">
        <select formControlName="ProduTipo" id="PrTipo" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Tipo Producto" name="PrTipo" required >
          <option [ngValue]="null" disabled selected>Tipo Producto</option>
          <option [ngValue]="tipo_Producto" *ngFor="let tipo_Producto of tipoProducto">{{tipo_Producto}}</option>
        </select>
      </div>

      <!-- Campo Descripción producto -->
      <div class="col-md-7">
        <textarea formControlName="ProdDescripcion"  id="PrdDescripcion" type="text" class="form-control form-control-sm campoObservacion"
        maxlength="200" placeholder="Descripción Producto" name="PrdDescripcion"></textarea>
      </div>

      <div class="col-md">
        <select formControlName="ClienteNombre" type="text" id="tClienteId" name="ClienteId" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
          <option [ngValue]="null" disabled selected>Seleccione Cliente</option>
          <option [ngValue]="clientes" *ngFor="let clientes of cliente">{{clientes}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="submit">Crear Producto</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar campos</button>
    </div>
  </div>
</form>

<div class="mb-4">
  <hr>
</div>

<div class="mb-4">
  <h5 class="tituloRojo">Crear Presentación de productos</h5>
</div>

<form [formGroup]="FormCrearPresentacionProducto" (ngSubmit)="validarCamposVaciosPresentacion()">
  <div class="mb-4">
    <div class="row g-3">

      <div class="col-md">
        <input formControlName="ProdId" type="number" class="form-control form-control-sm" id="PrId" placeholder="Producto Id" name="PrId" required maxlength="19">
      </div>
      
      <!-- Cantidad Producto -->
      <div class="col-md">
        <input formControlName="ProduCantidad" type="number" class="form-control form-control-sm" id="PrCantidad"  placeholder="Cantidad" name="PrCantidad" required maxlength="14">
      </div>

      <!-- UM Cantidad Producto -->
      <div class="col-md">
        <select formControlName="ProduUnidadMedidaCant" type="text" id="PrUnidadMedida" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="PrUnidad Medida" name="UnidadMedida" required >
          <option [ngValue]="null" disabled selected>Presentación</option>
          <option [ngValue]="undMed" *ngFor="let undMed of unidadMedida">{{undMed}}</option>
        </select>
      </div>

      <!-- Precio Producto -->
      <div class="col-md">
        <input formControlName="ProduPrecioUnd" type="number" class="form-control form-control-sm" id="PrPrecioUnidad" placeholder="Precio Und" name="PrPrecioUnidad" required maxlength="18">
      </div>

      <!-- Tipo Moneda -->
      <div class="col-md">
        <select formControlName="ProduTipoMoneda" type="text" id="PrTipoMoneda" class="form-select form-select-sm" aria-label=".form-select-sm example" placeholder="Moneda" name="PrTipoMoneda" required >
          <option [ngValue]="null" disabled selected>Tipo Mondeda</option>
            <option [ngValue]="tipo_Moneda" *ngFor="let tipo_Moneda of tipoMoneda">{{tipo_Moneda}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Inicio botones -->
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="submit">Crear Presentación de Producto</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCamposPresentacion()">Limpiar campos</button>
    </div>
  </div>
  <!-- Fin botones -->
</form>
<!--Fin Formulario crear productos -->