

<div class="d-flex justify-content-center overlay" *ngIf="load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">{{titulo}}</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>

  <div class="mb-5">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-info-circle"></i> {{subtitulo}}</h4>
  </div>
  <!--Formulario-->
  <form [formGroup]="formulario">
    <div class="mb-4" id="formulario2">
      <div class="row g-4">

        <!-- Fecha -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="fecha" inputId="fecha" [showIcon]="true"></p-calendar>
            <label for="fecha">Fecha Inventario</label>
          </span>
        </div>

        <!--OT-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" *ngIf="url=='/inventario-areas/items'">
          <span class="p-float-label">
            <p-inputNumber formControlName="ot" inputId="ot" id="ot" [useGrouping]="false" (keyup.enter)="consultarOT()" pTooltip="Buscar por OT"></p-inputNumber>
            <label for="ot">OT</label>
          </span>
        </div>

        <!-- Item -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="item" id="item" [useGrouping]="false" (keyup.enter)="consultarItem()" [required]="true" ></p-inputNumber>
            <label for="item">{{labels[0]}}</label>
          </span>
        </div>

        <!-- Referencia -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-{{nroFilas2}} col-xl-{{nroFilas2}} col-xxl-{{nroFilas2}}">
          <span class="p-float-label">
            <input formControlName="referencia" id="Refe" list="ref" autocomplete="off" type="text" pInputText (keyup)="consultarReferencia()" (change)="seleccionarReferencia()" required pTooltip="Buscar por {{labels[1]}}" tooltipPosition="top">
            <datalist id="ref">
              <option *ngFor="let item of arrayReferencias">{{item.item}} - {{item.referencia}}</option>
            </datalist>
            <label for="Refe">{{labels[1]}}</label>
          </span>
        </div>

        <!-- Cantidad -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="cantidad" id="cantidad" [minFractionDigits]="2" [required]="true" (keyup.enter)="enviarRegistro()" pTooltip="Presiona Enter para añadir el registro a la tabla" tooltipPosition="top"></p-inputNumber>
            <label for="cantidad">Cantidad (Kg)</label>
          </span>
        </div>

        <!-- Precio -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" *ngIf="ValidarRol == 1;">
          <span class="p-float-label">
            <p-inputNumber formControlName="precio" id="precio" [minFractionDigits]="2" [readonly]="true" [required]="true"></p-inputNumber>
            <label for="precio">Precio (Kg)</label>
          </span>
        </div>

        <!--Procesos-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" *ngIf="ValidarRol == 1;">
          <span class="p-float-label">
            <p-dropdown formControlName="proceso" inputId="proceso" optionValue="proceso_Id" [autoDisplayFirst]="false" [options]="procesos" optionLabel="proceso_Nombre"></p-dropdown>
            <label for="proceso">Área</label>
          </span>
        </div>
        
        <!-- Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-{{nroFilas}} col-xl-{{nroFilas}} col-xxl-{{nroFilas}}">
          <span class="p-float-label">
            <textarea formControlName="observacion" [rows]="1" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>
        
      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4" id="botones1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" type="button" label="Añadir Registro" icon="pi pi-send" (click)="enviarRegistro()"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"> </button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de Inventario por áreas</h4>
  </div>

  <!-- Tabla de Materiales/Referencias -->
  <div class="row g-3"  id="tabla2">
    <div class="table-responsive">
      <p-table
      *ngIf="!load"
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [rowHover]="true"
      [value]="inventario"
      [scrollable]="true"
      scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col" *ngIf="url=='/inventario-areas/items'">OT</th>
            <th class="text-center" scope="col">{{labels[0]}}</th>
            <th class="text-center" scope="col">{{labels[1]}}</th>
            <th class="text-center" scope="col">Cantidad (Kg)</th>
            <th class="text-center" scope="col" *ngIf="ValidarRol == 1;">Precio (Kg)</th>
            <th class="text-center" scope="col" *ngIf="ValidarRol == 1;">Subtotal</th>
            <th class="text-center" scope="col">Área</th>
            <th class="text-center" scope="col">Observacion</th>
            <th class="text-center" scope="col" id="quitar">Quitar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inv let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">{{rowIndex + 1}}</td>
            <td class="text-center" *ngIf="url=='/inventario-areas/items'">{{inv.OT}}</td>
            <td class="text-center" *ngIf="url=='/inventario-areas/items'; else materiales;">{{ inv.Prod_Id }}</td>
            <ng-template #materiales>
              <td class="text-center"><b>{{ inv.Item }}</b></td>
            </ng-template>
            <td>{{inv.Referencia}}</td>
            <td class="text-center"><b>{{inv.InvStock | number: '1.2-2'}}</b></td>
            <td class="text-center" *ngIf="ValidarRol == 1;">{{inv.InvPrecio | number: '1.2-2'}}</td>
            <td class="text-center fontBlue" *ngIf="ValidarRol == 1;"><b>{{inv.Subtotal | number: '1.2-2'}}</b></td>
            <td class="text-center"><b>{{inv.Proceso_Id }}</b></td>
            <td class="text-center">{{inv.InvObservacion }}</td>
            <td class="text-center">
              <p-button icon="pi pi-trash" [rounded]="true" severity="danger" pTooltip="Quitar {{labels[1]}}" (onClick)="mostrarEleccion(inv)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="ValidarRol == 1;">
          <tr>
            <td [colSpan]="url=='/inventario-areas/materiales' ? 5 : 6" class="text-right">Totales</td>
            <td class="fontBlue" colspan="4">{{precioTotal() | number: '1.2-2'}} COP</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <br>
  <div *ngIf="!load">
    <div class="mb-3" id="botones2">
      <div class="row g-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" type="button" label="Crear Entrada" icon="pi pi-check" (click)="exportarExcel()"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodo()"> </button>
        </div>
      </div>
    </div>
  </div>
</p-card> 

<!--Modal de elección de eliminación de registros-->
<p-toast position="center" key="eleccion" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-dato>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="eliminarRegistro()" icon="pi pi-check" label="Sí" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>