span{
    color: var(--rojo);
  }
  
  :host ::ng-deep .row-accessories {
    background-color: rgba(0,0,0,.15) !important;
  }
  
  .botonVerde {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0cc50f;
    padding: 5%;
    color: white;
    cursor: pointer;
  }
  
  .p-input-icon-left {
    width: 100%;
  }
  
  p-dropdown ::ng-deep .p-dropdown, p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input, p-calendar, p-calendar ::ng-deep span {
    display: flex;
    width: 100%;
  }
  
  p-calendar ::ng-deep span button {
    background-color: var(--rojo);
    border: 0;
    transition: all 1s;
  }
  
  p-calendar ::ng-deep span .p-datepicker-trigger:hover {
    background: var(--rojoHover);
  }
  
  p-calendar ::ng-deep .p-datepicker-header button {
    background: #fff0;
  }
  
  p-calendar ::ng-deep .p-datepicker-header button:hover {
    background: #fff0;
  }
  
  p-calendar ::ng-deep span button span {
    display: block;
  }
  
  ::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
    display: flex;
    width: 100%;
  }
  
  ::ng-deep .p-card {
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
  }

  .fontBlue {
    color: rgb(0, 153, 255);
  }
  
  ::ng-deep .p-button.p-button-icon-only {
    width: 2rem;
  }

  ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
  }