.d-grid {
  padding-bottom: 3%;
}

.autoCompleteProductos{
  margin-right: 0.8%;
}

.autoCompleteConductor {
  width: 50%;
}

.tabla1{
  display: flex;
}

.tablaInicial{
  margin-top: -5%;
}

.scroll {
  position: fixed;
  bottom: 15px;
  right: 15px;
 }

.p-input-icon-left {
  width: 100%;
}

p-dropdown ::ng-deep .p-dropdown {
  display: flex;
}

p-inputnumber, p-inputnumber ::ng-deep span {
  display: flex;
  width: 100%;
}
