<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="font-size-32">Consolidado de Facturación</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4">
    <h3 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="font-size-20"><i class="pi pi-filter"></i> Filtros de búsqueda</h3>
  </div>
  <br>

  <!-- Formulario para consultar filtros -->
  <form [formGroup]="formFiltros" (ngSubmit)="consultarFacturacion()" id="formularioFiltros">
    <div class="mb-3">
      <div class="row g-4">

        <!-- Id Vendedores -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="Id_Vendedor">
          <span class="p-float-label">
            <input formControlName="Id_Vendedor" id="Id_Vendedor" [readonly]="true" type="text" pInputText autocomplete="off"/>
            <label for="Id_Vendedor">Id Vendedor</label>
          </span>
        </div>

        <!-- Vendedores -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" id="Vendedor">
          <span class="p-float-label">
            <input formControlName="Vendedor" id="Vendedor" [readonly]="ValidarRol == 2" list="vendedores" (change)="llenarVendedor()" type="text" pInputText autocomplete="off"/>
            <datalist id="vendedores">
              <option value={{item.usua_Nombre}} *ngFor="let item of Vendedores">{{item.usua_Nombre}}</option>
            </datalist>
            <label for="Vendedor">Vendedor</label>
          </span>
        </div>

        <!-- Id Cliente -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="Id_Cliente">
          <span class="p-float-label">
            <input formControlName="Id_Cliente" id="Id_Cliente" [readonly]="true" type="text" pInputText autocomplete="off"/>
            <label for="Id_Cliente">Id Cliente</label>
          </span>
        </div>

        <!-- Clientes -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" id="Cliente">
          <span class="p-float-label">
            <input formControlName="Cliente" id="Cliente" list="clientes" (change)="llenarCliente()" autocomplete="off" type="text" pInputText/>
            <datalist id="clientes">
              <option value={{item.idcliente}} *ngFor="let item of Clientes">{{item.razoncial}}</option>
            </datalist>
            <label for="Cliente">Cliente</label>
          </span>
        </div>

        <!-- Item -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="Item">
          <span class="p-float-label">
            <input formControlName="Item" id="Id_Cliente" [readonly]="true" type="text" pInputText autocomplete="off"/>
            <label for="Item">Item</label>
          </span>
        </div>

        <!-- Referencia -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" id="Referencia">
          <span class="p-float-label">
            <input formControlName="Referencia" id="Cliente" list="Referencias" (keyup)="consultarProductos()" (change)="llenarProducto()" autocomplete="off" type="text" pInputText/>
            <datalist id="Referencias">
              <option value={{valor.codigo}} *ngFor="let valor of Items">{{valor.nombre}}</option>
            </datalist>
            <label for="Item">Referencia</label>
          </span>
        </div>

        <!--Año 1-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="Anio1">
          <span class="p-float-label">
            <p-dropdown formControlName="anio1" inputId="anio1" [options]="anos" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
            <label for="anio1">Año Inicial</label>
          </span>
        </div>

        <!--Año 2-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="Anio2">
          <span class="p-float-label">
            <p-dropdown formControlName="anio2" inputId="anio2" [options]="anos" [autoDisplayFirst]="false" [required]="true"></p-dropdown>
            <label for="anio2">Año Final</label>
          </span>
        </div>

      </div>
    </div>

    <!--Botones-->
    <div class="mb-3">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones">
        <button pButton class="p-button-danger" type="submit" label="Consultar" icon="pi pi-search"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarTodo()"></button>
        <button pButton class="p-button-success" type="button" label="Exportar Excel" icon="pi pi-file-excel" (click)="exportarExcel()"></button>
      </div>
    </div>
  </form>

  <!--Linea-->
  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Registros consultados</h2>
  </div>

  <div *ngIf="!cargando">
    <p-table #dt
             [value]="datosFacturacion"
             rowGroupMode="subheader"
             groupRowsBy="Ano"
             [resizableColumns]="true"
             columnResizeMode="expand"
             styleClass="p-datatable-gridlines p-datatable-sm"
             responsiveLayout="scroll"
             [rowHover]="true"
             sortField="Ano"
             sortMode="single"
             [scrollable]="true"
             scrollHeight="900px"
             [rowHover]="true"
             columnResizeMode="expand"
             styleClass="p-datatable-gridlines p-datatable-sm"
             id="tabla">
        <ng-template pTemplate="header">
        <tr class="font-size-16" id="filtros">
            <th></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Cliente', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Producto', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Enero', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Febrero', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Marzo', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Abril', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Mayo', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Junio', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Julio', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Agosto', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Septiembre', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Octubre', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Noviembre', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Diciembre', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'Precio', 'contains')"></th>
            <th><input pInputText type="text" style="width: 100%;" (input)="aplicarfiltro($event, 'SubTotal', 'contains')"></th>
        </tr>
        <tr>
            <th>#</th>
            <th pResizableColumn pSortableColumn="Cliente"><p-sortIcon field="Cliente"></p-sortIcon> Cliente</th>
            <th pResizableColumn pSortableColumn="Producto"><p-sortIcon field="Producto"></p-sortIcon> Producto</th>
            <th pResizableColumn pSortableColumn="Enero"><p-sortIcon field="Enero"></p-sortIcon> Enero</th>
            <th pResizableColumn pSortableColumn="Febrero"><p-sortIcon field="Febrero"></p-sortIcon> Febrero</th>
            <th pResizableColumn pSortableColumn="Marzo"><p-sortIcon field="Marzo"></p-sortIcon> Marzo</th>
            <th pResizableColumn pSortableColumn="Abril"><p-sortIcon field="Abril"></p-sortIcon> Abril</th>
            <th pResizableColumn pSortableColumn="Mayo"><p-sortIcon field="Mayo"></p-sortIcon> Mayo</th>
            <th pResizableColumn pSortableColumn="Junio"><p-sortIcon field="Junio"></p-sortIcon> Junio</th>
            <th pResizableColumn pSortableColumn="Julio"><p-sortIcon field="Julio"></p-sortIcon> Julio</th>
            <th pResizableColumn pSortableColumn="Agosto"><p-sortIcon field="Agosto"></p-sortIcon> Agosto</th>
            <th pResizableColumn pSortableColumn="Septiembre"><p-sortIcon field="Septiembre"></p-sortIcon> Septiembre</th>
            <th pResizableColumn pSortableColumn="Octubre"><p-sortIcon field="Octubre"></p-sortIcon> Octubre</th>
            <th pResizableColumn pSortableColumn="Noviembre"><p-sortIcon field="Noviembre"></p-sortIcon> Noviembre</th>
            <th pResizableColumn pSortableColumn="Diciembre"><p-sortIcon field="Diciembre"></p-sortIcon> Diciembre</th>
            <th pResizableColumn pSortableColumn="Precio"><p-sortIcon field="Precio"></p-sortIcon> Precio</th>
            <th pResizableColumn pSortableColumn="SubTotal"><p-sortIcon field="SubTotal"></p-sortIcon> SubTotal</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-consolidado>
        <tr pRowGroupHeader style="background-color: #83D3FF;">
            <td colspan="17">
            <span class="font-bold" style="color: black;"><b>{{consolidado.Ano}}</b></span>
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consolidado let-rowIndex="rowIndex">
            <tr class="font-size-15">
            <td>{{rowIndex + 1}}</td>
            <td>{{consolidado.Cliente}}</td>
            <td>{{consolidado.Producto}}</td>
            <td><b>{{consolidado.Enero | number}}</b></td>
            <td><b>{{consolidado.Febrero | number}}</b></td>
            <td><b>{{consolidado.Marzo | number}}</b></td>
            <td><b>{{consolidado.Abril | number}}</b></td>
            <td><b>{{consolidado.Mayo | number}}</b></td>
            <td><b>{{consolidado.Junio | number}}</b></td>
            <td><b>{{consolidado.Julio | number}}</b></td>
            <td><b>{{consolidado.Agosto | number}}</b></td>
            <td><b>{{consolidado.Septiembre | number}}</b></td>
            <td><b>{{consolidado.Octubre | number}}</b></td>
            <td><b>{{consolidado.Noviembre | number}}</b></td>
            <td><b>{{consolidado.Diciembre | number}}</b></td>
            <td>{{consolidado.Precio | number}}</td>
            <td><b>{{consolidado.SubTotal | number}}</b></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupfooter" let-consolidado>
            <tr class="font-bold" style="background-color: palegreen; color: black">
            <td colspan="15" class="text-left font-bold pr-6"><b>{{'Total Año: ' + consolidado.Ano}}</b></td>
            <td class="text-left" colspan="2"><b>{{calcularTotalAno(consolidado.Ano) | currency : 'COP $'}}</b></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
            <td colspan="16">Totales</td>
            <td>{{calcularTotal() | currency : 'COP $'}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</p-card>