  <!-- Navegador parte superior -->
<app-menuLateral></app-menuLateral>
<br>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <!--  fin Navegador de parte superior -->

  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Reporte de OT's</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>

    <div class="formulario">
      <div class="mb-4">
        <h4 class="tituloRojo">Búsqueda por filtros</h4>
      </div>
      <!-- Inicio formulario Estado OT -->
      <form [formGroup]="formularioOT" (ngSubmit)="validarConsulta()">
        <!-- Inicio fila 1 de campos -->
        <div class="mb-4">
          <div class="row g-3">
          <!--OT-->
            <div class="form-floating col-md-2">
              <input formControlName="idDocumento" type="number" class="form-control" id="floatingInput" title="N° de la Orden de Trabajo" required >
              <label for="floatingInput">Orden de trabajo</label>
            </div>
            <!-- Fecha inicial -->
            <div class="form-floating col-md-2">
              <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput" title="Fecha de creación de la Orden de trabajo" required >
              <label for="floatingInput">Fecha Inicial</label>
            </div>
            <!-- Fecha final -->
            <div class="form-floating col-md-2">
              <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput"required >
              <label for="floatingInput">Fecha Final</label>
            </div>

            <div class="form-floating col-md">
              <select formControlName="TipoDocumento" class="form-select form-select-sm" id="floatingSelect" title="Tipo de movimiento a consultar" required>
                <option [ngValue]="null" disabled selected>Seleccione Movimiento</option>
                <ng-container *ngIf="ValidarRol == 1">
                  <option>Asignación</option>
                  <option>Asignación de BOPP</option>
                </ng-container>
              </select>
              <label for="floatingSelect">Tipo de Movimiento</label>
            </div>

            <div class="form-floating col-md-3">
              <select formControlName="estado" class="form-select form-select-sm" id="floatingSelect" title="Estado de la Orden de Trabajo" required>
                <!-- <option>Abierta</option> -->
                <option title="Este estado indica que OT tiene asignaciones de materia prima pero no ha empezado su producción." value="14">Asignada</option>
                <option title="Este estado indica que OT tiene asignaciones de materia prima y se encuentra en producción." value="16">En Proceso</option>
                <option title="Este estado indica que OT ha culminado su producción" value="17">Terminada</option>
                <option title="Este estado indica que OT ha sido cerrada" value="18">Cerrada</option>
              </select>
              <label for="floatingSelect">Estado OT</label>
            </div>
          </div>
        </div>
        <!-- Fin fila 1 de campos -->

        <!-- Botones para consultar OT -->
        <div class="mb-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-danger btn-danger-sm" type="submit">Consultar</button>
            <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodo()" expand="full">Limpiar campos</button>
          </div>
        </div>
      </form>
      <!--Fin Formulario -->

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Listado de Ordenes de Trabajo</h4>
      </div>

      <!-- <div class="overlay" *ngIf="!load">
        <div class="spinner ">
          <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
        </div>
      </div> -->

      <!-- Tabla donde se mostrarán las OT Consultadas -->
      <div *ngIf="load">
        <div class="mb-4">
          <div class="row g-3">
            <!--Inicio Tabla OT-->
            <div class="table-responsive">
              <table class="table table-bordered table-hover mt-2" >
                <thead class="TitulosTabla">
                  <tr *ngFor="let columnas of titulosTabla let i = index">
                    <th id="OT" scope="col">{{columnas.OT}}</th>
                    <th id="TipoMov" scope="col">{{columnas.OTTipoMov}}</th>
                    <th id="FechaReg" scope="col">{{columnas.OTFecha}}</th>
                    <th id="Usuario" scope="col">{{columnas.OTUsuario}}</th>
                    <th id="Estado" scope="col" >{{columnas.OTEstado}}</th>
                    <th id="Ver" scope="col">{{columnas.OTVer}}</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let tabla of ArrayDocumento | paginate: {itemsPerPage: 30, currentPage: page} let i=index">
                      <td id="OT" editable-td class="TextosInfoTabla">{{tabla.OrdTrabajo}}</td>
                      <td id="TipoMov" class="TextosInfoTabla">{{tabla.Movimiento}}</td>
                      <td id="FechaReg" class="TextosInfoTabla">{{tabla.FechaRegistro | date : 'yyyy-MM-dd'}}</td>
                      <td id="Usuario" class="TextosInfoTabla">{{tabla.Usuario}}</td>
                      <td id="Estado" class="TextosInfoTabla">{{tabla.EstadoOT}}</td>
                      <td id="Ver" class="TextosInfoTabla"><input class="btn btn-danger btn-danger-sm" type="button" value="Ver" (click)="llenarDocumento(tabla)"></td>
                    </tr>
                  </tbody>
              </table>
              <div class="mb-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
              </div>
              <!--Fin Tabla OT's-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




