<!-- DOCKER PARA ELEGIR LAS VISTAS FAVORITAS -->
<div class="dock-window dock-advanced">
  <!-- Docker -->
  <div class="fixed-bottom">
    <p-dock [model]="dockItems" position="bottom">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%" style="cursor: pointer;">
      </ng-template>
    </p-dock>
  </div>

  <p-dialog [(visible)]="displayTerminal" [draggable]="false" [style]="{width: '90%'}" header="Reporte de costos" [modal]="true">
    <p-pickList
      [source]="disponiblesMostrar"
      [target]="targetProducts"
      [showTargetControls]="false"
      [showSourceControls]="false"
      sourceHeader="Disponible"
      targetHeader="Seleccionado"
      [dragdrop]="true"
      [metaKeySelection]="false"
      [responsive]="true"
      [sourceStyle]="{'height':'30rem'}"
      [targetStyle]="{'height':'30rem'}"
      filterBy="nombre"
      sourceFilterPlaceholder="Buscar por nombre"
      targetFilterPlaceholder="Buscar por nombre"
      (onMoveToTarget)="elegirFavoritos()"
      (onMoveAllToTarget)="llenarDatosRol()"
      (onMoveToSource)="elegirFavoritos()"
      (onMoveAllToSource)="elegirFavoritos()"
      [stripedRows]="true">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-list-detail">
            <span>
              <img class="image-container" [src]="product.icono" [alt]="product.nombre" width="10%">
              <p style="padding-left: 5%;" [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><b>{{product.nombre}}</b></p>
            </span>
            <p style="padding-left: 20%;">Módulo(s) {{product.categoria.replaceAll('|', ' - ')}}</p>
          </div>
        </div>
      </ng-template>
      <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
    </p-pickList>
  </p-dialog>
</div>
