.fondo {
    background-image: linear-gradient(62deg, #b7ffbf 0%, #fee4e4 100%);
    height: 100%;
  }
  
  .header h3, .header .pi, .rojo {
    font-size: calc(var(--font-size) * 1.5rem);
    color: var(--rojo);
  }
  
  .header2 h3, .header2 .pi, .rojo {
    font-size: calc(var(--font-size) * 1.5rem);
    color: var(--rojoClaro);
  }
  
  .header h3:hover, .header .pi:hover, .rojo:hover {
    color: var(--rojoHover);
  }
  
  .header2 h3:hover, .header2 .pi:hover, .rojo:hover {
    color: var(--rojoHover);
  }
  
  .fila-1, .fila-2, .fila-3, .fila-4 {
    padding: 0 2%;
  }
  
  p-card, p-card ::ng-deep .p-card {
    height: 100%;
  }
  
  p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
    color: var(--rojo);
    text-align: center;
    width: 100%;
  }
  
  p-chart ::ng-deep div ::ng-deep canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  .bg-naranja {
    color: black;
    background-color: #F6D45D;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .bg-azul {
    color: black;
    background-color: #83D3FF;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .bg-amarillo {
    color: black;
    background-color: #F3FC20;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .bg-verde {
    color: black;
    background-color: #8AFC9B;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .bg-rojo {
    color: black;
    background-color: #FF7878;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .bg-verde2 {
    color: black;
    background-color: #53CC48;
    font-size: calc(var(--font-size) * 15px);
  }
  
  .imagen {
    width: 25%;
    height: 100%;
  }
  
  @media (max-width: 600px) {
    .p-3 {
      padding: 0.5rem !important;
    }
  }
  
  .toolbar {
    width: 60%;
  }
  
  p-toolbar ::ng-deep .p-toolbar, p-toolbar ::ng-deep .p-toolbar ::ng-deep .row {
    width: 100%;
  }
  
  p-dropdown {
    margin: 0;
  }
  
  p-dropdown ::ng-deep div, p-dropdown ::ng-deep div ::ng-deep span {
    width: 100%;
  }
  
  button {
    width: 30px;
  }