<div class="contain">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/home"><b><p>Plasti<span>caribe S.A.S</span></p></b></a>
    </div>
    <ul class="btn-group open">
      <p><b>User: {{storage_Nombre}}</b></p>
      <span><b>Tipo: {{storage_Rol}} </b></span>
      <span> <li class="fa fa-sign-out" aria-hidden="true" (click)="confimacionSalida()"><br>Cerrar Seccion</li> </span>
    </ul>
  </nav>
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <!-- principal -->
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Movimientos de Materia Prima</h2>
    </div>

    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>
<div class="container">
  <form [formGroup]="FormDocumentos">
    <div class="mb-3">
      <div class="row g-3">
        <!-- ID Documento -->
        <div class="form-floating col-md-2">
          <input formControlName="idDocumento" type="number" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Orden de trabajo</label>
        </div>
        <!-- Fecha inicial -->
        <div class="form-floating col-md-2">
          <input formControlName="fecha" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Inicial</label>
        </div>
        <!-- Fecha final -->
        <div class="form-floating col-md-2">
          <input formControlName="fechaFinal" type="date" min="0" class="form-control" id="floatingInput"required >
          <label for="floatingInput">Fecha Final</label>
        </div>
        <!-- Tipo Docuemtno -->
        <div class="form-floating col-md">
          <select formControlName="TipoDocumento" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
            <option [ngValue]="null" disabled selected>Seleccione Movimiento</option>
            <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
              <option [ngValue]="tiposDocumentos.tpDoc_Id" *ngFor="let tiposDocumentos of tipoDocumento">{{tiposDocumentos.tpDoc_Nombre}}</option>
              <option>Asignación</option>
              <option>Recuperado</option>
              <option>Devoluciones</option>
            </ng-container>
            <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
              <option>Asignación de BOPP</option>
            </ng-container>
          </select>
          <label for="floatingSelect">Tipo de Movimiento</label>
        </div>
        <!-- Proveedores -->
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
          <div class="form-floating col-md">
            <select formControlName="materiaPrima" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
              <option [ngValue]="mp.matPri_Id" *ngFor="let mp of ArrayMateriaPrimaRetirada">{{mp.matPri_Nombre}}</option>
            </select>
            <label for="floatingSelect">Materia prima</label>
          </div>
        </ng-container>
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
          <div class="form-floating col-md">
            <select formControlName="bopp" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" required>
              <option [ngValue]="mp.bopP_Id" *ngFor="let mp of ArrayBopp">{{mp.bopP_Nombre}}</option>
            </select>
            <label for="floatingSelect">BOPP</label>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- BOTONES -->
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarConsulta()">Consultar Documento</button>
        <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="LimpiarCampos()">Limpiar Campos</button>
      </div>
    </div>
  </form>

  <div class="mb-2">
    <div class="row g-1">
      <div class="table-responsive">
        <table class="table table-bordered table-hover mt-2">
          <thead class="TitulosTabla">
            <tr *ngFor="let columnas of titulosTabla let i = index">
              <th id="CodigoFactura" scope="col">{{columnas.idFact}}</th>
              <th id="Tipo" scope="col">{{columnas.tipo}}</th>
              <th id="fecha" scope="col">{{columnas.FechaFact}}</th>
              <th id="proveedor" scope="col">{{columnas.usuario}}</th>
              <th id="mp" scope="col">{{columnas.mp}}</th>
              <th id="cantMp" scope="col">{{columnas.cant}}</th>
              <th id="ver" scope="col" >{{columnas.Ver}}</th>
            </tr>
            </thead>
          <tbody>
            <tr *ngFor="let doc of ArrayDocumento | paginate: {itemsPerPage: 30, currentPage: page} let i=index">
              <td id="CodigoFactura" (dblclick)="editarAsignacion(doc)">{{doc.codigo}}</td>
              <td id="Tipo" (dblclick)="editarAsignacion(doc)">{{doc.tipoDoc}}</td>
              <td id="fecha" (dblclick)="editarAsignacion(doc)">{{doc.fecha | date : 'yyyy-MM-dd'}}</td>
              <td id="proveedor" (dblclick)="editarAsignacion(doc)">{{doc.usuario}}</td>
              <td id="mp" (dblclick)="editarAsignacion(doc)">{{doc.mp}}</td>
              <td id="mp" (dblclick)="editarAsignacion(doc)">{{doc.cant | number}}</td>
              <td id="subTotalMateriaPrima"><input class="btn btn-danger btn-danger-sm" type="button" value="Ver" (click)="llenarDocumento(doc)"></td>
            </tr>
          </tbody>
        </table>
        <div class="mb-2">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="!load">
    <div class="spinner ">
      <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
    </div>
  </div>

  <div *ngIf="load">
    <div class="mb-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <label><b>Total Materia Prima Entregada: {{totalMPEntregada | number}} KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 4">
          <label><b>Cantidad de KG Producida en total: {{kgProduciodosOT | number}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        </ng-container>
        <ng-container *ngIf="ValidarRol == 1 || ValidarRol == 3">
          <!-- <label><b>Total Materia Prima Devuelta: {{cantidadKgDevuelta | number}} KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label> -->
          <label><b>KG Restante Por Entregar: {{cantRestante | number}}</b></label>
        </ng-container>
      </div>
    </div>
  </div>

   <!-- Modal de editar asignación -->
   <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Editar asignacion Nro. {{identificadorAsignacion}} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarCamposAlCerrarModal()"></button>
        </div>
        <div class="modal-body">
          <!--Carga componente editar asignación -->
          <app-modal-editar-asignaciones-bopp *ngIf="modalEdicionAsignacionBOPP == true"></app-modal-editar-asignaciones-bopp>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal de editar asignación -->


</div>

