.fondo {
  background-color: antiquewhite;
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.imagen {
  width: 10%;
  height: 100%;
}
