.fondo {
  background-image: linear-gradient(62deg, #e3e7fe 0%, #fceade 100%);
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

p-toolbar ::ng-deep .p-toolbar, p-toolbar ::ng-deep .p-toolbar ::ng-deep .row {
  width: 100%;
}

p-dropdown {
  margin: 0;
}

p-dropdown ::ng-deep div, p-dropdown ::ng-deep div ::ng-deep span {
  width: 100%;
}

button {
  width: 30px;
}

.rojo {
  color: red;
  font-weight: bold;
}

.imagen {
  width: 10%;
  height: 100%;
}

.fondo2 {
  background-color: #040d19;
  height: 100%;
}
