 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<form [formGroup]="formularioTintas" (ngSubmit)="agregarTintas()">
  <!-- Inicio Fila 1 Agregar Unidad Medida -->
  <div class="mb-3">
    <div class="row g-4">
      <!-- Nombre -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-4">
        <span class="p-float-label">
          <input formControlName="TintaNombre" id="TintaNombre" type="text" (keyup)="cargarDescripcion()" pInputText required/>
          <label for="TintaNombre">Nombre</label>
        </span>
      </div>

      <!-- Descripcion -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="TintaDescripcion" id="TintaDescripcion" type="text" pInputText required/>
          <label for="TintaDescripcion">Descripción</label>
        </span>
      </div>

      <!-- Codigo Hexadecimal -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="TintaCodigoHexa" id="TintaCodigoHexa" type="text" pInputText required/>
          <label for="TintaCodigoHexa">Código Hexa</label>
        </span>
      </div>

      <!-- Unidad de Medida -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="TintaUndMedida" inputId="Und" [autoDisplayFirst]="false" [options]="unidadMedida" optionLabel="" [required]="true"></p-dropdown>
          <label for="Und">Und</label>
        </span>
      </div>

      <!-- Categorias -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <span class="p-float-label">
          <p-dropdown formControlName="TintaCategoria" inputId="TintaCategoria" optionValue="catMP_Id" [autoDisplayFirst]="false" [options]="categorias" optionLabel="catMP_Nombre" [required]="true"></p-dropdown>
          <label for="TintaCategoria">Categorias</label>
        </span>
      </div>

      <!-- Precio -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <span class="p-float-label">
          <p-inputNumber formControlName="TintaPrecio" mode="decimal" inputId="TintaPrecio" [minFractionDigits]="2" [required]="true"></p-inputNumber>
          <label for="TintaPrecio">Precio</label>
        </span>
      </div>
    </div>
  </div>

  <!--Inicio Fila 2 Botones Agregar tintas y Limpiar Campos-->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton pRipple label="Crear Tinta" type="submit" icon="pi pi-check" class="p-button-danger"></button>
      <button pButton pRipple label="Limpiar Campos" type="button" class="p-button-secondary" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
    </div>
  </div>
</form>
