
<!--Titulo-->
<div class="mb-3">
  <h3 class="">Datos de la Orden de Trabajo</h3>
</div>

<!-- Inicio tabla datos OT -->
<div class="mb-3">
  <div class="row g-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover mt-2" >
        <thead class="TitulosTabla">
          <tr >
            <th scope="col" class="idProducto">Item</th>
            <th id="Cliente" scope="col">Cliente</th>
            <th id="producto" scope="col" class="">producto</th>
            <th id="Peso" scope="col">Peso</th>
            <th id="Unidad" scope="col">Unidad</th>
            <th id="Operador" scope="col">Operador</th>
            <th id="Maquina" scope="col">Maquina</th>
            <th id="Turno" scope="col">Turno</th>
            <th id="Status" scope="col">Status</th>
            <th id="Fecha" scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of ArrayDatosProcesos let j = index">
            <th id="id" class="TextosInfoTabla">{{lista.Rollo}}</th>
            <td id="cliente" class="TextosInfoTabla">{{lista.Cliente}}</td>
            <td id="producto" class="TextosInfoTabla">{{lista.Producto}}</td>
            <td id="peso" class="TextosInfoTabla">{{lista.Peso}}</td>
            <td id="unidad" class="TextosInfoTabla">{{lista.Unidad}}</td>
            <td id="operador" class="TextosInfoTabla">{{lista.Operador}}</td>
            <td id="maquina" class="TextosInfoTabla">1{{lista.Maquina}}</td>
            <td id="turno" class="TextosInfoTabla">{{lista.Turno}}</td>
            <td id="status" class="TextosInfoTabla">{{lista.Status}}</td>
            <td id="fecha" class="TextosInfoTabla">{{lista.Fecha}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="mb-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!--Titulo 2-->
<div class="mb-3">
  <h3 class="">Información Consolidada de la OT.</h3>
</div>

<!-- Inicio tabla de Datos consolidados -->
<div class="mb-3">
  <div class="row g-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover mt-2" >
        <thead class="TitulosTabla">
          <tr>
            <th id="Cliente" scope="col">Producto</th>
            <th id="producto" scope="col">Operador</th>
            <th id="Peso" scope="col">Peso</th>
            <th id="Unidad" scope="col">Fecha</th>
            <!-- <th id="Operador" scope="col">Status</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ArrayDatosAgrupados; let i=index">
            <td id="id" class="TextosInfoTabla">{{item.Producto}}</td>
            <td id="cliente" class="TextosInfoTabla">{{item.Operador}}</td>
            <td id="producto" class="TextosInfoTabla">{{item.Peso}}</td>
            <td id="peso" class="TextosInfoTabla">{{item.Fecha}}</td>
            <!-- <td id="unidad" class="TextosInfoTabla">{{}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

