p-inputnumber, p-inputnumber ::ng-deep span, p-inputnumber ::ng-deep input {
    display: flex;
    width: 100%;
}

::ng-deep .p-button.p-button-icon-only {
    width: 2.5rem;
    height: 2.5rem;
}

::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
}