<p-toast position="center"></p-toast>
<br>
<form [formGroup]="FormCrearProveedor">
  <!-- Inicio Fila 1 Agregar Proveedor -->
  <div class="mb-3">
    <div class="row g-4">

      <!-- ID Proveedor -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="provId" id="provId" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="provId">Id</label>
        </span>
      </div>

      <!-- Nombre Proveedor -->
      <div class="col-md-4">
        <span class="p-float-label">
          <input formControlName="ProvNombre" id="ProvNombre" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="ProvNombre">Nombre</label>
        </span>
      </div>

      <!-- Tipo de Identificacion Proveedor -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="provTipoId" inputId="tipoIdentificacion" [autoDisplayFirst]="false" [options]="tipoIdentificacion" optionLabel=""></p-dropdown>
          <label for="tipoIdentificacion">Tipo Id</label>
        </span>
      </div>

      <!-- Tipo de proveedor -->
      <div class="col-md-3">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoProv" inputId="TipoProv" optionValue="tpProv_Id" [autoDisplayFirst]="false" [options]="tiposProveedores" optionLabel="tpProv_Nombre"></p-dropdown>
          <label for="TipoProv">Tipo Proveedor</label>
        </span>
      </div>

      <!-- Ciudad  -->
      <div class="col-md-3">
        <span class="p-float-label">
          <input formControlName="ProvCiudad" id="ProvCiudad" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="ProvCiudad">Ciudad</label>
        </span>
      </div>

       <!-- Telefono -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="ProvTelefono" id="ProvTelefono" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="ProvTelefono">Telefono</label>
        </span>
      </div>

        <!-- Email  -->
      <div class="col-md">
        <span class="p-float-label">
          <input formControlName="ProvEmail" id="ProvEmail" class="form-control form-control-sm" type="text" pInputText required/>
          <label for="ProvEmail">Correo/Email</label>
        </span>
      </div>

    </div>
  </div>

  <!--Inicio Fila 3 Botones y Limpiar Campos-->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="submit" label="Crear Proveedor" icon="pi pi-pencil" (click)="validarCamposVaciosProveedor()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>
