 <p-toast position="center" [preventOpenDuplicates]="true"></p-toast>
<br>
<form [formGroup]="FormCrearProveedor">
  <!-- Inicio Fila 1 Agregar Proveedor -->
  <div class="mb-3">
    <div class="row g-4">

      <!-- ID Proveedor -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <span class="p-float-label">
          <input formControlName="provId" id="provId" type="text" pInputText required/>
          <label for="provId">Id</label>
        </span>
      </div>

      <!-- Nombre Proveedor -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <span class="p-float-label">
          <input formControlName="ProvNombre" id="ProvNombre" type="text" pInputText required/>
          <label for="ProvNombre">Nombre</label>
        </span>
      </div>

      <!-- Tipo de Identificacion Proveedor -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-dropdown formControlName="provTipoId" inputId="tipoIdentificacion" [autoDisplayFirst]="false" [options]="tipoIdentificacion" optionLabel=""></p-dropdown>
          <label for="tipoIdentificacion">Tipo Id</label>
        </span>
      </div>

      <!-- Tipo de proveedor -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-dropdown formControlName="TipoProv" inputId="TipoProv" optionValue="tpProv_Id" [autoDisplayFirst]="false" [options]="tiposProveedores" optionLabel="tpProv_Nombre"></p-dropdown>
          <label for="TipoProv">Tipo Proveedor</label>
        </span>
      </div>

      <!-- Ciudad  -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="ProvCiudad" id="ProvCiudad"  type="text" pInputText/>
          <label for="ProvCiudad">Ciudad</label>
        </span>
      </div>

       <!-- Telefono -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="ProvTelefono" id="ProvTelefono"  type="text" pInputText/>
          <label for="ProvTelefono">Telefono</label>
        </span>
      </div>

      <!-- Email  -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-3">
        <span class="p-float-label">
          <input formControlName="ProvEmail" id="ProvEmail"  type="text" pInputText/>
          <label for="ProvEmail">Correo/Email</label>
        </span>
      </div>

       <!-- Retefuente -->
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ReteIva" inputId="ReteIva" optionValue="id" [autoDisplayFirst]="false" [options]="conceptsRteIva" optionLabel="concepto"></p-dropdown>
          <label for="ReteIva">ReteIva</label>
        </span>
      </div>

      <!-- ReteIva -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ReteIca" inputId="ReteIca" optionValue="id" [autoDisplayFirst]="false" [options]="conceptsRteIca" optionLabel="concepto"></p-dropdown>
          <label for="ReteIca">ReteIca</label>
        </span>
      </div>

      <!-- ReteIca -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
        <span class="p-float-label">
          <p-dropdown formControlName="ReteFuente" inputId="ReteFuente" optionValue="id" [autoDisplayFirst]="false" [options]="conceptsRteFuente" optionLabel="concepto"></p-dropdown>
          <label for="ReteFuente">ReteFuente</label>
        </span>
      </div>
    </div>
  </div>

  <!--Inicio Fila 3 Botones y Limpiar Campos-->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" type="submit" label="Crear Proveedor" icon="pi pi-pencil" (click)="validarCamposVaciosProveedor()"></button>
      <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="LimpiarCampos()"></button>
    </div>
  </div>
</form>
