
<div class="container-fluid">
  <div class="contenedor_titulo mb-3">
    <h2 class="tituloRojo">Roles</h2>
  </div>
  <div class="mb-5">
    <hr class="colorLinea">
  </div>

  <div class="container">
    <div class="mb-4">
      <h4 class="tituloRojo">Registrar/Consultar Roles</h4>
    </div>

    <!--Inicio formulario-->
    <form [formGroup]="formularioRoles" (ngSubmit)="validarCamposVacios()">
      <div class="row g-4">
        <div class="col-md">
          <input formControlName="rolId" class="identificador" type="number" class="form-control form-control-sm" id="" aria-describedby="" placeholder="ID Rol">
        </div>
        <div class="col-md">
            <input formControlName="rolNombre"  type="text" class="form-control form-control-sm" id=""  placeholder="Nombre" name="Nombre" required maxlength="50">
        </div>
        <div class="col-md">
            <textarea  formControlName="rolDescripcion"  class="form-control form-control-sm" placeholder="Descripción" name="Descripcion" maxlength="200" ></textarea>
        </div>
      </div>
      <div class="mb-3">
        <br>
      </div>
      <div class="contenedor_botones d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="boton_guardar btn btn-danger btn-danger-sm" type="submit" >Guardar</button>
        <button class="boton_limpiar btn btn-secondary btn-secondary-sm" type="button" expand="full" (click)="clear()">Limpiar campos</button>
      </div>
    </form>
  <!--Fin formulario-->
  </div>
</div>
