
.espacioLinea {
    margin-bottom: 1%;
}

.contenedor_titulo{
    margin: 30px 0 2% 10px;
    text-align: center;
}

.tituloRojo{
    color: rgb(158, 1, 1);;
}

.colorLinea{
    color: #b6bac2;
    height: 3px;
}
.identificador{
    width: 150px;
}

textarea{
    height: 100px;
    width: 300px;
}
  
@media (max-width: 900px) {
    textarea{
        height: 100px;
        width: 100%;
    }
    
}