span{
  color: #db4149;
}

.titulo14 {
  font-size: calc(var(--font-size) * 14px);
}



.labelMateriaPrima{
  font-size: calc(var(--font-size) * 16px);
 }

.card-text {
  font-size: calc(var(--font-size) * 13px);
}

.centrarImagen {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
