<app-menuLateral></app-menuLateral>

<div class="contain">
  <!-- Navegador fin de parte superior -->
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Reporte de Ventas</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<div class="contain">
  <div class="container-fluid bajarPagina">
    <div class="formulario">
      <div class="mb-4">
        <h4 class="tituloRojo">Conceptos</h4>
      </div>

      <div class="row g-3">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title tituloRojo"><i class="pi pi-truck"></i> Ventas</h6>
              <h4 class=""><b>3.991.180.718,02</b></h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title tituloRojo"><i class="pi pi-wallet"></i> Iva Ventas</h6>
              <h4 class=""><b>1.564.487.849,07</b></h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title tituloRojo"><i class="pi pi-money-bill"></i> Total Ventas</h6>
              <h4 class=""><b>5.555.668.567,09</b></h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title tituloRojo"><i class="pi pi-credit-card"></i> Iva Compra</h6>
              <h4 class=""><b>1.079.596.690,02</b></h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title tituloRojo"><i class="pi pi-dollar"></i> Facturación</h6>
              <h4 ><b>1.092.406.786,32</b></h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div> -->
      </div>

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Gráfica de valores</h4>
      </div>

      <div class="mb-3 centrarImagen">
        <img src="./assets/IMG2.jpeg">
      </div>

  </div>
</div>
