.bg-Extrusion {
    color: white;
    background-color: palevioletred;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Impresion {
    color: white;
    background-color: DarkCyan;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Rotograbado {
    color: white;
    background-color: DarkSeaGreen;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Doblado {
    color: white;
    background-color: LightSalmon;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Laminado {
    color: white;
    background-color: Orange;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Corte {
    color: white;
    background-color: Khaki;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Empaque {
    color: white;
    background-color: DarkKhaki;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Sellado {
    color: white;
    background-color: CornflowerBlue;
    font-size: calc(var(--font-size) * 15px);
}
  
.bg-Wiketiado {
    color: white;
    background-color: MediumSlateBlue;
    font-size: calc(var(--font-size) * 15px);
}