<div class="fondo">
  <!-- Cards de CAntidad de Pedidos -->
  <div class="row g-2 text-center fila-1" *ngIf="ValidarRol == 1 || ValidarRol == 60 || ValidarRol == 61">
    <div class="p-3 col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <p-card >
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event, 'card-1')" pTooltip="Ver descripción"></p-button>
        </div>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-chart-pie"></i> Cantidad Total de Pedidos</h2>
        <p-toolbar>
          <span class="font-size-15">Cantidad de Pedidos: <label><b>{{cantidadTotalPedidos| number}}</b></label>. Costo Total: <b>{{costoTotalPedidos | currency : ' COP $'}}</b></span><br>
        </p-toolbar>
        <p-chart type="pie" width="100%" height="400px" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
      </p-card>
    </div>

    <div class="p-3 col-xxl-8 col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12">
      <p-card>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event, 'card-2')" pTooltip="Ver descripción" tooltipPosition="top"></p-button>
        </div>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-check-circle"></i> Pedidos con ordenes de trabajo asociadas</h2>
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="pedidos_Ot">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="pedido"><p-sortIcon field="pedido"></p-sortIcon> Pedido</th>
              <th pSortableColumn="orden"><p-sortIcon field="orden"></p-sortIcon> OT</th>
              <th pSortableColumn="producto"><p-sortIcon field="producto"></p-sortIcon> Producto</th>
              <th pSortableColumn="cliente"><p-sortIcon field="cliente"></p-sortIcon> Cliente</th>
              <th pSortableColumn="proceso"><p-sortIcon field="proceso"></p-sortIcon> Proceso de La OT</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.pedido}}</td>
              <td><b>{{item.orden}}</b></td>
              <td>{{item.producto}}</td>
              <td>{{item.cliente}}</td>
              <td><b>{{item.proceso}}</b></td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

  </div>

  <div class="row g-2 text-center fila-2">
    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-dollar"></i> Listado de pedidos facturables</h2>
        <p-toolbar>
          <ng-template pTemplate="right">
            <span class="font-size-15">Listado de pedidos en los que <b>el stock del producto pedido es mayor o igual</b> que la cantidad pendiente.</span>
          </ng-template>
        </p-toolbar>
        <p-table
          #dt2
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="pedidosStock">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="consecutivo"><p-sortIcon field="consecutivo"></p-sortIcon> Pedido</th>
              <th pSortableColumn="cliente"><p-sortIcon field="cliente"></p-sortIcon> Cliente</th>
              <th pSortableColumn="producto"><p-sortIcon field="producto"></p-sortIcon> Producto</th>
              <th pSortableColumn="existencias"><p-sortIcon field="existencias"></p-sortIcon> Existencias</th>
              <th pSortableColumn="cant_Pendiente"><p-sortIcon field="cant_Pendiente"></p-sortIcon> Cant. Pendiente</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td><b>{{item.consecutivo}}</b></td>
              <td>{{item.cliente}}</td>
              <td>{{item.producto}}</td>
              <td><b>{{item.existencias | number : '1.2-2'}}</b></td>
              <td>{{item.cant_Pendiente | number : '1.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event, 'card-4')" pTooltip="Ver descripción" tooltipPosition="top"></p-button>
        </div>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-users"></i> Clientes con más pedidos vigentes</h2>

        <p-chart type="bar" width="100%" height="500px" [data]="graficaPedidosClientes" [options]="opcionesPedidosClientes"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="row g-2 text-center fila-3">
    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event, 'card-5')" pTooltip="Ver descripción" tooltipPosition="top"></p-button>
        </div>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-box"></i> Productos con más pedidos vigentes</h2>

        <p-chart type="bar" width="100%" height="500px" [data]="graficaPedidosProductos" [options]="opcionesPedidosProductos"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Productos')"></button>
        </ng-template>
      </p-card>
    </div>

    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="mostrarDescripcion($event, 'card-6')" pTooltip="Ver descripción" tooltipPosition="top"></p-button>
        </div>
        <h2 style="font-weight: 700; text-align: center;" class="tituloRojo mb-4"><i class="pi pi-briefcase"></i> Vendedores con más pedidos vigentes</h2>

        <p-chart type="bar" width="100%" height="500px" [data]="graficaPedidosVendedores" [options]="opcionesPedidosVendedores"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Vendedores')"></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<!-- Modal donde se podrá ver algunas graficas -->
<p-dialog header="{{nombreGrafica}}" [modal]="true" [draggable]="false" [(visible)]="mostrarTabla" [style]="{width: '90%'}">
  <p-table
    #dt3
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable-gridlines p-datatable-sm"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="400px"
    [rowHover]="true"
    [value]="infoTablaModal">
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:10%">#</th>
        <th pSortableColumn="Nombre"style="max-width:70%; min-width:70%"><p-sortIcon field="Nombre"></p-sortIcon> Pedido</th>
        <th pSortableColumn="Cantidad"style="max-width:20%; min-width:20%"><p-sortIcon field="Cantidad"></p-sortIcon> Producto</th>
        <th pSortableColumn="Costo"style="max-width:20%; min-width:20%"><p-sortIcon field="Costo"></p-sortIcon> Existencias</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td style="max-width:10%">{{rowIndex + 1}}</td>
        <td style="max-width:70%; min-width:70%">{{item.Nombre}}</td>
        <td style="max-width:20%; min-width:20%">{{item.Cantidad}}</td>
        <td style="max-width:20%; min-width:20%">{{item.Costo | number : '1.2-2'}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<br>

<p-overlayPanel #op [style]="{background: 'rgba(0, 3, 34, 0.9)', width: '350px', color : 'rgb(247, 247, 247)' }" >

  <ng-container *ngIf="nroCard == 'card-1' then card1;"></ng-container>
  <ng-template #card1>
    Este apartado indica la <b>cantidad total de pedidos y el valor estimado</b> de los mismos.<br><br>
    <b>Al colocar el puntero del mouse</b> sobre cada color de la grafica se muestra la cantidad de pedidos:<br>
    <i class="pi pi-circle-fill rosado" ></i> Parcialmentes satisfechos<br>
    <i class="pi pi-circle-fill azul" ></i> Pendientes
  </ng-template>

  <ng-container *ngIf="nroCard == 'card-2' then card2;"></ng-container>
  <ng-template #card2>
    En esta sección se muestran los pedidos a los cuales <b>ya se les creó una orden de trabajo.</b><br><br>
    Además en la tabla se puede verificar <b>en cual de los procesos se encuentra la OT</b> y la <b>cantidad producida en kilos o unidades.</b><br><br>
    <b>Nota:</b> Si el campo de la tabla <b>"proceso de la OT"</b> está en blanco en porque la orden de trabajo no se ha iniciado.
  </ng-template>

  <ng-container *ngIf="nroCard == 'card-4' then card4;"></ng-container>
  <ng-template #card4>
    En este apartado se mostrarán los clientes con la<b> mayor cantidad de items pedidos pendientes actualmente y su valor en pesos.</b><br><br>
    También puedes ver esta información de manera detallada <b>haciendo clic sobre el botón </b> <img src="assets/Iconos_Menu/tabla.PNG" class="imagen" alt="">
  </ng-template>

  <ng-container *ngIf="nroCard == 'card-5' then card5;"></ng-container>
  <ng-template #card5>
    En esta gráfica podrás visualizar <b>la cantidad de pedidos con más items pendientes de una misma referencia</b> y su costo total.<br><br>
    <b>Haciendo clic sobre el botón </b> <img src="assets/Iconos_Menu/tabla.PNG" class="imagen" alt=""> puedes ver los datos en una tabla.
  </ng-template>

  <ng-container *ngIf="nroCard == 'card-6' then card6;" ></ng-container>
  <ng-template #card6>
    Esta sección muestra los <b>vendedores con más pedidos pendientes vigentes</b> y el valor total. <br><br>
    Si haces clic sobre el botón <img src="assets/Iconos_Menu/tabla.PNG" class="imagen" alt=""> puedes ver la información detallada en una tabla.
  </ng-template>

</p-overlayPanel>

