<div class="fondo">
  <!-- Cards de CAntidad de Pedidos -->
  <div class="row g-2 text-center fila-1" *ngIf="ValidarRol == 1 || ValidarRol == 60 || ValidarRol == 61">
    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Cantidad Total de Pedidos">
        <p-toolbar>
          <span class="font-size-15">Cantidad de Pedidos: <label><b>{{cantidadTotalPedidos| number}}</b></label>. Costo Total: <b>{{costoTotalPedidos | currency : ' COP $'}}</b></span><br>
        </p-toolbar>
        <p-chart type="pie" width="100%" height="400px" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
      </p-card>
    </div>

    <div class="p-2 col-xxl-8 col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Pedidos con ordenes de trabajo asociadas">
        <p-table
          #dt1
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="pedidos_Ot">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="pedido"><p-sortIcon field="pedido"></p-sortIcon> Pedido</th>
              <th pSortableColumn="orden"><p-sortIcon field="orden"></p-sortIcon> OT</th>
              <th pSortableColumn="producto"><p-sortIcon field="producto"></p-sortIcon> Producto</th>
              <th pSortableColumn="cliente"><p-sortIcon field="cliente"></p-sortIcon> Cliente</th>
              <th pSortableColumn="proceso"><p-sortIcon field="proceso"></p-sortIcon> Proceso de La OT</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.pedido}}</td>
              <td>{{item.orden}}</td>
              <td>{{item.producto}}</td>
              <td>{{item.cliente}}</td>
              <td>{{item.proceso}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

  </div>

  <div class="row g-2 text-center fila-2">
    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Listado de pedidos">
        <p-toolbar>
          <ng-template pTemplate="right">
            <span class="font-size-15">Listado de pedidos en los que el stock del producto pedido sea mayor o igual que la cantidad que está pendiente.</span>
          </ng-template>
        </p-toolbar>
        <p-table
          #dt2
          [resizableColumns]="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines p-datatable-sm"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          [rowHover]="true"
          [value]="pedidosStock">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="consecutivo"><p-sortIcon field="consecutivo"></p-sortIcon> Pedido</th>
              <th pSortableColumn="producto"><p-sortIcon field="producto"></p-sortIcon> Producto</th>
              <th pSortableColumn="existencias"><p-sortIcon field="existencias"></p-sortIcon> Existencias</th>
              <th pSortableColumn="cant_Pendiente"><p-sortIcon field="cant_Pendiente"></p-sortIcon> Cant. Pendiente</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{item.consecutivo}}</td>
              <td>{{item.producto}}</td>
              <td>{{item.existencias | number : '1.2-2'}}</td>
              <td>{{item.cant_Pendiente | number : '1.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Clientes con más Pedidos">
        <p-chart type="bar" width="100%" height="600px" [data]="graficaPedidosClientes" [options]="opcionesPedidosClientes"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="row g-2 text-center fila-3">
    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Productos con más Pedidos">
        <p-chart type="bar" width="100%" height="600px" [data]="graficaPedidosProductos" [options]="opcionesPedidosProductos"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Productos')"></button>
        </ng-template>
      </p-card>
    </div>

    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p-card header="Vendedores con más Pedidos">
        <p-chart type="bar" width="100%" height="600px" [data]="graficaPedidosVendedores" [options]="opcionesPedidosVendedores"></p-chart>
        <ng-template pTemplate="footer">
          <button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Vendedores')"></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<!-- Modal donde se podrá ver algunas graficas -->
<p-dialog header="{{nombreGrafica}}" [modal]="true" [draggable]="false" [(visible)]="mostrarTabla" [style]="{width: '90%'}">
  <p-table
    #dt3
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable-gridlines p-datatable-sm"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="400px"
    [rowHover]="true"
    [value]="infoTablaModal">
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:10%">#</th>
        <th pSortableColumn="Nombre"style="max-width:70%; min-width:70%"><p-sortIcon field="Nombre"></p-sortIcon> Pedido</th>
        <th pSortableColumn="Cantidad"style="max-width:20%; min-width:20%"><p-sortIcon field="Cantidad"></p-sortIcon> Producto</th>
        <th pSortableColumn="Costo"style="max-width:20%; min-width:20%"><p-sortIcon field="Costo"></p-sortIcon> Existencias</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td style="max-width:10%">{{rowIndex + 1}}</td>
        <td style="max-width:70%; min-width:70%">{{item.Nombre}}</td>
        <td style="max-width:20%; min-width:20%">{{item.Cantidad}}</td>
        <td style="max-width:20%; min-width:20%">{{item.Costo | number : '1.2-2'}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<br>
