.fondo {
  background-color: #d3ffe8;
  background-image: linear-gradient(45deg, #d3ffe8 0%, #fffed3 100%);
  height: 100%;
  border-radius: 20px;
}

.fila-1, .fila-2, .fila-3 {
  padding: 0 2%;
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

p-dialog ::ng-deep div span {
  color: var(--rojo);
  align-items: center;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.rosado {
  color: #FF87B6;
}

.azul {
  color: #87B6FF;
}

.imagen {
  width: 10%;
  height: 100%;
}

.fondo2 {
  background-color: #040d19;
  height: 100%;
}

p-card ::ng-deep [class = "p-card p-component"] {
  border: 3px solid #fefefe00;
  border-radius: 20px;
  transition: all 500ms;
}

p-card ::ng-deep [class = "p-card p-component"]:hover {
  border: 3px solid #00000008;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.2);
  width: calc(100% + 0.1%);
  height: calc(100% + 1%);
}

.slide-in-blurred-left {
	animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-right {
	animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.fondo {
  --s: 200px; /* control the size */
  --c1: #e1e1e1;
  --c2: #858c9d;
  --c3: #bbbbbb;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}

.fondo2 {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}
