.fondo {
  background-color: #d3ffe8;
  background-image: linear-gradient(45deg, #d3ffe8 0%, #fffed3 100%);
  height: 100%;
}

.fila-1, .fila-2, .fila-3 {
  padding: 0 2%;
}

p-card, p-card ::ng-deep .p-card {
  height: 100%;
}

p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-title, p-card ::ng-deep div ::ng-deep .p-card-body ::ng-deep .p-card-footer {
  color: var(--rojo);
  text-align: center;
  width: 100%;
}

p-chart ::ng-deep div ::ng-deep canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
}

p-dialog ::ng-deep div span {
  color: var(--rojo);
  align-items: center;
}

::ng-deep .p-card ::ng-deep .p-card-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.rosado {
  color: #FF87B6;
}

.azul {
  color: #87B6FF;
}

.imagen {
  width: 10%;
  height: 100%;
}

.fondo2 {
  background-color: #040d19;
  height: 100%;
}
