

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}">Ingreso de Facturas</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-search"></i> Consultar Rollos</h4>
  </div>
  <br>

  <form [formGroup]="FormFacturas">
    <div class="mb-3" id="formulario">
      <div class="row g-4">
        <!-- Empresa -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-dropdown formControlName="Empresa" id="Empresa" optionValue="Id" [autoDisplayFirst]="false" [options]="Empresas" optionLabel="Nombre" [required]="true"></p-dropdown>
            <label for="Empresa">Empresa</label>
          </span>
        </div>

        <!-- Factura -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="Codigo" id="Codigo" autocomplete="off" type="text" pInputText required/>
            <label for="Codigo">Código Factura</label>
          </span>
        </div>

        <!-- Fecha de la Factura -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="Fecha" inputId="Fecha" [showIcon]="true" [required]="true"></p-calendar>
            <label for="Fecha">Fecha Factura</label>
          </span>
        </div>

        <!-- Fecha de Vencimiento -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <span class="p-float-label">
            <p-calendar formControlName="Vencimiento" inputId="Vencimiento" [showIcon]="true" [required]="true"></p-calendar>
            <label for="Vencimiento">Fecha Vencimiento</label>
          </span>
        </div>

        <!-- Proveedor -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
          <span class="p-float-label">
            <p-dropdown formControlName="Proveedor" id="Proveedor" optionValue="prov_Id" [autoDisplayFirst]="false" [options]="proveedores" optionLabel="prov_Nombre" [required]="true"></p-dropdown>
            <label for="Proveedor">Proveedor</label>
          </span>
        </div>

        <!-- Valor de la factura -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2">
          <span class="p-float-label">
            <p-inputNumber formControlName="Valor" inputId="Valor" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="Valor">Valor Factura</label>
          </span>
        </div>

        <!-- Cuenta -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2">
          <span class="p-float-label">
            <input formControlName="Cuenta" id="Cuenta" autocomplete="off" type="text" pInputText required/>
            <label for="Cuenta">Cuenta</label>
          </span>
        </div>

        <!-- Cuenta Papel -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xs-2 col-xxl-2">
          <p-toggleButton formControlName="CuentaPapel" onLabel="Si" offLabel="No" aria-label="Cuenta_Papel" [required]="true"></p-toggleButton>
          <span class="cuentasPapel" id="Cuenta_Papel">Cuenta Papel</span>        
        </div>

        <!-- Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <span class="p-float-label">
            <textarea formControlName="Observaciones" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>

      </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4" id="botones1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" [disabled]="!FormFacturas.valid" type="button" label="Añadir Factura" icon="pi pi-send" (click)="addFactura()"></button>
        <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="resetForm()"> </button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}"><i class="pi pi-list"></i> Tabla de Facturas Entrantes</h4>
  </div>

  <!-- Tabla de Facturas -->
  <div class="row g-3 my-3" id="tabla">
    <div class="table-responsive">
      <p-table
        #dt
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm"
        responsiveLayout="scroll"
        [rowHover]="true"
        [value]="facturas_Ingresar"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
          <tr>
            <th>Empresa</th>
            <th>Código Factura</th>
            <th>Fecha</th>
            <th>Vence</th>
            <th>Proveedor</th>
            <th>Valor</th>
            <th>Cuenta</th>
            <th>Cuenta Papel</th>
            <th>Quitar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.Empresa}}</td>
            <td>{{item.Codigo}}</td>
            <td>{{item.Fecha}}</td>
            <td>{{item.Vencimiento}}</td>
            <td>{{item.Proveedor}}</td>
            <td>{{item.Valor | number : '1.2-2'}}</td>
            <td>{{item.Cuenta}}</td>
            <td>{{item.Cuentas_Papel ? 'Si' : 'No'}}</td>
            <td><i class="pi pi-trash cursor d-grid gap-2 d-md-flex justify-content-md-center" pTooltip="Quitar Factura" (click)="deleteFactura(item)"></i></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
  <div>
    <div class="mb-3">
      <div class="row g-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botonesFinales">
          <button pButton class="p-button-danger" [disabled]="facturas_Ingresar.length == 0" type="button" label="Crear Entrada" icon="pi pi-check" (click)="guardarFacturas()"></button>
          <button pButton class="p-button-secondary" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodo()"></button>
        </div>
      </div>
    </div>
  </div>

</p-card>