<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>


<div [ngClass]="{'fondo': !modoSeleccionado, 'fondo2': modoSeleccionado }">
    <div class="row g-3 p-3">
        <p-tabView>
            <!--Dashboard de areas-->
            <p-tabPanel
                header="Areas"
                leftIcon="pi pi-cloud-upload"
                tooltip="Información de devoluciones por areas">
                <div class="row g-2 p-2">

                    <!-- Grafica tipo de rechazo.  -->
                    <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 slide-in-blurred-top" id="">
                    <p-card>
                        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-3"><i class="pi pi-bolt"></i> Valor por tipo de rechazo</h2>
                        <p-chart type="bar" width="100%" height="400px" [data]="ComparativoData" [options]="ComparativoOptions"></p-chart>
                    </p-card>
                    </div>

                    <!-- Devoluciones por area. -->
                    <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 slide-in-blurred-top" id="">
                    <p-card>
                        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-3"><i class="pi pi-sort-numeric-up"></i> Devoluciones por área</h2>
                        <ng-container *ngIf="devolutionsForArea.length > 0; then Tabla1 else Texto1;" ></ng-container>
                        <ng-template #Tabla1>
                            <p-table
                                [value]="devolutionsForArea"
                                [scrollable]="true"
                                scrollHeight="500px"
                                [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col" style="min-width: 10%; max-width: 10%" class="font-size-13">N°</th>
                                        <th scope="col" pSortableColumn="area" style="min-width: 50%; max-width: 50%" class="font-size-13">Area<p-sortIcon field="area"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="total" style="min-width: 40%; max-width: 40%" class="font-size-13">Subtotal<p-sortIcon field="total"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="weight" style="min-width: 40%; max-width: 40%" class="font-size-13">Peso<p-sortIcon field="weight"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-stock let-rowIndex="rowIndex">
                                    <tr class="font-size-12">
                                        <td style="min-width: 10%; max-width: 10%">{{rowIndex + 1}}</td>
                                        <td style="min-width: 50%; max-width: 50%">{{stock.area}}</td>
                                        <td style="min-width: 40%; max-width: 40%"><b>${{stock.total | number : '1.2-2'}}</b></td>
                                        <td style="min-width: 40%; max-width: 40%">{{stock.weight | number : '1.2-2'}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2" class="text-right">Totales</td>
                                        <td>${{totalDevolutionsInMoney() | number}}</td>
                                        <td>{{totalDevolutionsInKg() | number}}</td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                        <ng-template #Texto1>
                            <div class="container advertencia">
                                <div class="mb-3">
                                <img src="assets/Iconos_Menu/advertencia.png">
                                </div>
                                <h4>No se han realizado movimientos de devoluciones en el mes actual!</h4>
                            </div>
                        </ng-template>
                    </p-card>
                    </div>

                    <!--Devoluciones por mes-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5 py-4 px-2" id="">
                    <p-card>
                        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo': !modoSeleccionado, 'tituloClaro': modoSeleccionado}" class="mb-3"><i class="pi pi-chart-line"></i> Devoluciones por mes</h2>
                        <p-chart *ngIf="!cargando" type="line" width="100%" height="400px" [data]="graphicForMonth" [options]="graphicOptions"></p-chart>
                        <div class="row p-2">
                        <!--<div class="col-xs-12 col-sm-12 col-md-4" *ngFor="let item of totalAnios_Perforado">
                            <div [ngClass]="{'costosAnios': !modoSeleccionado, 'costosAniosOscuro': modoSeleccionado}" class="row py-2">
                            <div class="col-md-12">
                                <h5>{{item.Anio}}</h5>
                            </div>
                            <div class="col-md-12">
                                <h5>{{item.Kg | number : '1.2-2'}} Kg</h5>
                            </div>
                            </div>
                        </div>-->
                        </div>
                    </p-card>
                    </div>

                    <!--Devoluciones en pesos/cantidad -->
                    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 slide-in-blurred-right" id="">
                        <p-card>
                            <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-users"></i> Top 10 areas con más costos en devoluciones</h2>

                            <p-chart type="bar" width="100%" height="400px" [data]="graficaPedidosClientes" [options]="opcionesGraficas"></p-chart>
                            <ng-template pTemplate="footer">
                            <!--<button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>-->
                            </ng-template>
                        </p-card>
                    </div>

                    <!--Devoluciones en kilos/cantidad -->
                    <div class="p-3 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 slide-in-blurred-right" id="">
                        <p-card>
                            <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-users"></i> Top 10 areas con más kilaje en devoluciones</h2>

                            <p-chart type="bar" width="100%" height="400px" [data]="graphicForKg" [options]="graphicOptionsKg"></p-chart>
                            <ng-template pTemplate="footer">
                            <!--<button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>-->
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </p-tabPanel>
            
            <!--Dashboard de clientes-->
            <p-tabPanel
                header="Clientes"
                leftIcon="pi pi-cloud-upload"
                tooltip="Información de devoluciones por clientes">

                <div class="row g-3 p-3">
                    <!-- Devoluciones por clientes. -->
                    <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 slide-in-blurred-top" id="">
                    <p-card>
                        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-3"><i class="pi pi-sort-numeric-up"></i> Devoluciones por Cliente</h2>
                        <ng-container *ngIf="devolutionsForClient.length > 0; then Tabla2 else Texto2;" ></ng-container>
                        <ng-template #Tabla2>
                            <p-table
                                [value]="devolutionsForClient"
                                [scrollable]="true"
                                scrollHeight="500px"
                                [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col" style="min-width: 10%; max-width: 10%" class="font-size-13">N°</th>
                                        <th scope="col" pSortableColumn="client" style="min-width: 50%; max-width: 50%" class="font-size-13">Cliente<p-sortIcon field="client"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="total" style="min-width: 40%; max-width: 40%" class="font-size-13">Subtotal<p-sortIcon field="total"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="weight" style="min-width: 40%; max-width: 40%" class="font-size-13">Peso<p-sortIcon field="weight"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-stock let-rowIndex="rowIndex">
                                    <tr class="font-size-12">
                                        <td style="min-width: 10%; max-width: 10%">{{rowIndex + 1}}</td>
                                        <td style="min-width: 50%; max-width: 50%">{{stock.client}}</td>
                                        <td style="min-width: 40%; max-width: 40%"><b>${{stock.total | number : '1.2-2'}}</b></td>
                                        <td style="min-width: 40%; max-width: 40%">{{stock.weight | number : '1.2-2'}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2" class="text-right">Totales</td>
                                        <td>${{totalDevolutionsClientsInMoney() | number}}</td>
                                        <td>{{totalDevolutionsClientsInKg() | number}}</td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                        <ng-template #Texto2>
                            <div class="container advertencia">
                                <div class="mb-3">
                                <img src="assets/Iconos_Menu/advertencia.png">
                                </div>
                                <h4>No se han realizado movimientos de devoluciones en el mes actual!</h4>
                            </div>
                        </ng-template>
                    </p-card>
                    </div>

                    <!--Devoluciones en pesos/cantidad -->
                    <div class="p-3 col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 slide-in-blurred-right" id="">
                        <p-card>
                            <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-users"></i> Top 10 clientes con más costos en devoluciones</h2>

                            <p-chart type="bar" width="100%" height="400px" [data]="graphicForClientMoney" [options]="graphicOptionsClientMoney"></p-chart>
                            <ng-template pTemplate="footer">
                            <!--<button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>-->
                            </ng-template>
                        </p-card>
                    </div>

                    <!--Devoluciones en kilos/cantidad -->
                    <div class="p-3 col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 slide-in-blurred-right" id="">
                        <p-card>
                            <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-4"><i class="pi pi-users"></i> Top 10 clientes con más kilaje en devoluciones</h2>

                            <p-chart type="bar" width="100%" height="400px" [data]="graphicForClientKg" [options]="graphicOptionsClientKg"></p-chart>
                            <ng-template pTemplate="footer">
                            <!--<button pButton pTooltip="Mostrar Tabla Detallada" pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-danger" (click)="mostrarModal('Clientes')"></button>-->
                            </ng-template>
                        </p-card>
                    </div>
                </div>
                
            </p-tabPanel>

            <p-tabPanel 
                header="Mala calidad vs Facturación"
                leftIcon="pi pi-cloud-upload"
                tooltip="Información de devoluciones por Mala Calidad vs Facturación">
                <!-- Devoluciones por clientes. -->
                <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5 slide-in-blurred-top" id="">
                    <p-card>
                        <h2 style="font-weight: 700; text-align: center;" [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }" class="mb-3"><i class="pi pi-sort-numeric-up"></i> Indicador devoluciones Calidad vs Facturación</h2>
                        <ng-container *ngIf="qualityVsFact.length > 0; then Tabla3 else Texto3;" ></ng-container>
                        <ng-template #Tabla3>
                            <p-table
                                [value]="qualityVsFact"
                                [scrollable]="true"
                                scrollHeight="500px"
                                [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col" style="min-width: 10%; max-width: 10%" class="font-size-13">N°</th>
                                        <th scope="col" pSortableColumn="NombreMes" style="min-width: 50%; max-width: 50%" class="font-size-13">Mes<p-sortIcon field="NombreMes"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="Fact" style="min-width: 40%; max-width: 40%" class="font-size-13">Facturación<p-sortIcon field="Valor"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="Valor" style="min-width: 40%; max-width: 40%" class="font-size-13">Devoluciones<p-sortIcon field="Fact"></p-sortIcon></th>
                                        <th scope="col" pSortableColumn="Porcentaje" style="min-width: 40%; max-width: 40%" class="font-size-13">Porcentaje<p-sortIcon field="Porcentaje"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-stock let-rowIndex="rowIndex">
                                    <tr class="font-size-12">
                                        <td style="min-width: 10%; max-width: 10%">{{rowIndex + 1}}</td>
                                        <td style="min-width: 50%; max-width: 50%">{{stock.NombreMes}}</td>
                                        <td style="min-width: 40%; max-width: 40%"><b>${{stock.Valor | number : '1.2-2'}}</b></td>
                                        <td style="min-width: 40%; max-width: 40%">${{stock.Fact | number : '1.2-2'}}</td>
                                        <td style="min-width: 40%; max-width: 40%">{{stock.Porcentaje | number : '1.2-6'}}%</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2" class="text-right">Totales</td>
                                        <td>${{totalFact() | number}}</td>
                                        <td>${{totalDevolutions() | number}}</td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                        <ng-template #Texto3>
                            <div class="container advertencia">
                                <div class="mb-3">
                                <img src="assets/Iconos_Menu/advertencia.png">
                                </div>
                                <h4>No se han realizado movimientos de devoluciones en el mes actual!</h4>
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </p-tabPanel>

            
        </p-tabView>

        
    </div>
</div>