<!--Carga-->
<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!--Titulo-->
<div class="contain">
  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Ingresar Producción de Sellado</h2>
    </div>
    <!--Linea-->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <!--Subtitulo-->
  <div class="mb-3">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-wrench"></i> Cargar Datos Producción</h4>
  </div>

  <!--Formulario-->
  <form [formGroup]="formSellado">
    <div class="row g-4 my-4 mb-5">

        <!-- OT -->
        <div class="col-sm-12 col-md-6 col-xl-1">
            <span class="p-float-label">
                <p-inputNumber formControlName="ot" id="ot" (keyup.enter)="buscarOT()" type="number" [useGrouping]="false"></p-inputNumber>
                <label for="ot">OT</label>
            </span>
        </div>

        <!-- Maquina -->
        <div class="col-sm-12 col-md-6 col-xl-1">
          <span class="p-float-label">
            <p-inputNumber formControlName="maquina" id="maq" type="number" [useGrouping]="false"></p-inputNumber>
              <label for="maq">Maquina</label>
          </span>
        </div>

        <!-- Operario -->
        <div class="col-sm-12 col-md-6 col-xl-4">
          <span class="p-float-label">
            <p-multiSelect formControlName="idOperario" inputId="operario" [options]="operarios" optionLabel="usua_Nombre" optionValue="usua_Id"></p-multiSelect>
            <label for="operario">Operario</label>
          </span>
        </div>

        <!--Saldo-->
        <div class="col-sm-12 col-md-6 col-xl-1 field-checkbox justify-content-center">
          <p-checkbox formControlName="saldo" [binary]="true" inputId="binary" id="saldo" (onChange)="habilitarSaldo()" pTooltip="Al hacer click sobre este check el campo 'Cantidad Und.' será habilitado para casos donde la cantidad del bulto/paquete solo sea un saldo." tooltipPosition="top"></p-checkbox>
          <label for="saldo">Saldo</label>
        </div>  

        <!--Cantidad Und/Paq-->
        <div class="col-sm-12 col-md-6 col-xl-1">
          <span class="p-float-label">
            <p-inputNumber formControlName="cantUnd" [max]="cantBultoEstandar" (onInput)="calcularPesoTeorico()" id="cantUnd" type="number" [maxFractionDigits]="2" [readonly]="esSoloLectura" [useGrouping]="false" pTooltip="Cantidad de Unidades / Paquetes / Kilos" tooltipPosition="top"></p-inputNumber>
              <label for="cantUnd">Cantidad</label>
          </span>
        </div>

        <!--Cantidad Kg-->
        <div class="col-sm-12 col-md-6 col-xl-1">
          <span class="p-float-label">
            <p-inputNumber formControlName="cantKg" id="cantKg" type="number" [maxFractionDigits]="2" [readonly]="true"></p-inputNumber>
              <label for="cantKg">Cant. Kg</label>
          </span>
        </div>

        <!--Peso Teorico-->
        <div class="col-sm-12 col-md-6 col-xl-1">
          <span class="p-float-label">
            <p-inputNumber formControlName="pesoTeorico" id="teorico" type="number" [readonly]="true" [maxFractionDigits]="2"></p-inputNumber>
              <label for="teorico">Peso teórico</label>
          </span>
        </div>

        <!--Peso Neto-->
        <!--<div class="col-sm-12 col-md-6 col-xl-1">
          <span class="p-float-label">
            <p-inputNumber formControlName="pesoNeto" id="real" type="number" [readonly]="true" [maxFractionDigits]="2"></p-inputNumber>
              <label for="real">Peso neto</label>
          </span>
        </div>-->

        <!-- Turno -->
        <div class="col-sm-12 col-md-6 col-xl-1 mb-3" >
            <span class="p-float-label">
                <p-dropdown formControlName="proceso" inputId="procesos" [options]="procesos" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                <label for="procesos">Proceso</label>
            </span>
        </div>

        <!-- Turno -->
        <div class="col-sm-12 col-md-6 col-xl-1 mb-3" >
            <span class="p-float-label">
                <p-dropdown formControlName="turno" inputId="turnos" [options]="turnos" optionValue="turno_Id" optionLabel="turno_Nombre" [readonly]="true"></p-dropdown>
                <label for="turnos">Turno</label>
            </span>
        </div>
    
        <!--Tabla OT-->
        <p-table
        #dtOT
        *ngIf="!cargando" 
        styleClass="p-datatable-gridlines"
        [value]="ordenesTrabajo">
          <ng-template pTemplate="header">
              <tr>
                <th style="font-weight: 800;" class="text-center" colspan="4">Información General</th>
                <th style="font-weight: 800;" class="text-center" colspan="2">Cantidad</th>
                <th style="font-weight: 800;" class="text-center" colspan="2"></th>
                <th style="font-weight: 800;" class="text-center" colspan="3">Extrusión</th>
                <th style="font-weight: 800;" class="text-center" colspan="3">Producto Terminado</th>
              </tr>
              <tr>
                  <th style="font-weight: 600;" class="text-center">Cliente</th>
                  <th style="font-weight: 600;" class="text-center">Item</th>
                  <th style="font-weight: 600;" class="text-center">Referencia</th>
                  <th style="font-weight: 600;" class="text-center" >Material</th>
                  <th style="font-weight: 600;" class="text-center">Programada</th>
                  <th style="font-weight: 600;" class="text-center">Realizada</th>
                  <th style="font-weight: 600;" class="text-center">Medida</th>
                  <th style="font-weight: 600;" class="text-center">Etiqueta</th>
                  <th style="font-weight: 600;" class="text-center">Ancho 1</th>
                  <th style="font-weight: 600;" class="text-center">Ancho 2</th>
                  <th style="font-weight: 600;" class="text-center">Ancho 3</th>
                  <th style="font-weight: 600;" class="text-center">Ancho</th>
                  <th style="font-weight: 600;" class="text-center">Largo</th>
                  <th style="font-weight: 600;" class="text-center">Fuelle</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                  <td class="text-center">{{data.cliente}}</td>
                  <td class="text-center">{{data.id_Producto}}</td>
                  <td class="text-center">{{data.producto}}</td>
                  <td class="text-center">{{data.material}} - {{data.pigmento_Extrusion}}</td>
                  <td class="text-center">{{data.cantidad_Pedida | number : '1.2-2' }}</td>
                  <td class="text-center"><span class="{{clase}}">{{data.cantidad_Sellado | number : '1.2-2'}}</span></td>
                  <td class="text-center">{{data.presentacion == 'Kilo' ? 'Kg' : data.presentacion == 'Unidad' ? 'Und' : data.presentacion == 'Paquete' ? 'Paquete' : null}}</td>
                  <td class="text-center">{{data.selladoCorte_Ancho | number : '1.2-2'}} X {{data.selladoCorte_Largo | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.ancho1_Extrusion | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.ancho2_Extrusion | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.ancho3_Extrusion | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.selladoCorte_Ancho | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.selladoCorte_Largo | number : '1.2-2'}}</td>
                  <td class="text-center">{{data.selladoCorte_Fuelle | number : '1.2-2'}}</td>
              </tr>
          </ng-template>
        </p-table>

        <!-- Botones -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button pButton class="p-button-danger" id="crear" type="button" label="Registrar Producción" icon="pi pi-send" (click)="validarEntrada()"></button>
          <button pButton class="p-button-secondary" id="limpiar" type="button" label="Limpiar Campos" icon="pi pi-eraser" (click)="limpiarCampos()"></button>
          <!-- <button pButton class="p-button-success" id="bascula" type="button" label="Conectar Bascula" icon="pi pi-power-off" (click)="getPuertoSerial()"></button> -->
        </div>
    </div>
  </form>   

  <!--Linea-->
  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <!--Producción Actual-->
  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-wrench"></i> Información de Producción Actual</h4>
  </div>

  <!--Tabla Produccion-->
  <p-table
  #dtProduccion
  [resizableColumns]="true"
  columnResizeMode="expand"
  responsiveLayout="scroll"
  [rowHover]="true"
  [scrollable]="true"
  scrollHeight="50rem"
  *ngIf="!cargando" 
  styleClass="p-datatable-gridlines"
  [value]="produccion">
    <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'bulto', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'operarios', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'cantidadUnd', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'presentacion1', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'peso', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'presentacion2', 'contains')"></th>
          <th><input pInputText style="width: 100%;" (input)="aplicarfiltro($event, 'fecha', 'contains')"></th>
          <th *ngIf="[1,7,8,9,10,62,63,70,71,72,73].includes(ValidarRol)"></th>
        </tr>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Rollo</th>
            <th class="text-center">Operario(s)</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Und</th>
            <th class="text-center">Peso</th>
            <th class="text-center">Und</th>
            <th class="text-center">Fecha</th>
            <th class="text-center" *ngIf="[1,7,8,9,10,62,63,70,71,72,73].includes(ValidarRol)">Imprimir</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
            <td class="text-center">{{rowIndex + 1}}</td>
            <td class="text-center">{{data.bulto}}</td>
            <ng-container *ngIf="data.operario1 != '0' && data.operario2 != '0' && data.operario3 != '0' && data.operario4 != '0'">
              <td>{{data.operario1}} - {{data.operario2}} - {{data.operario3}} - {{data.operario4}}</td>
            </ng-container>
            <ng-container *ngIf="data.operario1 != '0' && data.operario2 != '0' && data.operario3 != '0' && data.operario4 == '0'">
              <td>{{data.operario1}} - {{data.operario2}} - {{data.operario3}}</td>
            </ng-container>
            <ng-container *ngIf="data.operario1 != '0' && data.operario2 != '0' && data.operario3 == '0' && data.operario4 == '0'">
              <td>{{data.operario1}} - {{data.operario2}}</td>
            </ng-container>
            <ng-container *ngIf="data.operario1 != '0' && data.operario2 == '0' && data.operario3 == '0' && data.operario4 == '0'">
              <td>{{data.operario1}}</td>
            </ng-container>
            <td class="text-center">{{data.cantidadUnd | number : '1.2-2'}}</td>
            <td class="text-center">{{data.presentacion1}}</td>
            <td class="text-center">{{data.peso | number : '1.2-2'}}</td>
            <td class="text-center">{{data.presentacion2}}</td>
            <td class="text-center">{{data.fecha}} - {{data.hora}}</td>
            <td class="text-center" *ngIf="[1,7,8,9,10,62,63,70,71,72,73].includes(ValidarRol)">
              <button class="buttonPDF" (click)="crearEtiqueta(data.bulto, data.peso, data.cantidadUnd, data.presentacion1)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svgIconPDF"><path d="M64 464H96v48H64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V288H336V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/></svg>
              </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9"><h6 class="bold">No existen registros de Producción.</h6></td>
      </tr>
    </ng-template>  
    <ng-template pTemplate="footer">
      <tr id="totales">
        <td colspan="3" class="text-right">Totales</td>
        <td class="text-center">{{calcularCantidad() | number : '1.2-2'}}</td>
        <td class="text-center">{{medida}}</td>
        <td class="text-center">{{calcularPeso() | number : '1.2-2'}}</td>
        <td class="text-center">{{'Kg'}}</td>
        <td colspan="2" class="text-center"></td>
      </tr>
    </ng-template>  
  </p-table>
</p-card>
