<app-menuLateral></app-menuLateral>
<br>
<app-VistasFavoritas></app-VistasFavoritas>

<p-toast position="center" [preventOpenDuplicates]="true"></p-toast>

<div class="d-flex justify-content-center overlay" *ngIf="cargando">
  <div style="margin: auto;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="contain">
  <div class="container-fluid">
    <!-- Titulo principal -->
    <div class="mb-4 Titulo">
      <h2 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }">Solicitud de Materia Prima</h2>
    </div>

    <!-- Linea principal -->
    <div class="mb-4">
      <hr class="colorLinea">
    </div>
  </div>
</div>

<p-card>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <p-button icon="pi pi-info" styleClass="p-button-rounded p-button-warning" [style]="{width: '25px', height: '25px'}" (click)="tutorial()" pTooltip="Ver Tutorial" tooltipPosition="top"></p-button>
  </div>

  <div class="mb-4" id="bajarTitulo">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-file"></i> Información de la Solicitud</h4>
  </div>
  <br>

  <!-- Información general de la solicitud -->
  <form [formGroup]="formSolicitud" id="formulario">
    <div class="mb-3">
      <div class="row g-4">

        <!-- Número de la solicitud -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3" id="codigoSolicitud">
          <span class="p-inputgroup">
            <input formControlName="Id_Solicitud" type="text" pTooltip="¡Numero de Solicitud!" (keyup.enter)="consultarSolicitud()" pInputText placeholder="Num. Solicitud" required>
            <button pButton class="p-button-danger" type="button" label="PDF" icon="pi pi-file-pdf" (click)="buscarInfoSolicitud_PDF()"></button>
          </span>
        </div>

        <!-- Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-9 col-xxl-9" id="observacion">
          <span class="p-float-label">
            <textarea formControlName="Observacion" [rows]="1" maxlength="200" pInputTextarea></textarea>
            <label for="textarea">Observación</label>
          </span>
        </div>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-box"></i> Materia Prima</h4>
  </div>

  <!-- Información de la Materia Prima -->
  <form [formGroup]="formMateriaPrima" (ngSubmit)="cargarMateriaPrima()" id="formularioMateriaPrima">
    <div class="mb-3">
      <div class="row g-4">

        <!-- ID de la Materia prima -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2" id="idMatPrima">
          <span class="p-float-label">
            <p-inputNumber formControlName="Id" inputId="Id" [useGrouping]="false" (keydown.enter)="cambiarNombreMateriaPrima()" tooltipPosition="top" pTooltip="Busca el Id de la materia prima aquí!" [required]="true"></p-inputNumber>
            <label for="Id">Id</label>
          </span>
        </div>

        <!-- Nombre Producto -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6" id="nombreMatprima">
          <span class="p-float-label">
            <input formControlName="Nombre" autocomplete="off" id="Nombre" list="materiaprima" type="text" pInputText (change)="cambiarNombreMateriaPrima()" [required]="true"/>
            <datalist id="materiaprima">
              <option value={{item.id}} *ngFor="let item of materiaPrima">{{item.nombre}}</option>
            </datalist>
            <label for="Nombre">Materia Prima</label>
          </span>
        </div>

        <!-- CANTIDAD DE MATERIA PRIMA  -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2" id="cantidadMatPrima">
          <span class="p-float-label">
            <p-inputNumber formControlName="Cantidad" inputId="Cantidad" mode="decimal" [minFractionDigits]="2" [required]="true"></p-inputNumber>
            <label for="Cantidad">Cantidad</label>
          </span>
        </div>

        <!-- Unidad medida-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2" id="undMatPrima">
          <span class="p-float-label">
            <p-dropdown formControlName="UnidadMedida" inputId="Und" [autoDisplayFirst]="false" [options]="unidadesMedida" optionLabel="undMed_Id" optionValue="undMed_Id" [required]="true"></p-dropdown>
            <label for="Und">Und</label>
          </span>
        </div>
      </div>
    </div>

    <div class="mb-1" id="botones">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button pButton class="p-button-danger" id="agregarMatPrima" [disabled]="formMateriaPrima.invalid" type="submit" label="Agregar Mat. Prima" icon="pi pi-send"></button>
        <button pButton class="p-button-secondary" id="limpiarMatPrima" type="button" label="Limpiar Campos Mat. Prima" icon="pi pi-eraser" (click)="limpiarCamposMateriaPrima()"></button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <hr class="colorLinea">
  </div>

  <div class="mb-4">
    <h4 [ngClass]="{'tituloRojo' : !modoSeleccionado, 'tituloClaro': modoSeleccionado }"><i class="pi pi-list"></i> Materias Primas Seleccionadas</h4>
  </div>

  <div class="row g-3" id="tabla">
    <div class="table-responsive">
      <p-table
      #dt
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines p-datatable-sm"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="20"
      [rowHover]="true"
      [value]="materiasPrimasSeleccionadas">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Und. Medida</th>
            <th scope="col" id="accion">Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materiasPrimas>
          <tr>
            <td>{{materiasPrimas.Id}}</td>
            <td>{{materiasPrimas.Nombre}}</td>
            <td>{{materiasPrimas.Cantidad | number}}</td>
            <td>{{materiasPrimas.Und_Medida}}</td>
            <td id="quitarMp" class="text-center">
              <i class="pi pi-trash cursor m-auto" title="Quitar Materia Prima" (click)="QuitarMateriaPrimaTabla(materiasPrimas)" *ngIf="!edicionSolicitud"></i>
              <i class="pi pi-trash cursor m-auto" title="Eliminar Materia Prima" (click)="eliminarMateriaPrimaTabla(materiasPrimas)" *ngIf="edicionSolicitud"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>

  <!-- BOTONES -->
  <div class="mb-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button pButton class="p-button-danger" id="crearSolicitud" type="button" label="Crear Solicitud" icon="pi pi-check" *ngIf="!edicionSolicitud" (click)="validarDatosSolicitud()"></button>
      <button pButton class="p-button-danger" type="button" label="Editar Solicitud" icon="pi pi-pencil" *ngIf="edicionSolicitud" (click)="validarDatosSolicitud()"></button>
      <button pButton class="p-button-secondary" id="limpiarTodo" type="button" label="Limpiar Todo" icon="pi pi-eraser" (click)="limpiarTodo()"></button>
    </div>
  </div>
</p-card>

<!-- Eliminar Materia prima -->
<p-toast position="center" key="eliminar" (onClose)="cerrarMensaje('eliminar')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="eliminarMateriaPrima()" icon="pi pi-check" label="Eliminar" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="cerrarMensaje('eliminar')" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Quitar Materia prima -->
<p-toast position="center" key="quitar" (onClose)="cerrarMensaje('quitar')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6" style="margin-right: 5px;">
          <button type="button" pButton (click)="quitarMateriaPrima()" icon="pi pi-check" label="Quitar" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="cerrarMensaje('quitar')" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Ver Pdf -->
<p-toast position="center" key="pdf" (onClose)="cerrarMensaje('pdf')" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message" let-matPrima>
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle font-size-48"></i>
        <h4>{{message.summary}}</h4>
        <p innerHtml="{{message.detail}}"></p>
      </div>
      <div class="p-fluid" style="display: flex;">
        <div class="col-6">
          <button type="button" pButton (click)="cerrarMensaje('pdf')" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
