
 <!-- Inicio Contenedor total -->
<div class="contain">
  <div class="container-fluid">
    <div class="container">
      <!-- Información general para la asignación de materia Prima Para la creación de tintas -->
      <form [formGroup]="FormAsignacionBopp">
        <!-- Fila 1 -->
        <div class="mb-3">
          <div class="row g-3">
            <!-- OT -->
            <div class="form-floating col-md-2">
              <input formControlName="AsgBopp_OT" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.enter)="infoOT()">
              <label for="floatingInput">OT</label>
            </div>
            <!-- Fecha entrega -->
            <!-- <div class="form-floating col-md-2">
              <input formControlName="AsgBopp_Ancho" type="number" class="form-control form-control-sm" id="floatingInput" (keyup.enter)="ajusteOT()">
              <label for="floatingInput">Ajuste</label>
            </div> -->
            <!-- Campo Observacion -->
            <div class="form-floating col-md">
              <textarea formControlName="AsgBopp_Observacion" id="floatingTextArea" type="text" class="form-control form-control-sm" maxlength="200" ></textarea>
              <label for="floatingTextArea">Observación</label>
            </div>

            <!-- <div class="form-floating col-md-1">
              <mat-checkbox>Impresión</mat-checkbox>
            </div>
            <div class="form-floating col-md-1">
              <input formControlName="AsgBopp_Fecha" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha asignación" readonly onmousedown="return false;">
              <label for="floatingInput">Fecha</label>
            </div> -->
            <!-- Fecha entrega -->
            <!-- <div class="form-floating col-md-2">
              <input formControlName="AsgBopp_Fecha" type="date" class="form-control form-control-sm" id="floatingInput" required title="Fecha asignación" readonly onmousedown="return false;">
              <label for="floatingInput">Fecha</label>
            </div> -->
            <!-- Estado -->
            <!-- <div class="form-floating col-md">
              <select formControlName="AsgBopp_Estado" id="floatingSelect" type="text" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option [ngValue]="undMed" *ngFor="let undMed of unidadMedida">{{undMed}}</option>
              </select>
              <label for="floatingSelect">Estado</label>
            </div> -->
          </div>
        </div>
      </form>

      <!-- Tabla de OT -->
      <div class="mb-2">
        <div class="row g-1">
          <div class="table-responsive">
            <table class="table table-bordered" >
              <thead class="TitulosTabla">
                <tr>
                  <th id="idMateriaPrima" scope="col">N°</th>
                  <th id="idMateriaPrima" scope="col">Cliente</th>
                  <th id="cantidadMateriaPrima" scope="col">Item</th>
                  <th id="nombreMateriaPrima" scope="col">Micras</th>
                  <th id="nombreMateriaPrima" scope="col">Ancho</th>
                  <th id="UnidadMedida" scope="col">Kg</th>
                  <th id="eliminar" scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let ot of ordenesTrabajo let i = index">
                  <th id="idMateriaPrima">{{ot.ot}}</th>
                  <td id="idMateriaPrima">{{ot.cliente}}</td>
                  <td id="cantidadMateriaPrima">{{ot.item}}</td>
                  <td id="nombreMateriaPrima">{{ot.micras | number}}</td>
                  <td id="nombreMateriaPrima">{{ot.ancho | number}}</td>
                  <td id="UnidadMedida">{{ot.kg | number}}</td>
                  <td id="Eliminar" (click)="QuitarOrdenTrabajo(i, ot)"><a><i class="fa fa-trash" aria-hidden="true" title="Quitar Materia Prima de la tabla"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <!-- Titulo Materia Prima -->
      <div class="mb-3">
        <h4 class="tituloRojo">BOPP</h4>
      </div>

      <!-- Asignación de BOPP para la creación de tintas -->
      <form [formGroup]="FormularioBOPP">
        <div class="mb-3">
          <div class="row g-3">
            <!--Serial-->
            <div class="form-floating col-md-3">
              <input formControlName="boppSerial" type="number" id="floatingSelect" class="form-control form-control-sm" (keyup.enter)="BOPPBuscado()">
              <label for="floatingInput">Pallet/Serial</label>
            </div>
            <!-- Nombre  -->
            <div class="form-floating col-md">
              <select formControlName="boppNombre" class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example" (change)="BOPPSeleccionado()">
                <option [ngValue]="bopp.bopP_Nombre" *ngFor="let bopp of ArrayBOPP">{{bopp.bopP_Nombre}}</option>
              </select>
              <label for="floatingSelect">Nombre Bopp</label>
            </div>
          </div>
        </div>

        <!-- BOTONES -->
        <div class="mb-4">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-danger btn-danger-sm" type="button" (click)="validarCamposBOPP()">Asignar BOPP</button>
            <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarCamposBOPP()">Limpiar Campos</button>
          </div>
        </div>
      </form>

      <!--Linea -->
      <div class="mb-4">
        <hr class="colorLinea">
      </div>

      <div class="mb-4">
        <h4 class="tituloRojo">Tabla de materias primas asignadas</h4>
      </div>

      <!-- Tabla de BOPP por asignar -->
      <div class="mb-2">
        <div class="row g-1">
          <div class="table-responsive">
            <table class="table table-bordered" >
              <thead class="TitulosTabla">
                <tr>
                  <th id="idMateriaPrima" scope="col">Pallet/Serial</th>
                  <th id="nombreMateriaPrima" scope="col">Nombre</th>
                  <!-- <th id="editar" scope="col">Editar</th> -->
                  <!-- <th id="eliminar" scope="col">Eliminar</th> -->
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let bopp of ArrayBoppPedida let i = index">
                  <td id="idMateriaPrima">{{bopp.Serial}}</td>
                  <td id="nombreMateriaPrima">{{bopp.Nombre}}</td>
                  <!-- <td id="Editar" (click)="EditarMateriaPrimaTabla(materiaPrima)"><a><i class="fa fa-pencil" aria-hidden="true" title="Editar Materia Prima"></i></a></td> -->
                  <td id="Eliminar" (click)="quitarBOPP(i, bopp)"><a><i class="fa fa-trash" aria-hidden="true" title="Quitar BOPP de la asignación"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Gif de Carga -->
      <div class="overlay" *ngIf="!load">
        <div class="spinner ">
          <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
        </div>
      </div>

      <div *ngIf="load">
        <div class="mb-3">
          <div class="row g-3">
            <div class="mb-3">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-danger btn-danger-sm" type="button" (click)="asignarBOPP()">Editar Asignación</button>
                <button class="btn btn-secondary btn-secondary-sm" type="button" (click)="limpiarTodosLosCampos()">Limpiar Todo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



